Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/code-scan.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test-3x.yml: any of: neural_compressor/common, neural_compressor/torch, examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only, setup.py, requirements_pt.txt, .azure-pipelines/scripts/models, .azure-pipelines/model-test-3x.yml, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/model-test.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, .azure-pipelines/model-test.yml, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt-fp8.yml: any of: .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/template/docker-template.yml, neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, test/3x/torch/algorithms/fp8_quant, test/3x/torch/quantization/fp8_quant, test/3x/torch/quantization/weight_only/test_rtn.py, test/3x/torch/quantization/weight_only/test_load.py, setup.py, requirements_pt.txt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, test/3x/common, setup.py, requirements_pt.txt, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/ut-3x-tf.yml: any of: neural_compressor/common, neural_compressor/tensorflow, test/3x/tensorflow, test/3x/common, setup.py, requirements_tf.txt, .azure-pipelines/scripts/ut/3x/run_3x_tf.sh, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/ut-basic.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers, neural_compressor/evaluation, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

Update `--int8` flag to `--optimized` flag
  examples/3.x_api/pytorch/cv/static_quant/main.py
  examples/3.x_api/pytorch/cv/static_quant/run_benchmark.sh
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/main.py
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/run_benchmark.sh
  examples/3.x_api/pytorch/image_recognition/torchvision_models/quantization/static_quant/ipex/main.py
  examples/3.x_api/pytorch/image_recognition/torchvision_models/quantization/static_quant/ipex/run_benchmark.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/fp8_quant/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/ipex/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/ipex/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/question-answering/quantization/static_quant/ipex/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/question-answering/quantization/static_quant/ipex/run_qa.py
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/dlrm_s_pytorch.py
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/run_benchmark.sh
  examples/3.x_api/tensorflow/image_recognition/vision_transformer/quantization/ptq/main.py
  examples/3.x_api/tensorflow/image_recognition/vision_transformer/quantization/ptq/run_benchmark.sh
  examples/3.x_api/tensorflow/nlp/large_language_models/quantization/ptq/smoothquant/benchmark.py
  examples/3.x_api/tensorflow/nlp/large_language_models/quantization/ptq/smoothquant/run_benchmark.sh
Due: .azure-pipelines/model-test-3x.yml

Bump release version into v3.4 (#2214)
  README.md
  neural_compressor/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update torch to 2.7.0 in CI
  .azure-pipelines/scripts/fwk_version.sh
  .azure-pipelines/scripts/install_nc.sh
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic.yml

fix
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml

update package
  .azure-pipelines/model-test-3x.yml
  .azure-pipelines/scripts/fwk_version.sh
Due: .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic.yml

fix
  .azure-pipelines/scripts/fwk_version.sh
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic.yml

update torch to 2.7.0 in CI (#2216)
  .azure-pipelines/model-test-3x.yml
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
Due: .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic.yml

remove model
  .azure-pipelines/model-test-3x.yml
Due: .azure-pipelines/model-test-3x.yml

check-patch-for-quant-only
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

Check patch for quant only (#2217)
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

[SW-229704] Disable scale rounding CGUID + using exp2 for fuser (#240)
  neural_compressor/torch/algorithms/fp8_quant/_core/common.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/round_scales_function.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

fix vlm ut
  test/3x/torch/quantization/weight_only/test_transformers.py
Due: .azure-pipelines/ut-3x-pt.yml

update transformers version
  test/3x/torch/quantization/weight_only/test_transformers.py
Due: .azure-pipelines/ut-3x-pt.yml

Fix VLM model ut (#2218)
  test/3x/torch/quantization/weight_only/test_transformers.py
Due: .azure-pipelines/ut-3x-pt.yml

add version limit for ut case
  test/3x/torch/quantization/weight_only/test_transformers.py
Due: .azure-pipelines/ut-3x-pt.yml

Add transformers version limit for ut case (#2219)
  test/3x/torch/quantization/weight_only/test_transformers.py
Due: .azure-pipelines/ut-3x-pt.yml

fix save/load
  neural_compressor/torch/algorithms/weight_only/save_load.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

add dynamic moe dynamic quant support
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/ops_quantizer.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

update readme
  examples/3.x_api/pytorch/cv/fp8_quant/main.py
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/README.md
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/sdxl_smooth_quant.py
  examples/3.x_api/pytorch/image_recognition/torchvision_models/quantization/static_quant/ipex/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/README.md
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/README.md
Due: none

Update `--int8` flag to `--optimized` flag (#2215)
  .azure-pipelines/model-test-3x.yml
  examples/3.x_api/pytorch/cv/fp8_quant/main.py
  examples/3.x_api/pytorch/cv/static_quant/main.py
  examples/3.x_api/pytorch/cv/static_quant/run_benchmark.sh
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/README.md
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/main.py
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/run_benchmark.sh
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/sdxl_smooth_quant.py
  examples/3.x_api/pytorch/image_recognition/torchvision_models/quantization/static_quant/ipex/README.md
  examples/3.x_api/pytorch/image_recognition/torchvision_models/quantization/static_quant/ipex/main.py
  examples/3.x_api/pytorch/image_recognition/torchvision_models/quantization/static_quant/ipex/run_benchmark.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/fp8_quant/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/ipex/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/ipex/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/question-answering/quantization/static_quant/ipex/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/question-answering/quantization/static_quant/ipex/run_qa.py
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/README.md
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/dlrm_s_pytorch.py
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/run_benchmark.sh
  examples/3.x_api/tensorflow/image_recognition/vision_transformer/quantization/ptq/main.py
  examples/3.x_api/tensorflow/image_recognition/vision_transformer/quantization/ptq/run_benchmark.sh
  examples/3.x_api/tensorflow/nlp/large_language_models/quantization/ptq/smoothquant/benchmark.py
  examples/3.x_api/tensorflow/nlp/large_language_models/quantization/ptq/smoothquant/run_benchmark.sh
Due: .azure-pipelines/model-test-3x.yml

remove const
  neural_compressor/common/utils/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/_core/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml

[SW-228212] Fix WoQ loading for Large Model (#228)
  neural_compressor/torch/algorithms/weight_only/save_load.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

add pts support
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/scale_method_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

[SW-230359] Support vector of scales on cpu (#241)
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

update code
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/run_clm_no_trainer.py
Due: none

update alpha
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/run_quant.sh
Due: none

freeze ipex
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/requirements.txt
Due: none

fix ipex version
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/requirements.txt
Due: none

fix g_idx init
  neural_compressor/transformers/models/modeling_auto.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

Update neural_compressor/transformers/models/modeling_auto.py
  neural_compressor/transformers/models/modeling_auto.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

disable row linear
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

Deepseek FP8 fixes (#242)
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/ops_quantizer.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

test ipex 2.7
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/requirements.txt
Due: none

Fix g_idx init for GPTQ (#2222)
  neural_compressor/transformers/models/modeling_auto.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

update transformers version
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/requirements.txt
Due: none

Handle module names from Dynamo compiler in FP8 Quantizer
  neural_compressor/torch/algorithms/fp8_quant/_core/quantize.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

skip CVE check
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/requirements.txt
Due: none

Bump release version to v3.4.1
  README.md
  neural_compressor/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

refine code
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

refine code
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/scale_method_config.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml
