Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/code-scan.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test-3x.yml: any of: neural_compressor/common, neural_compressor/torch, examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only, setup.py, requirements_pt.txt, .azure-pipelines/scripts/models, .azure-pipelines/model-test-3x.yml, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/model-test.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, .azure-pipelines/model-test.yml, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt-fp8.yml: any of: .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/template/docker-template.yml, neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, test/3x/torch/algorithms/fp8_quant, test/3x/torch/quantization/fp8_quant, test/3x/torch/quantization/weight_only/test_rtn.py, test/3x/torch/quantization/weight_only/test_load.py, setup.py, requirements_pt.txt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, test/3x/common, setup.py, requirements_pt.txt, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/ut-3x-tf.yml: any of: neural_compressor/common, neural_compressor/tensorflow, test/3x/tensorflow, test/3x/common, setup.py, requirements_tf.txt, .azure-pipelines/scripts/ut/3x/run_3x_tf.sh, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/ut-basic.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers, neural_compressor/evaluation, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

Update setup.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/llama4/setup.sh
Due: none

add example for mix-precison recipes (MXFP4+MXFP8) (#2289)
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/mix-precision/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/mix-precision/quantize.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/mix-precision/recipes/Meta-Llama-3.1-8B-Instruct_7bits.json
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/mix-precision/recipes/Meta-Llama-3.3-70B-Instruct_5bits.json
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/mix-precision/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/mix-precision/run_hf_inf.py
Due: none

Update README.md
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/llama4/README.md
Due: none

update qat ut assert.
  test/3x/torch/algorithms/qat/test_qat.py
Due: .azure-pipelines/ut-3x-pt.yml

Update requirements.txt
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/llama4/requirements.txt
Due: none

Update run_benchmark.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/llama4/run_benchmark.sh
Due: none

Fix pytest version (#2300)
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml

update readme
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/mix-precision/README.md
Due: none

update readme for mxfp mixed precision example (#2302)
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/mix-precision/README.md
Due: none

Scout example (#2301)
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/llama4/README.md
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/llama4/requirements.txt
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/llama4/run_benchmark.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/llama4/run_quant.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/llama4/setup.sh
Due: none

move 2x README
  docs/source/distillation.md
  docs/source/orchestration.md
  docs/source/pruning.md
  examples/deprecated/README.md
  neural_compressor/compression/pruner/README.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

move 3x README.md
  examples/README.md
Due: none

update CI model path
  .azure-pipelines/model-test-3x.yml
  .azure-pipelines/model-test.yml
  .azure-pipelines/scripts/models/env_setup.sh
  .azure-pipelines/scripts/models/run_model_trigger_common.sh
Due: .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml

add reserved interface for quant_lm_head
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/quantization/algorithm_entry.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

fix offload_state_dict
  neural_compressor/transformers/models/modeling_auto.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

update version
  .pre-commit-config.yaml
Due: none

Adapt transformers v4.57.0 (#2305)
  neural_compressor/transformers/models/modeling_auto.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

adapt rc2&update ut
  neural_compressor/torch/algorithms/weight_only/autoround.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

run ci with auto-round v0.8.0rc
  test/3x/torch/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml

update docstring&notes
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

remove 2x model test in CI
  .azure-pipelines/model-test.yml
Due: .azure-pipelines/model-test.yml

remove 2x ut baseline
  .azure-pipelines/ut-basic.yml
Due: .azure-pipelines/ut-basic.yml

update example list
  examples/README.md
Due: none

Adapt AutoRound v0.8.0 [For MLLM] (#2291)
  examples/pytorch/multimodal-modeling/quantization/auto_round/mllm.py
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/quantize.py
  neural_compressor/transformers/quantization/utils.py
  neural_compressor/transformers/utils/quantization_config.py
  test/3x/torch/quantization/weight_only/test_autoround.py
  test/3x/torch/quantization/weight_only/test_transformers.py
  test/3x/torch/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

add mxfp8 qat (#2299)
  neural_compressor/torch/algorithms/qat/__init__.py
  neural_compressor/torch/algorithms/qat/quant_linear.py
  neural_compressor/torch/algorithms/qat/quant_utils.py
  neural_compressor/torch/algorithms/qat/tensor_quantizer.py
  neural_compressor/torch/export/export_hf.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/quantize.py
  test/3x/torch/algorithms/qat/test_qat.py
  test/3x/torch/algorithms/qat/test_quant_utils.py
  test/3x/torch/algorithms/qat/test_quantizer_and_linear.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

update readme
  examples/README.md
Due: none

Update CI test scope and example readme (#2306)
  .azure-pipelines/model-test.yml
  .azure-pipelines/ut-basic.yml
  examples/README.md
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic.yml

update MXQuant doc
  docs/source/3x/PT_MXQuant.md
Due: none

skip time consuming uts
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_linear.py
Due: .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

update mapping table and what's new for v3.6
  README.md
  docs/source/3x/gaudi_version_map.md
Due: none

rename example link
  docs/source/3x/PT_MXQuant.md
Due: none

remove wrong sentence
  docs/source/3x/PT_MXQuant.md
Due: none
