Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-insights.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST_TF
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-ort.yml:
  pool: ICX-16C
  stages:
  - stage: ONNXRT
    displayName: Unit Test ONNXRT
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test ONNXRT
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ort
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: 3x/run_3x_pt
  ...

.azure-pipelines/ut-basic-no-cover.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-itrex.yml:
  pool: MODEL_PERF_TEST
  stages:
  - stage: null
    displayName: Unit Test of ITREX
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_itrex
          uploadPath: $(UPLOAD_PATH)
  ...

add torch to check path
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
Due: none

update the path
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
Due: none

add api3.0, covert get_started by 3x, add comments to the py files for api doc
  docs/build_docs/build.sh
  docs/source/3x/get_started.md
  docs/source/api-doc/api_2.rst
  docs/source/api-doc/api_3.rst
  docs/source/api-doc/apis.rst
  docs/source/api-doc/tf_quantization_autotune.rst
  docs/source/api-doc/tf_quantization_common.rst
  docs/source/api-doc/tf_quantization_config.rst
  docs/source/api-doc/torch_quantization_autotune.rst
  docs/source/api-doc/torch_quantization_common.rst
  docs/source/api-doc/torch_quantization_config.rst
  docs/source/get_started.md
  neural_compressor/tensorflow/__init__.py
  neural_compressor/tensorflow/quantization/__init__.py
  neural_compressor/tensorflow/quantization/autotune.py
  neural_compressor/tensorflow/quantization/config.py
  neural_compressor/tensorflow/quantization/quantize.py
  neural_compressor/torch/__init__.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/autotune.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/quantize.py
Due: .azure-pipelines/ut-3x-pt.yml

update json
  examples/.config/model_params_pytorch_3x.json
Due: none

update commit version
  .azure-pipelines/scripts/ut/env_setup.sh
  test/3x/torch/requirements.txt
  test/requirements.txt
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Update scan_path.txt
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
Due: none

add docstring for hqq
  neural_compressor/torch/algorithms/weight_only/hqq/__init__.py
  neural_compressor/torch/algorithms/weight_only/hqq/bitpack.py
  neural_compressor/torch/algorithms/weight_only/hqq/config.py
  neural_compressor/torch/algorithms/weight_only/hqq/core.py
  neural_compressor/torch/algorithms/weight_only/hqq/optimizer.py
  neural_compressor/torch/algorithms/weight_only/hqq/qtensor.py
  neural_compressor/torch/algorithms/weight_only/hqq/quantizer.py
  neural_compressor/torch/algorithms/weight_only/hqq/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

update run_benchmark.sh
  examples/3.x_api/pytorch/cv/static_quant/run_benchmark.sh
Due: none

add docstring for config
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

update scan path
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
  neural_compressor/torch/algorithms/smooth_quant/smooth_quant.py
  neural_compressor/torch/algorithms/smooth_quant/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

fixed pylint issues
  neural_compressor/torch/algorithms/weight_only/hqq/core.py
  neural_compressor/torch/algorithms/weight_only/hqq/optimizer.py
Due: .azure-pipelines/ut-3x-pt.yml

fix line to long
  neural_compressor/torch/algorithms/weight_only/hqq/core.py
Due: .azure-pipelines/ut-3x-pt.yml

Update utility.py
  neural_compressor/torch/algorithms/smooth_quant/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

Add docstring for PT2E and HQQ (#1937)
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
  neural_compressor/torch/algorithms/pt2e_quant/__init__.py
  neural_compressor/torch/algorithms/pt2e_quant/core.py
  neural_compressor/torch/algorithms/pt2e_quant/half_precision_rewriter.py
  neural_compressor/torch/algorithms/pt2e_quant/save_load.py
  neural_compressor/torch/algorithms/pt2e_quant/utility.py
  neural_compressor/torch/algorithms/weight_only/hqq/__init__.py
  neural_compressor/torch/algorithms/weight_only/hqq/bitpack.py
  neural_compressor/torch/algorithms/weight_only/hqq/config.py
  neural_compressor/torch/algorithms/weight_only/hqq/core.py
  neural_compressor/torch/algorithms/weight_only/hqq/optimizer.py
  neural_compressor/torch/algorithms/weight_only/hqq/qtensor.py
  neural_compressor/torch/algorithms/weight_only/hqq/quantizer.py
  neural_compressor/torch/algorithms/weight_only/hqq/utility.py
  neural_compressor/torch/export/__init__.py
  neural_compressor/torch/export/pt2e_export.py
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

add docstring for static quant and smooth quant (#1936)
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
  neural_compressor/torch/algorithms/smooth_quant/__init__.py
  neural_compressor/torch/algorithms/smooth_quant/save_load.py
  neural_compressor/torch/algorithms/smooth_quant/smooth_quant.py
  neural_compressor/torch/algorithms/smooth_quant/utility.py
  neural_compressor/torch/algorithms/static_quant/__init__.py
  neural_compressor/torch/algorithms/static_quant/save_load.py
  neural_compressor/torch/algorithms/static_quant/static_quant.py
  neural_compressor/torch/algorithms/static_quant/utility.py
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

Update Example for Pytorch 3x Mixed Precision (#1882)
  docs/3x/PT_MixedPrecision.md
  examples/.config/model_params_pytorch_3x.json
  examples/3.x_api/pytorch/cv/mixed_precision/README.md
  examples/3.x_api/pytorch/cv/mixed_precision/main.py
  examples/3.x_api/pytorch/cv/mixed_precision/requirements.txt
  examples/3.x_api/pytorch/cv/mixed_precision/run_autotune.sh
  examples/3.x_api/pytorch/cv/mixed_precision/run_benchmark.sh
  examples/3.x_api/pytorch/image_recognition/torchvision_models/mixed_precision/resnet18/README.md
  examples/3.x_api/pytorch/image_recognition/torchvision_models/mixed_precision/resnet18/main.py
  examples/3.x_api/pytorch/image_recognition/torchvision_models/mixed_precision/resnet18/requirements.txt
  examples/3.x_api/pytorch/image_recognition/torchvision_models/mixed_precision/resnet18/run_benchmark.sh
  neural_compressor/common/utils/constants.py
  neural_compressor/torch/algorithms/mixed_precision/__init__.py
  neural_compressor/torch/algorithms/mixed_precision/half_precision_convert.py
  neural_compressor/torch/algorithms/mixed_precision/module_wrappers.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-3x-pt.yml

add read permission token
  .github/workflows/Scanner_Bdba.yml
  .github/workflows/Scanner_Coverity.yml
  .github/workflows/Scanner_McAfee.yml
  .github/workflows/probot.yml
  .github/workflows/publish.yml
Due: none

add read permission token (#1942)
  .github/workflows/Scanner_Bdba.yml
  .github/workflows/Scanner_Coverity.yml
  .github/workflows/Scanner_McAfee.yml
  .github/workflows/probot.yml
  .github/workflows/publish.yml
Due: none

Update modules.py
  neural_compressor/torch/algorithms/weight_only/modules.py
Due: .azure-pipelines/ut-3x-pt.yml

update config docstring
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

add white_list docstring
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

update cv benchmark & script
  examples/3.x_api/pytorch/cv/static_quant/main.py
  examples/3.x_api/pytorch/cv/static_quant/run_benchmark.sh
Due: none

Enable yolov5 Example for TF 3x API
  examples/.config/model_params_tensorflow_3x.json
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/README.md
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/main.py
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/prepare_dataset.sh
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/prepare_model.sh
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/requirements.txt
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/run_benchmark.sh
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/run_quant.sh
Due: none

update llm & set logger level
  examples/3.x_api/pytorch/cv/static_quant/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_clm_no_trainer.py
  neural_compressor/common/__init__.py
  neural_compressor/common/utils/logger.py
  neural_compressor/torch/algorithms/pt2e_quant/half_precision_rewriter.py
  neural_compressor/torch/algorithms/pt2e_quant/save_load.py
  neural_compressor/torch/export/pt2e_export.py
  neural_compressor/torch/quantization/algorithm_entry.py
Due: .azure-pipelines/ut-3x-pt.yml

update nlp performance
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_clm_no_trainer.py
Due: none

update scan path
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
Due: none

update int4 usage
  neural_compressor/torch/quantization/algorithm_entry.py
Due: .azure-pipelines/ut-3x-pt.yml

fix script
  examples/.config/model_params_tensorflow_3x.json
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/README.md
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/main.py
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/prepare_dataset.sh
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/run_benchmark.sh
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/run_quant.sh
Due: none

Add docstring for WOQ&LayerWise (#1938)
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
  neural_compressor/torch/algorithms/layer_wise/load.py
  neural_compressor/torch/algorithms/layer_wise/modified_pickle.py
  neural_compressor/torch/algorithms/layer_wise/utils.py
  neural_compressor/torch/algorithms/weight_only/__init__.py
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/algorithms/weight_only/awq.py
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/modules.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/algorithms/weight_only/save_load.py
  neural_compressor/torch/algorithms/weight_only/teq.py
  neural_compressor/torch/algorithms/weight_only/utility.py
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

add dynamic_shapes to cv
  examples/3.x_api/pytorch/cv/static_quant/main.py
Due: none

add docstring for mx quant (#1932)
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
  neural_compressor/torch/algorithms/mx_quant/__init__.py
  neural_compressor/torch/algorithms/mx_quant/mx.py
  neural_compressor/torch/algorithms/mx_quant/utils.py
Due: .azure-pipelines/ut-3x-pt.yml

add int4 ut
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/ut-3x-pt.yml

update config
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/weight_only.py
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix default iters
  examples/3.x_api/pytorch/cv/static_quant/main.py
Due: none

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
