Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor/common, neural_compressor/onnxrt, test/3x/onnxrt, test/3x/common, setup.py, requirements_ort.txt, .azure-pipelines/scripts/ut/3x/run_3x_ort.sh
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

update
  neural_compressor_ort/quantization/matmul_nbits_quantizer.py
Due: none

update readme
  neural_compressor/torch/README.md
Due: .azure-pipelines/ut-3x-pt.yml

fix test utils
  neural_compressor/tensorflow/quantization/utils/utility.py
  test/3x/tensorflow/quantization/ptq/newapi/test_bias_correction_newapi.py
  test/3x/tensorflow/quantization/ptq/test_gpu.py
Due: none

remove itex test
  test/3x/tensorflow/quantization/itex/test_tensorflow_itex_basic.py
Due: none

refine script
  examples/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
Due: none

Update run_quant.sh
  examples/nlp/huggingface_model/text_generation/llama/quantization/weight_only/run_quant.sh
Due: none

enahnce woq auto_tune test case
  test/onnxrt/test_autotune.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

add woq_tune
  examples/nlp/huggingface_model/text_generation/llama/quantization/weight_only/README.md
  examples/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
  examples/nlp/huggingface_model/text_generation/llama/quantization/weight_only/run_quant.sh
  neural_compressor_ort/quantization/__init__.py
  neural_compressor_ort/quantization/config.py
  test/onnxrt/test_autotune.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix ut
  test/onnxrt/test_autotune.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

update ut
  test/onnxrt/test_autotune.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

add test config
  examples/.config/model_params_onnxrt.json
Due: none

update path for extension test
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/README.md
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/main.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/prepare_model.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/prompt.json
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/requirements.txt
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/run_benchmark.sh
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/run_quant.sh
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/README.md
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/nc_workspace/Optimized_model.onnx_data
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/prepare_model.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/requirements.txt
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/run_benchmark.sh
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/run_quant.sh
Due: none

fix ut
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
  neural_compressor_ort/quantization/matmul_nbits_quantizer.py
Due: none

remove unused files
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/README.md
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/main.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/prepare_model.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/prompt.json
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/requirements.txt
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/run_benchmark.sh
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/run_quant.sh
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/nc_workspace/Optimized_model.onnx_data
Due: none

use llm quant path
  examples/keras/image_recognition/hf_resne50/main.py
  neural_compressor/tensorflow/algorithms/static_quant/tensorflow_itex.yaml
  neural_compressor/tensorflow/quantization/utils/graph_converter.py
  neural_compressor/tensorflow/quantization/utils/graph_rewriter/qdq/insert_qdq_pattern.py
  neural_compressor/tensorflow/utils/constants.py
  neural_compressor/tensorflow/utils/model.py
  neural_compressor/tensorflow/utils/model_wrappers.py
Due: none

fix data
  examples/keras/image_recognition/hf_resne50/main.py
  neural_compressor/tensorflow/algorithms/static_quant/tensorflow.yaml
  neural_compressor/tensorflow/utils/data.py
Due: none

support cpu export
  neural_compressor/model/torch_model.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Update main.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
Due: none

update publications
  README.md
  docs/source/publication_list.md
Due: none

update publications (#1737)
  README.md
  docs/source/publication_list.md
Due: none

add dynamic shape
  neural_compressor/torch/algorithms/w8a8_quant/core.py
Due: .azure-pipelines/ut-3x-pt.yml

clean code
  neural_compressor/torch/quantization/pt2e/apis.py
  neural_compressor/torch/quantization/pt2e/eval_ppl.py
  neural_compressor/torch/quantization/pt2e/test_models_cmd.py
  neural_compressor/torch/quantization/pt2e/x86_quantizer_hf.py
Due: .azure-pipelines/ut-3x-pt.yml

split test
  test/3x/torch/algorithms/w8a8/test_pt2e_w8a8.py
Due: .azure-pipelines/ut-3x-pt.yml

add doc
  README.md
  docs/source/CODE_OF_CONDUCT.md
  docs/source/CONTRIBUTING.md
  docs/source/SECURITY.md
  docs/source/calibration.md
  docs/source/coding_style.md
  docs/source/design.md
  docs/source/imgs/architecture.png
  docs/source/imgs/common/code.svg
  docs/source/imgs/common/intel.svg
  docs/source/imgs/common/right.svg
  docs/source/imgs/lwq_ort.png
  docs/source/imgs/smoothquant.png
  docs/source/imgs/sq_convert.png
  docs/source/imgs/sq_pc.png
  docs/source/imgs/workflow.png
  docs/source/installation_guide.md
  docs/source/legal_information.md
  docs/source/quantization.md
  docs/source/quantization_layer_wise.md
  docs/source/quantization_weight_only.md
  docs/source/smooth_quant.md
  neural_compressor_ort/quantization/config.py
Due: none

clean code
  neural_compressor/torch/algorithms/w8a8_quant/core.py
Due: .azure-pipelines/ut-3x-pt.yml

update
  README.md
  docs/source/imgs/architecture.png
  docs/source/installation_guide.md
  docs/source/quantization.md
Due: none

remove enable eager
  neural_compressor/tensorflow/utils/model_wrappers.py
  test/3x/tensorflow/quantization/ptq/newapi/test_bias_correction_newapi.py
Due: none

Update README.md
  README.md
Due: none

separate one ut case
  .azure-pipelines/scripts/ut/3x/run_3x_tf_new_api.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix auto_round import
  neural_compressor/torch/algorithms/weight_only/autoround.py
Due: .azure-pipelines/ut-3x-pt.yml

map ipex op_name w/ pt op_name
  neural_compressor/common/base_config.py
  neural_compressor/torch/algorithms/static_quant/static_quant.py
  neural_compressor/torch/algorithms/static_quant/utility.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/quantization/test_static_quant.py
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml

minor fix
  neural_compressor/torch/algorithms/static_quant/static_quant.py
  neural_compressor/torch/algorithms/static_quant/utility.py
Due: .azure-pipelines/ut-3x-pt.yml
