Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-insights.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test-3x.yml:
  stages:
  - stage: PyTorchModels
    displayName: Run PyTorch Model
    pool: ICX-16C
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.PyTorch_Model_3X }}', 'true'))
    jobs:
    - ${{ each model in parameters.PyTorchModelList }}:
      - job: null
        displayName: ${{ model }}
        steps:
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-ort.yml:
  pool: ICX-16C
  stages:
  - stage: ONNXRT
    displayName: Unit Test ONNXRT
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test ONNXRT
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ort
  ...

.azure-pipelines/ut-3x-pt-fp8.yml:
  pool: GAUDI
  stages:
  - stage: Torch_habana
    displayName: Torch 3x Habana FP8
    dependsOn: []
    jobs:
    - job: null
      displayName: Torch 3x Habana FP8
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: 3x/run_3x_pt
  ...

Adapt transformers 4.56.0 (#2274)
  neural_compressor/torch/algorithms/weight_only/save_load.py
  neural_compressor/torch/utils/utility.py
  neural_compressor/transformers/models/modeling_auto.py
  neural_compressor/transformers/quantization/utils.py
  test/3x/torch/algorithms/pt2e_quant/test_pt2e_w8a8.py
  test/3x/torch/quantization/test_pt2e_quant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

[SW-239679] temporary fix for static quant test (#298)
  neural_compressor/torch/utils/utility.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

Use --index-url instead of --extra-index-url for oneccl_bind_pt (#2273)
  .azure-pipelines/scripts/install_nc.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/requirements_cpu_woq.txt
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic.yml

[PERFC-270] add xpu qdq tests using inc (#296)
  neural_compressor/torch/algorithms/fp8_quant/_core/quantized_func_wrappers/xpu/xpu_quantized_func_wrapper.py
  test/3x/torch/algorithms/fp8_quant_xpu/unit_tests/test_xpu_basic.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

support oss oss
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

add chunk moe support on INC (#2270)
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

Add GitHub Action to check for stale issues
  .github/workflows/check-stale-issue.yml
Due: none

Update Habana Docker image and DeepSpeed version to 1.22.0
  .azure-pipelines/template/docker-template.yml
  README.md
  test/3x/torch/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic.yml

fix docker image version
  .azure-pipelines/template/docker-template.yml
  README.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic.yml

Set timeout to 120 minutes
  .azure-pipelines/ut-3x-pt-fp8.yml
Due: .azure-pipelines/ut-3x-pt-fp8.yml

fix UT
  .azure-pipelines/scripts/install_nc.sh
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic.yml

Fix TensorFlow version
  .azure-pipelines/scripts/install_nc.sh
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic.yml

[SW-239033] Using cguid to calculate maxabs in dynamic quant only (#297)
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/scales_method.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

Fix tensorflow-3x CI (#2275)
  .azure-pipelines/scripts/install_nc.sh
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic.yml

remove index-url global setting in requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/requirements_cpu_woq.txt
Due: none

fix torchao renaming issue
  neural_compressor/torch/algorithms/fp8_quant/_core/quantized_func_wrappers/cpu/cpu_quantized_func_wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

[SW-239190] Fix Deepseek hang issue w/ H2D scalar (#299)
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

remove PT_HPU_LAZY_MODE=1
  .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml

fix torchao renaming issue (#2277)
  neural_compressor/torch/algorithms/fp8_quant/_core/quantized_func_wrappers/cpu/cpu_quantized_func_wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

remove index-url global setting in requirements.txt (#2276)
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/requirements_cpu_woq.txt
Due: none

update
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

Add support for FP8 static quantization for optimum-habana deepseek v3/r1 (#203)
  neural_compressor/torch/algorithms/fp8_quant/_core/patching_common.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/ops_quantizer.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

Update habana version
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/ut-3x-pt-fp8.yml
  .azure-pipelines/ut-3x-pt.yml
  README.md
  test/3x/torch/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic.yml

fix
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml

fix
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

fix bug during HPU inference
  neural_compressor/evaluation/lm_eval/models/huggingface.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

fix bug during HPU inference (#2280)
  neural_compressor/evaluation/lm_eval/models/huggingface.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

Pass dtype to torch scalar (#300)
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

support autoround v0.7
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

add safecheck for evalfunc
  neural_compressor/mix_precision.py
  neural_compressor/quantization.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add security
  neural_compressor/security/__init__.py
  neural_compressor/security/sandbox.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix ImportError when lm_eval >= 0.4.8
  neural_compressor/evaluation/lm_eval/accuracy.py
  neural_compressor/evaluation/lm_eval/models/huggingface.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

fix ImportError when lm_eval >= 0.4.8 (#2283)
  neural_compressor/evaluation/lm_eval/accuracy.py
  neural_compressor/evaluation/lm_eval/models/huggingface.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

fix
  .azure-pipelines/scripts/install_nc.sh
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/code-scan.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test-3x.yml: any of: neural_compressor/common, neural_compressor/torch, examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only, setup.py, requirements_pt.txt, .azure-pipelines/scripts/models, .azure-pipelines/model-test-3x.yml, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/model-test.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, .azure-pipelines/model-test.yml, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt-fp8.yml: any of: .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/template/docker-template.yml, neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, test/3x/torch/algorithms/fp8_quant, test/3x/torch/quantization/fp8_quant, test/3x/torch/quantization/weight_only/test_rtn.py, test/3x/torch/quantization/weight_only/test_load.py, setup.py, requirements_pt.txt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, test/3x/common, setup.py, requirements_pt.txt, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/ut-3x-tf.yml: any of: neural_compressor/common, neural_compressor/tensorflow, test/3x/tensorflow, test/3x/common, setup.py, requirements_tf.txt, .azure-pipelines/scripts/ut/3x/run_3x_tf.sh, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/ut-basic.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers, neural_compressor/evaluation, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
