Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

upgrade torch and ipex version
  .azure-pipelines/scripts/fwk_version.sh
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/ut/run_basic_pt_pruning.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix torchvision
  .azure-pipelines/scripts/fwk_version.sh
Due: none

fix install
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic.yml

update readme for fp8
  README.md
  docs/source/3x/PT_FP8Quant.md
  docs/source/3x/PyTorch.md
Due: none

fix per review
  README.md
Due: none

update
  neural_compressor/torch/algorithms/pt2e_quant/utility.py
  neural_compressor/torch/utils/environ.py
  test/3x/torch/quantization/test_pt2e_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

update readme for fp8 (#1979)
  README.md
  docs/source/3x/PT_FP8Quant.md
  docs/source/3x/PyTorch.md
Due: none

for test
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic.yml

test
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic.yml

fix inc install
  .azure-pipelines/scripts/install_nc.sh
Due: none

add awq example
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_quant.sh
Due: none

Skip some tests for torch 2.4 (#1981)
  neural_compressor/torch/algorithms/pt2e_quant/utility.py
  neural_compressor/torch/utils/environ.py
  test/3x/torch/quantization/test_pt2e_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

update extension test
  examples/.config/model_params_pytorch_3x.json
Due: none

fix itrex install
  .azure-pipelines/scripts/models/env_setup.sh
Due: .azure-pipelines/model-test.yml

fix
  .azure-pipelines/scripts/models/env_setup.sh
Due: .azure-pipelines/model-test.yml

update extension path
  examples/.config/model_params_pytorch_3x.json
Due: none

minor fix
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_quant.sh
Due: none

update awq benchmark
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_benchmark.sh
Due: none

update benchmarking
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_quant.sh
Due: none

add autoround
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
Due: none

minor fix
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_benchmark.sh
Due: none

fix pt version
  .azure-pipelines/scripts/models/env_setup.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/requirements.txt
Due: .azure-pipelines/model-test.yml

update group_size
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_quant.sh
Due: none

[SW-196134] input tensor is not released in hqt observer
  neural_compressor/torch/algorithms/fp8_quant/_core/measure.py
Due: .azure-pipelines/ut-3x-pt.yml

add autoround extension test
  examples/.config/model_params_pytorch_3x.json
Due: none

Fix UT env and upgrade torch to 2.4.0 (#1978)
  .azure-pipelines/scripts/fwk_version.sh
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/models/env_setup.sh
  .azure-pipelines/scripts/ut/run_basic_pt_pruning.sh
  .azure-pipelines/template/docker-template.yml
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/requirements.txt
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

add teq
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
Due: none

update readme
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/README.md
Due: none

fix ut
  neural_compressor/torch/algorithms/weight_only/rtn.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

add print trigger
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

disable gptq lw ut
  test/3x/torch/quantization/weight_only/test_gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

update gptq lw ut
  test/3x/torch/quantization/weight_only/test_gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

rm lw tmp dir
  test/3x/torch/quantization/weight_only/test_gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

fix ut
  test/3x/torch/quantization/weight_only/test_gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

fix lw ut
  test/3x/torch/quantization/weight_only/test_gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

limit onnxruntime version
  .azure-pipelines/scripts/ut/run_itrex.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[SW-192016] fix measurements tool
  neural_compressor/torch/algorithms/fp8_quant/scripts/fix_measurements.py
Due: .azure-pipelines/ut-3x-pt.yml
