Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/code-scan.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test-3x.yml: any of: neural_compressor/common, neural_compressor/torch, examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only, setup.py, requirements_pt.txt, .azure-pipelines/scripts/models, .azure-pipelines/model-test-3x.yml, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/model-test.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, .azure-pipelines/model-test.yml, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt-fp8.yml: any of: .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/template/docker-template.yml, neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, test/3x/torch/algorithms/fp8_quant, test/3x/torch/quantization/fp8_quant, test/3x/torch/quantization/weight_only/test_rtn.py, test/3x/torch/quantization/weight_only/test_load.py, setup.py, requirements_pt.txt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, test/3x/common, setup.py, requirements_pt.txt, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/ut-3x-tf.yml: any of: neural_compressor/common, neural_compressor/tensorflow, test/3x/tensorflow, test/3x/common, setup.py, requirements_tf.txt, .azure-pipelines/scripts/ut/3x/run_3x_tf.sh, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/ut-basic.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers, neural_compressor/evaluation, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

[SW-228539] Support setting scale method per node in INC FP8 (#238)
  neural_compressor/torch/algorithms/fp8_quant/_core/quantize.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/scale_method_config.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/scale_method_factory.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/scale_method_parser.py
  neural_compressor/torch/algorithms/fp8_quant/_core/utils.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_functions/test_config_json.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_conv2d.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_scale_method_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

[SW-214269] support g_idx for uint4 (#246)
  neural_compressor/torch/algorithms/weight_only/modules.py
  neural_compressor/torch/algorithms/weight_only/save_load.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

[SW-228570] support FP8 GaudiFluxPipeline save and load (#254)
  neural_compressor/torch/algorithms/fp8_quant/save_load.py
  neural_compressor/torch/quantization/save_load_entry.py
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

[SW-224612] Set scale calculation to run on cguid as default in dynamic quant (#257)
  neural_compressor/torch/algorithms/fp8_quant/_core/common.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/scales_method.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

refine code
  neural_compressor/common/utils/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/_core/common.py
  neural_compressor/torch/algorithms/fp8_quant/_core/measure.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml

refine code (#2228)
  neural_compressor/common/utils/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/_core/common.py
  neural_compressor/torch/algorithms/fp8_quant/_core/measure.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml

[SW-228576] Add Dynamic Quant Support For FusedMoE (#243)
  neural_compressor/torch/algorithms/fp8_quant/_core/patching_common.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quantized_func_wrappers/hpu/hpu_quantized_func_wrapper.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quantized_func_wrappers/quantized_func_wrapper.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quantized_func_wrappers/quantized_func_wrapper_api.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quantized_func_wrappers/xpu/xpu_quantized_func_wrapper.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/ops_quantizer.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

[SW-230951] Save measurements according to samples counter (#251)
  neural_compressor/torch/algorithms/fp8_quant/_core/common.py
  neural_compressor/torch/algorithms/fp8_quant/_core/measure.py
  neural_compressor/torch/algorithms/fp8_quant/_core/save_measure/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/_core/save_measure/hook_logic.py
  neural_compressor/torch/algorithms/fp8_quant/_core/save_measure/save_file_proccess.py
  neural_compressor/torch/algorithms/fp8_quant/_core/save_measure/save_files.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  neural_compressor/torch/algorithms/fp8_quant/prepare_quant/prepare_model.py
  test/3x/torch/algorithms/fp8_quant/conftest.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_calibration_counter.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

[SW-230641] Remove smoothquant related scale methods (#258)
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/scale_method_config.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/scale_method_factory.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/scales_method.py
  test/3x/torch/algorithms/fp8_quant/tester.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_functions/test_config_json.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_conv2d.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_linear.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_matmul.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_runtime_scale_patching.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_scale_method_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

Rename model in UT to reduce CI effort (#245)
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_block_wise.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_fakequant.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_qdq.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_scalar.py
  test/3x/torch/quantization/fp8_quant/test_layer_wise.py
  test/3x/torch/quantization/fp8_quant/test_save_load.py
Due: .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

[SW-233731] Support FP8 QDQ quant on CPU (#239)
  neural_compressor/torch/algorithms/fp8_quant/_core/common.py
  neural_compressor/torch/algorithms/fp8_quant/_core/patching_common.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quant_dequant.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quantized_func_wrappers/quantized_func_wrapper_api.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_handler.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/ops_quantizer.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/scales_method.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  neural_compressor/torch/algorithms/fp8_quant/observer.py
  neural_compressor/torch/algorithms/fp8_quant/save_load.py
  test/3x/torch/algorithms/fp8_quant_cpu/unit_tests/test_cpu_basic.py
  test/3x/torch/algorithms/fp8_quant_cpu/unit_tests/test_cpu_save_load.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

[SW-233731] Use torchao op for CPU QDQ and abstract QDQ calling (#264)
  neural_compressor/torch/algorithms/fp8_quant/_core/quant_dequant.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quantized_func_wrappers/cpu/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quantized_func_wrappers/cpu/cpu_quantized_func_wrapper.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quantized_func_wrappers/hpu/hpu_quantized_func_wrapper.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quantized_func_wrappers/quantized_func_wrapper.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quantized_func_wrappers/quantized_func_wrapper_api.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quantized_func_wrappers/xpu/xpu_quantized_func_wrapper.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  test/3x/torch/algorithms/fp8_quant_cpu/unit_tests/test_cpu_basic.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

Update version to 3.5
  neural_compressor/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add save load inc model
  neural_compressor/transformers/models/modeling_auto.py
  neural_compressor/transformers/quantization/utils.py
  test/3x/torch/quantization/weight_only/test_transformers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

remove update_g_idx flag
  neural_compressor/transformers/quantization/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

add int8 static quant notebook
  examples/notebook/pytorch/Quick_Started_Notebook_of_INC_for_Pytorch.ipynb
  examples/notebook/pytorch/benchmark.py
  examples/notebook/pytorch/requirements.txt
Due: none

fix blacken-docs
  .pre-commit-config.yaml
Due: none

update notebook
  examples/notebook/pytorch/Quick_Started_Notebook_of_INC_for_Pytorch.ipynb
  examples/notebook/pytorch/requirements.txt
Due: none

Update requirements.txt
  examples/notebook/pytorch/requirements.txt
Due: none

Update Quick_Started_Notebook_of_INC_for_Pytorch.ipynb
  examples/notebook/pytorch/Quick_Started_Notebook_of_INC_for_Pytorch.ipynb
Due: none

update pytorch int8 notebook example (#2235)
  examples/notebook/pytorch/Quick_Started_Notebook_of_INC_for_Pytorch.ipynb
  examples/notebook/pytorch/requirements.txt
Due: none

update example
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/run_generation_cpu_woq.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/run_generation_gpu_woq.py
Due: none

add save_low_bit_for_inc
  neural_compressor/transformers/quantization/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

[SW-0] Update version to 3.5 (#269)
  neural_compressor/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[SW-234066] fix performance drop due to ordered g_idx (#277)
  neural_compressor/torch/algorithms/weight_only/modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

add is_remote_code for auto_class
  neural_compressor/transformers/models/modeling_auto.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

update return model
  neural_compressor/transformers/quantization/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

Adapt transformers v4.53.1 (#2237)
  neural_compressor/transformers/models/modeling_auto.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

fix is_remote_code
  neural_compressor/transformers/models/modeling_auto.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

Support saving inc model for transformers-like api (#2231)
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/run_generation_cpu_woq.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/run_generation_gpu_woq.py
  neural_compressor/transformers/models/modeling_auto.py
  neural_compressor/transformers/quantization/utils.py
  test/3x/torch/quantization/weight_only/test_transformers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

[SW-199696] Implementing dynamic quantization design for linear ops (#188)
  neural_compressor/torch/algorithms/fp8_quant/_core/common.py
  neural_compressor/torch/algorithms/fp8_quant/_core/fp_utils.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quant_dequant.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/ops_quantizer.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/round_scales_function.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/scale_method_factory.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/scales_method.py
  neural_compressor/torch/algorithms/fp8_quant/_core/utils.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  neural_compressor/torch/algorithms/fp8_quant/model_configs.py
  test/3x/torch/algorithms/fp8_quant/test_hpu_utils.py
  test/3x/torch/algorithms/fp8_quant/tester.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_functions/test_config_json.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_conv2d.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_linear.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_matmul.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_runtime_scale_patching.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

Fix incorrect condition in PatchedMatmul (#204)
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

[SW-207602] Fix all_reduce scale format in PatchedRowParallelLinear (#183)
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/ops_quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

[SW-199696] Added PatchedLinearBase (#192)
  neural_compressor/torch/algorithms/fp8_quant/_core/quant_dequant.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_handler.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

Fixing vllm runs for dynamic quantization (#210)
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

Revert "Revert "fp8 aware gptq (hybrid gptq) and fix performance drop of W4A16 scheme (#190)
  docs/source/3x/PT_WeightOnlyQuant.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  neural_compressor/torch/algorithms/mixed_low_precision/maxabs_quant.json
  neural_compressor/torch/algorithms/mixed_low_precision/modules.py
  neural_compressor/torch/algorithms/mixed_low_precision/quantizer.py
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/modules.py
  neural_compressor/torch/algorithms/weight_only/save_load.py
  neural_compressor/torch/algorithms/weight_only/utility.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/quantize.py
  test/3x/torch/quantization/fp8_quant/test_fp8_jsons/test_pow2_w4a8_quant.json
  test/3x/torch/quantization/fp8_quant/test_gptq_mixed_precision.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml
