Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-insights.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST_TF
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-ort.yml:
  pool: ICX-16C
  stages:
  - stage: ONNXRT
    displayName: Unit Test ONNXRT
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test ONNXRT
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ort
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: 3x/run_3x_pt
  ...

.azure-pipelines/ut-basic-no-cover.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-itrex.yml:
  pool: MODEL_PERF_TEST
  stages:
  - stage: null
    displayName: Unit Test of ITREX
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_itrex
          uploadPath: $(UPLOAD_PATH)
  ...

fix ut
  test/3x/common/test_utility.py
Due: none

fixed the quant tensor
  neural_compressor/torch/algorithms/weight_only/teq.py
Due: .azure-pipelines/ut-3x-pt.yml

implement TorchBaseConfig
  neural_compressor/torch/quantization/config.py
  test/3x/torch/quantization/test_static_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

fix config
  examples/.config/model_params_tensorflow_3x.json
  examples/3.x_api/tensorflow/object_detection/mask_rcnn_inception_v2/quantization/ptq/data_process.py
  examples/3.x_api/tensorflow/object_detection/mask_rcnn_inception_v2/quantization/ptq/main.py
Due: none

add more UTs
  test/3x/common/test_utility.py
Due: none

disable some check
  neural_compressor/torch/algorithms/weight_only/teq.py
Due: .azure-pipelines/ut-3x-pt.yml

support gptq
  neural_compressor/torch/algorithms/weight_only/gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

fix keras config
  examples/3.x_api/tensorflow/keras/cv/inception_v3/quantization/ptq/README.md
  examples/3.x_api/tensorflow/keras/cv/inception_v3/quantization/ptq/main.py
  examples/3.x_api/tensorflow/keras/cv/mobilenet_v2/quantization/ptq/README.md
  examples/3.x_api/tensorflow/keras/cv/mobilenet_v2/quantization/ptq/main.py
  examples/3.x_api/tensorflow/keras/cv/resnet_v2_50/quantization/ptq/README.md
  examples/3.x_api/tensorflow/keras/cv/resnet_v2_50/quantization/ptq/main.py
Due: none

Get default config based on the auto-detect CPU type (#1904)
  neural_compressor/common/utils/constants.py
  neural_compressor/common/utils/utility.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/utility.py
  test/3x/common/test_utility.py
  test/3x/torch/test_config.py
Due: .azure-pipelines/ut-3x-pt.yml

save hqq module
  neural_compressor/torch/algorithms/weight_only/hqq/core.py
  neural_compressor/torch/algorithms/weight_only/hqq/qtensor.py
  test/3x/torch/quantization/weight_only/test_hqq.py
Due: .azure-pipelines/ut-3x-pt.yml

remove the integration of neural_insights
  docs/source/adaptor.md
  docs/source/diagnosis.md
  docs/source/migration.md
  docs/source/releases_info.md
  docs/source/user_guide.md
  examples/onnxrt/image_recognition/mobilenet_v3/quantization/ptq_static/README.md
  examples/onnxrt/image_recognition/mobilenet_v3/quantization/ptq_static/main.py
  examples/onnxrt/image_recognition/onnx_model_zoo/resnet50/quantization/ptq_static/README.md
  examples/onnxrt/image_recognition/onnx_model_zoo/resnet50/quantization/ptq_static/main.py
  examples/onnxrt/image_recognition/resnet50_torchvision/quantization/ptq_static/README.md
  examples/onnxrt/image_recognition/resnet50_torchvision/quantization/ptq_static/main.py
  examples/onnxrt/nlp/bert/quantization/ptq_dynamic/README.md
  examples/onnxrt/nlp/bert/quantization/ptq_static/README.md
  examples/onnxrt/object_detection/ssd_mobilenet_v1/quantization/ptq_static/README.md
  examples/onnxrt/object_detection/ssd_mobilenet_v1/quantization/ptq_static/main.py
  examples/tensorflow/image_recognition/tensorflow_models/mobilenet_v3/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/mobilenet_v3/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/resnet50_v1_5/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/resnet50_v1_5/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/resnet_v2_50/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/resnet_v2_50/quantization/ptq/main.py
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/adaptor/tf_utils/util.py
  neural_compressor/benchmark.py
  neural_compressor/config.py
  neural_compressor/quantization.py
  neural_compressor/strategy/strategy.py
  neural_compressor/template/qat.yaml
  neural_compressor/utils/neural_insights_utils.py
  test/strategy/test_basic.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

remove the integration of neural_solution
  .pre-commit-config.yaml
Due: none

Add export support for TEQ (#1910)
  neural_compressor/torch/algorithms/weight_only/teq.py
Due: .azure-pipelines/ut-3x-pt.yml

add more ut
  test/3x/torch/quantization/weight_only/test_hqq.py
Due: .azure-pipelines/ut-3x-pt.yml

temp stop Gaudi CI
  .azure-pipelines/ut-3x-pt-fp8.yml
Due: none

update Gaudi CI baseline artifacts name (#1912)
  .azure-pipelines/ut-3x-pt-fp8.yml
Due: none

add save load for hqq model
  neural_compressor/torch/algorithms/weight_only/hqq/core.py
  neural_compressor/torch/algorithms/weight_only/save_load.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/load_entry.py
  test/3x/torch/quantization/weight_only/test_hqq.py
Due: .azure-pipelines/ut-3x-pt.yml

remove comments
  test/3x/torch/quantization/weight_only/test_hqq.py
Due: .azure-pipelines/ut-3x-pt.yml

udapte
  docs/3x/client_quant.md
Due: none

refine doc
  docs/3x/client_quant.md
Due: none

format
  docs/3x/client_quant.md
Due: none

correct typo
  docs/3x/client_quant.md
Due: none

add test script
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/README.md
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/run_benchmark.sh
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/run_quant.sh
Due: none

minor fix
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/main.py
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/ipex/run_quant.sh
Due: none

remove the integration of neural_coder
  .azure-pipelines/scripts/ut/run_basic_others.sh
  .azure-pipelines/ut-basic-no-cover.yml
  .azure-pipelines/ut-basic.yml
  .github/checkgroup.yml
  README.md
  docs/build_docs/build.sh
  docs/source/user_guide.md
  test/neural_coder/test_common.py
  test/neural_coder/test_line_operation.py
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml

Update run_quant.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/ipex/run_quant.sh
Due: none

add iter limit
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/main.py
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/run_benchmark.sh
Due: none

Support xpu for ipex static quant
  neural_compressor/torch/algorithms/static_quant/static_quant.py
  neural_compressor/torch/algorithms/static_quant/utility.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/quantization/test_static_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

v3.0 release notes
  release-notes-v3.0.md
Due: none

clean code
  neural_compressor/torch/algorithms/weight_only/hqq/core.py
Due: .azure-pipelines/ut-3x-pt.yml

Update utility.py
  neural_compressor/torch/algorithms/static_quant/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

minor fix
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

keep q_model in memory
  neural_compressor/torch/algorithms/layer_wise/utils.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

fix master conflict
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
