Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-insights.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST_TF
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-ort.yml:
  pool: ICX-16C
  stages:
  - stage: ONNXRT
    displayName: Unit Test ONNXRT
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test ONNXRT
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ort
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: 3x/run_3x_pt
  ...

.azure-pipelines/ut-basic-no-cover.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-itrex.yml:
  pool: MODEL_PERF_TEST
  stages:
  - stage: null
    displayName: Unit Test of ITREX
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_itrex
          uploadPath: $(UPLOAD_PATH)
  ...

[SW-207748] Support Auto-round on HPU (#25)
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/algorithms/weight_only/modules.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-204016] Enable scale calculation with disk offload in INC
  neural_compressor/torch/algorithms/fp8_quant/_core/quantize.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-206112] INC Q/DQ improvement - use Q/DQ ops
  neural_compressor/torch/algorithms/fp8_quant/_core/quant_dequant.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
Due: .azure-pipelines/ut-3x-pt.yml

align files with v1.19.0 in fp8_quant folder
  neural_compressor/torch/algorithms/fp8_quant/_core/common.py
  neural_compressor/torch/algorithms/fp8_quant/_core/fp_utils.py
  neural_compressor/torch/algorithms/fp8_quant/_core/measure.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quant_dequant.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_handler.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/max_abs.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/smooth_quant.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  neural_compressor/torch/algorithms/fp8_quant/common.py
  neural_compressor/torch/algorithms/fp8_quant/scripts/fix_measurements.py
  test/3x/torch/algorithms/fp8_quant/tester.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_fakequant.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_fp8_config.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_functions/test_config_json.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_conv2d.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_linear.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_matmul.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-199823] [HQT] fix INC one-step quantization API workflow
  neural_compressor/torch/algorithms/fp8_quant/common.py
  test/3x/torch/quantization/fp8_quant/model_configs/tiny_gptj.json
  test/3x/torch/quantization/fp8_quant/test_fp8_static_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-197077] refactoring maxabs scales and adding arbitrary scales. (#12)
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/max_abs.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_linear.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-202614] Llama70b int4 gptq with INC load flow - getting host OOM
  neural_compressor/torch/algorithms/weight_only/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-198585] Fix typo causing PatchedVLLMKVCache error
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-195965] [GPTQ] INC load model loads model in fp32 only
  neural_compressor/torch/algorithms/weight_only/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-208521] one-step quantization got double memory usage (#3)
  neural_compressor/torch/algorithms/fp8_quant/common.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-213236] resolve CPU mem issue in CI (#76)
  neural_compressor/torch/utils/environ.py
Due: .azure-pipelines/ut-3x-pt.yml

align and fix config after cherry-pick
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-200168] Enable working with G2 HW scales on G3
  neural_compressor/torch/algorithms/fp8_quant/_core/common.py
  neural_compressor/torch/algorithms/fp8_quant/_core/fp_utils.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/max_abs.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/single_scale.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/smooth_quant.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  test/3x/torch/algorithms/fp8_quant/test_hpu_utils.py
  test/3x/torch/algorithms/fp8_quant/test_utils.py
  test/3x/torch/algorithms/fp8_quant/tester.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_fakequant.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_functions/test_config_json.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_conv2d.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_linear.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_matmul.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-203389] fix get_scale_dtype to support PCQ scales
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_handler.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-209878] Increase threshold to avoid random error in test_layer_wise.py (#36)
  test/3x/torch/quantization/fp8_quant/test_layer_wise.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-205334][SW-187731] llama70b vLLM fix graph breaks with torch.compile (#67)
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  test/3x/torch/algorithms/fp8_quant/test_register_apis.py
Due: .azure-pipelines/ut-3x-pt.yml

update Ubuntu version to 24.04 in Dockerfiles and gaudi-docker to 1.19.0/ubuntu24.04
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/docker/DockerfileCodeScan.devel
  .azure-pipelines/docker/DockerfileWithNC.devel
  .azure-pipelines/template/docker-template.yml
Due: none

add symbolic link for python3
  .azure-pipelines/template/docker-template.yml
Due: none

fix
  .azure-pipelines/template/docker-template.yml
Due: none

refactor: update Dockerfile to add user and group arguments, remove unused Dockerfile, and adjust library path in scripts
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/docker/DockerfileWithNC.devel
  .azure-pipelines/scripts/models/run_pytorch_models_trigger.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh
  .azure-pipelines/scripts/ut/run_basic_adaptor.sh
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/ut-3x-pt.yml
  .azure-pipelines/ut-3x-tf.yml
  .azure-pipelines/ut-basic.yml
  docker/README.md
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Refactor version handling by moving version.py to common directory
  neural_compressor/common/__init__.py
  neural_compressor/common/version.py
  neural_compressor/strategy/strategy.py
  neural_compressor/version.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix
  neural_compressor/common/__init__.py
Due: .azure-pipelines/ut-3x-pt.yml

fix
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix dockerfile
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/docker/DockerfileCodeScan.devel
Due: none

[SW-213890] Disable test_two_step_layer_wise temporarily (#84)
  test/3x/torch/quantization/fp8_quant/test_layer_wise.py
Due: .azure-pipelines/ut-3x-pt.yml

fix woq example and update document for v1.19.0
  .azure-pipelines/template/docker-template.yml
  README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
  test/3x/torch/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml

[SW-205437] - Support LM-HEAD patching (#79)
  neural_compressor/torch/algorithms/fp8_quant/_core/common.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/ut-3x-pt.yml

Enhance and rename fix_measurements tool to postprocessing_vllm_measurements (#82)
  neural_compressor/torch/algorithms/fp8_quant/scripts/fix_measurements.py
  neural_compressor/torch/algorithms/fp8_quant/scripts/postprocessing_vllm_measurements.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-210500] [Optimum-Habana] [Regression] [fp8] [INC] No generated text for llava models [llava-1.5-7b-hf] [llava-1.5-13b-hf ] (#54) (#77)
  neural_compressor/torch/algorithms/fp8_quant/_core/quantize.py
  test/3x/torch/quantization/fp8_quant/conftest.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-207748] Support Auto-round on HPU (#25) (#69)
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/algorithms/weight_only/modules.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/ut-3x-pt.yml

fix UT
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-213236] resolve CPU mem issue in CI (#76) (#83)
  neural_compressor/torch/utils/environ.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-213368] requirements_pt.txt: allow newer pydantic versions to >= 1.10.13 (#80)
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

[SW-207748] Add Auto-round Example (#42) (#68)
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/requirements-autoround-hpu.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
Due: none

Fix `is_sharded` setting for loading quant model (#2094)
  neural_compressor/torch/algorithms/weight_only/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

Update run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
Due: none

Refactor version.py
  neural_compressor/common/__init__.py
  neural_compressor/common/version.py
  neural_compressor/version.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix accuracy of lm_eval
  neural_compressor/evaluation/lm_eval/models/huggingface.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update fp8 test scope
  .azure-pipelines/ut-3x-pt-fp8.yml
Due: none

revert dtype change of model
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
Due: none

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
