Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-insights.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST_TF
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-ort.yml:
  pool: ICX-16C
  stages:
  - stage: ONNXRT
    displayName: Unit Test 3x ONNXRT
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x ONNXRT
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: 3x/run_3x_pt
  ...

.azure-pipelines/ut-basic-no-cover.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-itrex.yml:
  pool: MODEL_PERF_TEST
  stages:
  - stage: null
    displayName: Unit Test of ITREX
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_itrex
          uploadPath: $(UPLOAD_PATH)
  ...

fix some bugs
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  neural_compressor/adaptor/torch_utils/gptq.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add lazyimport and cpuinfo
  neural_compressor/common/utils/utility.py
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml

fix typos
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

gptq support for gaudi
  neural_compressor/torch/algorithms/weight_only/gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

add UTs
  test/3x/common/test_utility.py
Due: .azure-pipelines/ut-3x-ort.yml

add doc and sh script
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_quant.sh
Due: none

minor fix
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/README.md
Due: none

remove support for keras3
  neural_compressor/tensorflow/algorithms/static_quant/keras.py
  neural_compressor/tensorflow/keras/layers/conv2d.py
  neural_compressor/tensorflow/keras/layers/depthwise_conv2d.py
  neural_compressor/tensorflow/keras/layers/separable_conv2d.py
  test/3x/tensorflow/keras/test_config.py
  test/3x/tensorflow/quantization/test_smooth_quant.py
  test/3x/tensorflow/test_autotune.py
Due: none

limit tf version for 3x
  requirements_tf.txt
Due: none

add deps
  requirements_ort.txt
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml

fix ut
  neural_compressor/tensorflow/algorithms/static_quant/keras.py
  test/3x/tensorflow/keras/test_config.py
Due: none

remove some checks
  test/3x/tensorflow/keras/test_config.py
Due: none

support passing parameters
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  neural_compressor/adaptor/torch_utils/gptq.py
  neural_compressor/adaptor/torch_utils/weight_only.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

minor fix
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/README.md
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

Update config.py
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

Refactor Keras PTQ Implementation (#1698)
  neural_compressor/tensorflow/algorithms/static_quant/keras.py
  neural_compressor/tensorflow/keras/layers/__init__.py
  neural_compressor/tensorflow/keras/layers/conv2d.py
  neural_compressor/tensorflow/keras/layers/dense.py
  neural_compressor/tensorflow/keras/layers/depthwise_conv2d.py
  neural_compressor/tensorflow/keras/layers/layer_initializer.py
  neural_compressor/tensorflow/keras/layers/pool2d.py
  neural_compressor/tensorflow/keras/layers/quantizer.py
  neural_compressor/tensorflow/keras/layers/separable_conv2d.py
  neural_compressor/tensorflow/keras/quantization/config.py
  requirements_tf.txt
  test/3x/tensorflow/keras/test_config.py
  test/3x/tensorflow/quantization/test_smooth_quant.py
  test/3x/tensorflow/test_autotune.py
Due: none

Fixed accuracy issue for woq
  neural_compressor/adaptor/torch_utils/weight_only.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix yaml location
  neural_compressor/tensorflow/algorithms/static_quant/keras.py
  neural_compressor/tensorflow/keras/quantization/config.py
  test/3x/tensorflow/quantization/newapi/test_bias_correction.py
  test/3x/tensorflow/quantization/newapi/test_graph_qdq_concat_fusion.py
  test/3x/tensorflow/quantization/newapi/test_graph_qdq_matmul_fusion.py
  test/3x/tensorflow/quantization/newapi/test_graph_qdq_pooling_fusion.py
  test/3x/tensorflow/quantization/oldapi/test_graph_insert_logging.py
  test/3x/tensorflow/quantization/oldapi/test_query_yaml.py
  test/3x/tensorflow/quantization/oldapi/test_remove_training_nodes.py
Due: none

fix bug when in-place woq
  neural_compressor/adaptor/torch_utils/weight_only.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix 3x bug when in-place woq
  neural_compressor/torch/algorithms/weight_only/utility.py
  test/3x/torch/algorithms/weight_only/test_utility.py
Due: .azure-pipelines/ut-3x-pt.yml

Fixed error
  neural_compressor/adaptor/torch_utils/weight_only.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Port more helper classes from 2.x (#1701)
  neural_compressor/common/utils/utility.py
  requirements_ort.txt
  requirements_pt.txt
  test/3x/common/test_utility.py
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml

adding mark_step in auto_accelerator
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/utils/auto_accelerator.py
Due: .azure-pipelines/ut-3x-pt.yml

fix
  neural_compressor/torch/algorithms/weight_only/gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

fix pre-ci
  neural_compressor/torch/algorithms/weight_only/utility.py
  test/3x/torch/algorithms/weight_only/test_woq_utility.py
Due: .azure-pipelines/ut-3x-pt.yml

update recipes
  docs/source/llm_recipes.md
Due: none

fix comparison conditions
  neural_compressor/adaptor/torch_utils/weight_only.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

use different name for uts in oldapi and newapi
  test/3x/tensorflow/quantization/ptq/newapi/test_bias_correction_newapi.py
  test/3x/tensorflow/quantization/ptq/newapi/test_graph_conv_fusion_newapi.py
Due: none

Fix in-place processing error in quant_weight function (#1703)
  neural_compressor/adaptor/torch_utils/weight_only.py
  neural_compressor/torch/algorithms/weight_only/utility.py
  test/3x/torch/algorithms/weight_only/test_woq_utility.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update LLM recipes (#1704)
  docs/source/llm_recipes.md
Due: none

fix supported layer checking
  neural_compressor/torch/algorithms/weight_only/rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

Update run_clm_no_trainer.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor/common, neural_compressor/onnxrt, test/3x/onnxrt, test/3x/common, setup.py, requirements_ort.txt, .azure-pipelines/scripts/ut/3x/run_3x_ort.sh
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
