Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

add model config
  examples/.config/model_params_pytorch_3x.json
Due: none

add run_quant.sh&model config
  examples/.config/model_params_pytorch_3x.json
  examples/3.x_api/pytorch/cv/static_quant/run_quant.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_quant.sh
Due: none

update doc
  docs/3x/PT_StaticQuant.md
Due: none

add imagenet location
  examples/.config/model_params_pytorch_3x.json
Due: none

modify 3.x ipex example structure (#1858)
  docs/3x/PT_SmoothQuant.md
  docs/3x/PT_StaticQuant.md
  examples/.config/model_params_pytorch_3x.json
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/run_quant.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/utils.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/ipex/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/ipex/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/ipex/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/ipex/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/ipex/run_quant.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/ipex/utils.py
  neural_compressor/torch/algorithms/smooth_quant/smooth_quant.py
  neural_compressor/torch/algorithms/smooth_quant/utility.py
  neural_compressor/torch/algorithms/static_quant/static_quant.py
  neural_compressor/torch/algorithms/static_quant/utility.py
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

bug fix
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/run_benchmark.sh
Due: none

remove approach
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
Due: none

remove version limitation
  examples/3.x_api/tensorflow/image_recognition/vision_transformer/quantization/ptq/requirements.txt
Due: none

Improve UT Branch Coverage for TF 3x (#1867)
  examples/3.x_api/tensorflow/image_recognition/vision_transformer/quantization/ptq/requirements.txt
  neural_compressor/tensorflow/algorithms/static_quant/tensorflow.py
  neural_compressor/tensorflow/quantization/utils/graph_converter.py
  neural_compressor/tensorflow/utils/model_wrappers.py
Due: none

add calib_iters argument
  examples/3.x_api/pytorch/cv/static_quant/main.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_clm_no_trainer.py
Due: none

fix model config
  examples/.config/model_params_pytorch_3x.json
Due: none

recover autotune.py
  neural_compressor/torch/quantization/autotune.py
Due: .azure-pipelines/ut-3x-pt.yml

unify save log
  neural_compressor/torch/algorithms/habana_fp8/save_load.py
  neural_compressor/torch/algorithms/weight_only/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

remove unused line
  neural_compressor/torch/algorithms/weight_only/modules.py
Due: .azure-pipelines/ut-3x-pt.yml

change model.prepared attribution to model.is prepared
  neural_compressor/torch/quantization/quantize.py
Due: .azure-pipelines/ut-3x-pt.yml

revert fp8 logger
  neural_compressor/torch/algorithms/habana_fp8/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

Update model_params_pytorch_3x.json
  examples/.config/model_params_pytorch_3x.json
Due: none

update doc link
  docs/3x/PT_WeightOnlyQuant.md
Due: none

update acc
  docs/source/llm_recipes.md
Due: none

fix model path
  .azure-pipelines/scripts/models/run_pytorch_models_trigger.sh
Due: .azure-pipelines/model-test.yml

update tasks
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_quant.sh
Due: none

[3x] add recommendation examples (#1844)
  docs/3x/PT_MXQuant.md
  examples/.config/model_params_pytorch_3x.json
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/mx_quant/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/mx_quant/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/mx_quant/run_clm_no_trainer.py
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/CODE_OF_CONDUCT.md
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/CONTRIBUTING.md
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/LICENSE
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/README.md
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/data_loader_terabyte.py
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/data_utils.py
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/dlrm_data_pytorch.py
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/dlrm_s_pytorch.py
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/extend_distributed.py
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/requirements.txt
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/run_benchmark.sh
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/run_quant.sh
  neural_compressor/torch/quantization/autotune.py
  neural_compressor/torch/quantization/quantize.py
Due: .azure-pipelines/ut-3x-pt.yml

Update examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/README.md
Due: none

Add PT2E cv&llm example (#1853)
  docs/3x/PT_StaticQuant.md
  examples/.config/model_params_pytorch_3x.json
  examples/3.x_api/pytorch/cv/static_quant/README.md
  examples/3.x_api/pytorch/cv/static_quant/extract_ILSVRC.sh
  examples/3.x_api/pytorch/cv/static_quant/main.py
  examples/3.x_api/pytorch/cv/static_quant/requirements.txt
  examples/3.x_api/pytorch/cv/static_quant/run_quant.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_quant.sh
Due: none

Update llm_recipes.md
  docs/source/llm_recipes.md
Due: none

support set_local for pt2e
  neural_compressor/torch/algorithms/pt2e_quant/half_precision_rewriter.py
  neural_compressor/torch/algorithms/pt2e_quant/utility.py
  neural_compressor/torch/utils/environ.py
  test/3x/torch/quantization/test_pt2e_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

return last qmodel directly
  neural_compressor/common/base_tuning.py
  neural_compressor/tensorflow/quantization/autotune.py
  neural_compressor/torch/quantization/autotune.py
Due: .azure-pipelines/ut-3x-pt.yml

Update SQ/WOQ status (#1869)
  docs/source/llm_recipes.md
Due: none

Modify WOQ examples structure (#1866)
  .azure-pipelines/scripts/models/run_pytorch_models_trigger.sh
  docs/3x/PT_WeightOnlyQuant.md
  examples/.config/model_params_pytorch_3x.json
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_quant.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/utils.py
  neural_compressor/torch/algorithms/weight_only/modules.py
  neural_compressor/torch/algorithms/weight_only/save_load.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml

update v2.6 release readme
  README.md
  conda_meta/basic/meta.yaml
  conda_meta/neural_insights/meta.yaml
  conda_meta/neural_solution/meta.yaml
  docs/source/installation_guide.md
Due: none

remove onnx 3x binary
  docs/source/installation_guide.md
Due: none

update v2.6 release readme (#1871)
  README.md
  conda_meta/basic/meta.yaml
  conda_meta/neural_insights/meta.yaml
  conda_meta/neural_solution/meta.yaml
  docs/source/installation_guide.md
Due: none
