Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

add keras models
  examples/.config/model_params_keras_3x.json
  examples/.config/model_params_tensorflow_3x.json
  examples/3.x_api/tensorflow/cv/mobilenet_v2/quantization/ptq/main.py
  examples/3.x_api/tensorflow/keras/cv/imagenet_prepare/build_imagenet_data.py
  examples/3.x_api/tensorflow/keras/cv/imagenet_prepare/download_and_convert_imagenet.sh
  examples/3.x_api/tensorflow/keras/cv/imagenet_prepare/download_imagenet.sh
  examples/3.x_api/tensorflow/keras/cv/imagenet_prepare/imagenet_lsvrc_2015_synsets.txt
  examples/3.x_api/tensorflow/keras/cv/imagenet_prepare/imagenet_metadata.txt
  examples/3.x_api/tensorflow/keras/cv/inception_v3/quantization/ptq/README.md
  examples/3.x_api/tensorflow/keras/cv/inception_v3/quantization/ptq/data_process.py
  examples/3.x_api/tensorflow/keras/cv/inception_v3/quantization/ptq/main.py
  examples/3.x_api/tensorflow/keras/cv/inception_v3/quantization/ptq/prepare_model.py
  examples/3.x_api/tensorflow/keras/cv/inception_v3/quantization/ptq/requirements.txt
  examples/3.x_api/tensorflow/keras/cv/inception_v3/quantization/ptq/run_benchmark.sh
  examples/3.x_api/tensorflow/keras/cv/inception_v3/quantization/ptq/run_quant.sh
  examples/3.x_api/tensorflow/keras/cv/mobilenet_v2/quantization/ptq/README.md
  examples/3.x_api/tensorflow/keras/cv/mobilenet_v2/quantization/ptq/data_process.py
  examples/3.x_api/tensorflow/keras/cv/mobilenet_v2/quantization/ptq/main.py
  examples/3.x_api/tensorflow/keras/cv/mobilenet_v2/quantization/ptq/prepare_model.py
  examples/3.x_api/tensorflow/keras/cv/mobilenet_v2/quantization/ptq/requirements.txt
  examples/3.x_api/tensorflow/keras/cv/mobilenet_v2/quantization/ptq/run_benchmark.sh
  examples/3.x_api/tensorflow/keras/cv/mobilenet_v2/quantization/ptq/run_quant.sh
  examples/3.x_api/tensorflow/keras/cv/prepare_dataset.sh
  examples/3.x_api/tensorflow/keras/cv/resnet_v2_50/quantization/ptq/README.md
  examples/3.x_api/tensorflow/keras/cv/resnet_v2_50/quantization/ptq/data_process.py
  examples/3.x_api/tensorflow/keras/cv/resnet_v2_50/quantization/ptq/main.py
  examples/3.x_api/tensorflow/keras/cv/resnet_v2_50/quantization/ptq/prepare_model.py
  examples/3.x_api/tensorflow/keras/cv/resnet_v2_50/quantization/ptq/requirements.txt
  examples/3.x_api/tensorflow/keras/cv/resnet_v2_50/quantization/ptq/run_benchmark.sh
  examples/3.x_api/tensorflow/keras/cv/resnet_v2_50/quantization/ptq/run_quant.sh
Due: none

add docstring for base tuning
  neural_compressor/common/base_tuning.py
Due: .azure-pipelines/ut-3x-pt.yml

fix zp and scale factor
  neural_compressor/adaptor/tf_utils/graph_rewriter/int8/convert_qdq_to_uniform_qdq.py
  neural_compressor/tensorflow/quantization/utils/graph_rewriter/generic/pre_optimize.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix bf16 symbolic_trace bug (#1892)
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/pytorch_cpu.yaml
  neural_compressor/adaptor/torch_utils/bf16_convert.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch_2x.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fdsa
  neural_compressor/common/benchmark.py
  neural_compressor/common/utils/logger.py
Due: .azure-pipelines/ut-3x-pt.yml

revert pre-commit change
  .pre-commit-config.yaml
Due: none

fix the tuning param
  neural_compressor/common/tuning_param.py
  neural_compressor/common/utils/__init__.py
  neural_compressor/common/utils/constants.py
  neural_compressor/common/utils/logger.py
  neural_compressor/common/utils/save_load.py
  neural_compressor/common/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

update fp4_e2m1 mapping list
  neural_compressor/torch/algorithms/weight_only/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

Update utility.py
  neural_compressor/torch/algorithms/weight_only/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

bump version
  neural_compressor/version.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

support habana fp8 test
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/ut/3x/collect_log_3x.sh
  .azure-pipelines/scripts/ut/3x/coverage.3x_pt_fp8
  .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/ut-3x-pt-fp8.yml
  neural_compressor/torch/utils/environ.py
  test/3x/torch/algorithms/fp8_quant/test_basic.py
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

bug fix
  neural_compressor/torch/utils/environ.py
Due: .azure-pipelines/ut-3x-pt.yml

fix docker link
  .azure-pipelines/template/docker-template.yml
Due: none

fix bug
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

[SW-184689] use finalize_calibration intrenaly for one step flow
  examples/fp8_sample/sample_one_step.py
  neural_compressor/torch/algorithms/fp8_quant/fp8_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

fix model path
  test/3x/torch/algorithms/fp8_quant/test_basic.py
Due: .azure-pipelines/ut-3x-pt.yml

update fp4_e2m1 mapping list (#1906)
  neural_compressor/torch/algorithms/weight_only/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

Add docstring for `common` module (#1905)
  neural_compressor/common/__init__.py
  neural_compressor/common/base_config.py
  neural_compressor/common/base_tuning.py
  neural_compressor/common/tuning_param.py
  neural_compressor/common/utils/__init__.py
  neural_compressor/common/utils/constants.py
  neural_compressor/common/utils/logger.py
  neural_compressor/common/utils/save_load.py
  neural_compressor/common/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

update test scripts
  .azure-pipelines/template/docker-template.yml
  test/3x/torch/algorithms/fp8_quant/test_basic.py
Due: .azure-pipelines/ut-3x-pt.yml

enhance the detect logic
  neural_compressor/common/utils/utility.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/test_config.py
Due: .azure-pipelines/ut-3x-pt.yml

update ut test
  test/3x/torch/algorithms/fp8_quant/test_basic.py
Due: .azure-pipelines/ut-3x-pt.yml

add client quant doc
  docs/3x/client_quant.md
Due: none

update UT
  test/3x/common/test_benchmark.py
Due: none

support habana fp8 UT test in CI (#1909)
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/ut/3x/collect_log_3x.sh
  .azure-pipelines/scripts/ut/3x/coverage.3x_pt_fp8
  .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/ut-3x-pt-fp8.yml
  neural_compressor/torch/utils/environ.py
  test/3x/torch/algorithms/fp8_quant/test_basic.py
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

bump version into 3.0 (#1908)
  neural_compressor/version.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add autoround
  neural_compressor/common/utils/constants.py
  neural_compressor/common/utils/utility.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/utility.py
  test/3x/common/test_utility.py
  test/3x/torch/test_config.py
Due: .azure-pipelines/ut-3x-pt.yml

export teq model
  neural_compressor/torch/algorithms/weight_only/teq.py
Due: .azure-pipelines/ut-3x-pt.yml

add numba pack
  neural_compressor/torch/algorithms/weight_only/modules.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

implement `incbench` command for ease-of-use benchmark (#1884)
  docs/3x/benchmark.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/run_clm_no_trainer.py
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/dlrm_s_pytorch.py
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/run_benchmark.sh
  neural_compressor/common/base_config.py
  neural_compressor/common/benchmark.py
  neural_compressor/common/utils/utility.py
  neural_compressor/tensorflow/utils/utility.py
  neural_compressor/torch/algorithms/static_quant/utility.py
  neural_compressor/torch/utils/utility.py
  neural_insights/components/model/onnxrt/model.py
  neural_insights/components/model/tensorflow/model.py
  requirements_ort.txt
  setup.py
  test/3x/common/test_benchmark.py
  test/3x/common/test_utility.py
Due: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml

mimor fix numba
  neural_compressor/torch/algorithms/weight_only/modules.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

fix import issues
  examples/3.x_api/tensorflow/cv/resnet_v2_50/quantization/ptq/main.py
  examples/3.x_api/tensorflow/nlp/transformer_lt/quantization/ptq/main.py
  examples/3.x_api/tensorflow/object_detection/faster_rcnn_resnet50/quantization/ptq/main.py
  examples/3.x_api/tensorflow/object_detection/mask_rcnn_inception_v2/quantization/ptq/main.py
  examples/3.x_api/tensorflow/object_detection/ssd_mobilenet_v1/quantization/ptq/main.py
  examples/3.x_api/tensorflow/recommendation/wide_deep_large_ds/quantization/ptq/main.py
Due: none

apply mask
  neural_compressor/torch/algorithms/weight_only/modules.py
Due: .azure-pipelines/ut-3x-pt.yml

fixed export
  neural_compressor/torch/algorithms/weight_only/teq.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-191945] align requirement_pt.txt in gerrit INC with Github INC
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml
