Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

fix error message for different python version
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_functions/test_config_json.py
Due: .azure-pipelines/ut-3x-pt.yml

update requirement
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/requirements-autoround-hpu.txt
Due: none

fix device issue during calibration
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-214088] Fix graph break caused by PatchedMixtralMoE (#74)
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/ut-3x-pt.yml

fix error message for different python version (#2099)
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_functions/test_config_json.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-208528] Support FP8 per channel Q/DQ (#13)
  neural_compressor/torch/algorithms/fp8_quant/_core/quant_dequant.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_qdq.py
Due: .azure-pipelines/ut-3x-pt.yml

fix UT of RTN on HPU (#2098)
  .azure-pipelines/ut-3x-pt-fp8.yml
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

remove redundant code
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

fix device issue during calibration (#2100)
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
Due: none

fix woq example and update document for v1.19.0 (#2097)
  .azure-pipelines/template/docker-template.yml
  README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/requirements-autoround-hpu.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
  neural_compressor/evaluation/lm_eval/models/huggingface.py
  test/3x/torch/requirements.txt
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[SW-204341] explicit scale format for ops (#73)
  neural_compressor/torch/algorithms/fp8_quant/_core/quant_dequant.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quantized_hpu_ops.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_functions/test_matmul_fp8.py
Due: .azure-pipelines/ut-3x-pt.yml

Refactor version import paths to common module (#2095)
  neural_compressor/common/__init__.py
  neural_compressor/common/version.py
Due: .azure-pipelines/ut-3x-pt.yml

fix
  .azure-pipelines/docker/Dockerfile.devel
  docker/README.md
Due: none

fix
  .azure-pipelines/docker/DockerfileWithNC.devel
Due: none

fix
  .azure-pipelines/code-scan.yml
  .azure-pipelines/model-test-3x.yml
  .azure-pipelines/model-test.yml
  .azure-pipelines/ut-3x-pt-fp8.yml
  .azure-pipelines/ut-3x-pt.yml
  .azure-pipelines/ut-3x-tf.yml
  .azure-pipelines/ut-basic.yml
Due: none

fix
  .azure-pipelines/docker/DockerfileCodeScan.devel
Due: none

fix device mapping issue of llama gptq
  neural_compressor/torch/algorithms/weight_only/gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

Update gptq.py
  neural_compressor/torch/algorithms/weight_only/gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

use 2204
  .azure-pipelines/template/docker-template.yml
Due: none

[SW-213890] Revert "[SW-213890] Disable test_two_step_layer_wise temporarily (#84)" (#86)
  test/3x/torch/quantization/fp8_quant/test_layer_wise.py
Due: .azure-pipelines/ut-3x-pt.yml

update CI gaudi-docker to 1.19.0 (#2096)
  .azure-pipelines/code-scan.yml
  .azure-pipelines/docker/DockerfileWithNC.devel
  .azure-pipelines/model-test-3x.yml
  .azure-pipelines/model-test.yml
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/ut-3x-pt-fp8.yml
  .azure-pipelines/ut-3x-pt.yml
  .azure-pipelines/ut-3x-tf.yml
  .azure-pipelines/ut-basic.yml
  docker/README.md
Due: none

update CI to install auto-round
  .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic.yml

update requirements
  test/3x/torch/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml

fix device mapping issue of llama gptq (#2101)
  neural_compressor/torch/algorithms/weight_only/gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

correct name
  test/3x/torch/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml

add ar back
  .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic.yml

add more requirements
  test/3x/torch/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml

bump to 3.2
  README.md
Due: none

skip unstable ut on hpu
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

Doc: Update readme.md and 3x/FP8_quant
  README.md
  docs/source/3x/PT_FP8Quant.md
  docs/source/3x/imgs/optimum-habana.png
  docs/source/3x/imgs/vllm_gaudi.png
Due: none

Revert "[SW-205334][SW-187731] llama70b vLLM fix graph breaks with torch.com…" (#87)
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  test/3x/torch/algorithms/fp8_quant/test_register_apis.py
Due: .azure-pipelines/ut-3x-pt.yml

update publication_list.md
  docs/source/publication_list.md
Due: none

[ALGO-809] PatchedLmHeadLinearAllreduce: replacing the sharding code with the one from deepspeed-fork (#85)
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/ut-3x-pt.yml

Doc: Update readme.md (#2083)
  README.md
  docs/source/3x/PT_FP8Quant.md
  docs/source/3x/imgs/optimum-habana.png
  docs/source/3x/imgs/vllm_gaudi.png
Due: none

update publication_list.md (#2105)
  docs/source/publication_list.md
Due: none

Update requirements.txt
  test/3x/torch/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml

fix bug of FusedMoE object has no attribute w13_weight (#94)
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/ut-3x-pt.yml

freeze version
  .pre-commit-config.yaml
Due: none

update the License
  .github/license_template.txt
Due: none
