Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-insights.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test-3x.yml:
  stages:
  - stage: PyTorchModels
    displayName: Run PyTorch Model
    pool: ICX-16C
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.PyTorch_Model_3X }}', 'true'))
    jobs:
    - ${{ each model in parameters.PyTorchModelList }}:
      - job: null
        displayName: ${{ model }}
        steps:
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-ort.yml:
  pool: ICX-16C
  stages:
  - stage: ONNXRT
    displayName: Unit Test ONNXRT
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test ONNXRT
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ort
  ...

.azure-pipelines/ut-3x-pt-fp8.yml:
  pool: GAUDI
  stages:
  - stage: Torch_habana
    displayName: Torch 3x Habana FP8
    dependsOn: []
    jobs:
    - job: null
      displayName: Torch 3x Habana FP8
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: 3x/run_3x_pt
  ...

add pure RTN mxfp4 in run_quant.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/llama3/run_quant.sh
Due: none

refactor autoround
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

add test_static_afp8_export&test_static_afp8_export
  neural_compressor/torch/algorithms/weight_only/autoround.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

fix key
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/ut-3x-pt.yml

fix key
  neural_compressor/torch/quantization/algorithm_entry.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

update readme of PT_MXQuant and example
  docs/source/3x/PT_MXQuant.md
  examples/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/llama3/run_quant.sh
Due: none

update
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/quantize.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/quantize.py
Due: none

add link
  examples/README.md
Due: none

Update README.md
  examples/README.md
Due: none

refine docs.
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm_qat/accelerate_config/fsdp2.yaml
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm_qat/main.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm_qat/utils.py
Due: none

Add autoround xpu ut (#2332)
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/ut-3x-pt.yml

refine doc.
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm_qat/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm_qat/main.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm_qat/quantize_autoround.py
Due: none

add ut.
  test/3x/torch/algorithms/qat/test_qat.py
Due: .azure-pipelines/ut-3x-pt.yml

Add FramePack example (#2341)
  examples/README.md
  examples/pytorch/diffusion_model/diffusers/framepack/README.md
  examples/pytorch/diffusion_model/diffusers/framepack/main.py
  examples/pytorch/diffusion_model/diffusers/framepack/requirements.txt
  examples/pytorch/diffusion_model/diffusers/framepack/run_benchmark.sh
  examples/pytorch/diffusion_model/diffusers/framepack/setup.sh
Due: none

support set_local
  neural_compressor/torch/quantization/algorithm_entry.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

replace fp4 packing func.
  neural_compressor/torch/algorithms/qat/mxfp4_packing.py
  neural_compressor/torch/algorithms/qat/tensor_quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

update
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/llama3/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/llama3/run_quant.sh
Due: none

update
  docs/source/3x/PT_NVFP4Quant.md
Due: none

Add DS/QWEN Examples (#2333)
  examples/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/generate.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/quantize.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/run_evaluation.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/run_generate.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/run_quant.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/generate.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/quantize.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_generate.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_quant.sh
Due: none

autotune target_bits example for llama recipe (#2344)
  docs/source/3x/PT_MXQuant.md
  examples/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/llama3/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/llama3/quantize.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/llama3/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/llama3/run_benchmark.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/llama3/run_quant.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/mix-precision/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/mix-precision/quantize.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/mix-precision/recipes/Meta-Llama-3.1-8B-Instruct_7bits.json
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/mix-precision/recipes/Meta-Llama-3.3-70B-Instruct_5bits.json
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/mix-precision/run_hf_inf.py
  neural_compressor/common/base_config.py
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/auto_accelerator.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml

update ar version v0.9.2rc
  test/3x/torch/quantization/weight_only/test_autoround.py
  test/3x/torch/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml

remove transformers ut
  test/3x/torch/quantization/weight_only/test_transformers.py
Due: .azure-pipelines/ut-3x-pt.yml

fix target_bits ut
  neural_compressor/torch/algorithms/weight_only/autoround.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

update xin comments
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/quantization/algorithm_entry.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

update layer config keys
  neural_compressor/torch/quantization/algorithm_entry.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

update ar v0.9.3rc and ut
  neural_compressor/torch/algorithms/weight_only/autoround.py
  test/3x/torch/quantization/weight_only/test_autoround.py
  test/3x/torch/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

split autoround from woq
  neural_compressor/torch/algorithms/autoround/__init__.py
  neural_compressor/torch/algorithms/autoround/autoround.py
  neural_compressor/torch/quantization/algorithm_entry.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

update import
  neural_compressor/torch/algorithms/autoround/autoround.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

update codeowners (#336)
  CODEOWNERS
Due: none

[GAUDISW-244137] Set FusedMoE and VllmMixtureOfExperts to support dynamic quantization (#328)
  neural_compressor/torch/algorithms/fp8_quant/_core/patching_common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

move test_autoround.py
  neural_compressor/torch/algorithms/autoround/autoround.py
  test/3x/torch/quantization/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

add reloading
  neural_compressor/torch/algorithms/autoround/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

add reload in ut
  test/3x/torch/quantization/test_autoround.py
Due: .azure-pipelines/ut-3x-pt.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/code-scan.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test-3x.yml: any of: neural_compressor/common, neural_compressor/torch, examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only, setup.py, requirements_pt.txt, .azure-pipelines/scripts/models, .azure-pipelines/model-test-3x.yml, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/model-test.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, .azure-pipelines/model-test.yml, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt-fp8.yml: any of: .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/template/docker-template.yml, neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, test/3x/torch/algorithms/fp8_quant, test/3x/torch/quantization/fp8_quant, test/3x/torch/quantization/weight_only/test_rtn.py, test/3x/torch/quantization/weight_only/test_load.py, setup.py, requirements_pt.txt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, test/3x/common, setup.py, requirements_pt.txt, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/ut-3x-tf.yml: any of: neural_compressor/common, neural_compressor/tensorflow, test/3x/tensorflow, test/3x/common, setup.py, requirements_tf.txt, .azure-pipelines/scripts/ut/3x/run_3x_tf.sh, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/ut-basic.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers, neural_compressor/evaluation, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
