Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

remove cuda
  test/3x/torch/quantization/weight_only/hqq/test_hqq_cuda.py
Due: .azure-pipelines/ut-3x-pt.yml

enhance code
  neural_compressor/torch/algorithms/weight_only/modules.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/algorithms/weight_only/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

clean adaptor
  test/adaptor/onnxrt_adaptor/test_adaptor_onnxrt.py
  test/adaptor/onnxrt_adaptor/test_onnxrt_augment.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch_1x.py
  test/adaptor/tensorflow_adaptor/test_bf16_convert.py
  test/adaptor/tensorflow_adaptor/test_tensorboard.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_calculate_op_sensitivity.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_graph_concat.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_graph_conv_as_output.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_graph_conv_fusion.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_graph_debug_mode.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_graph_dump_tensor.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_graph_input_output.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_graph_matmul_fusion.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_graph_meta_pass.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_graph_pad_conv.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_graph_post_cse_optimize.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_inspect_tensor.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_inspect_tensor_in_mse_tuning.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_quantize_input.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_query_yaml.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_set_tensor.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_strip_equivalent_nodes.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

correct name
  test/3x/torch/quantization/weight_only/test_hqq.py
Due: .azure-pipelines/ut-3x-pt.yml

fixed UT
  test/adaptor/onnxrt_adaptor/test_adaptor_onnxrt.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

update the pruer config
  neural_compressor/compression/pruner/utils.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add ut
  neural_compressor/torch/algorithms/weight_only/teq.py
  test/3x/torch/algorithms/weight_only/test_teq_quantizer.py
Due: .azure-pipelines/ut-3x-pt.yml

skip load hf model
  test/utils/test_huggingface.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

add 2.x UTs back
  test/tfnewapi/test_big_saved_model.py
  test/tfnewapi/test_smooth_quant_newapi.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

change log folder and add UTs
  neural_compressor/common/base_config.py
  neural_compressor/common/benchmark.py
  neural_compressor/common/utils/utility.py
  test/3x/common/test_benchmark.py
  test/3x/common/test_utility.py
Due: .azure-pipelines/ut-3x-pt.yml

fix bf16 symbolic_trace bug
  neural_compressor/adaptor/torch_utils/bf16_convert.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

patch 1
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add requirement
  requirements_ort.txt
Due: none

disable some check
  neural_compressor/torch/algorithms/weight_only/teq.py
Due: .azure-pipelines/ut-3x-pt.yml

Fix sql injection for Neural Solution gRPC (#1879)
  neural_solution/frontend/utility.py
Due: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-neural-solution.yaml

bump version
  neural_compressor/version.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Remove Gelu Fusion for TF Newapi (#1886)
  neural_compressor/tensorflow/quantization/utils/graph_rewriter/generic/fuse_gelu.py
  test/3x/tensorflow/quantization/ptq/newapi/test_graph_fuse_gelu_newapi.py
Due: none

fix conflict
  README.md
  docs/3x/PT_WeightOnlyQuant.md
  docs/3x/PyTorch.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
  neural_compressor/common/base_config.py
  neural_compressor/torch/algorithms/pt2e_quant/half_precision_rewriter.py
  neural_compressor/torch/algorithms/pt2e_quant/utility.py
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/hqq/quantizer.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/constants.py
  neural_compressor/torch/utils/environ.py
  neural_compressor/torch/utils/utility.py
  neural_solution/frontend/utility.py
  test/3x/torch/algorithms/weight_only/test_hqq_quantizer.py
  test/3x/torch/quantization/test_pt2e_quant.py
  test/3x/torch/quantization/weight_only/hqq/test_hqq_config.py
  test/3x/torch/quantization/weight_only/hqq/test_hqq_cpu.py
  test/3x/torch/quantization/weight_only/hqq/test_packer.py
  test/3x/torch/quantization/weight_only/test_awq.py
  test/3x/torch/quantization/weight_only/test_gptq.py
  test/3x/torch/quantization/weight_only/test_mixed_algos.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-neural-solution.yaml

Refine HQQ UTs (#1888)
  test/3x/torch/quantization/weight_only/hqq/test_hqq_cuda.py
  test/3x/torch/quantization/weight_only/test_hqq.py
Due: .azure-pipelines/ut-3x-pt.yml

fix auto_host2device
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/modules.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/quantization/weight_only/test_gptq.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

fix ut
  test/3x/torch/quantization/weight_only/test_awq.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

fixed load issue
  neural_compressor/utils/load_huggingface.py
  test/utils/test_huggingface.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

refine doc
  neural_compressor/utils/load_huggingface.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

modify path
  docs/3x/PT_MixPrecision.md
  examples/.config/model_params_pytorch_3x.json
  examples/3.x_api/pytorch/cv/mixed_precision/README.md
  examples/3.x_api/pytorch/cv/mixed_precision/main.py
  examples/3.x_api/pytorch/cv/mixed_precision/requirements.txt
  examples/3.x_api/pytorch/cv/mixed_precision/run_autotune.sh
  examples/3.x_api/pytorch/cv/mixed_precision/run_benchmark.sh
Due: none

move conf alias into torch load
  neural_compressor/utils/load_huggingface.py
  neural_compressor/utils/pytorch.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fake test
  test/nas/test_fake.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

rename test
  test/nas/test_nas.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

revert change
  test/nas/test_fake.py
  test/nas/test_nas.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

temp fix nas deps issue
  .azure-pipelines/docker/Dockerfile.devel
Due: none

fix pre-commit
  .azure-pipelines/scripts/codeScan/codespell/inc_dict.txt
  .pre-commit-config.yaml
  examples/pytorch/nlp/huggingface_models/question-answering/distillation/eager/utils_qa.py
  examples/pytorch/nlp/huggingface_models/question-answering/optimization_pipeline/prune_once_for_all/fx/utils_qa.py
  neural_compressor/adaptor/torch_utils/hawq_metric.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

tmp fix nas deps issue (#1896)
  .azure-pipelines/docker/Dockerfile.devel
Due: none

remove import pdb
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv2/quantization/ptq_dynamic/main.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv2/quantization/ptq_static/main.py
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/fx/python/models/utils.py
  neural_coder/coders/tensorflow/amp.py
  neural_coder/coders/tensorflow/inc.py
  neural_compressor/strategy/strategy.py
  neural_compressor/torch/algorithms/habana_fp8/fp8_quant.py
  test/pruning_with_pt/pruning_2.x/test_auto_excluding_classifier.py
  test/pruning_with_pt/pruning_2.x/test_auto_slim.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml

remove pytorch eager mode model test
  .azure-pipelines/model-test.yml
Due: none

remove pytorch eager mode model test (#1898)
  .azure-pipelines/model-test.yml
Due: none

update mix_precision usage
  neural_compressor/adaptor/pytorch_cpu.yaml
  neural_compressor/adaptor/torch_utils/bf16_convert.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch_1x.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch_2x.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

support auto_host2device on RTN and GPTQ(#1894)
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/modules.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/quantization/weight_only/test_gptq.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml
