Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

refine phi3 example
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/README.md
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

remove itrex ci
  .azure-pipelines/scripts/ut/run_itrex.sh
  .azure-pipelines/ut-itrex.yml
  .github/checkgroup.yml
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add transformers-like api link in readme
  README.md
Due: none

fix code coverage
  neural_compressor/torch/utils/utility.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-204016] Enable scale calculation with disk offload in INC
  neural_compressor/torch/algorithms/fp8_quant/_core/quantize.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
Due: .azure-pipelines/ut-3x-pt.yml

add transformers-like api link in readme (#2022)
  README.md
Due: none

update autoround config
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_quant.sh
Due: none

rm itrex dependency for 2x example
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/main.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/run_clm_sparsegpt.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

add transformers-like api link in readme (#2023)
  README.md
Due: none

update config
  examples/.config/model_params_pytorch_3x.json
Due: none

[SW-202614] Llama70b int4 gptq with INC load flow - getting host OOM
  neural_compressor/torch/algorithms/weight_only/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

Add woq examples (#1982)
  examples/.config/model_params_pytorch_3x.json
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_quant.sh
Due: none

update ipex AutoTokenizer import
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

update onnxrt ptq_static
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/requirements.txt
Due: none

add numba/pydantic dependencies
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/requirements.txt
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/requirements.txt
Due: none

Squashed commit of the following:
  examples/fp8_sample/README.md
  examples/fp8_sample/maxabs_measure.json
  examples/fp8_sample/maxabs_quant.json
  examples/fp8_sample/quant_config.json
  examples/fp8_sample/sample_one_step.py
  examples/fp8_sample/sample_two_steps.py
  neural_compressor/evaluation/hf_eval/hf_datasets/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/_core/common.py
  neural_compressor/torch/algorithms/fp8_quant/_core/fp_utils.py
  neural_compressor/torch/algorithms/fp8_quant/_core/measure.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quant_dequant.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quantize.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
  neural_compressor/torch/algorithms/fp8_quant/_core/utils.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  neural_compressor/torch/algorithms/fp8_quant/common.py
  neural_compressor/torch/algorithms/fp8_quant/fp8_quant.py
  neural_compressor/torch/algorithms/fp8_quant/utils/logger.py
  neural_compressor/torch/algorithms/mixed_low_precision/custom_methods/gptq.py
  neural_compressor/torch/algorithms/mixed_low_precision/internal/methods_scripts/gptq_quant_and_eval.sh
  neural_compressor/torch/algorithms/mixed_low_precision/internal/quantization_methods/quantize_gptq.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/transformers/quantization/__init__.py
  neural_compressor/transformers/utils/__init__.py
  test/3x/torch/algorithms/fp8_quant/fp8_tests.py
  test/3x/torch/algorithms/fp8_quant/tester.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_deepspeed.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_fakequant.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_functions/test_config_json.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_functions/test_matmul_fp8.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/__init__.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_conv2d.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_linear.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_matmul.py
  test/3x/torch/quantization/test_pt2e_quant.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix missing
  neural_compressor/evaluation/hf_eval/hf_datasets/__init__.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/transformers/quantization/__init__.py
  neural_compressor/transformers/utils/__init__.py
  test/3x/torch/quantization/test_pt2e_quant.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[SW-192016] fix measurements tool
  neural_compressor/torch/algorithms/fp8_quant/scripts/fix_measurements.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-192996] llama promotion pip install versions collision of INC dependencies
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

[SW-199642] Fix way of getting device type in scale calculation in INC
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/max_abs.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/smooth_quant.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_fakequant.py
Due: .azure-pipelines/ut-3x-pt.yml

Revert "[SW-194429] Workaround to cholesky accuracy issue"
  neural_compressor/torch/algorithms/weight_only/gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-198238] support scales as scalar for low bs perf
  neural_compressor/torch/algorithms/fp8_quant/_core/quant_dequant.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_handler.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-174155] Revert ProcessSafeReadWriteLock implementation
  neural_compressor/torch/algorithms/fp8_quant/_core/common.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-200060] fixed missing __init__.py in quarot
  neural_compressor/torch/algorithms/mixed_low_precision/__init__.py
  neural_compressor/torch/algorithms/mixed_low_precision/custom_methods/__init__.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-199866] removing PatchedMoeMatmul weight contiguous call on measure
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-200369] Ignoring dump_stats_path on quant only scale methods
  neural_compressor/torch/algorithms/fp8_quant/_core/measure.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  test/3x/torch/algorithms/fp8_quant/tester.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_functions/__init__.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_functions/test_config_json.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-196480] Add pow2 scale config for more modules
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/max_abs.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-198220] Set PatchedSoftmax to work with CONST scale only
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-199769] Bugfix: fixing ignored types in whitelist
  neural_compressor/torch/algorithms/fp8_quant/_core/utils.py
Due: .azure-pipelines/ut-3x-pt.yml

[ALGO-797] enabled quarot - modified unittest, improved scripts readability
  neural_compressor/torch/algorithms/mixed_low_precision/custom_methods/quarot.py
  neural_compressor/torch/algorithms/mixed_low_precision/custom_methods/quarot_utils.py
  neural_compressor/torch/algorithms/mixed_low_precision/internal/quantization_methods/quantize_gptq.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_quarot.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-198294] INC to read world size and local rank from torch.distributed instead of deepspeed env
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-197033][SW-197034] Separate unit scale from measurement and add HW_aligned scale
  docs/source/3x/PT_FP8Quant.md
  neural_compressor/torch/algorithms/fp8_quant/_core/quantize.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/single_scale.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/unit_scale.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  test/3x/torch/algorithms/fp8_quant/test_jsons/test_hw_aligned_quant.json
  test/3x/torch/algorithms/fp8_quant/tester.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_conv2d.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_linear.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_matmul.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-198220] Fix bug with scale_to_scalar with dim != 0
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_handler.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-201115] [performance] fallback ops from hpu to cpu
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/modules.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-198578] fix parsing of default fake_quant config
  neural_compressor/torch/quantization/config.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_fp8_config.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-180042] Change HQT HF8_143 max range
  neural_compressor/torch/algorithms/fp8_quant/_core/fp_utils.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/max_abs.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/smooth_quant.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_fakequant.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-198690] Import numba packing func when needed
  neural_compressor/torch/algorithms/weight_only/modules.py
  neural_compressor/torch/utils/bit_packer.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-187399] Support vLLM Mixtral quantization
  neural_compressor/torch/algorithms/fp8_quant/_core/common.py
  neural_compressor/torch/algorithms/fp8_quant/_core/measure.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quantize.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-199826] rename neural_compressor_3x_pt to neural_compressor_pt and update version to 3.1
  neural_compressor/torch/algorithms/fp8_quant/_core/utils.py
Due: .azure-pipelines/ut-3x-pt.yml
