Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

support fp8 cast WOQ (#1746)
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/algorithms/weight_only/utility.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

remove unused args
  neural_compressor/torch/algorithms/weight_only/rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

upgrade transformers
  neural_compressor_ort/algorithms/layer_wise/core.py
  test/onnxrt/requirements.txt
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Update README.md
  README.md
Due: none

Update CONTRIBUTING.md
  docs/source/CONTRIBUTING.md
Due: none

remove RTNQuantizer
  neural_compressor/torch/algorithms/base_algorithm.py
  neural_compressor/torch/algorithms/weight_only/awq.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/quantize.py
Due: .azure-pipelines/ut-3x-pt.yml

Update calibration.md
  docs/source/calibration.md
Due: none

Update design.md
  docs/source/design.md
Due: none

Update installation_guide.md
  docs/source/installation_guide.md
Due: none

Update SECURITY.md
  docs/source/SECURITY.md
Due: none

Update CODE_OF_CONDUCT.md
  docs/source/CODE_OF_CONDUCT.md
Due: none

Update quantization.md
  docs/source/quantization.md
Due: none

Delete docs/source/legal_information.md
  docs/source/legal_information.md
Due: none

Update coding_style.md
  docs/source/coding_style.md
Due: none

Fix `weight_only` algorithms import (#1742)
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  neural_compressor/torch/algorithms/weight_only/__init__.py
  neural_compressor/torch/algorithms/weight_only/modules.py
  neural_compressor/torch/quantization/algorithm_entry.py
  test/3x/torch/quantization/weight_only/test_gptq.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

map ipex op_name w/ pt op_name (#1740)
  neural_compressor/common/base_config.py
  neural_compressor/torch/algorithms/smooth_quant/smooth_quant.py
  neural_compressor/torch/algorithms/static_quant/static_quant.py
  neural_compressor/torch/algorithms/static_quant/utility.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/quantization/test_static_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

fix get_variable
  test/3x/tensorflow/quantization/ptq/test_bias_correction.py
  test/3x/tensorflow/quantization/ptq/test_data_pipline.py
  test/3x/tensorflow/quantization/ptq/test_graph_conv_as_output.py
Due: none

auto detect available device when exporting (#1743)
  neural_compressor/model/torch_model.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[1/N] Integrate PT2E static PTQ (#1739)
  neural_compressor/torch/algorithms/pt2e_quant/__init__.py
  neural_compressor/torch/algorithms/pt2e_quant/core.py
  neural_compressor/torch/utils/environ.py
  test/3x/torch/algorithms/pt2e_quant/test_pt2e_w8a8.py
Due: .azure-pipelines/ut-3x-pt.yml

Enhance the `set_local` for operator type (#1745)
  neural_compressor/common/base_config.py
  neural_compressor/torch/utils/utility.py
  test/3x/common/test_common.py
  test/3x/torch/test_config.py
Due: .azure-pipelines/ut-3x-pt.yml

Remove version limitation of transformers for ort layer-wise (#1753)
  neural_compressor/onnxrt/algorithms/layer_wise/core.py
  requirements_ort.txt
  test/3x/onnxrt/requirements.txt
Due: .azure-pipelines/ut-itrex.yml

autoround hello example (#1732)
  README.md
  examples/helloworld/torch_woq_autoround/README.md
  examples/helloworld/torch_woq_autoround/requirements.txt
  examples/helloworld/torch_woq_autoround/test.py
Due: none

upgrade lm_eval to 0.4.2 following ITREX (#1727)
  .azure-pipelines/model-test-3x.yml
  .github/checkgroup.yml
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/run_clm_sparsegpt.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

fix model name (#1747)
  docs/source/validated_model_list.md
Due: none

fix keras model check
  neural_compressor/tensorflow/keras/layers/conv2d.py
  neural_compressor/tensorflow/keras/layers/dense.py
  neural_compressor/tensorflow/keras/layers/depthwise_conv2d.py
  neural_compressor/tensorflow/keras/layers/pool2d.py
  neural_compressor/tensorflow/keras/layers/quantizer.py
  neural_compressor/tensorflow/keras/layers/separable_conv2d.py
  neural_compressor/tensorflow/quantization/algorithm_entry.py
  neural_compressor/tensorflow/utils/utility.py
  test/3x/tensorflow/quantization/ptq/test_bias_correction.py
  test/3x/tensorflow/quantization/ptq/test_data_pipline.py
Due: none

Refactor PT 3.x API (#1756)
  neural_compressor/torch/algorithms/__init__.py
  neural_compressor/torch/algorithms/base_algorithm.py
  neural_compressor/torch/algorithms/static_quant/__init__.py
  neural_compressor/torch/algorithms/static_quant/static_quant.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/quantize.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/quantization/test_static_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

Support PTQ on Keras3
  neural_compressor/tensorflow/algorithms/static_quant/keras.py
  neural_compressor/tensorflow/keras/layers/__init__.py
  neural_compressor/tensorflow/keras/layers/conv2d.py
  neural_compressor/tensorflow/keras/layers/dense.py
  neural_compressor/tensorflow/keras/layers/depthwise_conv2d.py
  neural_compressor/tensorflow/keras/layers/pool2d.py
  neural_compressor/tensorflow/keras/layers/quantizer.py
  neural_compressor/tensorflow/keras/layers/separable_conv2d.py
  neural_compressor/tensorflow/quantization/algorithm_entry.py
  neural_compressor/tensorflow/utils/__init__.py
  neural_compressor/tensorflow/utils/utility.py
  test/3x/tensorflow/keras/test_config.py
  test/3x/tensorflow/keras/test_model_wrappers.py
  test/3x/tensorflow/quantization/ptq/newapi/test_graph_conv_fusion_newapi.py
  test/3x/tensorflow/quantization/ptq/newapi/test_graph_conv_requantize_fusion.py
  test/3x/tensorflow/quantization/ptq/newapi/test_graph_depthwiseconv_fusion.py
  test/3x/tensorflow/quantization/ptq/newapi/test_graph_fuse_pad_conv_fp32.py
  test/3x/tensorflow/quantization/ptq/newapi/test_graph_qdq_bn_fusion.py
  test/3x/tensorflow/quantization/ptq/newapi/test_graph_qdq_concat_fusion.py
  test/3x/tensorflow/quantization/ptq/newapi/test_graph_qdq_conv_fusion.py
  test/3x/tensorflow/quantization/ptq/newapi/test_graph_qdq_depthwiseconv_fusion.py
  test/3x/tensorflow/quantization/ptq/newapi/test_graph_qdq_new_conv_fusion.py
  test/3x/tensorflow/quantization/ptq/newapi/test_graph_qdq_pooling_fusion.py
  test/3x/tensorflow/quantization/ptq/test_bias_correction.py
  test/3x/tensorflow/quantization/ptq/test_data_pipline.py
  test/3x/tensorflow/quantization/ptq/test_fold_batch_norm.py
  test/3x/tensorflow/quantization/ptq/test_get_estimator_graph.py
  test/3x/tensorflow/quantization/ptq/test_graph_concat.py
  test/3x/tensorflow/quantization/ptq/test_graph_conv_as_output.py
  test/3x/tensorflow/quantization/ptq/test_graph_conv_fusion.py
  test/3x/tensorflow/quantization/ptq/test_graph_meta_pass.py
  test/3x/tensorflow/quantization/ptq/test_graph_pad_conv.py
  test/3x/tensorflow/quantization/ptq/test_graph_post_cse_optimize.py
  test/3x/tensorflow/quantization/ptq/test_graph_switch_optimizer.py
  test/3x/tensorflow/quantization/ptq/test_query_yaml.py
  test/3x/tensorflow/quantization/test_smooth_quant.py
  test/3x/tensorflow/test_autotune.py
Due: none

update image
  docs/source/imgs/architecture.png
Due: none

use newest tf
  requirements_tf.txt
Due: none

upgrade transformers (#1758)
  neural_compressor_ort/algorithms/layer_wise/core.py
  test/onnxrt/requirements.txt
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml
