Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/code-scan.yml: any of: neural_compressor, setup.py, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test-3x.yml: any of: neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, examples/deprecated/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only, setup.py, requirements_pt.txt, .azure-pipelines/scripts/models, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/model-test-3x.yml, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/model-test.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, .azure-pipelines/model-test.yml, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt-fp8.yml: any of: .azure-pipelines/scripts/ut/run_3x_pt_fp8.sh, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut/coverage.3x_pt_fp8, neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, test/torch/algorithms/fp8_quant, test/torch/quantization/fp8_quant, test/torch/quantization/weight_only/test_rtn.py, test/torch/quantization/weight_only/test_load.py, setup.py, requirements_pt.txt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, test/torch, test/common, setup.py, requirements_pt.txt, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/scripts/ut/run_3x_pt.sh, .azure-pipelines/scripts/ut/coverage.3x_pt
  .azure-pipelines/ut-3x-tf.yml: any of: neural_compressor/common, neural_compressor/tensorflow, test/tensorflow, test/common, setup.py, requirements_tf.txt, .azure-pipelines/scripts/ut/run_3x_tf.sh, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut/coverage.3x_tf
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/ut-basic.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers, neural_compressor/evaluation, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

Enable CT Path (#2450)
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/quantize.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_generate.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/setup_ct.sh
Due: none

Expand test cases for test_simple_linear_model_accuracy
  test/jax/jax_test_utility.py
  test/jax/test_accuracy.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

use single scripts for env setup
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/setup.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/setup_ct.sh
Due: none

add bench tool install
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/setup.sh
Due: none

Expand test cases for test_simple_linear_model_accuracy (#2452)
  test/jax/jax_test_utility.py
  test/jax/test_accuracy.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

bug fix
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/setup.sh
Due: none

add deps
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/setup.sh
Due: none

update setup.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/setup.sh
Due: none

Improvement after review
  test/jax/vit/test_model.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Move helper functions to shared file
  test/__init__.py
  test/jax/__init__.py
  test/jax/jax_test_utility.py
  test/jax/vit/__init__.py
  test/jax/vit/test_model.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

align config
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

fix
  neural_compressor/torch/quantization/config.py
  test/torch/algorithms/weight_only/test_teq_quantizer.py
  test/torch/utils/test_torch_utility.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Fix PT2E quantizer config handling
  neural_compressor/torch/algorithms/pt2e_quant/half_precision_rewriter.py
  neural_compressor/torch/algorithms/pt2e_quant/utility.py
  neural_compressor/torch/quantization/algorithm_entry.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

Fix RTN and PT2E regression paths
  neural_compressor/torch/algorithms/pt2e_quant/core.py
  neural_compressor/torch/algorithms/pt2e_quant/utility.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

fix hpu ut
  .azure-pipelines/scripts/ut/run_3x_pt_hpu.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix hpu install
  .azure-pipelines/scripts/hpu_constraints.txt
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/ut/run_3x_pt_hpu.sh
Due: .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix ut
  .azure-pipelines/scripts/hpu_constraints.txt
  .azure-pipelines/scripts/ut/run_3x_pt_hpu.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix
  .azure-pipelines/scripts/ut/run_3x_pt_hpu.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Align AutoRound layer-wise defaults
  neural_compressor/torch/quantization/config.py
  test/torch/test_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

set AR as default format
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/setup.sh
Due: none

add constraints
  .azure-pipelines/scripts/ut/run_3x_pt_hpu.sh
  test/torch/constraints_hpu.txt
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

freeze torch version for AR test
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_generate.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/setup.sh
Due: none

Update test_pt2e_quant.py
  test/torch/quantization/test_pt2e_quant.py
Due: .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix install vllm
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/setup.sh
Due: none

Improvements after review
  test/__init__.py
  test/jax/__init__.py
  test/jax/jax_test_utility.py
  test/jax/test_vit_quantization.py
  test/jax/vit/__init__.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

add eval env
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

Adapt PT2E Migration and Transformers V5 (#2447)
  neural_compressor/torch/algorithms/pt2e_quant/core.py
  neural_compressor/torch/algorithms/pt2e_quant/half_precision_rewriter.py
  neural_compressor/torch/algorithms/pt2e_quant/pt2e_compat.py
  neural_compressor/torch/algorithms/pt2e_quant/utility.py
  neural_compressor/torch/algorithms/weight_only/hqq/core.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/environ.py
  requirements_pt.txt
  test/torch/algorithms/pt2e_quant/test_pt2e_w8a8.py
  test/torch/algorithms/weight_only/test_teq_quantizer.py
  test/torch/quantization/fp8_quant/test_gptq_mixed_precision.py
  test/torch/quantization/test_pt2e_quant.py
  test/torch/test_autotune.py
  test/torch/test_config.py
  test/torch/utils/test_torch_utility.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

test hpu install
  .azure-pipelines/scripts/ut/run_3x_pt_hpu.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix hpu test
  .azure-pipelines/scripts/ut/run_3x_pt_hpu.sh
  test/torch/constraints_hpu.txt
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix deepseek
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/setup.sh
Due: none

setup ds ruler inputs=64k
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/run_evaluation.sh
Due: none

add setting for A100
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/run_evaluation.sh
Due: none

add nvfp4
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/quantize.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_generate.sh
Due: none

fix
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

nvfp4 (#2453)
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/quantize.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_generate.sh
Due: none

Add test for VIT classification after quantization
  test/jax/jax_test_utility.py
  test/jax/test_vit_quantization.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

accept env params
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/setup.sh
Due: none

fix ut
  .azure-pipelines/ut-3x-pt-hpu.yml
  .azure-pipelines/ut-3x-pt.yml
Due: .azure-pipelines/ut-3x-pt.yml
