Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST_TF
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-ort.yml:
  pool: ICX-16C
  stages:
  - stage: ONNXRT
    displayName: Unit Test 3x ONNXRT
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x ONNXRT
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: 3x/run_3x_pt
  ...

.azure-pipelines/ut-basic-no-cover.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-itrex.yml:
  pool: MODEL_PERF_TEST
  stages:
  - stage: null
    displayName: Unit Test of ITREX
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_itrex
          uploadPath: $(UPLOAD_PATH)
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ncoder
          uploadPath: $(UPLOAD_PATH)
  ...

fixed the ut
  test/3x/torch/test_auto_accelerator.py
Due: .azure-pipelines/ut-3x-pt.yml

Update test_smooth_quant.py
  test/3x/torch/quantization/test_smooth_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

support habana FP8 per channel quantization (#1662)
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/run_llm.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/utils.py
  neural_compressor/torch/algorithms/habana_fp8/fp8_quant.py
  neural_compressor/torch/algorithms/habana_fp8/modules.py
  neural_compressor/torch/algorithms/habana_fp8/observer.py
  neural_compressor/torch/algorithms/habana_fp8/save_load.py
  neural_compressor/torch/algorithms/habana_fp8/scale.py
  neural_compressor/torch/amp/fp8/functions.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/quantization/habana_fp8/test_fp8.py
Due: .azure-pipelines/ut-3x-pt.yml

remove test code
  .azure-pipelines/model-test.yml
Due: none

bug fix
  .azure-pipelines/scripts/models/run_pytorch_models_trigger.sh
Due: .azure-pipelines/model-test.yml

update scripts
  .azure-pipelines/model-test-3x.yml
  .azure-pipelines/model-test.yml
  .github/checkgroup.yml
Due: none

Enable 3x WOQ example in CI (#1664)
  .azure-pipelines/model-test-3x.yml
  .azure-pipelines/scripts/models/collect_log_model.py
  .azure-pipelines/scripts/models/env_setup.sh
  .azure-pipelines/scripts/models/generate_report.sh
  .azure-pipelines/scripts/models/run_model_trigger_common.sh
  .azure-pipelines/scripts/models/run_pytorch_models_trigger.sh
  .azure-pipelines/template/model-template.yml
  .github/checkgroup.yml
Due: .azure-pipelines/model-test.yml

Update the main page examples (#1670)
  README.md
Due: none

add x86 quantizer
  neural_compressor/torch/quantization/pt2e/test_models_cmd.py
  neural_compressor/torch/quantization/pt2e/x86_quantizer_hf.py
Due: .azure-pipelines/ut-3x-pt.yml

fix model wrappers
  test/3x/tensorflow/keras/test_model_wrappers.py
  test/3x/tensorflow/test_model_wrappers.py
Due: none

modify save
  neural_compressor/torch/algorithms/smooth_quant/save_load.py
  neural_compressor/torch/algorithms/static_quant/save_load.py
  neural_compressor/torch/quantization/algorithm_entry.py
  test/3x/torch/quantization/test_smooth_quant.py
  test/3x/torch/quantization/test_static_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

Fixed the auto device detection (#1674)
  neural_compressor/torch/utils/environ.py
  test/3x/torch/test_auto_accelerator.py
Due: .azure-pipelines/ut-3x-pt.yml

Add save&load API to SmoothQuant ipex model (#1673)
  neural_compressor/torch/algorithms/smooth_quant/__init__.py
  neural_compressor/torch/algorithms/smooth_quant/save_load.py
  neural_compressor/torch/algorithms/static_quant/__init__.py
  neural_compressor/torch/algorithms/static_quant/save_load.py
  neural_compressor/torch/quantization/algorithm_entry.py
  test/3x/torch/quantization/test_smooth_quant.py
  test/3x/torch/quantization/test_static_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

fix keras model wrapper test and pre-commit issues
  test/3x/tensorflow/keras/test_model_wrappers.py
  test/3x/tensorflow/quantization/newapi/test_big_saved_model.py
  test/3x/tensorflow/quantization/newapi/test_graph_conv_requantize_fusion.py
  test/3x/tensorflow/quantization/newapi/test_graph_qdq_conv3d_fusion.py
  test/3x/tensorflow/quantization/newapi/test_graph_qdq_depthwiseconv_fusion.py
  test/3x/tensorflow/quantization/oldapi/test_graph_input_output.py
  test/3x/tensorflow/quantization/oldapi/test_graph_matmul_fusion.py
  test/3x/tensorflow/quantization/oldapi/test_query_yaml.py
Due: none

import math
  test/3x/tensorflow/quantization/newapi/test_big_saved_model.py
Due: none

update
  neural_compressor/hpu/quantization/config.py
  neural_compressor/hpu/quantization/quantize.py
  neural_compressor/hpu/quantization/quantizer.py
  neural_compressor/hpu/sample.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix keras model input/output detection
  neural_compressor/tensorflow/utils/model_wrappers.py
  test/3x/tensorflow/keras/test_model_wrappers.py
Due: none

fix import
  test/3x/tensorflow/keras/test_model_wrappers.py
Due: none

correct vision model
  examples/helloworld/torch_non_llm/quant_resnet18.py
Due: none

update
  neural_compressor/hpu/quantization/quantize.py
  neural_compressor/hpu/sample.py
  neural_compressor/torch/README.md
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/quantize.py
  neural_compressor/torch/quantization/quantizer.py
  neural_compressor/torch/quantization/quantizer/base_quantizer.py
  neural_compressor/torch/quantization/quantizer/guadi_quantizer.py
  neural_compressor/torch/sample.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

refine the docstring
  neural_compressor/torch/README.md
  neural_compressor/torch/__init__.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/quantize.py
Due: .azure-pipelines/ut-3x-pt.yml

add placeholder for algo
  neural_compressor/torch/algorithms/__init__.py
Due: .azure-pipelines/ut-3x-pt.yml

update
  neural_compressor/__init__.py
  neural_compressor/torch/README.md
  neural_compressor/torch/__init__.py
  neural_compressor/torch/algorithms
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/quantize.py
  neural_compressor/torch/quantization/quantizer.py
  neural_compressor/torch/quantization/quantizer/__init__.py
  neural_compressor/torch/quantization/quantizer/base_quantizer.py
  neural_compressor/torch/quantization/quantizer/guadi_quantizer.py
  neural_compressor/version.py
  setup.py
  test/sample.py
Due: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml

remove
  requirements_ort.txt
  requirements_tf.txt
Due: .azure-pipelines/ut-3x-ort.yml

update
  neural_compressor/torch/README.md
  test/sample.py
Due: .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

update
  neural_compressor/torch/algorithms
Due: .azure-pipelines/ut-3x-pt.yml

Update sample.py
  test/sample.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

correct docstring
  neural_compressor/torch/quantization/quantize.py
Due: .azure-pipelines/ut-3x-pt.yml

Highlight WOQ support on Gaudi2
  README.md
Due: none

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor/common, neural_compressor/onnxrt, test/3x/onnxrt, test/3x/common, setup.py, requirements_ort.txt, .azure-pipelines/scripts/ut/3x/run_3x_ort.sh
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
