Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-insights.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test-3x.yml:
  stages:
  - stage: PyTorchModels
    displayName: Run PyTorch Model
    pool: ICX-16C
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.PyTorch_Model_3X }}', 'true'))
    jobs:
    - ${{ each model in parameters.PyTorchModelList }}:
      - job: null
        displayName: ${{ model }}
        steps:
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-ort.yml:
  pool: ICX-16C
  stages:
  - stage: ONNXRT
    displayName: Unit Test ONNXRT
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test ONNXRT
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ort
  ...

.azure-pipelines/ut-3x-pt-fp8.yml:
  pool: GAUDI
  stages:
  - stage: Torch_habana
    displayName: Torch 3x Habana FP8
    dependsOn: []
    jobs:
    - job: null
      displayName: Torch 3x Habana FP8
      timeoutInMinutes: 120
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          dockerFileName: ubuntu-2404
  ...

Fix JAX install method
  README.md
  docs/source/installation_guide.md
  examples/jax/keras/gemma/README.md
  examples/jax/keras/gemma/requirements.txt
  examples/jax/keras/vit/README.md
  examples/jax/keras/vit/requirements.txt
Due: none

update mapping table for synapse 1.24
  docs/source/gaudi_version_map.md
Due: none

add requirements
  examples/pytorch/diffusion_model/diffusers/wan/README.md
  examples/pytorch/diffusion_model/diffusers/wan/requirements.txt
Due: none

Fix JAX install method (#2485)
  README.md
  docs/source/installation_guide.md
  examples/jax/keras/gemma/README.md
  examples/jax/keras/gemma/requirements.txt
  examples/jax/keras/vit/README.md
  examples/jax/keras/vit/requirements.txt
Due: none

update mapping table for synapse 1.24 (#2486)
  docs/source/gaudi_version_map.md
Due: none

Align dynamic algo to static algo and fix white list bug
  neural_compressor/jax/algorithms/dynamic.py
  neural_compressor/jax/quantization/config.py
  neural_compressor/jax/quantization/saving.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Remove debug stuff commited by accident
  examples/jax/keras/gemma/quantization.py
  test/jax/test_config_on_vit.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Apply suggestion from @bkowalskiINTEL
  neural_compressor/jax/algorithms/dynamic.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Apply suggestions from code review
  neural_compressor/jax/algorithms/dynamic.py
  neural_compressor/jax/algorithms/static.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Apply suggestion from @bkowalskiINTEL
  neural_compressor/jax/quantization/quantize.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Remove redundant op support checks in static/dynamic algorithms
  neural_compressor/jax/algorithms/dynamic.py
  neural_compressor/jax/algorithms/static.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Modify docstring for static_quantize
  neural_compressor/jax/algorithms/static.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Comments cleanup
  neural_compressor/jax/algorithms/static.py
  neural_compressor/jax/quantization/quantize.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Restore gemma example
  examples/jax/keras/gemma/quantization.py
Due: none

Fix comments
  neural_compressor/jax/quantization/config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

for test
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_quant.sh
Due: none

Apply suggestion from code review
  neural_compressor/jax/quantization/saving.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Fix and refactor keras and keras_hub layers registrations
  neural_compressor/jax/quantization/layers_dynamic.py
  neural_compressor/jax/quantization/layers_static.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

remove test code
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_quant.sh
Due: none

Replace master branch with main
  .azure-pipelines/model-test-3x.yml
  .azure-pipelines/scripts/ut/collect_log_3x.sh
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/ut-3x-jax.yml
  .azure-pipelines/ut-3x-pt-hpu.yml
  .azure-pipelines/ut-3x-pt-xpu.yml
  .azure-pipelines/ut-3x-pt.yml
  .azure-pipelines/ut-3x-tf.yml
  .github/workflows/pr-code-sync.yml
  .github/workflows/pr-io-build.yaml
  .github/workflows/pr-link-scan.yml
  .github/workflows/pr-pre-commit.yml
  .github/workflows/publish.yml
  README.md
  docs/build_docs/build.sh
  docs/build_docs/update_html.py
  docs/source/CONTRIBUTING.md
  docs/source/PT_MixedPrecision.md
  docs/source/PT_QAT.md
  docs/source/PT_SmoothQuant.md
  docs/source/PT_StaticQuant.md
  docs/source/PT_WeightOnlyQuant.md
  docs/source/PyTorch.md
  docs/source/TF_Quant.md
  docs/source/TF_SQ.md
  docs/source/installation_guide.md
  docs/source/legal_information.md
  docs/source/transformers_like_api.md
  examples/pytorch/diffusion_model/diffusers/framepack/README.md
  examples/pytorch/multimodal-modeling/quantization/auto_round/llama4/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm_qat/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/README.md
  examples/pytorch/recommendation/dlrm/static_quant/ipex/CONTRIBUTING.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix compressed_tensors version for hpu test
  .azure-pipelines/scripts/ut/run_3x_pt_hpu.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix version
  .azure-pipelines/scripts/ut/run_3x_pt_hpu.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix links
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/README.md
  examples/pytorch/recommendation/dlrm/static_quant/ipex/CODE_OF_CONDUCT.md
  examples/pytorch/recommendation/dlrm/static_quant/ipex/CONTRIBUTING.md
Due: none

Replace master branch with main (#2487)
  .azure-pipelines/model-test-3x.yml
  .azure-pipelines/scripts/ut/collect_log_3x.sh
  .azure-pipelines/scripts/ut/run_3x_pt_hpu.sh
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/ut-3x-jax.yml
  .azure-pipelines/ut-3x-pt-hpu.yml
  .azure-pipelines/ut-3x-pt-xpu.yml
  .azure-pipelines/ut-3x-pt.yml
  .azure-pipelines/ut-3x-tf.yml
  .github/workflows/pr-code-sync.yml
  .github/workflows/pr-io-build.yaml
  .github/workflows/pr-link-scan.yml
  .github/workflows/pr-pre-commit.yml
  .github/workflows/publish.yml
  README.md
  docs/build_docs/build.sh
  docs/build_docs/update_html.py
  docs/source/CONTRIBUTING.md
  docs/source/PT_MixedPrecision.md
  docs/source/PT_QAT.md
  docs/source/PT_SmoothQuant.md
  docs/source/PT_StaticQuant.md
  docs/source/PT_WeightOnlyQuant.md
  docs/source/PyTorch.md
  docs/source/TF_Quant.md
  docs/source/TF_SQ.md
  docs/source/installation_guide.md
  docs/source/legal_information.md
  docs/source/transformers_like_api.md
  examples/pytorch/diffusion_model/diffusers/framepack/README.md
  examples/pytorch/multimodal-modeling/quantization/auto_round/llama4/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm_qat/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/README.md
  examples/pytorch/recommendation/dlrm/static_quant/ipex/CODE_OF_CONDUCT.md
  examples/pytorch/recommendation/dlrm/static_quant/ipex/CONTRIBUTING.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

update ds test deps
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/setup.sh
Due: none

update device map for ds
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/quantize.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/run_quant.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/llama3/run_quant.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/llama3/setup.sh
Due: none

Improvements after review
  test/jax/conftest.py
  test/jax/test_accuracy.py
  test/jax/test_gemma3.py
  test/jax/test_save_load.py
  test/jax/test_vit.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Improve readability
  test/jax/conftest.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Adjust comment
  test/jax/test_save_load.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Update test/jax/conftest.py
  test/jax/conftest.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

disable asym test since no available backend for auto_round:awq on CPU/HPU
  test/torch/quantization/test_autoround_hpu.py
Due: .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

add example readme
  examples/README.md
Due: none

Run only smoke tests in run_3x_jax.sh
  .azure-pipelines/scripts/ut/run_3x_jax.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Use smoke_test marker in run_3x_jax.sh
  .azure-pipelines/scripts/ut/run_3x_jax.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Rearrange arguments order
  .azure-pipelines/scripts/ut/run_3x_jax.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/code-scan.yml: any of: neural_compressor, setup.py, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test-3x.yml: any of: neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, examples/deprecated/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only, setup.py, requirements_pt.txt, .azure-pipelines/scripts/models, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/model-test-3x.yml, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/model-test.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, .azure-pipelines/model-test.yml, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt-fp8.yml: any of: .azure-pipelines/scripts/ut/run_3x_pt_fp8.sh, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut/coverage.3x_pt_fp8, neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, test/torch/algorithms/fp8_quant, test/torch/quantization/fp8_quant, test/torch/quantization/weight_only/test_rtn.py, test/torch/quantization/weight_only/test_load.py, setup.py, requirements_pt.txt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, test/torch, test/common, setup.py, requirements_pt.txt, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/scripts/ut/run_3x_pt.sh, .azure-pipelines/scripts/ut/coverage.3x_pt
  .azure-pipelines/ut-3x-tf.yml: any of: neural_compressor/common, neural_compressor/tensorflow, test/tensorflow, test/common, setup.py, requirements_tf.txt, .azure-pipelines/scripts/ut/run_3x_tf.sh, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut/coverage.3x_tf
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/ut-basic.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers, neural_compressor/evaluation, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
