Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

add UTs
  neural_compressor/torch/algorithms/pt2e_quant/core.py
  neural_compressor/torch/algorithms/pt2e_quant/half_precision_rewriter.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/algorithms/pt2e_quant/poc_fp16_pt2e.py
  test/3x/torch/quantization/test_pt2e_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

init commit
  examples/pytorch/multimodal/quantization/ptq/README.md
  examples/pytorch/multimodal/quantization/ptq/evaluator.py
  examples/pytorch/multimodal/quantization/ptq/run.sh
  examples/pytorch/multimodal/quantization/ptq/run_llava_no_trainer.py
Due: none

rename test name
  test/3x/torch/algorithms/pt2e_quant/test_half_precision_rewriter.py
Due: .azure-pipelines/ut-3x-pt.yml

add expecttest
  test/3x/torch/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml

update requirements
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

limit perf version for test
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

modify ut for coverage
  neural_compressor/torch/algorithms/smooth_quant/smooth_quant.py
  test/3x/torch/quantization/test_smooth_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

update ut
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-3x-pt.yml

minor fix
  neural_compressor/torch/algorithms/base_algorithm.py
Due: .azure-pipelines/ut-3x-pt.yml

Update smooth_quant.py
  neural_compressor/torch/algorithms/smooth_quant/smooth_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

fix bug in gptq g_idx
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/modules.py
  test/3x/torch/quantization/weight_only/test_gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

fixed UTs
  test/3x/torch/algorithms/pt2e_quant/test_half_precision_rewriter.py
Due: .azure-pipelines/ut-3x-pt.yml

fix ut
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-3x-pt.yml

minor fix
  neural_compressor/torch/algorithms/base_algorithm.py
  neural_compressor/torch/algorithms/smooth_quant/smooth_quant.py
  test/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Revert "Add pt2e dynamic quantization (#1795)"
  neural_compressor/torch/algorithms/pt2e_quant/__init__.py
  neural_compressor/torch/algorithms/pt2e_quant/core.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/constants.py
  neural_compressor/torch/utils/environ.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/algorithms/pt2e_quant/test_pt2e_w8a8.py
  test/3x/torch/quantization/test_pt2e_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

revert ipex import
  neural_compressor/torch/utils/environ.py
Due: .azure-pipelines/ut-3x-pt.yml

fix acc parameter
  .azure-pipelines/scripts/models/run_model_trigger_common.sh
Due: .azure-pipelines/model-test.yml

freeze the pt backend peft version to avoid ut issue
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

freeze the pt backend peft version to avoid ut issue (#1801)
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

Detect the number of sockets when needed (#1781)
  neural_compressor/utils/utility.py
  test/utils/test_cpu_info.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fixed the convert check
  neural_compressor/torch/algorithms/pt2e_quant/core.py
Due: .azure-pipelines/ut-3x-pt.yml

fix bug in gptq g_idx (#1799)
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/modules.py
  test/3x/torch/quantization/weight_only/test_gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

add transformers import
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/algorithms/weight_only/teq.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/environ.py
Due: .azure-pipelines/ut-3x-pt.yml

fix ut
  test/3x/torch/quantization/weight_only/test_gptq.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

fixed the set op type
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

revert ipex import (#1803)
  neural_compressor/torch/utils/environ.py
Due: .azure-pipelines/ut-3x-pt.yml

Support save/load API for WOQ (#1786)
  .azure-pipelines/scripts/models/run_model_trigger_common.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/modules.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/algorithms/weight_only/save_load.py
  neural_compressor/torch/algorithms/weight_only/utility.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/load_entry.py
  test/3x/torch/quantization/test_smooth_quant.py
  test/3x/torch/quantization/test_static_quant.py
  test/3x/torch/quantization/weight_only/test_autoround.py
  test/3x/torch/quantization/weight_only/test_awq.py
  test/3x/torch/quantization/weight_only/test_gptq.py
  test/3x/torch/quantization/weight_only/test_rtn.py
  test/3x/torch/quantization/weight_only/test_teq.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml

code fix
  neural_compressor/torch/algorithms/smooth_quant/smooth_quant.py
  neural_compressor/torch/algorithms/smooth_quant/utility.py
  neural_compressor/torch/algorithms/static_quant/utility.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/quantize.py
  test/3x/torch/quantization/test_smooth_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

Update requirements.txt
  test/requirements.txt
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Update requirements.txt
  test/3x/torch/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml

Update run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

modify ut
  test/3x/torch/quantization/test_smooth_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

Support Autotune FP16 Mix-precision on torch 3.0 new API (#1793)
  neural_compressor/common/utils/constants.py
  neural_compressor/torch/algorithms/mix_precision/__init__.py
  neural_compressor/torch/algorithms/mix_precision/half_precision_convert.py
  neural_compressor/torch/algorithms/mix_precision/module_wrappers.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-3x-pt.yml
