Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-insights.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test-3x.yml:
  stages:
  - stage: PyTorchModels
    displayName: Run PyTorch Model
    pool: ICX-16C
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.PyTorch_Model_3X }}', 'true'))
    jobs:
    - ${{ each model in parameters.PyTorchModelList }}:
      - job: null
        displayName: ${{ model }}
        steps:
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-ort.yml:
  pool: ICX-16C
  stages:
  - stage: ONNXRT
    displayName: Unit Test ONNXRT
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test ONNXRT
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ort
  ...

.azure-pipelines/ut-3x-pt-fp8.yml:
  pool: GAUDI
  stages:
  - stage: Torch_habana
    displayName: Torch 3x Habana FP8
    dependsOn: []
    jobs:
    - job: null
      displayName: Torch 3x Habana FP8
      timeoutInMinutes: 120
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          dockerFileName: ubuntu-2404
  ...

add new folder save results and logs
  examples/pytorch/diffusion_model/diffusers/wan/requirements_i2v_t2v.txt
  examples/pytorch/diffusion_model/diffusers/wan/run_benchmark.sh
Due: none

Update requirements (#2497)
  requirements_jax.txt
Due: none

update fw test version
  docs/source/installation_guide.md
Due: none

fix import cv2 failed issue
  examples/pytorch/diffusion_model/diffusers/wan/requirements_i2v_t2v.txt
Due: none

add opencv-python-headless to setup.sh
  examples/pytorch/diffusion_model/diffusers/wan/setup.sh
Due: none

Update README and run_evalscope.sh to enhance task handling and installation instructions
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseekv4/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseekv4/run_evalscope.sh
Due: none

Update requirements to the working properly JAX version
  requirements_jax.txt
Due: none

Update requirements to the working properly JAX version (#2502)
  requirements_jax.txt
Due: none

Apply suggestions from code review
  neural_compressor/jax/quantization/layers_static.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add setup.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseekv4/setup.sh
Due: none

update install
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseekv4/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseekv4/setup.sh
Due: none

Use proper package name for retrieving version
  neural_compressor/jax/quantization/saving.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update setup env
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseekv4/setup.sh
Due: none

Apply suggestions from code review
  neural_compressor/jax/quantization/saving.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[JAX] Update prompt in gemma tests
  test/jax/test_gemma3.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Fix after review
  neural_compressor/jax/quantization/saving.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update env setup
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseekv4/setup.sh
Due: none

Revert "quick test"
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/run_evaluation.sh
Due: none

revert some code
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/run_quant.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/setup.sh
Due: none

Update CPU test agent pool (#2501)
  .azure-pipelines/model-test-3x.yml
  .azure-pipelines/ut-3x-jax.yml
  .azure-pipelines/ut-3x-pt.yml
  .azure-pipelines/ut-3x-tf.yml
  docs/source/installation_guide.md
Due: .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt.yml

KPI model update (#2490)
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/quantize.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/run_evaluation.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/setup.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/llama3/run_quant.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/llama3/setup.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

Improvements after review
  neural_compressor/jax/quantization/saving.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[JAX] Use proper package name for Save/Load functionality (#2503)
  neural_compressor/jax/quantization/saving.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update requirement
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseekv4/README.md
Due: none

Update AutoRound model loading and comment out HPU inference tests
  neural_compressor/torch/algorithms/autoround/autoround.py
  test/torch/quantization/test_autoround_hpu.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Update prompt
  test/jax/test_gemma3.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

[JAX] Update prompt in gemma tests (#2499)
  test/jax/test_gemma3.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

minor update for setup
  examples/pytorch/diffusion_model/diffusers/wan/setup.sh
Due: none

Update AutoRound model loading and comment out HPU inference tests (#2505)
  neural_compressor/torch/algorithms/autoround/autoround.py
  test/torch/quantization/test_autoround_hpu.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Refactor clean_module_weight to use empty_like for buffer initialization and streamline parameter handling
  neural_compressor/torch/algorithms/layer_wise/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

Support model-free quantization and add DeepSeek V4 example (#2493)
  examples/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseekv4/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseekv4/quantize.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseekv4/run_evalscope.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseekv4/run_quant.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseekv4/setup.sh
  neural_compressor/torch/algorithms/autoround/autoround.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/quantize.py
  test/torch/quantization/test_autoround_cpu.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix s2v requirement
  examples/pytorch/diffusion_model/diffusers/wan/requirements_s2v.txt
  examples/pytorch/diffusion_model/diffusers/wan/setup.sh
  examples/pytorch/diffusion_model/diffusers/wan/wan_s2v.py
Due: none

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/code-scan.yml: any of: neural_compressor, setup.py, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test-3x.yml: any of: neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, examples/deprecated/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only, setup.py, requirements_pt.txt, .azure-pipelines/scripts/models, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/model-test-3x.yml, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/model-test.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, .azure-pipelines/model-test.yml, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt-fp8.yml: any of: .azure-pipelines/scripts/ut/run_3x_pt_fp8.sh, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut/coverage.3x_pt_fp8, neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, test/torch/algorithms/fp8_quant, test/torch/quantization/fp8_quant, test/torch/quantization/weight_only/test_rtn.py, test/torch/quantization/weight_only/test_load.py, setup.py, requirements_pt.txt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, test/torch, test/common, setup.py, requirements_pt.txt, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/scripts/ut/run_3x_pt.sh, .azure-pipelines/scripts/ut/coverage.3x_pt
  .azure-pipelines/ut-3x-tf.yml: any of: neural_compressor/common, neural_compressor/tensorflow, test/tensorflow, test/common, setup.py, requirements_tf.txt, .azure-pipelines/scripts/ut/run_3x_tf.sh, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut/coverage.3x_tf
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/ut-basic.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers, neural_compressor/evaluation, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
