Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

remove device from config
  neural_compressor/torch/algorithms/static_quant/static_quant.py
  neural_compressor/torch/algorithms/static_quant/utility.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

support rtn & gptq(draft)
  neural_compressor/torch/algorithms/layer_wise/utils.py
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/modules.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/quantization/algorithm_entry.py
  test/3x/torch/quantization/weight_only/test_gptq.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

add benchmark
  neural_compressor/common/benchmark.py
  setup.py
Due: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml

remove useless __all__
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

clean code
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/quantization/algorithm_entry.py
  test/3x/torch/quantization/weight_only/test_gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

update per review
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/constants.py
Due: .azure-pipelines/ut-3x-pt.yml

clean gptq
  neural_compressor/torch/algorithms/weight_only/gptq.py
  test/3x/torch/quantization/weight_only/test_gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

del unused line
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

refine
  rfcs/auto_round_to_tgi.md
Due: none

fix load import
  neural_compressor/torch/algorithms/layer_wise/load.py
Due: .azure-pipelines/ut-3x-pt.yml

fix rtn model_path
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/quantization/algorithm_entry.py
Due: .azure-pipelines/ut-3x-pt.yml

update rtn model
  neural_compressor/torch/algorithms/weight_only/rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

support windows
  neural_compressor/common/benchmark.py
Due: .azure-pipelines/ut-3x-pt.yml

fix bug
  neural_compressor/common/benchmark.py
Due: .azure-pipelines/ut-3x-pt.yml

enable subprocess running
  neural_compressor/common/benchmark.py
Due: .azure-pipelines/ut-3x-pt.yml

fix bug in windows
  neural_compressor/common/benchmark.py
Due: .azure-pipelines/ut-3x-pt.yml

enhance log
  neural_compressor/common/benchmark.py
Due: .azure-pipelines/ut-3x-pt.yml

fix clean module
  neural_compressor/torch/algorithms/layer_wise/utils.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

add document
  docs/3x/benchmark.md
  neural_compressor/common/benchmark.py
Due: .azure-pipelines/ut-3x-pt.yml

update platform status
  docs/3x/benchmark.md
  neural_compressor/common/benchmark.py
Due: .azure-pipelines/ut-3x-pt.yml

fix layerwise woq forward
  neural_compressor/torch/algorithms/layer_wise/utils.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

fix import
  neural_compressor/torch/algorithms/weight_only/rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

Update the Gaudi container example in the README
  README.md
Due: none

Update the Gaudi container example in the README (#1885)
  README.md
Due: none

support quant_lm_head arg in all WOQ configs (#1881)
  docs/3x/PT_WeightOnlyQuant.md
  docs/3x/PyTorch.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
  neural_compressor/common/base_config.py
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/hqq/quantizer.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/constants.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/algorithms/weight_only/test_hqq_quantizer.py
  test/3x/torch/quantization/weight_only/hqq/test_hqq_config.py
  test/3x/torch/quantization/weight_only/hqq/test_hqq_cpu.py
  test/3x/torch/quantization/weight_only/hqq/test_packer.py
  test/3x/torch/quantization/weight_only/test_awq.py
  test/3x/torch/quantization/weight_only/test_gptq.py
  test/3x/torch/quantization/weight_only/test_mixed_algos.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

add incbench dlrm example
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/dlrm_s_pytorch.py
  examples/3.x_api/pytorch/recommendation/dlrm/static_quant/ipex/run_benchmark.sh
  setup.py
Due: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml

add more docstring
  neural_compressor/common/benchmark.py
Due: .azure-pipelines/ut-3x-pt.yml

add performance test for sq opt-125m
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/run_clm_no_trainer.py
  neural_compressor/common/benchmark.py
Due: .azure-pipelines/ut-3x-pt.yml

remove gelu fusion for tf newapi
  neural_compressor/tensorflow/quantization/utils/graph_rewriter/generic/fuse_gelu.py
  test/3x/tensorflow/quantization/ptq/newapi/test_graph_fuse_gelu_newapi.py
Due: none

enhance pre-commit for max-line-length check
  .pre-commit-config.yaml
  neural_compressor/common/benchmark.py
Due: .azure-pipelines/ut-3x-pt.yml

add env variable
  docs/3x/PT_MixPrecision.md
  examples/3.x_api/pytorch/image_recognition/torchvision_models/mixed_precision/resnet18/README.md
  examples/3.x_api/pytorch/image_recognition/torchvision_models/mixed_precision/resnet18/main.py
  examples/3.x_api/pytorch/image_recognition/torchvision_models/mixed_precision/resnet18/run_benchmark.sh
Due: none

fix save and load
  examples/3.x_api/pytorch/image_recognition/torchvision_models/mixed_precision/resnet18/main.py
Due: none

add Multiple Instance Benchmark Summary
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/run_clm_no_trainer.py
  neural_compressor/common/benchmark.py
  neural_compressor/common/utils/logger.py
Due: .azure-pipelines/ut-3x-pt.yml

Dump Throughput and Latency Summary
  docs/3x/benchmark.md
  neural_compressor/common/benchmark.py
Due: .azure-pipelines/ut-3x-pt.yml

add SDXL model example to INC 3.x
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/README.md
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/images/fp32.jpg
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/images/int8.jpg
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/latents.pt
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/requirements.txt
  examples/3.x_api/pytorch/diffusion_model/diffusers/stable_diffusion/smooth_quant/sdxl_smooth_quant.py
Due: none

Fix sql injection for Neural Solution gRPC (#1879)
  neural_solution/frontend/utility.py
Due: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-neural-solution.yaml

refine hqq test
  test/3x/torch/quantization/weight_only/hqq/test_hqq_cuda.py
  test/3x/torch/quantization/weight_only/tes_hqq.py
Due: .azure-pipelines/ut-3x-pt.yml
