Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

fix example
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/mx/run_clm_no_trainer.py
  neural_compressor/torch/algorithms/mx_quant/mx.py
  neural_compressor/torch/algorithms/mx_quant/utils.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

fix issue
  neural_compressor/torch/algorithms/mx_quant/mx.py
Due: .azure-pipelines/ut-3x-pt.yml

fix CI
  neural_compressor/torch/algorithms/mx_quant/utils.py
Due: .azure-pipelines/ut-3x-pt.yml

update readme
  examples/README.md
Due: none

add doc
  docs/source/imgs/mx_format.png
  docs/source/imgs/mx_workflow.png
  docs/source/mx_quantization.md
Due: none

add woq save/load & rtn ut
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/load_entry.py
Due: .azure-pipelines/ut-3x-pt.yml

enhance code
  neural_compressor/torch/algorithms/base_algorithm.py
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/quantize.py
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

update doc
  docs/source/imgs/mx_format.png
  docs/source/mx_quantization.md
Due: none

fix reference
  docs/source/mx_quantization.md
Due: none

Remove TF2ONNX Examples (#1780)
  examples/README.md
  examples/tensorflow/image_recognition/tensorflow_models/mobilenet_v2/export/README.md
  examples/tensorflow/image_recognition/tensorflow_models/mobilenet_v2/export/main.py
  examples/tensorflow/image_recognition/tensorflow_models/mobilenet_v2/export/requirements.txt
  examples/tensorflow/image_recognition/tensorflow_models/mobilenet_v2/export/run_benchmark.sh
  examples/tensorflow/image_recognition/tensorflow_models/mobilenet_v2/export/run_export.sh
  examples/tensorflow/image_recognition/tensorflow_models/resnet50_v1/export/README.md
  examples/tensorflow/image_recognition/tensorflow_models/resnet50_v1/export/main.py
  examples/tensorflow/image_recognition/tensorflow_models/resnet50_v1/export/requirements.txt
  examples/tensorflow/image_recognition/tensorflow_models/resnet50_v1/export/run_benchmark.sh
  examples/tensorflow/image_recognition/tensorflow_models/resnet50_v1/export/run_export.sh
  examples/tensorflow/image_recognition/tensorflow_models/vgg16/export/README.md
  examples/tensorflow/image_recognition/tensorflow_models/vgg16/export/main.py
  examples/tensorflow/image_recognition/tensorflow_models/vgg16/export/requirements.txt
  examples/tensorflow/image_recognition/tensorflow_models/vgg16/export/run_benchmark.sh
  examples/tensorflow/image_recognition/tensorflow_models/vgg16/export/run_export.sh
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet50/export/README.md
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet50/export/main.py
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet50/export/requirements.txt
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet50/export/run_benchmark.sh
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet50/export/run_export.sh
  examples/tensorflow/object_detection/tensorflow_models/ssd_mobilenet_v1/export/README.md
  examples/tensorflow/object_detection/tensorflow_models/ssd_mobilenet_v1/export/main.py
  examples/tensorflow/object_detection/tensorflow_models/ssd_mobilenet_v1/export/requirements.txt
  examples/tensorflow/object_detection/tensorflow_models/ssd_mobilenet_v1/export/run_benchmark.sh
  examples/tensorflow/object_detection/tensorflow_models/ssd_mobilenet_v1/export/run_export.sh
Due: none

detect sockets when needed
  neural_compressor/utils/utility.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Register pt2e static quantization (#1761)
  neural_compressor/torch/algorithms/pt2e_quant/core.py
  neural_compressor/torch/export/__init__.py
  neural_compressor/torch/export/_export.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/constants.py
  neural_compressor/torch/utils/environ.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/algorithms/pt2e_quant/test_pt2e_w8a8.py
  test/3x/torch/quantization/test_pt2e_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

Enhance 3.x torch algorithm entry (#1779)
  neural_compressor/torch/algorithms/base_algorithm.py
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/quantize.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/quantization/weight_only/test_autoround.py
  test/3x/torch/quantization/weight_only/test_mixed_algos.py
Due: .azure-pipelines/ut-3x-pt.yml

fixed docstrings
  neural_compressor/utils/utility.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix eval issue
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

update 3.x torch example
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

add woq tuning
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-3x-pt.yml

fix
  neural_compressor_ort/algorithms/__init__.py
  neural_compressor_ort/algorithms/smoother/calibrator.py
  neural_compressor_ort/algorithms/smoother/core.py
  neural_compressor_ort/onnx_model.py
  neural_compressor_ort/utility.py
Due: none

update calibration data reader
  examples/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
  neural_compressor_ort/algorithms/layer_wise/core.py
  neural_compressor_ort/algorithms/smoother/calibrator.py
  neural_compressor_ort/algorithms/smoother/core.py
  neural_compressor_ort/algorithms/weight_only/awq.py
  neural_compressor_ort/algorithms/weight_only/gptq.py
  neural_compressor_ort/data_reader.py
  neural_compressor_ort/quantization/__init__.py
  neural_compressor_ort/quantization/algorithm_entry.py
  neural_compressor_ort/quantization/config.py
  neural_compressor_ort/quantization/matmul_nbits_quantizer.py
  test/quantization/layer_wise/test_layer_wise.py
  test/quantization/test_autotune.py
  test/quantization/test_smooth_quant.py
  test/quantization/weight_only/test_gptq.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Update run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

fix
  neural_compressor_ort/quantization/__init__.py
  neural_compressor_ort/quantization/config.py
  neural_compressor_ort/quantization/matmul_4bits_quantizer.py
  neural_compressor_ort/quantization/matmul_nbits_quantizer.py
  neural_compressor_ort/quantization/tuning.py
  test/quantization/layer_wise/test_layer_wise.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

seperate import and fix issue
  examples/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
  neural_compressor_ort/algorithms/layer_wise/core.py
  neural_compressor_ort/algorithms/smoother/calibrator.py
  neural_compressor_ort/algorithms/smoother/core.py
  neural_compressor_ort/algorithms/weight_only/awq.py
  neural_compressor_ort/algorithms/weight_only/gptq.py
  neural_compressor_ort/algorithms/weight_only/rtn.py
  neural_compressor_ort/algorithms/weight_only/utility.py
  neural_compressor_ort/constants.py
  neural_compressor_ort/onnx_model.py
  neural_compressor_ort/quantization/__init__.py
  neural_compressor_ort/quantization/algorithm_entry.py
  neural_compressor_ort/quantization/config.py
  neural_compressor_ort/quantization/matmul_nbits_quantizer.py
  neural_compressor_ort/utility.py
  neural_compressor_ort/version.py
  test/quantization/layer_wise/test_layer_wise.py
  test/quantization/test_smooth_quant.py
  test/quantization/weight_only/test_gptq.py
  test/quantization/weight_only/test_rtn.py
  test/utils/test_general.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix CI issue
  neural_compressor_ort/algorithms/layer_wise/core.py
  neural_compressor_ort/algorithms/smoother/calibrator.py
  neural_compressor_ort/algorithms/smoother/core.py
  neural_compressor_ort/algorithms/weight_only/awq.py
  neural_compressor_ort/algorithms/weight_only/gptq.py
  neural_compressor_ort/algorithms/weight_only/rtn.py
  neural_compressor_ort/algorithms/weight_only/utility.py
  neural_compressor_ort/onnx_model.py
  neural_compressor_ort/quantization/algorithm_entry.py
  neural_compressor_ort/quantization/config.py
  neural_compressor_ort/quantization/matmul_nbits_quantizer.py
  neural_compressor_ort/quantization/tuning.py
  neural_compressor_ort/utility.py
  test/quantization/layer_wise/test_layer_wise.py
  test/quantization/test_autotune.py
  test/quantization/test_config.py
  test/quantization/test_smooth_quant.py
  test/quantization/weight_only/test_awq.py
  test/quantization/weight_only/test_gptq.py
  test/quantization/weight_only/test_rtn.py
  test/utils/test_general.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

update
  docs/quantization_weight_only.md
  docs/smooth_quant.md
  neural_compressor_ort/quantization/tuning.py
  test/quantization/test_config.py
  test/utils/test_general.py
  test/utils/test_logger.py
  test/utils/test_param.py
  test/utils/test_utility.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix ut
  examples/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
  neural_compressor_ort/algorithms/weight_only/gptq.py
  neural_compressor_ort/algorithms/weight_only/rtn.py
  neural_compressor_ort/onnx_model.py
  neural_compressor_ort/quantization/__init__.py
  neural_compressor_ort/quantization/tuning.py
  test/quantization/layer_wise/test_layer_wise.py
  test/quantization/test_config.py
  test/quantization/test_smooth_quant.py
  test/quantization/weight_only/test_awq.py
  test/quantization/weight_only/test_gptq.py
  test/quantization/weight_only/test_rtn.py
  test/utils/test_param.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

remove export_compressed_model
  neural_compressor/torch/algorithms/weight_only/modules.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/algorithms/weight_only/save_load.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

Add WOQ tuning (#1782)
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-3x-pt.yml

support gptq
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/load_entry.py
  test/3x/torch/quantization/weight_only/test_gptq.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

fix rtn ut
  neural_compressor/torch/algorithms/weight_only/utility.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

enhance 3.x torch UT
  test/3x/torch/quantization/test_static_quant.py
  test/3x/torch/quantization/weight_only/hqq/test_hqq_cpu.py
  test/3x/torch/quantization/weight_only/hqq/test_hqq_cuda.py
  test/3x/torch/quantization/weight_only/test_autoround.py
  test/3x/torch/quantization/weight_only/test_awq.py
  test/3x/torch/quantization/weight_only/test_gptq.py
  test/3x/torch/quantization/weight_only/test_rtn.py
  test/3x/torch/quantization/weight_only/test_teq.py
Due: .azure-pipelines/ut-3x-pt.yml

cast awq ut to pytest
  test/3x/torch/quantization/weight_only/test_awq.py
Due: .azure-pipelines/ut-3x-pt.yml

fix typo
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

support awq
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/load_entry.py
  test/3x/torch/quantization/weight_only/test_awq.py
Due: .azure-pipelines/ut-3x-pt.yml

support teq
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/load_entry.py
  test/3x/torch/quantization/weight_only/test_teq.py
Due: .azure-pipelines/ut-3x-pt.yml

support autoround
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/load_entry.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/ut-3x-pt.yml
