Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

update ut test
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic.yml

Update scan_path.txt
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
Due: none

Complement UT of calibration function for TF 3x API (#1945)
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
  test/3x/tensorflow/test_quantize_model.py
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic.yml

[SW-194177] - Integrate new vllm-PA algo with HQT
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/ut-3x-pt.yml

minor fix
  examples/3.x_api/pytorch/nlp/huggingface_models/question-answering/quantization/static_quant/ipex/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/question-answering/quantization/static_quant/ipex/run_qa.py
Due: none

fix inbench
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/run_benchmark.sh
Due: none

fix benchmark script
  examples/3.x_api/pytorch/image_recognition/torchvision_models/quantization/static_quant/ipex/README.md
  examples/3.x_api/pytorch/image_recognition/torchvision_models/quantization/static_quant/ipex/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/question-answering/quantization/static_quant/ipex/run_benchmark.sh
Due: none

Delete examples/3.x_api/pytorch/image_recognition/torchvision_models/quantization/static_quant/ipex/patch.patch
  examples/3.x_api/pytorch/image_recognition/torchvision_models/quantization/static_quant/ipex/patch.patch
Due: none

[SW-192809] fix json_file bug when instantiating FP8Config class
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/quantization/fp8_quant/test_fp8_jsons/test_hw_quant.json
  test/3x/torch/quantization/fp8_quant/test_fp8_jsons/test_measure.json
  test/3x/torch/quantization/fp8_quant/test_fp8_static_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-194200] Save scale file only with new scales
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
Due: .azure-pipelines/ut-3x-pt.yml

Update README.md
  examples/3.x_api/pytorch/image_recognition/torchvision_models/quantization/static_quant/ipex/README.md
Due: none

Update README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/question-answering/quantization/static_quant/ipex/README.md
Due: none

[SW-187215] Add valid_seq_len feature to patched SDPA module
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/ut-3x-pt.yml

fix conflict
  examples/.config/model_params_tensorflow_3x.json
Due: none

fix parallel=True
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

fix to_json_file func
  neural_compressor/common/base_config.py
Due: .azure-pipelines/ut-3x-pt.yml

Enable yolov5 Example for TF 3x API (#1943)
  examples/.config/model_params_tensorflow_3x.json
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/README.md
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/main.py
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/prepare_dataset.sh
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/prepare_model.sh
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/requirements.txt
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/run_benchmark.sh
  examples/3.x_api/tensorflow/object_detection/yolo_v5/quantization/ptq/run_quant.sh
Due: none

replenish docstring
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/load_entry.py
  neural_compressor/torch/quantization/quantize.py
  neural_compressor/torch/utils/__init__.py
  neural_compressor/torch/utils/constants.py
  neural_compressor/torch/utils/environ.py
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

use safe threading layer
  neural_compressor/torch/algorithms/weight_only/modules.py
Due: .azure-pipelines/ut-3x-pt.yml

update Quantizer API docstring
  neural_compressor/torch/algorithms/__init__.py
  neural_compressor/torch/algorithms/base_algorithm.py
Due: .azure-pipelines/ut-3x-pt.yml

add ipex xpu example to 3x API (#1948)
  examples/3.x_api/pytorch/image_recognition/torchvision_models/quantization/static_quant/ipex/README.md
  examples/3.x_api/pytorch/image_recognition/torchvision_models/quantization/static_quant/ipex/main.py
  examples/3.x_api/pytorch/image_recognition/torchvision_models/quantization/static_quant/ipex/requirements.txt
  examples/3.x_api/pytorch/image_recognition/torchvision_models/quantization/static_quant/ipex/run_benchmark.sh
  examples/3.x_api/pytorch/image_recognition/torchvision_models/quantization/static_quant/ipex/run_quant.sh
  examples/3.x_api/pytorch/image_recognition/torchvision_models/quantization/static_quant/ipex/utils.py
  examples/3.x_api/pytorch/nlp/huggingface_models/question-answering/quantization/static_quant/ipex/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/question-answering/quantization/static_quant/ipex/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/question-answering/quantization/static_quant/ipex/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/question-answering/quantization/static_quant/ipex/run_qa.py
  examples/3.x_api/pytorch/nlp/huggingface_models/question-answering/quantization/static_quant/ipex/run_quant.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/question-answering/quantization/static_quant/ipex/trainer_qa.py
  examples/3.x_api/pytorch/nlp/huggingface_models/question-answering/quantization/static_quant/ipex/utils_qa.py
Due: none

fix low_gpu_mem_usage=True
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

add docstring for auto accelerator
  neural_compressor/torch/utils/auto_accelerator.py
Due: .azure-pipelines/ut-3x-pt.yml

correct path
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
Due: none

add docstring for common
  neural_compressor/common/benchmark.py
  neural_compressor/common/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

fix cv acc
  examples/3.x_api/pytorch/cv/static_quant/main.py
  examples/3.x_api/pytorch/cv/static_quant/run_benchmark.sh
  examples/3.x_api/pytorch/cv/static_quant/run_quant.sh
Due: none

[SW-193292] align INC pt requierments with OHF requieremnt (peft==0.11.1)
  requirements_pt.txt
  test/3x/torch/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml

[SW-192917] Update all HQT logic files with pre-commit check
  neural_compressor/torch/algorithms/fp8_quant/_core/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/_core/common.py
  neural_compressor/torch/algorithms/fp8_quant/_core/fp_utils.py
  neural_compressor/torch/algorithms/fp8_quant/_core/measure.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quant_dequant.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quantize.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/max_abs.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/smooth_quant.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/unit_scale.py
  neural_compressor/torch/algorithms/fp8_quant/_core/utils.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  neural_compressor/torch/algorithms/fp8_quant/common.py
  neural_compressor/torch/algorithms/fp8_quant/fp8_quant.py
  neural_compressor/torch/algorithms/fp8_quant/helper_modules.py
  neural_compressor/torch/algorithms/fp8_quant/prepare_quant/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/prepare_quant/prepare_model.py
  neural_compressor/torch/algorithms/fp8_quant/scripts/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/scripts/regression_detection/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/scripts/regression_detection/regression_detection.py
  neural_compressor/torch/algorithms/fp8_quant/utils/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/utils/logger.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/quantize.py
  test/3x/torch/algorithms/fp8_quant/fp8_tests.py
  test/3x/torch/algorithms/fp8_quant/tester.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/__init__.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_deepspeed.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_functions/test_config_json.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_functions/test_matmul_fp8.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_conv2d.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_linear.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_matmul.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-192931] align setup.py with github INC and remove fp8_convert
  setup.py
Due: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml

update 3x torch installation
  README.md
  docs/source/installation_guide.md
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

update test
  .azure-pipelines/scripts/install_nc.sh
  README.md
Due: none

freeze torch vision
  .azure-pipelines/scripts/install_nc.sh
Due: none
