Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-insights.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test-3x.yml:
  stages:
  - stage: PyTorchModels
    displayName: Run PyTorch Model
    pool: ICX-16C
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.PyTorch_Model_3X }}', 'true'))
    jobs:
    - ${{ each model in parameters.PyTorchModelList }}:
      - job: null
        displayName: ${{ model }}
        steps:
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-ort.yml:
  pool: ICX-16C
  stages:
  - stage: ONNXRT
    displayName: Unit Test ONNXRT
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test ONNXRT
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ort
  ...

.azure-pipelines/ut-3x-pt-fp8.yml:
  pool: GAUDI
  stages:
  - stage: Torch_habana
    displayName: Torch 3x Habana FP8
    dependsOn: []
    jobs:
    - job: null
      displayName: Torch 3x Habana FP8
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: 3x/run_3x_pt
  ...

full INC package build
  docs/source/installation_guide.md
  requirements.txt
  setup.py
Due: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml

fix code scan issue
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
Due: .azure-pipelines/code-scan.yml

remove invalid description
  README.md
Due: none

update install guide
  docs/source/installation_guide.md
Due: none

update config for pre-commit
  .pre-commit-config.yaml
Due: none

Add info about modifying Keras and Keras-hub code (#1733)
  neural_compressor/jax/quantization/layers_dynamic.py
  neural_compressor/jax/quantization/layers_static.py
  neural_compressor/jax/utils/utility.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update the docs in detail
  .github/pull_request_template.md
  README.md
  docs/build_docs/build.sh
  docs/source/2x_user_guide.md
  docs/source/CONTRIBUTING.md
  docs/source/PT_FP8Quant.md
  docs/source/PT_QAT.md
  docs/source/PT_SmoothQuant.md
  docs/source/PT_StaticQuant.md
  docs/source/PyTorch.md
  docs/source/TF_Quant.md
  docs/source/TF_SQ.md
  docs/source/TensorFlow.md
  docs/source/autotune.md
  docs/source/examples_readme.md
  docs/source/get_started.md
  docs/source/legal_information.md
  docs/source/quantization.md
  docs/source/smooth_quant.md
  docs/source/tuning_strategies.md
  docs/source/validated_model_list.md
Due: none

update main README.md
  README.md
  docs/source/get_started.md
Due: none

minor update
  README.md
Due: none

[GAUDISW-246083] - adjust load mode to pcs for new pytorch version (#363)
  neural_compressor/torch/algorithms/fp8_quant/_core/quantize.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/ops_quantizer.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/scale_method_factory.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/scales_method.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_save_load.py
  test/3x/torch/quantization/fp8_quant/test_save_load.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

add back 3x helloword example
  examples/helloworld/fp8_example/README.md
  examples/helloworld/fp8_example/maxabs_measure.json
  examples/helloworld/fp8_example/maxabs_quant.json
  examples/helloworld/fp8_example/quant_config.json
  examples/helloworld/fp8_example/sample_one_step.py
  examples/helloworld/fp8_example/sample_two_steps.py
Due: none

update recipe due to accuracy unstable
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/llama3/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/llama3/run_quant.sh
Due: none

remove jax pypi install from install readme
  docs/source/installation_guide.md
Due: none

Add warnings when model is saved with different software versions (#1736)
  neural_compressor/jax/quantization/saving.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update for comments
  README.md
  docs/source/examples_readme.md
Due: none

fix IO page build issue
  docs/build_docs/build.sh
  docs/build_docs/source/index.rst
  docs/source/api-doc/adaptor.rst
  docs/source/api-doc/adaptor/onnxrt.rst
  docs/source/api-doc/adaptor/torch_utils.rst
  docs/source/api-doc/api_2.rst
  docs/source/api-doc/api_3.rst
  docs/source/api-doc/apis.rst
  docs/source/api-doc/compression.rst
  docs/source/api-doc/config.rst
  docs/source/api-doc/mix_precision.rst
  docs/source/api-doc/model.rst
  docs/source/api-doc/objective.rst
  docs/source/api-doc/quantization.rst
  docs/source/api-doc/strategy.rst
  docs/source/api-doc/training.rst
  docs/source/get_started.md
Due: none

Fix typo: Al to AI in AI Accelerators and QA to QR in QR code
  README.md
  docs/source/installation_guide.md
Due: none

remove relate path validate
  .github/workflows/pr-link-scan.yml
  docs/source/CONTRIBUTING.md
  docs/source/PT_WeightOnlyQuant.md
  docs/source/TensorFlow.md
Due: none

update code sync branch as master instead of master_next (#1737)
  .github/workflows/pr-code-sync.yml
Due: none

update max tokens
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/run_evaluation.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

update
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

use iters=0 for stable result
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/llama3/run_quant.sh
Due: none

use 8
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

eval code only
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

use long_structured_data
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

use multi_document_qa
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

fix
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

Int8 asymmetric quantization support for keras/jax (#1734)
  neural_compressor/jax/algorithms/static.py
  neural_compressor/jax/quantization/config.py
  neural_compressor/jax/quantization/layers_dynamic.py
  neural_compressor/jax/quantization/layers_static.py
  neural_compressor/jax/utils/utility.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/code-scan.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test-3x.yml: any of: neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, examples/deprecated/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only, setup.py, requirements_pt.txt, .azure-pipelines/scripts/models, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/model-test-3x.yml, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/model-test.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, .azure-pipelines/model-test.yml, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt-fp8.yml: any of: .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/template/docker-template.yml, neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, test/3x/torch/algorithms/fp8_quant, test/3x/torch/quantization/fp8_quant, test/3x/torch/quantization/weight_only/test_rtn.py, test/3x/torch/quantization/weight_only/test_load.py, setup.py, requirements_pt.txt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, test/3x/common, setup.py, requirements_pt.txt, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/ut-3x-tf.yml: any of: neural_compressor/common, neural_compressor/tensorflow, test/3x/tensorflow, test/3x/common, setup.py, requirements_tf.txt, .azure-pipelines/scripts/ut/3x/run_3x_tf.sh, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/ut-basic.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers, neural_compressor/evaluation, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
