Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/code-scan.yml: any of: neural_compressor, setup.py, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test-3x.yml: any of: neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, examples/deprecated/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only, setup.py, requirements_pt.txt, .azure-pipelines/scripts/models, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/model-test-3x.yml, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/model-test.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, .azure-pipelines/model-test.yml, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt-fp8.yml: any of: .azure-pipelines/scripts/ut/run_3x_pt_fp8.sh, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut/coverage.3x_pt_fp8, neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, test/torch/algorithms/fp8_quant, test/torch/quantization/fp8_quant, test/torch/quantization/weight_only/test_rtn.py, test/torch/quantization/weight_only/test_load.py, setup.py, requirements_pt.txt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, test/torch, test/common, setup.py, requirements_pt.txt, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/scripts/ut/run_3x_pt.sh, .azure-pipelines/scripts/ut/coverage.3x_pt
  .azure-pipelines/ut-3x-tf.yml: any of: neural_compressor/common, neural_compressor/tensorflow, test/tensorflow, test/common, setup.py, requirements_tf.txt, .azure-pipelines/scripts/ut/run_3x_tf.sh, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut/coverage.3x_tf
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/ut-basic.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers, neural_compressor/evaluation, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

fix
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

update
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

use sub set for ds
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/run_evaluation.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

Add JAX extension API documentation and summaries
  docs/source/api-doc/apis.rst
  docs/source/api-doc/jax_quantization_common.rst
  docs/source/api-doc/jax_quantization_config.rst
Due: none

Complete Google-style docstrings across neural_compressor (#2415)
  docs/source/api-doc/apis.rst
  docs/source/api-doc/jax_quantization_common.rst
  docs/source/api-doc/jax_quantization_config.rst
  neural_compressor/common/base_config.py
  neural_compressor/common/base_tuning.py
  neural_compressor/common/tuning_param.py
  neural_compressor/common/utils/logger.py
  neural_compressor/common/utils/utility.py
  neural_compressor/jax/algorithms/dynamic.py
  neural_compressor/jax/algorithms/static.py
  neural_compressor/jax/quantization/__init__.py
  neural_compressor/jax/quantization/config.py
  neural_compressor/jax/quantization/layers_dynamic.py
  neural_compressor/jax/quantization/layers_static.py
  neural_compressor/jax/quantization/quantize.py
  neural_compressor/jax/quantization/saving.py
  neural_compressor/jax/utils/__init__.py
  neural_compressor/jax/utils/utility.py
  neural_compressor/tensorflow/algorithms/smoother/calibration.py
  neural_compressor/tensorflow/algorithms/static_quant/keras.py
  neural_compressor/tensorflow/algorithms/static_quant/tensorflow.py
  neural_compressor/tensorflow/quantization/config.py
  neural_compressor/tensorflow/quantization/utils/graph_converter.py
  neural_compressor/tensorflow/quantization/utils/graph_rewriter/generic/fold_constant.py
  neural_compressor/tensorflow/quantization/utils/graph_util.py
  neural_compressor/tensorflow/quantization/utils/utility.py
  neural_compressor/tensorflow/utils/data.py
  neural_compressor/tensorflow/utils/model_wrappers.py
  neural_compressor/tensorflow/utils/utility.py
  neural_compressor/torch/algorithms/autoround/autoround.py
  neural_compressor/torch/algorithms/fp8_quant/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/_core/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/_core/common.py
  neural_compressor/torch/algorithms/fp8_quant/_core/external_func_impl.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
  neural_compressor/torch/quantization/autotune.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/quantize.py
  neural_compressor/torch/utils/llm_utility.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Refactor workflow YAML files to improve formatting and permissions structure
  .github/workflows/check-stale-issue.yml
  .github/workflows/pr-agent.yml.disable
  .github/workflows/pr-code-sync.yml
  .github/workflows/pr-io-build.yaml
  .github/workflows/pr-link-scan.yml
  .github/workflows/pr-pre-commit.yml
  .github/workflows/publish.yml
Due: none

update qwen
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

fix
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/run_evaluation.sh
Due: none

break AutoRound test into CPU, HPU, and XPU
  test/torch/quantization/test_autoround_cpu.py
  test/torch/quantization/test_autoround_hpu.py
  test/torch/quantization/test_autoround_xpu.py
Due: .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Add permissions section to workflow YAML files for improved access control (#2416)
  .github/workflows/pr-agent.yml.disable
  .github/workflows/pr-code-sync.yml
  .github/workflows/pr-io-build.yaml
  .github/workflows/pr-link-scan.yml
  .github/workflows/pr-pre-commit.yml
  .github/workflows/publish.yml
Due: none

Refactor CI scripts and add support for HPU/XPU testing; remove deprecated coverage scripts
  .azure-pipelines/docker/Dockerfile_xpu.devel
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/ut/collect_log.sh
  .azure-pipelines/scripts/ut/coverage.3x_pt_hpu
  .azure-pipelines/scripts/ut/coverage.file
  .azure-pipelines/scripts/ut/run_3x_pt_hpu.sh
  .azure-pipelines/scripts/ut/run_3x_pt_xpu.sh
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/ut-3x-pt-hpu.yml
  .azure-pipelines/ut-3x-pt-xpu.yml
  test/torch/requirements.txt
  test/torch/requirements_xpu.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix issue
  .azure-pipelines/scripts/install_nc.sh
Due: .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic.yml

Fix installation script for XPU and update test files by removing unused imports and redundant code
  .azure-pipelines/scripts/install_nc.sh
  test/torch/quantization/test_autoround_hpu.py
  test/torch/quantization/test_autoround_xpu.py
Due: .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

quick fix
  .azure-pipelines/scripts/install_nc.sh
Due: .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic.yml

fix
  .azure-pipelines/scripts/install_nc.sh
Due: .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic.yml

Update Dockerfile and installation script to streamline pip usage
  .azure-pipelines/docker/Dockerfile_xpu.devel
  .azure-pipelines/scripts/install_nc.sh
Due: .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic.yml

fix comments
  test/torch/quantization/test_autoround_hpu.py
  test/torch/quantization/test_autoround_xpu.py
Due: .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

update container name
  .azure-pipelines/ut-3x-pt-xpu.yml
  .azure-pipelines/ut-3x-pt.yml
Due: .azure-pipelines/ut-3x-pt.yml

try pip
  .azure-pipelines/docker/Dockerfile_xpu.devel
Due: none

Fix Framepack inference issue
  examples/pytorch/diffusion_model/diffusers/framepack/main.py
Due: none

update reqs
  .azure-pipelines/scripts/install_nc.sh
  requirements_pt.txt
Due: .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic.yml

Fix Framepack inference issue (#2418)
  examples/pytorch/diffusion_model/diffusers/framepack/main.py
Due: none

fix bug
  .azure-pipelines/scripts/ut/run_3x_pt.sh
  .azure-pipelines/scripts/ut/run_3x_pt_hpu.sh
  .azure-pipelines/scripts/ut/run_3x_pt_xpu.sh
  .azure-pipelines/scripts/ut/run_3x_tf.sh
  test/torch/requirements_xpu.txt
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

add numactl for model test
  .azure-pipelines/scripts/models/run_pytorch_models_trigger.sh
  .azure-pipelines/template/model-template.yml
Due: .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml

Improve installation description in examples README (#1738)
  examples/jax/keras/gemma/README.md
  examples/jax/keras/vit/README.md
Due: none

setup more xpu instance
  .azure-pipelines/scripts/ut/run_3x_pt_xpu.sh
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/ut-3x-tf.yml
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix env
  .azure-pipelines/template/model-template.yml
Due: none

Refactor AutoRound tests and CI scripts for CPU, HPU, and XPU (#2417)
  .azure-pipelines/docker/Dockerfile_xpu.devel
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/models/run_pytorch_models_trigger.sh
  .azure-pipelines/scripts/ut/collect_log.sh
  .azure-pipelines/scripts/ut/coverage.3x_pt_hpu
  .azure-pipelines/scripts/ut/coverage.file
  .azure-pipelines/scripts/ut/run_3x_pt.sh
  .azure-pipelines/scripts/ut/run_3x_pt_hpu.sh
  .azure-pipelines/scripts/ut/run_3x_pt_xpu.sh
  .azure-pipelines/scripts/ut/run_3x_tf.sh
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/template/model-template.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/ut-3x-pt-hpu.yml
  .azure-pipelines/ut-3x-pt-xpu.yml
  .azure-pipelines/ut-3x-pt.yml
  .azure-pipelines/ut-3x-tf.yml
  requirements_pt.txt
  test/torch/quantization/test_autoround_cpu.py
  test/torch/quantization/test_autoround_hpu.py
  test/torch/quantization/test_autoround_xpu.py
  test/torch/requirements.txt
  test/torch/requirements_xpu.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Add JAX support to installation and unit testing scripts
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/ut/coverage.3x_jax
  .azure-pipelines/scripts/ut/run_3x_jax.sh
  .azure-pipelines/ut-3x-jax.yml
Due: .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

install jax only for jax CI
  .azure-pipelines/scripts/install_nc.sh
Due: .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic.yml

Set KERAS_BACKEND to jax in run_3x_jax.sh for proper environment configuration
  .azure-pipelines/scripts/ut/run_3x_jax.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix
  .azure-pipelines/scripts/ut/run_3x_jax.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Refactor model saving wrappers to work with custom keras models (#1740)
  neural_compressor/jax/algorithms/dynamic.py
  neural_compressor/jax/algorithms/static.py
  neural_compressor/jax/quantization/saving.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml
