Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-insights.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST_TF
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-ort.yml:
  pool: ICX-16C
  stages:
  - stage: ONNXRT
    displayName: Unit Test ONNXRT
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test ONNXRT
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ort
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: 3x/run_3x_pt
  ...

.azure-pipelines/ut-basic-no-cover.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-itrex.yml:
  pool: MODEL_PERF_TEST
  stages:
  - stage: null
    displayName: Unit Test of ITREX
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_itrex
          uploadPath: $(UPLOAD_PATH)
  ...

Fix the PT2E UT (#2071)
  test/3x/torch/quantization/test_pt2e_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

replace quant_block_list with to_quant_block_names
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/weight_only.py
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[SW-209878] Increase threshold to avoid random error in test_layer_wise.py (#34)
  test/3x/torch/quantization/fp8_quant/test_layer_wise.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-208889] replaced accelerator.mark_step() (#37)
  neural_compressor/torch/algorithms/weight_only/gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

support mllm
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/ut-3x-pt.yml

update docstring
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

Support gptq layerwise on client (#2069)
  neural_compressor/torch/algorithms/layer_wise/utils.py
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/transformers/quantization/utils.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

revert 2x
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/weight_only.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

adapt autoround v0.4
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/weight_only.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[SW-207451] Implement block-wise calibration for LLM (#24)
  neural_compressor/torch/algorithms/fp8_quant/_core/measure.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/block_wise.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_block_wise.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-207579] support load vLLM compatible FP8 model (#18) (#44)
  neural_compressor/torch/algorithms/fp8_quant/save_load.py
  neural_compressor/torch/quantization/save_load_entry.py
  neural_compressor/torch/utils/environ.py
  test/3x/torch/quantization/fp8_quant/test_multi_device.py
Due: .azure-pipelines/ut-3x-pt.yml

Adapt autoround v0.4 (#2073)
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/weight_only.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update UT, refine autoround code
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/algorithms/weight_only/utility.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-208986] fix save&load bug (#40) (#17)
  neural_compressor/torch/algorithms/fp8_quant/save_load.py
  test/3x/torch/quantization/fp8_quant/test_multi_device.py
Due: .azure-pipelines/ut-3x-pt.yml

update captureddataloder ut
  test/3x/torch/quantization/weight_only/test_woq_utils.py
Due: .azure-pipelines/ut-3x-pt.yml

refine UT
  .azure-pipelines/scripts/ut/env_setup.sh
  .azure-pipelines/scripts/ut/run_basic_adaptor.sh
  .azure-pipelines/ut-3x-pt-fp8.yml
  .azure-pipelines/ut-3x-pt.yml
  .azure-pipelines/ut-3x-tf.yml
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

replace trl-internal-testing/tiny-random-OPTForCausalLM with trl-internal-testing/tiny-OPTForCausalLM
  test/3x/torch/quantization/weight_only/test_awq.py
  test/3x/torch/quantization/weight_only/test_hqq.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

Ensure that mul operators with shared initializer will not be absorbed in SmoothQuant (#2063)
  neural_compressor/adaptor/ox_utils/smooth_quant.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Integrate AutoRound v0.4 [3x] (#2072)
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/algorithms/weight_only/utility.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/quantization/weight_only/test_autoround.py
  test/3x/torch/quantization/weight_only/test_awq.py
  test/3x/torch/quantization/weight_only/test_hqq.py
  test/3x/torch/quantization/weight_only/test_rtn.py
  test/3x/torch/quantization/weight_only/test_woq_utils.py
Due: .azure-pipelines/ut-3x-pt.yml

Update CI framework versions and README badge for release 3.1.1 (#2058)
  .azure-pipelines/scripts/fwk_version.sh
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
  .azure-pipelines/scripts/ut/collect_log.sh
  .azure-pipelines/scripts/ut/env_setup.sh
  .azure-pipelines/scripts/ut/run_basic_adaptor.sh
  .azure-pipelines/ut-3x-pt-fp8.yml
  .azure-pipelines/ut-3x-pt.yml
  .azure-pipelines/ut-3x-tf.yml
  .azure-pipelines/ut-basic.yml
  README.md
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

remove alexnet_fashion_mnist notebook
  examples/README.md
  examples/notebook/pytorch/alexnet_fashion_mnist/License.txt
  examples/notebook/pytorch/alexnet_fashion_mnist/README.md
  examples/notebook/pytorch/alexnet_fashion_mnist/inc_sample_for_pytorch.ipynb
  examples/notebook/pytorch/alexnet_fashion_mnist/output/readme.txt
  examples/notebook/pytorch/alexnet_fashion_mnist/scripts/conda_set_env.sh
  examples/notebook/pytorch/alexnet_fashion_mnist/scripts/devcloud_setup_env.sh
  examples/notebook/pytorch/alexnet_fashion_mnist/scripts/pip_set_env.sh
  examples/notebook/pytorch/alexnet_fashion_mnist/scripts/python_src/alexnet.py
  examples/notebook/pytorch/alexnet_fashion_mnist/scripts/python_src/compare_perf.py
  examples/notebook/pytorch/alexnet_fashion_mnist/scripts/python_src/fashion_mnist.py
  examples/notebook/pytorch/alexnet_fashion_mnist/scripts/python_src/inc_quantize_model.py
  examples/notebook/pytorch/alexnet_fashion_mnist/scripts/python_src/profiling_inc.py
  examples/notebook/pytorch/alexnet_fashion_mnist/scripts/python_src/train_alexnet_fashion_mnist.py
  examples/notebook/pytorch/alexnet_fashion_mnist/scripts/requirements.txt
  examples/notebook/pytorch/alexnet_fashion_mnist/scripts/run_in_intel_devcloud.sh
  examples/notebook/pytorch/alexnet_fashion_mnist/scripts/run_jupyter.sh
  examples/notebook/pytorch/alexnet_fashion_mnist/scripts/run_sample.sh
Due: none

[SW-197077] fix bug in output arbitrary scales (#45)
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/max_abs.py
Due: .azure-pipelines/ut-3x-pt.yml

support autoround new API for VLM
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Llava/README.md
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Llava/main.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Llava/mm_evaluation/__init__.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Llava/mm_evaluation/textvqa.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Llava/requirements.txt
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Llava/run_autoround.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Llava/run_eval.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/README.md
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/eval/__init__.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/eval/evaluation.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/main.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/model/__init__.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/model/configuration_phi3_v.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/model/image_embedding_phi3_v.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/model/image_processing_phi3_v.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/model/modeling_phi3_v.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/model/processing_phi3_v.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/requirements.txt
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/run_autoround.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/README.md
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/main.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/mm_evaluation/__init__.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/mm_evaluation/evaluate_multiple_choice.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/mm_evaluation/evaluate_vqa.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/mm_evaluation/main.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/mm_evaluation/vqa.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/mm_evaluation/vqa_eval.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/requirements.txt
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/run_autoround.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/run_eval.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/mllm.py
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/ut-3x-pt.yml

bugfix
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

fix CI issue
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-210541] loading for fused_sdpa requires additional amax scale (#49)
  neural_compressor/torch/algorithms/fp8_quant/_core/quantize.py
Due: .azure-pipelines/ut-3x-pt.yml

add import check
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic.yml

update readme
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/mllm.py
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

set pad_token
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/run_generation_gpu_woq.py
Due: none

set gptq_percdamp to 0.7
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_quant.sh
Due: none

Add required library for ONNX example
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/requirements.txt
Due: none

Update requirements.txt
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/requirements.txt
Due: none

Fix truthfulqa task evaluation issue
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/run_generation_gpu_woq.py
Due: none

Update utility.py
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

Add required library for ONNX example (#2078)
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/requirements.txt
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/requirements.txt
Due: none

support autoround new API for VLM (#2075)
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Llava/README.md
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Llava/main.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Llava/mm_evaluation/__init__.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Llava/mm_evaluation/textvqa.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Llava/requirements.txt
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Llava/run_autoround.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Llava/run_eval.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/README.md
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/eval/__init__.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/eval/evaluation.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/main.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/model/__init__.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/model/configuration_phi3_v.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/model/image_embedding_phi3_v.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/model/image_processing_phi3_v.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/model/modeling_phi3_v.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/model/processing_phi3_v.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/requirements.txt
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/run_autoround.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/README.md
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/main.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/mm_evaluation/__init__.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/mm_evaluation/evaluate_multiple_choice.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/mm_evaluation/evaluate_vqa.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/mm_evaluation/main.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/mm_evaluation/vqa.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/mm_evaluation/vqa_eval.py
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/requirements.txt
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/run_autoround.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/common_model/run_eval.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/mllm.py
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Due: .azure-pipelines/ut-3x-pt.yml

add import check (#2076)
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic.yml

add gptq known issue
  docs/source/faq.md
Due: none

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
