Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-insights.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test-3x.yml:
  stages:
  - stage: PyTorchModels
    displayName: Run PyTorch Model
    pool: ICX-16C
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.PyTorch_Model_3X }}', 'true'))
    jobs:
    - ${{ each model in parameters.PyTorchModelList }}:
      - job: null
        displayName: ${{ model }}
        steps:
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-ort.yml:
  pool: ICX-16C
  stages:
  - stage: ONNXRT
    displayName: Unit Test ONNXRT
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test ONNXRT
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ort
  ...

.azure-pipelines/ut-3x-pt-fp8.yml:
  pool: GAUDI
  stages:
  - stage: Torch_habana
    displayName: Torch 3x Habana FP8
    dependsOn: []
    jobs:
    - job: null
      displayName: Torch 3x Habana FP8
      timeoutInMinutes: 120
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          dockerFileName: ubuntu-2404
  ...

Add options to store weights and scales as constant (#2429)
  neural_compressor/jax/algorithms/dynamic.py
  neural_compressor/jax/algorithms/static.py
  neural_compressor/jax/quantization/config.py
  neural_compressor/jax/quantization/layers_dynamic.py
  neural_compressor/jax/quantization/layers_static.py
  neural_compressor/jax/quantization/saving.py
  neural_compressor/jax/utils/utility.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

downgrade python version for docformatter
  .pre-commit-config.yaml
Due: none

Fix flux bf16 inference (#2428)
  examples/pytorch/diffusion_model/diffusers/flux/README.md
  examples/pytorch/diffusion_model/diffusers/flux/main.py
  examples/pytorch/diffusion_model/diffusers/flux/run_benchmark.sh
Due: none

Rename variable names to 1:1 with atribute name
  neural_compressor/jax/quantization/layers_dynamic.py
  neural_compressor/jax/quantization/layers_static.py
  neural_compressor/jax/utils/utility.py
  test/jax/test_accuracy.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Rename variable names to 1:1 with atribute name (#2430)
  neural_compressor/jax/quantization/layers_dynamic.py
  neural_compressor/jax/quantization/layers_static.py
  neural_compressor/jax/utils/utility.py
  test/jax/test_accuracy.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Install stable version from the latest tag (#2427)
  .pre-commit-config.yaml
  docs/source/installation_guide.md
Due: none

Change composite names and refactor int8 - temporary WA for xla
  neural_compressor/jax/quantization/layers_static.py
  neural_compressor/jax/utils/utility.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update docs for new features
  README.md
  docs/source/get_started.md
  docs/source/imgs/architecture.png
  docs/source/installation_guide.md
  setup.py
Due: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml

Fix link
  README.md
  docs/source/get_started.md
  docs/source/installation_guide.md
Due: none

fix lm-eval
  neural_compressor/evaluation/lm_eval/models/huggingface.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

update opt model
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_clm_no_trainer.py
Due: none

fix ut
  test/torch/quantization/test_autoround_cpu.py
Due: .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

update dynamic_shapes
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_clm_no_trainer.py
Due: none

update architecture graph
  docs/source/imgs/architecture.png
Due: none

update autoround md
  docs/source/PT_AutoRound.md
Due: none

update link
  docs/source/PT_AutoRound.md
Due: none

fix benchmark
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_clm_no_trainer.py
Due: none

update comments
  docs/source/PT_AutoRound.md
Due: none

update comments fp8
  docs/source/PT_AutoRound.md
Due: none

Fix ruler evaluation: auto-detect max_model_len, add ruler eval path, fix routing logic
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

fix
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

update yi comments
  docs/source/PT_AutoRound.md
Due: none

fix
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/requirements.txt
Due: none

fix
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/setup.sh
Due: none

feat: add RULER eval for deepseek
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/run_evaluation.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/setup.sh
Due: none

Add `PT_AutoRound.md` (#2434)
  docs/source/PT_AutoRound.md
Due: none

remove extra index url
  .azure-pipelines/scripts/ut/run_3x_pt.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

set iters==100
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_clm_no_trainer.py
Due: none

fix
  .azure-pipelines/template/model-template.yml
Due: none

Update docs for new features (#2432)
  .azure-pipelines/scripts/ut/run_3x_pt.sh
  .azure-pipelines/template/model-template.yml
  README.md
  docs/source/get_started.md
  docs/source/imgs/architecture.png
  docs/source/installation_guide.md
  setup.py
  test/torch/quantization/test_autoround_cpu.py
Due: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/code-scan.yml: any of: neural_compressor, setup.py, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test-3x.yml: any of: neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, examples/deprecated/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only, setup.py, requirements_pt.txt, .azure-pipelines/scripts/models, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/model-test-3x.yml, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/model-test.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, .azure-pipelines/model-test.yml, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt-fp8.yml: any of: .azure-pipelines/scripts/ut/run_3x_pt_fp8.sh, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut/coverage.3x_pt_fp8, neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, test/torch/algorithms/fp8_quant, test/torch/quantization/fp8_quant, test/torch/quantization/weight_only/test_rtn.py, test/torch/quantization/weight_only/test_load.py, setup.py, requirements_pt.txt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, test/torch, test/common, setup.py, requirements_pt.txt, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/scripts/ut/run_3x_pt.sh, .azure-pipelines/scripts/ut/coverage.3x_pt
  .azure-pipelines/ut-3x-tf.yml: any of: neural_compressor/common, neural_compressor/tensorflow, test/tensorflow, test/common, setup.py, requirements_tf.txt, .azure-pipelines/scripts/ut/run_3x_tf.sh, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut/coverage.3x_tf
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/ut-basic.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers, neural_compressor/evaluation, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
