Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-insights.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST_TF
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-ort.yml:
  pool: ICX-16C
  stages:
  - stage: ONNXRT
    displayName: Unit Test ONNXRT
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test ONNXRT
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ort
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: 3x/run_3x_pt
  ...

.azure-pipelines/ut-basic-no-cover.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-itrex.yml:
  pool: MODEL_PERF_TEST
  stages:
  - stage: null
    displayName: Unit Test of ITREX
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_itrex
          uploadPath: $(UPLOAD_PATH)
  ...

remove itrex
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/mx_quant/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/ipex/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/llm_quantization_recipes.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/run_generation_cpu_woq.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/run_generation_gpu_woq.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/requirements.txt
Due: none

Update requirements
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/mx_quant/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/ipex/requirements.txt
Due: none

update lm_eval
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/ipex/requirements.txt
Due: none

fix llama3 oom
  neural_compressor/transformers/quantization/utils.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

refine scripts & requirements
  examples/.config/model_params_pytorch_3x.json
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Llava/requirements.txt
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Llava/run_autoround.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/run_autoround.sh
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Qwen-VL/requirements.txt
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Qwen-VL/run_autoround.sh
Due: none

typofix
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/requirements.txt
Due: none

fix empty model trust_remote_code
  neural_compressor/transformers/models/modeling_auto.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix trust_remote_code
  neural_compressor/transformers/models/modeling_auto.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

resolve trust remote code
  neural_compressor/transformers/models/modeling_auto.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update params
  neural_compressor/transformers/models/modeling_auto.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[SW-203698] Add log for converting prepared model
  neural_compressor/torch/quantization/quantize.py
Due: .azure-pipelines/ut-3x-pt.yml

fix load empty model
  neural_compressor/torch/utils/utility.py
  neural_compressor/transformers/models/modeling_auto.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[SW-199737] Measurement dump improvements
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-203452] Fixing and temp skipping G3 unittests
  test/3x/torch/algorithms/fp8_quant/test_utils.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_fakequant.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_conv2d.py
Due: .azure-pipelines/ut-3x-pt.yml

update readme
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/README.md
Due: none

refine docs
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Llava/README.md
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/README.md
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Qwen-VL/README.md
Due: none

add transformers-like api doc
  docs/source/3x/transformers_like_api.md
Due: none

update toc
  docs/source/3x/transformers_like_api.md
Due: none

update title
  docs/source/3x/transformers_like_api.md
Due: none

minor fix
  docs/source/3x/transformers_like_api.md
Due: none

update code
  docs/source/3x/transformers_like_api.md
Due: none

[SW-195965] [GPTQ] INC load model loads model in fp32 only
  neural_compressor/torch/algorithms/weight_only/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

rm loaded_state_dict_keys params
  neural_compressor/torch/algorithms/weight_only/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

update docs for comments
  docs/source/3x/transformers_like_api.md
Due: none

update code type
  docs/source/3x/transformers_like_api.md
Due: none

adapt habana 4.43.3
  neural_compressor/torch/algorithms/weight_only/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

adapt transformers
  neural_compressor/torch/algorithms/weight_only/awq.py
Due: .azure-pipelines/ut-3x-pt.yml

update checked version
  neural_compressor/torch/algorithms/weight_only/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

Add transformers-like api doc (#2018)
  docs/source/3x/transformers_like_api.md
Due: none

Adapt transformers 4.45.1 (#2019)
  neural_compressor/torch/algorithms/weight_only/awq.py
  neural_compressor/torch/algorithms/weight_only/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

add autoround EMNLP24 to pub list (#2014)
  README.md
  docs/source/publication_list.md
Due: none

Fix transformers rtn layer-wise quant (#2008)
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/run_generation_gpu_woq.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/utils/utility.py
  neural_compressor/transformers/models/modeling_auto.py
  neural_compressor/transformers/quantization/utils.py
  test/3x/torch/quantization/weight_only/test_transfomers.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

set attn_implementation for Phi3-vision
  examples/3.x_api/pytorch/multimodal-modeling/quantization/auto_round/Phi-3-vision/main.py
Due: none

Remove itrex dependency for 3x example (#2016)
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/mx_quant/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/mx_quant/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/smooth_quant/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/ipex/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/ipex/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/static_quant/pt2e/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/llm_quantization_recipes.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/run_generation_cpu_woq.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/run_generation_gpu_woq.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/requirements.txt
Due: none

update autotune
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
Due: none

update woq_algo
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
Due: none

update user_model
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
Due: none

add eval fn
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
Due: none

update example_inputs
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_clm_no_trainer.py
Due: none

update extension test
  examples/.config/model_params_pytorch_3x.json
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/run_quant.sh
Due: none

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
