Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-insights.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST_TF
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-ort.yml:
  pool: ICX-16C
  stages:
  - stage: ONNXRT
    displayName: Unit Test ONNXRT
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test ONNXRT
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ort
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: 3x/run_3x_pt
  ...

.azure-pipelines/ut-basic-no-cover.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-itrex.yml:
  pool: MODEL_PERF_TEST
  stages:
  - stage: null
    displayName: Unit Test of ITREX
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_itrex
          uploadPath: $(UPLOAD_PATH)
  ...

bump version into v3.0
  neural_compressor/version.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fixed ut
  test/3x/torch/quantization/test_pt2e_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

use np 1.26
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

fix layer match
  neural_compressor/torch/algorithms/weight_only/gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

Limit numpy versions
  requirements_ort.txt
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

Limit numpy versions (#1874)
  requirements_ort.txt
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

fix coverage
  .coverage
  neural_compressor/torch/algorithms/pt2e_quant/half_precision_rewriter.py
  neural_compressor/torch/algorithms/pt2e_quant/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

dump op statistics
  neural_compressor/torch/algorithms/weight_only/utility.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

add ut
  neural_compressor/common/utils/utility.py
  neural_compressor/tensorflow/quantization/autotune.py
  neural_compressor/torch/quantization/autotune.py
  neural_compressor/torch/quantization/quantize.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-3x-pt.yml

add common ut
  neural_compressor/tensorflow/quantization/autotune.py
  test/3x/common/test_utility.py
Due: none

remove .coverage
  .coverage
Due: none

reset dict
  test/3x/common/test_utility.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-3x-pt.yml

enhance woq load
  neural_compressor/torch/algorithms/weight_only/modules.py
  neural_compressor/torch/algorithms/weight_only/save_load.py
  neural_compressor/torch/quantization/load_entry.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/quantization/weight_only/test_awq.py
  test/3x/torch/quantization/weight_only/test_gptq.py
  test/3x/torch/quantization/weight_only/test_load.py
  test/3x/torch/quantization/weight_only/test_load_woq_hf_model.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

add prettytable into requirements_pt
  neural_compressor/torch/algorithms/weight_only/utility.py
  neural_compressor/torch/quantization/algorithm_entry.py
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

enhance code
  test/3x/torch/quantization/weight_only/test_load.py
Due: .azure-pipelines/ut-3x-pt.yml

enhance code
  neural_compressor/torch/algorithms/weight_only/save_load.py
  neural_compressor/torch/quantization/load_entry.py
Due: .azure-pipelines/ut-3x-pt.yml

Add UT and remove unused code for torch MX quant (#1854)
  neural_compressor/torch/algorithms/mx_quant/mx.py
  test/3x/torch/algorithms/mx_quant/test_mx_utility.py
  test/3x/torch/quantization/test_mx_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

enhance code
  neural_compressor/torch/algorithms/weight_only/modules.py
  neural_compressor/torch/quantization/load_entry.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-181785] Remove torch from INC requierments
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

[SW-184941] INC CI, CD and Promotion
  requirements_pt.txt
  setup.py
Due: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml

[SW-183320]updated setup.py
  setup.py
Due: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml

[SW-177474] add HQT FP8 porting code
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/models/configuration_chatglm.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/models/modeling_chatglm.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/models/modeling_llama.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/models/tokenization_baichuan.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/requirement.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/run_llm.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/utils.py
  examples/fp8_sample/README.md
  examples/fp8_sample/maxabs_measure.json
  examples/fp8_sample/maxabs_quant.json
  examples/fp8_sample/quant_config.json
  examples/fp8_sample/sample_one_step.py
  examples/fp8_sample/sample_two_steps.py
  neural_compressor/torch/algorithms/fp8_quant/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/common.py
  neural_compressor/torch/algorithms/fp8_quant/fp8_quant.py
  neural_compressor/torch/algorithms/fp8_quant/helper_modules.py
  neural_compressor/torch/algorithms/habana_fp8/__init__.py
  neural_compressor/torch/algorithms/habana_fp8/fp8_quant.py
  neural_compressor/torch/algorithms/habana_fp8/modules.py
  neural_compressor/torch/algorithms/habana_fp8/observer.py
  neural_compressor/torch/algorithms/habana_fp8/save_load.py
  neural_compressor/torch/algorithms/habana_fp8/scale.py
  neural_compressor/torch/algorithms/habana_fp8/tensor/__init__.py
  neural_compressor/torch/algorithms/habana_fp8/tensor/convert.cpp
  neural_compressor/torch/amp/__init__.py
  neural_compressor/torch/amp/autocast.py
  neural_compressor/torch/amp/fp8/functions.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/load_entry.py
  neural_compressor/torch/quantization/quantize.py
  setup.py
  test/3x/torch/amp/test_fp8_amp.py
  test/3x/torch/quantization/habana_fp8/test_fp8.py
Due: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml

fix layer match (#1873)
  neural_compressor/torch/algorithms/weight_only/gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

fix code
  neural_compressor/torch/quantization/load_entry.py
Due: .azure-pipelines/ut-3x-pt.yml

Enhance autotune to return the best `q_model` directly (#1875)
  neural_compressor/common/base_tuning.py
  neural_compressor/common/utils/utility.py
  neural_compressor/tensorflow/quantization/autotune.py
  neural_compressor/torch/quantization/autotune.py
  neural_compressor/torch/quantization/quantize.py
  test/3x/common/test_utility.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-3x-pt.yml

remove alias
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

add rfc
  rfcs/auto_round_to_tgi.md
Due: none

fixed typo
  rfcs/auto_round_to_tgi.md
Due: none

Add op statistics dump for woq (#1876)
  neural_compressor/torch/algorithms/weight_only/utility.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/utils/utility.py
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

rm cov
  .coverage
Due: none

rm cov (#1878)
  .coverage
Due: none

add key results
  rfcs/auto_round_to_tgi.md
Due: none

replace res with fig
  rfcs/Autoround-res.png
Due: none

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
