Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/code-scan.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test-3x.yml: any of: neural_compressor/common, neural_compressor/torch, examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only, setup.py, requirements_pt.txt, .azure-pipelines/scripts/models, .azure-pipelines/model-test-3x.yml, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/model-test.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, .azure-pipelines/model-test.yml, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt-fp8.yml: any of: .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/template/docker-template.yml, neural_compressor/common, neural_compressor/torch, neural_compressor/transformers, test/3x/torch/algorithms/fp8_quant, test/3x/torch/quantization/fp8_quant, test/3x/torch/quantization/weight_only/test_rtn.py, test/3x/torch/quantization/weight_only/test_load.py, setup.py, requirements_pt.txt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, test/3x/common, setup.py, requirements_pt.txt, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/install_nc.sh, .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/ut-3x-tf.yml: any of: neural_compressor/common, neural_compressor/tensorflow, test/3x/tensorflow, test/3x/common, setup.py, requirements_tf.txt, .azure-pipelines/scripts/ut/3x/run_3x_tf.sh, .azure-pipelines/template/docker-template.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/ut-basic.yml, .azure-pipelines/template/docker-template.yml, .azure-pipelines/scripts/ut, .azure-pipelines/scripts/fwk_version.sh, .azure-pipelines/scripts/install_nc.sh, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, neural_compressor/transformers, neural_compressor/evaluation, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

fix corner issue
  .azure-pipelines/template/docker-template.yml
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic.yml

support new cpu test pool (#2405)
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/ut-3x-pt.yml
  .github/license_template.txt
  .github/workflows/pr-agent.yml.disable
  neural_compressor/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

use auto-round-lib as backend
  .azure-pipelines/scripts/install_nc.sh
  test/3x/torch/requirements.txt
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic.yml

fix fp8 test scripts
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh
  test/3x/torch/requirements.txt
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic.yml

fix test code issue
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/ut-3x-pt.yml
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic.yml

add longbench v2 for qwen
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

refactor code
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

minor update
  .azure-pipelines/model-test-3x.yml
  .azure-pipelines/template/model-template.yml
Due: .azure-pipelines/model-test-3x.yml

remove invalid code
  neural_compressor/transformers/quantization/utils.py
  test/3x/torch/quantization/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-itrex.yml

use auto-round v0.10.1 for test
  test/3x/torch/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml

fix typo
  .azure-pipelines/model-test-3x.yml
Due: .azure-pipelines/model-test-3x.yml

update threads
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/qwen/run_evaluation.sh
Due: none

Refactor tagert_modules definition for auto-round-lib
  test/3x/torch/quantization/test_autoround.py
Due: .azure-pipelines/ut-3x-pt.yml

Upgrade torch >= 2.9 (#2349)
  .azure-pipelines/model-test-3x.yml
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/template/model-template.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/ut-3x-pt.yml
  neural_compressor/transformers/quantization/utils.py
  test/3x/torch/algorithms/smooth_quant/test_sq_utility.py
  test/3x/torch/quantization/test_autoround.py
  test/3x/torch/quantization/test_smooth_quant.py
  test/3x/torch/quantization/test_static_quant.py
  test/3x/torch/quantization/weight_only/test_transformers.py
  test/3x/torch/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-3x-tf.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix
  test/3x/torch/quantization/test_autoround.py
Due: .azure-pipelines/ut-3x-pt.yml

remove invalid links
  .github/workflows/pr-link-scan.yml
  docs/source/installation_guide.md
Due: none

fix 3xpt test scope
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml

for test
  docs/source/3x/JAX.md
Due: none

remove invalid links (#2409)
  .github/workflows/pr-link-scan.yml
  docs/source/3x/JAX.md
  docs/source/installation_guide.md
Due: none

update ipex test
  test/3x/torch/quantization/test_static_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

Refactor tagert_modules definition for auto-round-lib (#2407)
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  test/3x/torch/quantization/test_autoround.py
  test/3x/torch/quantization/test_static_quant.py
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml

Add LongBench v2 support for DeepSeek
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/run_evaluation.sh
Due: none

update max len
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/run_evaluation.sh
Due: none

Add LongBench v2 support for DeepSeek (#2410)
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/auto_round/deepseek/run_evaluation.sh
Due: none

[GAUDISW-246337] Added dynamic quant with weight PCS POW2 (#354)
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/scale_method_config.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  test/3x/torch/algorithms/fp8_quant/tester.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_functions/test_config_json.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_conv2d.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_linear.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_matmul.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_runtime_scale_patching.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_scale_method_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

[GAUDISW-246352] assign value of 1 to scales of non-active blocks (#358)
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

Add support for saving and loading synamically quantized models (#1728)
  neural_compressor/jax/algorithms/dynamic.py
  neural_compressor/jax/algorithms/static.py
  neural_compressor/jax/quantization/config.py
  neural_compressor/jax/quantization/layers_dynamic.py
  neural_compressor/jax/quantization/layers_static.py
  neural_compressor/jax/quantization/saving.py
  neural_compressor/jax/utils/utility.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[GAUDISW-246550] Remove spaces before equals in scale_method_config parameter assignments (#362)
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/scale_method_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test-3x.yml, .azure-pipelines/ut-3x-pt-fp8.yml, .azure-pipelines/ut-3x-pt.yml

Aling MultiHeadAttention to definition from Keras 3.13.2 (#1730)
  neural_compressor/jax/quantization/layers_dynamic.py
  neural_compressor/jax/quantization/layers_static.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Update requirements (#1732)
  examples/jax/keras/gemma/requirements.txt
  examples/jax/keras/vit/requirements.txt
  requirements_jax.txt
Due: none

fix Dangerous-Workflow in OpenSSF check (#1735)
  .github/workflows/pr-pre-commit.yml
Due: none
