Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/code-scan-neural-insights.yml
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort/common, neural_compressor_ort/common, test/onnxrt, test/common, setup.py, requirements.txt, .azure-pipelines/scripts/ut
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt, .azure-pipelines/scripts/ut/3x
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder, test/neural_coder, setup.py
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py, .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/ut-neural-solution.yaml
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

rename
  neural_compressor/transformers/models/__init__.py
  neural_compressor/transformers/models/modeling_auto.py
  neural_compressor/transformers/quantization/utils.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update 3x pt binary name
  neural_compressor/torch/algorithms/fp8_quant/_core/utils.py
  setup.py
Due: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml

update ci test for installation binary name change Signed-off-by: chensuyue <suyue.chen@intel.com>
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic.yml

update installation and ci test for 3x api (#1991)
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt_fp8.sh
  neural_compressor/torch/algorithms/fp8_quant/_core/utils.py
  setup.py
Due: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml

add hasattr check for torch fp8 dtype (#1985)
  neural_compressor/torch/algorithms/weight_only/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

adapt fx
  neural_compressor/transformers/models/modeling_auto.py
  neural_compressor/transformers/quantization/utils.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add quantize, save, load function for transformers-like api (#1986)
  neural_compressor/transformers/__init__.py
  neural_compressor/transformers/models/__init__.py
  neural_compressor/transformers/models/modeling_auto.py
  neural_compressor/transformers/quantization/__init__.py
  neural_compressor/transformers/quantization/utils.py
  neural_compressor/transformers/utils/__init__.py
  neural_compressor/transformers/utils/quantization_config.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Update installation_guide.md (#1989)
  docs/source/installation_guide.md
Due: none

update 3x pt binary build Signed-off-by: chensuyue <suyue.chen@intel.com>
  setup.py
Due: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml

Fix UT env and upgrade torch to 2.4.0 (#1978)
  .azure-pipelines/scripts/fwk_version.sh
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/models/env_setup.sh
  .azure-pipelines/scripts/ut/run_basic_pt_pruning.sh
  .azure-pipelines/template/docker-template.yml
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/weight_only/requirements.txt
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

bump version
  neural_compressor/version.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update 3x pt binary build (#1992)
  setup.py
Due: .azure-pipelines/code-scan-neural-insights.yaml, .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-neural-solution.yaml

[SW-180042] Change HQT HF8_143 max range
  neural_compressor/torch/algorithms/fp8_quant/_core/fp_utils.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/max_abs.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/smooth_quant.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_fakequant.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-187399] Support vLLM Mixtral quantization
  neural_compressor/torch/algorithms/fp8_quant/_core/common.py
  neural_compressor/torch/algorithms/fp8_quant/_core/measure.py
  neural_compressor/torch/algorithms/fp8_quant/_core/quantize.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
Due: .azure-pipelines/ut-3x-pt.yml

add per_channel_minmax (#1990)
  neural_compressor/torch/algorithms/pt2e_quant/utility.py
  test/3x/torch/quantization/test_pt2e_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

update copyright
  neural_compressor/transformers/__init__.py
  neural_compressor/transformers/config.py
  neural_compressor/transformers/modeling/__init__.py
  neural_compressor/transformers/modeling/modeling_auto.py
  neural_compressor/transformers/quantization/utils.py
  neural_compressor/transformers/utils/__init__.py
  neural_compressor/transformers/utils/config.py
  neural_compressor/transformers/utils/utility.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update gptq config
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

revert code
  neural_compressor/torch/algorithms/weight_only/rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

Remove the save of gptq config (#1993)
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-197033][SW-197034] Separate unit scale from measurement and add HW_aligned scale
  docs/3x/PT_FP8Quant.md
  neural_compressor/torch/algorithms/fp8_quant/_core/quantize.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/__init__.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/single_scale.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/unit_scale.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/quant_config.py
  test/3x/torch/algorithms/fp8_quant/test_jsons/test_hw_aligned_quant.json
  test/3x/torch/algorithms/fp8_quant/tester.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_conv2d.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_linear.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_layers/test_matmul.py
Due: .azure-pipelines/ut-3x-pt.yml

add recent publications
  README.md
  docs/source/publication_list.md
Due: none

[SW-198578] fix parsing of default fake_quant config
  neural_compressor/torch/quantization/config.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_fp8_config.py
Due: .azure-pipelines/ut-3x-pt.yml

follow master
  neural_compressor/transformers/modeling/modeling_auto.py
  neural_compressor/transformers/quantization/utils.py
  neural_compressor/transformers/utils/config.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update models
  neural_compressor/transformers/__init__.py
  neural_compressor/transformers/modeling/__init__.py
  neural_compressor/transformers/modeling/modeling_auto.py
  neural_compressor/transformers/models/modeling_auto.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update models
  neural_compressor/transformers/models/modeling_auto.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

remove qat/static/dynamic
  neural_compressor/transformers/models/modeling_auto.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

remove inc sq
  neural_compressor/transformers/models/modeling_auto.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

remove true_sequential
  neural_compressor/transformers/quantization/utils.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[ALGO-797] enabled quarot - modified unittest, improved scripts readability
  neural_compressor/torch/algorithms/mixed_low_precision/custom_methods/quarot.py
  neural_compressor/torch/algorithms/mixed_low_precision/custom_methods/quarot_utils.py
  neural_compressor/torch/algorithms/mixed_low_precision/internal/quantization_methods/quantize_gptq.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_quarot.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-199642] Fix way of getting device type in scale calculation in INC
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/max_abs.py
  neural_compressor/torch/algorithms/fp8_quant/_core/scale_methods/smooth_quant.py
  neural_compressor/torch/algorithms/fp8_quant/_quant_common/helper_modules.py
  test/3x/torch/algorithms/fp8_quant/unit_tests/test_fakequant.py
Due: .azure-pipelines/ut-3x-pt.yml

[SW-194429] Workaround to cholesky accuracy issue
  neural_compressor/torch/algorithms/weight_only/gptq.py
Due: .azure-pipelines/ut-3x-pt.yml

update ut
  neural_compressor/transformers/utils/quantization_config.py
  test/3x/torch/quantization/weight_only/test_transfomers.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

support layer wise
  neural_compressor/transformers/quantization/utils.py
  neural_compressor/transformers/utils/quantization_config.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update model_path
  neural_compressor/transformers/quantization/utils.py
  neural_compressor/transformers/utils/quantization_config.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml
