Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      steps:
      - template: template/ut-basic-template.yml
        parameters:
          dockerTemplate: commonDockerTemplate
          dockerTemplateRepoName: neural-compressor
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

fix bug
  neural_compressor/adaptor/ox_utils/operators/split.py
Due: .azure-pipelines/ut-basic.yml

revert some change for test
  examples/pytorch/image_recognition/efficientnet/quantization/ptq/eager/run_tuning.sh
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/eager/run_tuning.sh
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/eager/run_tuning_dump_tensor.sh
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/fx/run_tuning.sh
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/gpu/eager/run_tuning.sh
Due: none

fix ut issue
  neural_compressor/model/keras_model.py
Due: .azure-pipelines/ut-basic.yml

remove unused code
  neural_compressor/adaptor/ox_utils/operators/activation.py
  neural_compressor/adaptor/ox_utils/operators/argmax.py
  neural_compressor/adaptor/ox_utils/operators/attention.py
  neural_compressor/adaptor/ox_utils/operators/binary_op.py
  neural_compressor/adaptor/ox_utils/operators/concat.py
  neural_compressor/adaptor/ox_utils/operators/conv.py
  neural_compressor/adaptor/ox_utils/operators/direct_q8.py
  neural_compressor/adaptor/ox_utils/operators/embed_layernorm.py
  neural_compressor/adaptor/ox_utils/operators/gather.py
  neural_compressor/adaptor/ox_utils/operators/gavgpool.py
  neural_compressor/adaptor/ox_utils/operators/gemm.py
  neural_compressor/adaptor/ox_utils/operators/matmul.py
  neural_compressor/adaptor/ox_utils/operators/maxpool.py
  neural_compressor/adaptor/ox_utils/operators/ops.py
  neural_compressor/adaptor/ox_utils/operators/pad.py
  neural_compressor/adaptor/ox_utils/operators/pooling.py
  neural_compressor/adaptor/ox_utils/operators/resize.py
  neural_compressor/adaptor/ox_utils/operators/split.py
  neural_compressor/config.py
  neural_compressor/experimental/export/qlinear2qdq.py
  neural_compressor/model/onnx_model.py
Due: .azure-pipelines/ut-basic.yml

add pruning code
  neural_compressor/conf/config.py
  neural_compressor/config.py
  neural_compressor/prune/README.md
  neural_compressor/prune/__init__.py
  neural_compressor/prune/criteria.py
  neural_compressor/prune/logger.py
  neural_compressor/prune/patterns.py
  neural_compressor/prune/prune_utils.py
  neural_compressor/prune/pruners.py
  neural_compressor/prune/regs.py
  neural_compressor/prune/schedulers.py
  neural_compressor/pruners/gradient_sensitivity.py
  neural_compressor/pruners/group_lasso.py
  neural_compressor/pruners/magnitude.py
  neural_compressor/pruners/pattern_lock.py
  neural_compressor/pruners/pruner.py
  neural_compressor/pruning.py
Due: .azure-pipelines/ut-basic.yml

add unit test
  test/pruning/test_pruning.py
  test/pruning/test_pruning_config.py
  test/pruning/test_pruning_criteria.py
  test/pruning/test_pruning_patterns.py
  test/pruning/test_pruning_regs.py
  test/pruning/test_pruning_schedulers.py
  test/pruning/test_pruning_types.py
Due: none

update ut codes
  test/pruning/test_pruning.py
  test/pruning/test_pruning_config.py
  test/pruning/test_pruning_criteria.py
  test/pruning/test_pruning_patterns.py
Due: none

add words
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
Due: none

azure ut coverage report fix (#252)
  .azure-pipelines/scripts/ut/collect_log.sh
  .azure-pipelines/ut-basic.yml
  .azure-pipelines/ut-ncoder.yml
Due: none

Update requirements
  test/requirements.txt
Due: none

add imgs
  docs/source/_static/imgs/pruning/pruning_patterns.png
Due: none

recover pruners, prune_config
  neural_compressor/config.py
Due: .azure-pipelines/ut-basic.yml

rm pytorch_pruner
  neural_compressor/experimental/pytorch_pruner/__init__.py
  neural_compressor/experimental/pytorch_pruner/logger.py
  neural_compressor/experimental/pytorch_pruner/patterns.py
  neural_compressor/experimental/pytorch_pruner/prune_utils.py
  neural_compressor/experimental/pytorch_pruner/pruner.py
  neural_compressor/experimental/pytorch_pruner/pruning.py
  neural_compressor/experimental/pytorch_pruner/scheduler.py
Due: .azure-pipelines/ut-basic.yml

recover pruners
  neural_compressor/pruners/__init__.py
  neural_compressor/pruners/gradient_sensitivity.py
  neural_compressor/pruners/group_lasso.py
  neural_compressor/pruners/magnitude.py
  neural_compressor/pruners/pattern_lock.py
  neural_compressor/pruners/pruner.py
  neural_compressor/pruners/util/block_mask.py
Due: .azure-pipelines/ut-basic.yml

Refactor Quantization Aware Training of TF backend (#250)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  examples/.config/model_params_tensorflow.json
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/benchmark.py
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/convert.py
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/main.py
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/mnist.yaml
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/mnist_itex.yaml
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/qat.py
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/requirements.txt
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/train.py
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/README
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/main.py
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/requirements.txt
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/run_tuning.sh
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/__init__.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/fake_quantize.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/quantize_config.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/quantize_helper.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/quantize_layers/__init__.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/quantize_layers/optimize_layer.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/quantize_layers/quantize_layer_add.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/quantize_layers/quantize_layer_base.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/quantize_layers/quantize_layer_bn.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/quantize_wrapper.py
  neural_compressor/experimental/component.py
  neural_compressor/experimental/quantization.py
  neural_compressor/model/model.py
  test/model/test_model.py
  test/quantization/test_tensorflow_qat.py
Due: .azure-pipelines/ut-basic.yml

update publication_list.md
  README.md
  docs/source/publication_list.md
Due: none

move folder, add readme
  neural_compressor/experimental/pruning.py
  neural_compressor/prune/prune_legacy/__init__.py
  neural_compressor/prune/prune_legacy/gradient_sensitivity.py
  neural_compressor/prune/prune_legacy/group_lasso.py
  neural_compressor/prune/prune_legacy/magnitude.py
  neural_compressor/prune/prune_legacy/pattern_lock.py
  neural_compressor/prune/prune_legacy/pruner.py
  neural_compressor/prune/prune_legacy/util/block_mask.py
Due: .azure-pipelines/ut-basic.yml

move folders
  neural_compressor/experimental/pruning.py
  neural_compressor/pruner/README.md
  neural_compressor/pruner/__init__.py
  neural_compressor/pruner/criteria.py
  neural_compressor/pruner/logger.py
  neural_compressor/pruner/patterns.py
  neural_compressor/pruner/prune_utils.py
  neural_compressor/pruner/pruner_legacy/__init__.py
  neural_compressor/pruner/pruner_legacy/gradient_sensitivity.py
  neural_compressor/pruner/pruner_legacy/group_lasso.py
  neural_compressor/pruner/pruner_legacy/magnitude.py
  neural_compressor/pruner/pruner_legacy/pattern_lock.py
  neural_compressor/pruner/pruner_legacy/pruner.py
  neural_compressor/pruner/pruner_legacy/util/block_mask.py
  neural_compressor/pruner/pruners.py
  neural_compressor/pruner/regs.py
  neural_compressor/pruner/schedulers.py
  neural_compressor/pruning.py
Due: .azure-pipelines/ut-basic.yml

update unit test
  test/pruning/test_pruning_types.py
Due: none

add common folder
  neural_compressor/common/__init__.py
  neural_compressor/common/criterion.py
  neural_compressor/common/dataloader.py
  neural_compressor/common/metric.py
  neural_compressor/common/model.py
  neural_compressor/common/optimizer.py
  neural_compressor/common/postprocess.py
  neural_compressor/common/torch_utils.py
Due: .azure-pipelines/ut-basic.yml

add data folder
  neural_compressor/data/__init__.py
  neural_compressor/data/dataloaders/__init__.py
  neural_compressor/data/dataloaders/base_dataloader.py
  neural_compressor/data/dataloaders/dataloader.py
  neural_compressor/data/dataloaders/default_dataloader.py
  neural_compressor/data/dataloaders/fetcher.py
  neural_compressor/data/dataloaders/mxnet_dataloader.py
  neural_compressor/data/dataloaders/onnxrt_dataloader.py
  neural_compressor/data/dataloaders/pytorch_dataloader.py
  neural_compressor/data/dataloaders/sampler.py
  neural_compressor/data/dataloaders/tensorflow_dataloader.py
  neural_compressor/data/datasets/__init__.py
  neural_compressor/data/datasets/bert_dataset.py
  neural_compressor/data/datasets/coco_dataset.py
  neural_compressor/data/datasets/dataset.py
  neural_compressor/data/datasets/dummy_dataset.py
  neural_compressor/data/datasets/dummy_dataset_v2.py
  neural_compressor/data/datasets/imagenet_dataset.py
  neural_compressor/data/datasets/style_transfer_dataset.py
  neural_compressor/data/filters/__init__.py
  neural_compressor/data/filters/coco_filter.py
  neural_compressor/data/filters/filter.py
  neural_compressor/data/transforms/imagenet_transform.py
  neural_compressor/data/transforms/tokenization.py
  neural_compressor/data/transforms/transform.py
  neural_compressor/experimental/common/criterion.py
  neural_compressor/experimental/data/__init__.py
  neural_compressor/experimental/data/datasets/__init__.py
  neural_compressor/experimental/graph_optimization.py
  neural_compressor/quantization.py
Due: .azure-pipelines/ut-basic.yml

refine class name
  neural_compressor/experimental/data/dataloaders/pytorch_dataloader.py
  neural_compressor/experimental/data/datasets/__init__.py
  neural_compressor/experimental/data/datasets/dataset.py
  neural_compressor/experimental/model_conversion.py
  neural_compressor/experimental/quantization.py
  neural_compressor/metric/__init__.py
  neural_compressor/metric/bleu.py
  neural_compressor/metric/bleu_util.py
  neural_compressor/metric/coco_label_map.py
  neural_compressor/metric/coco_tools.py
  neural_compressor/metric/evaluate_squad.py
  neural_compressor/metric/f1.py
  neural_compressor/metric/metric.py
  neural_compressor/utils/create_obj_from_config.py
Due: .azure-pipelines/ut-basic.yml

append dataset and transform feature
  neural_compressor/data/datasets/imagenet_dataset.py
  neural_compressor/data/transforms/imagenet_transform.py
  neural_compressor/experimental/data/datasets/imagenet_dataset.py
  neural_compressor/experimental/data/transforms/imagenet_transform.py
Due: .azure-pipelines/ut-basic.yml

rename DATASETS
  neural_compressor/utils/create_obj_from_config.py
Due: .azure-pipelines/ut-basic.yml

fix pylint and pydocstyle
  neural_compressor/common/dataloader.py
  neural_compressor/data/datasets/imagenet_dataset.py
  neural_compressor/data/transforms/imagenet_transform.py
  neural_compressor/experimental/data/datasets/imagenet_dataset.py
  neural_compressor/experimental/data/transforms/imagenet_transform.py
  neural_compressor/metric/metric.py
Due: .azure-pipelines/ut-basic.yml

replace UT DATASETS
  neural_compressor/experimental/data/transforms/imagenet_transform.py
  test/adaptor/onnxrt_adaptor/test_adaptor_onnxrt.py
  test/adaptor/onnxrt_adaptor/test_onnxrt_augment.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch_2.x.py
  test/adaptor/pytorch_adaptor/test_torch2onnx.py
  test/benchmark/test_benchmark.py
  test/benchmark/test_benchmark_2.x.py
  test/config/test_pythonic_config.py
  test/data/test_dataloader.py
  test/data/test_filter.py
  test/distillation/test_distillation.py
  test/distillation/test_self_distillation.py
  test/distributed/test_distributed_pt_train.py
  test/distributed/test_distributed_tf_dataloader.py
  test/export/test_torch2onnx.py
  test/nas/test_nas.py
  test/objective/test_objective.py
  test/pruning/test_gradient_sensitivity.py
  test/pruning/test_pruning.py
  test/pruning/test_pruning_group_lasso.py
  test/pruning/test_pruning_pure_yaml.py
  test/pruning/test_pytorch_pruning.py
  test/scheduler/test_oneshot.py
  test/strategy/test_basic.py
  test/strategy/test_optimization_level_2.x.py
  test/strategy/test_sigopt.py
  test/tfnewapi/test_tf_spr_base_distributed_tf_dataloader.py
Due: .azure-pipelines/ut-basic.yml

fix docstring
  neural_compressor/data/datasets/imagenet_dataset.py
  neural_compressor/data/transforms/coco_transform.py
  neural_compressor/data/transforms/imagenet_transform.py
  neural_compressor/experimental/data/datasets/imagenet_dataset.py
  neural_compressor/experimental/data/transforms/imagenet_transform.py
Due: .azure-pipelines/ut-basic.yml

add images
  docs/source/_static/imgs/pruning/Pruning_schedule.PNG
  docs/source/_static/imgs/pruning/Regularization.PNG
  docs/source/_static/imgs/pruning/pruning.PNG
  docs/source/_static/imgs/pruning/pruning_criteria.PNG
  docs/source/_static/imgs/pruning/pruning_patterns.png
Due: none

Fix styling check
  neural_compressor/experimental/nas/dynast/dynas_manager.py
  neural_compressor/experimental/nas/dynast/dynas_predictor.py
  neural_compressor/experimental/nas/dynast/dynas_utils.py
  neural_compressor/experimental/nas/dynast/supernetwork/machine_translation/modules_supernetwork.py
  neural_compressor/experimental/nas/dynast/supernetwork/machine_translation/transformer_supernetwork.py
Due: .azure-pipelines/ut-basic.yml

rename images
  docs/source/_static/imgs/pruning/pruning_schedule.PNG
  docs/source/_static/imgs/pruning/regularization.PNG
  neural_compressor/pruner/README.md
Due: .azure-pipelines/ut-basic.yml

Fixed metrics UT error
  test/metric/test_register_metric_transform.py
Due: none

update readme
  neural_compressor/pruner/README.md
Due: .azure-pipelines/ut-basic.yml

update ut itex binary with nightly master version
  .azure-pipelines/scripts/ut/env_setup.sh
  .azure-pipelines/scripts/ut/run_basic_itex.sh
Due: none

fix spelling
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
Due: none

remove common
  neural_compressor/adaptor/mxnet_utils/util.py
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/common/__init__.py
  neural_compressor/common/criterion.py
  neural_compressor/common/dataloader.py
  neural_compressor/common/metric.py
  neural_compressor/common/model.py
  neural_compressor/common/optimizer.py
  neural_compressor/common/torch_utils.py
  neural_compressor/data/dataloaders/dataloader.py
  neural_compressor/data/transforms/postprocess.py
  neural_compressor/experimental/common/model.py
  neural_compressor/experimental/quantization.py
  neural_compressor/metric/__init__.py
  neural_compressor/metric/metric.py
  neural_compressor/model/__init__.py
  neural_compressor/model/model.py
  neural_compressor/model/mxnet_model.py
  neural_compressor/model/tensorflow_model.py
  neural_compressor/model/torch_model.py
  neural_compressor/ux/components/model/model_type_getter.py
  neural_compressor/ux/components/model/tensorflow/model.py
  test/metric/test_metrics_2.x.py
  test/model/test_model.py
  test/model/test_model_pytorch.py
  test/scheduler/test_scheduler.py
Due: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ux.yml

fix path
  neural_compressor/data/__init__.py
Due: .azure-pipelines/ut-basic.yml

rebase master
  neural_compressor/data/__init__.py
  neural_compressor/data/dataloaders/__init__.py
  neural_compressor/data/dataloaders/dataloader.py
  neural_compressor/data/transforms/__init__.py
  neural_compressor/experimental/common/model.py
Due: .azure-pipelines/ut-basic.yml

rebase model/model.py
  neural_compressor/model/tensorflow_model.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch_2.x.py
Due: .azure-pipelines/ut-basic.yml

add no cover
  neural_compressor/data/dataloaders/base_dataloader.py
  neural_compressor/data/dataloaders/default_dataloader.py
  neural_compressor/data/dataloaders/fetcher.py
  neural_compressor/data/dataloaders/mxnet_dataloader.py
  neural_compressor/data/dataloaders/onnxrt_dataloader.py
  neural_compressor/data/dataloaders/pytorch_dataloader.py
  neural_compressor/data/dataloaders/sampler.py
  neural_compressor/data/dataloaders/tensorflow_dataloader.py
  neural_compressor/data/datasets/bert_dataset.py
  neural_compressor/data/datasets/coco_dataset.py
  neural_compressor/data/datasets/dataset.py
  neural_compressor/data/datasets/dummy_dataset.py
  neural_compressor/data/datasets/dummy_dataset_v2.py
  neural_compressor/data/datasets/imagenet_dataset.py
  neural_compressor/data/datasets/style_transfer_dataset.py
  neural_compressor/data/filters/coco_filter.py
  neural_compressor/data/filters/filter.py
  neural_compressor/data/transforms/coco_transform.py
  neural_compressor/data/transforms/imagenet_transform.py
  neural_compressor/model/mxnet_model.py
  neural_compressor/model/tensorflow_model.py
Due: .azure-pipelines/ut-basic.yml

remove import for tensorflow_model.py
  neural_compressor/model/tensorflow_model.py
Due: .azure-pipelines/ut-basic.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
