Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      steps:
      - template: template/ut-basic-template.yml
        parameters:
          dockerTemplate: commonDockerTemplate
          dockerTemplateRepoName: neural-compressor
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

fix cifar-10 download random issue (#140)
  .azure-pipelines/scripts/ut/compare_coverage.sh
  .azure-pipelines/scripts/ut/env_setup.sh
Due: none

fix topological sort assert error (#138)
  neural_compressor/model/onnx_model.py
Due: .azure-pipelines/ut-basic.yml

Update pull_request_template.md (#148)
  .github/pull_request_template.md
Due: none

add three doc: framework_yaml.md, user_yaml.md, and pythonic_style.md (#159)
  .azure-pipelines/scripts/codeScan/pyspelling/lpot_dict.txt
  docs/framework_yaml.md
  docs/pythonic_style.md
  docs/user_yaml.md
Due: none

setup separate spell check job and fix the check path (#145)
  .azure-pipelines/code-scan.yml
  .azure-pipelines/scripts/codeScan/pyspelling/lpot_dict.txt
  .azure-pipelines/scripts/codeScan/pyspelling/pyspelling.sh
  .azure-pipelines/scripts/codeScan/pyspelling/pyspelling_conf.yaml
  .azure-pipelines/spell-check.yml
  docs/adaptor.md
Due: none

Add dataloader doc_string (#154)
  neural_compressor/experimental/data/__init__.py
  neural_compressor/experimental/data/dataloaders/__init__.py
  neural_compressor/experimental/data/dataloaders/base_dataloader.py
  neural_compressor/experimental/data/dataloaders/dataloader.py
  neural_compressor/experimental/data/dataloaders/default_dataloader.py
  neural_compressor/experimental/data/dataloaders/fetcher.py
  neural_compressor/experimental/data/dataloaders/onnxrt_dataloader.py
  neural_compressor/experimental/data/dataloaders/sampler.py
Due: .azure-pipelines/ut-basic.yml

fix pydocstyle (#155)
  neural_compressor/experimental/model_conversion.py
Due: .azure-pipelines/ut-basic.yml

fixed docstring typo in experimental/metric (#156)
  neural_compressor/experimental/metric/evaluate_squad.py
Due: .azure-pipelines/ut-basic.yml

support pydocstyle check (#151)
  .azure-pipelines/code-scan.yml
  .azure-pipelines/docker/DockerfileCodeScan.devel
  .azure-pipelines/scripts/codeScan/bandit/bandit.sh
  .azure-pipelines/scripts/codeScan/pydocstyle/pydocstyle.sh
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
  neural_compressor/experimental/common/__init__.py
  neural_compressor/experimental/pruning.py
Due: .azure-pipelines/ut-basic.yml

fixed docstring issue (#153)
  neural_compressor/experimental/distillation.py
Due: .azure-pipelines/ut-basic.yml

add DocString for SelfKnowledgeDistillation (#158)
  neural_compressor/experimental/common/criterion.py
Due: .azure-pipelines/ut-basic.yml

Update adaptor document (#152)
  docs/adaptor.md
Due: none

Fix Time_series_LSTM tuning issue (#163)
  neural_compressor/adaptor/tf_utils/graph_rewriter/int8/fuse_matmul_requantize.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/qdq/insert_qdq_pattern.py
Due: .azure-pipelines/ut-basic.yml

Enable dilated contraction fusion for ITEX (#146)
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/pre_optimize.py
Due: .azure-pipelines/ut-basic.yml

Enable QDQ-adapted _QuantizedFusedBatchNorm+LeakyRelu fusion (#160)
  .azure-pipelines/scripts/ut/env_setup.sh
  neural_compressor/adaptor/tensorflow.yaml
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_bn.py
  neural_compressor/adaptor/tf_utils/quantize_graph/quantize_graph_bn.py
  test/tfnewapi/test_tensorflow_graph_qdq_bn_fusion.py
Due: .azure-pipelines/ut-basic.yml

Publication update (#165)
  README.md
  docs/publication_list.md
Due: none

Improved new API (#142)
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/run_glue_tune.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/run_glue.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/run_glue_tune.py
  neural_compressor/__init__.py
  neural_compressor/adaptor/pytorch.py
  neural_compressor/benchmark.py
  neural_compressor/conf/pythonic_config.py
  neural_compressor/config.py
  neural_compressor/experimental/benchmark.py
  neural_compressor/experimental/component.py
  neural_compressor/experimental/distillation.py
  neural_compressor/experimental/quantization.py
  neural_compressor/mix_precision.py
  neural_compressor/model/base_model.py
  neural_compressor/model/model.py
  neural_compressor/model/torch_model.py
  neural_compressor/quantization.py
  neural_compressor/training.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch_1.x.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch_2.x.py
  test/adaptor/pytorch_adaptor/test_torch2onnx.py
  test/benchmark/test_benchmark_2.x.py
  test/distillation/test_distillation.py
  test/distillation/test_self_distillation.py
  test/mixed_precision/test_mixed_precision.py
  test/pruning/test_pruning.py
Due: .azure-pipelines/ut-basic.yml

fix ipex quantization (#168)
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

fix pylint issue (#169)
  neural_compressor/experimental/common/criterion.py
Due: .azure-pipelines/ut-basic.yml

Fix Model-Test pipeline status (#167)
  .azure-pipelines/scripts/models/generate_report.sh
  .azure-pipelines/template/model-template.yml
Due: none

Enable _MklFusedBatchMatMulV2 BF16 conversion (#147)
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/adaptor/tensorflow.yaml
  neural_compressor/adaptor/tf_utils/graph_converter.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/bf16/bf16_convert.py
Due: .azure-pipelines/ut-basic.yml

Corrected pruning.md links, updated per channel examples. (#175)
  docs/source/pruning.md
  docs/source/validated_model_list.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/pytorch_pruner/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/pytorch_pruner/eager/bert_mini_mrpc_1xchannel.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/pytorch_pruner/eager/bert_mini_sst2_1xchannel.yaml
Due: none

Fixed benchmark error for tensorflow model (#177)
  neural_compressor/experimental/benchmark.py
  test/benchmark/test_benchmark.py
Due: .azure-pipelines/ut-basic.yml

modify IO document (#181)
  .azure-pipelines/scripts/codeScan/pyspelling/lpot_dict.txt
  README.md
  docs/Makefile
  docs/source/README.md
  docs/source/_static/index.html
  docs/source/api-documentation/api-introduction.md
  docs/source/doclist.rst
  docs/source/getting_started.md
  docs/source/index.rst
  docs/source/legal_information.md
  docs/source/quantization.md
  docs/source/releases_info.md
Due: none

IO docs bug fix (#188)
  docs/Makefile
  docs/source/SECURITY.md
  docs/source/Welcome.md
  docs/source/_static/index.html
  docs/source/_templates/layout.html
  docs/source/api-introduction.md
  docs/source/index.rst
  docs/source/legal_information.md
  docs/source/reference_examples.md
  docs/source/welcome.md
  examples/README.md
Due: none

modify IO style (#170)
  docs/Makefile
  docs/source/_static/custom.css
  docs/source/api-documentation/component.rst
  docs/source/api-documentation/strategy.rst
  docs/source/quantization.md
  neural_compressor/experimental/model_conversion.py
Due: .azure-pipelines/ut-basic.yml

Add export() PyTorch backend implementation for new API (#180)
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/onnx.py
  neural_compressor/config.py
  neural_compressor/model/torch_model.py
  test/export/test_torch2onnx.py
Due: .azure-pipelines/ut-basic.yml

Adjust the hyperopt and sigopt as extras requirements (#173)
  neural_compressor/contrib/strategy/sigopt.py
  neural_compressor/contrib/strategy/tpe.py
  requirements.txt
  setup.py
  test/requirements.txt
Due: .azure-pipelines/ut-basic.yml

remove useless file in doc source (#182)
  docs/source/README.md
Due: none

Fixed UT error for bf16 op list for QAT mode (#200)
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

add examples for GPTJ (#162)
  .azure-pipelines/scripts/codeScan/pyspelling/lpot_dict.txt
  examples/.config/model_params_pytorch.json
  examples/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/conf.yaml
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/run_benchmark.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/run_clm.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/run_tuning.sh
Due: none

Neural Coder adding support of ONNX RT dynamic quant and static quant QDQ (#184)
  neural_coder/backends/onnx_inc_dynamic_quant.yaml
  neural_coder/backends/onnx_inc_static_quant_qdq.yaml
Due: .azure-pipelines/ut-ncoder.yml

fix model_conversion docstring
  neural_compressor/experimental/model_conversion.py
Due: .azure-pipelines/ut-basic.yml

Set default value for use_bf16 and fixed random seed setting error (#186)
  neural_compressor/conf/config.py
  neural_compressor/conf/pythonic_config.py
  neural_compressor/config.py
Due: .azure-pipelines/ut-basic.yml

fix doc and pylint
  docs/source/model_conversion.md
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/quantize_config.py
  neural_compressor/experimental/model_conversion.py
  neural_compressor/experimental/quantization.py
Due: .azure-pipelines/ut-basic.yml

update installation dependency (#185)
  .azure-pipelines/code-scan.yml
  .azure-pipelines/model-test.yml
  .azure-pipelines/ut-basic.yml
  .azure-pipelines/ut-ncoder.yml
  .azure-pipelines/ut-ux.yml
  conda_meta/basic/meta.yaml
  conda_meta/full/meta.yaml
  requirements.txt
  setup.py
Due: none

update publication_list.md (#212)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  .azure-pipelines/scripts/codeScan/pyspelling/pyspelling_conf.yaml
  README.md
  docs/source/publication_list.md
Due: none

Revert "remove op-wise cfgs for testing. (#1521)" (#202)
  examples/tensorflow/image_recognition/tensorflow_models/quantization/ptq/densenet121.yaml
  examples/tensorflow/image_recognition/tensorflow_models/quantization/ptq/densenet161.yaml
  examples/tensorflow/image_recognition/tensorflow_models/quantization/ptq/densenet169.yaml
Due: none

Turn off ITEX optimization pass (#196)
  neural_compressor/adaptor/tf_utils/graph_converter.py
Due: .azure-pipelines/ut-basic.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
