Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

update Stock PT scripts (#1478)
  examples/pytorch/diffusion_model/diffusers/textual_inversion/README.md
Due: none

Update pruning.md (#1485)
  docs/pruning.md
Due: none

update full name of Intel® Extension for PyTorch* (#1486)
  README.md
  docs/validated_model_list.md
Due: none

Update the metric API helper(#1450)
  neural_compressor/experimental/metric/__init__.py
  neural_compressor/experimental/metric/bleu.py
  neural_compressor/experimental/metric/bleu_util.py
  neural_compressor/experimental/metric/evaluate_squad.py
  neural_compressor/experimental/metric/metric.py
Due: .azure-pipelines/ut-basic.yml

update metric.md docs (#1463)
  docs/metric.md
Due: none

support broader HW on multi-instance (#1468)
  neural_compressor/experimental/benchmark.py
Due: .azure-pipelines/ut-basic.yml

Convert FusedBatchNormV3 to BF16 when Attr 'is_training' is true (#1365)
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_bn.py
  neural_compressor/adaptor/tf_utils/quantize_graph/quantize_graph_bn.py
  test/tfnewapi/test_tensorflow_graph_qdq_bn_fusion.py
Due: .azure-pipelines/ut-basic.yml

skip failed ut due to IPEX installation (#1361)
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch.py
Due: none

Fix tf_optimizer.OptimizeGrph cpu_layout_conversion issue (#1350)
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/convert_layout.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/pre_optimize.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_convert_layout.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_graph_convert_layout.py
Due: .azure-pipelines/ut-basic.yml

Filter concatv2 with in32 inputs on tensorflow_itex (#1354)
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_concatv2.py
Due: .azure-pipelines/ut-basic.yml

Multiple instance benchmark enhance (#1349)
  neural_compressor/experimental/benchmark.py
  test/benchmark/test_benchmark.py
  test/metric/test_register_metric_transform.py
Due: .azure-pipelines/ut-basic.yml

update release data (#1353)
  README.md
  docs/imgs/release_data.png
  docs/validated_model_list.md
Due: none

Accelerate the calibration on input graph when using KL algo (#1362)
  neural_compressor/adaptor/tf_utils/graph_converter.py
Due: .azure-pipelines/ut-basic.yml

NC security vulnerabilities fix (#1363)
  .gitignore
  neural_coder/extensions/neural_compressor_ext_lab/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab/package.json
  neural_coder/extensions/neural_compressor_ext_lab_alibaba/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab_alibaba/package.json
Due: .azure-pipelines/ut-ncoder.yml

add IPEX int8 model load func (#1357)
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/ipex/main.py
  examples/pytorch/nlp/huggingface_models/question-answering/quantization/ptq_static/ipex/run_qa.py
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/ipex/infer.py
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/ipex/run_benchmark.sh
  examples/pytorch/recommendation/dlrm/quantization/ptq/ipex/dlrm_s_pytorch.py
  examples/pytorch/recommendation/dlrm/quantization/ptq/ipex/run_benchmark.sh
  neural_compressor/adaptor/pytorch.py
  neural_compressor/model/torch_model.py
  neural_compressor/utils/pytorch.py
Due: .azure-pipelines/ut-basic.yml

fix readme link (#1356)
  examples/README.md
Due: none

Fix ONNX densenet failed in tuning with 3h (#1372)
  neural_compressor/adaptor/ox_utils/operators/maxpool.py
Due: .azure-pipelines/ut-basic.yml

fix gpt2 failure (#1377)
  neural_compressor/adaptor/ox_utils/operators/attention.py
Due: .azure-pipelines/ut-basic.yml

Fix oob bugs caused by fetching dtype of concatv2 input in TF newapi (#1368)
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_concatv2.py
Due: .azure-pipelines/ut-basic.yml

Neural coder security fix (#1380)
  neural_coder/extensions/neural_compressor_ext_lab/neural_compressor_ext_lab/labextension/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab/neural_compressor_ext_lab/labextension/package.json
  neural_coder/extensions/neural_compressor_ext_lab/requirements.txt
  neural_coder/extensions/neural_compressor_ext_lab_alibaba/yarn.lock
Due: .azure-pipelines/ut-ncoder.yml

rename the security policy file (#1383)
  README.md
  SECURITY.md
Due: none

Fixed PyTorch QAT bug for imagenet model and ssd model. (#1385)
  examples/pytorch/image_recognition/torchvision_models/quantization/qat/fx/main.py
  examples/pytorch/object_detection/ssd_resnet34/quantization/qat/fx/ssd/main.py
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

fix rnnt issue for torch1.13 (#1388)
  examples/pytorch/speech_recognition/rnnt/quantization/ptq_dynamic/eager/pytorch/parts/features.py
Due: none

fix corner issue of windows benchmark summary (#1384)
  neural_compressor/experimental/benchmark.py
Due: .azure-pipelines/ut-basic.yml

Tuning statistics logger (#1382)
  neural_compressor/adaptor/mxnet.py
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/strategy/auto_mixed_precision.py
  neural_compressor/strategy/basic.py
  neural_compressor/strategy/mse.py
  neural_compressor/strategy/st_utils/tuning_space.py
  neural_compressor/strategy/strategy.py
  test/strategy/test_tuning_space.py
Due: .azure-pipelines/ut-basic.yml

Fix find_relu_node issue for TF-OOB-200 (#1376)
  neural_compressor/adaptor/tf_utils/graph_rewriter/qdq/insert_qdq_pattern.py
  neural_compressor/adaptor/tf_utils/quantize_graph/quantize_graph_base.py
Due: .azure-pipelines/ut-basic.yml

fix bug to support t5 static quantization (#1402)
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

modify readme for Neural Coder (#1387)
  README.md
  neural_coder/README.md
  neural_coder/docs/Quantization.md
  neural_coder/extensions/screenshots/extmanager.png
Due: .azure-pipelines/ut-ncoder.yml

Support calibration function for PyTorch quantization (#1399)
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/experimental/quantization.py
  neural_compressor/strategy/strategy.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch.py
  test/ipex/test_adaptor_ipex.py
Due: .azure-pipelines/ut-basic.yml

Update bench.md (#1395)
  docs/bench.md
Due: none

remove useless example setting(#1397)
  README.md
  examples/helloworld/tf_example1/test.py
  examples/helloworld/tf_example3/test.py
  examples/helloworld/tf_example4/test.py
  examples/helloworld/tf_example5/test.py
  examples/helloworld/tf_example6/test.py
  examples/helloworld/tf_example7/test.py
  examples/helloworld/tf_example8/test.py
  examples/tensorflow/recommendation/wide_deep_large_ds/quantization/ptq/inference.py
Due: none

Update publications (#1393)
  README.md
  docs/publication_list.md
  examples/pytorch/nlp/huggingface_models/common/examples/research_projects/lxmert/requirements.txt
Due: none

ONNX quantization new recipes (#1341)
  examples/onnxrt/object_detection/onnx_model_zoo/faster_rcnn/quantization/ptq/faster_rcnn.yaml
  examples/onnxrt/object_detection/onnx_model_zoo/faster_rcnn/quantization/ptq/faster_rcnn_qdq.yaml
  examples/onnxrt/object_detection/onnx_model_zoo/mask_rcnn/quantization/ptq/mask_rcnn.yaml
  examples/onnxrt/object_detection/onnx_model_zoo/mask_rcnn/quantization/ptq/mask_rcnn_qdq.yaml
  examples/onnxrt/object_detection/onnx_model_zoo/mask_rcnn/quantization/ptq/requirements.txt
  examples/onnxrt/object_detection/onnx_model_zoo/ssd/quantization/ptq/ssd.yaml
  examples/onnxrt/object_detection/onnx_model_zoo/ssd/quantization/ptq/ssd_qdq.yaml
  examples/onnxrt/object_detection/onnx_model_zoo/ssd_mobilenet_v1/quantization/ptq/ssd_mobilenet_v1.yaml
  examples/onnxrt/object_detection/onnx_model_zoo/ssd_mobilenet_v1/quantization/ptq/ssd_mobilenet_v1_qdq.yaml
  examples/onnxrt/object_detection/onnx_model_zoo/tiny_yolov3/quantization/ptq/tiny_yolov3.yaml
  examples/onnxrt/object_detection/onnx_model_zoo/yolov3/quantization/ptq/yolov3.yaml
  examples/onnxrt/object_detection/onnx_model_zoo/yolov4/quantization/ptq/yolov4.yaml
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/ox_utils/operators/concat.py
  neural_compressor/conf/config.py
  neural_compressor/model/onnx_model.py
  neural_compressor/template/ptq.yaml
  test/adaptor/onnxrt_adaptor/test_adaptor_onnxrt.py
Due: .azure-pipelines/ut-basic.yml

Neural Coder enables accuracy delta recording for INC features (#1410)
  neural_coder/backends/pytorch_inc_bf16.yaml
  neural_coder/backends/pytorch_inc_dynamic_quant.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx.yaml
  neural_coder/coders/autoinc/autoinc_harness.py
  neural_coder/coders/pytorch/harness.py
  neural_coder/globals.py
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

fix maskrcnn readme for pytorch<=1.11 (#1409)
  examples/pytorch/object_detection/maskrcnn/quantization/ptq/fx/README.md
Due: none
