Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

add property
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

update requirements
  neural_solution/docs/TerminologyClarification.md
  neural_solution/frontend/gRPC/client.py
  neural_solution/requirements.txt
Due: none

remove Intel®
  neural_solution/version.py
Due: none

new example: merge mha pruning with ffn pruning and auto slim
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/run_qa_no_trainer_auto_slim.py
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/timers.py
  neural_compressor/compression/pruner/model_slim/auto_slim.py
  neural_compressor/compression/pruner/model_slim/weight_slim.py
  neural_compressor/compression/pruner/patterns.py
  neural_compressor/compression/pruner/pruners.py
  neural_compressor/compression/pruner/utils.py
Due: .azure-pipelines/ut-basic.yml

resolve memory issue of SmoothQuant (#902)
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic.yml

fix ut
  neural_compressor/adaptor/pytorch.py
  test/export/test_torch2onnx.py
Due: .azure-pipelines/ut-basic.yml

Add link to README
  README.md
Due: none

Update Neural Insights name
  neural_insights/README.md
  neural_insights/components/diagnosis/onnx_diagnosis/onnxrt_diagnosis.py
  neural_insights/components/diagnosis/tensorflow_diagnosis/tensorflow_diagnosis.py
  neural_insights/docs/source/installation_guide.md
  neural_insights/main.py
  neural_insights/version.py
  neural_insights/web/configuration.py
  neural_insights/web/server.py
Due: none

Update smooth_quant.py
  neural_compressor/adaptor/ox_utils/smooth_quant.py
Due: .azure-pipelines/ut-basic.yml

Remove Neural Insights dependencies from Neural Compressor's requirements
  requirements.txt
Due: none

Add fp16 ops for onnxrt adaptor
  neural_compressor/adaptor/onnxrt_cuda.yaml
  neural_compressor/adaptor/ox_utils/operators/activation.py
  neural_compressor/adaptor/ox_utils/operators/binary_op.py
  neural_compressor/adaptor/ox_utils/operators/concat.py
  neural_compressor/adaptor/ox_utils/operators/direct_q8.py
  neural_compressor/adaptor/ox_utils/operators/matmul.py
  neural_compressor/adaptor/ox_utils/operators/ops.py
  neural_compressor/adaptor/ox_utils/operators/split.py
  neural_compressor/adaptor/ox_utils/quantizer.py
  test/adaptor/onnxrt_adaptor/test_onnxrt_operators.py
Due: .azure-pipelines/ut-basic.yml

add files
  neural_compressor/adaptor/ox_utils/operators/norm.py
  neural_compressor/adaptor/ox_utils/operators/reduce.py
  neural_compressor/adaptor/ox_utils/operators/unary_op.py
Due: .azure-pipelines/ut-basic.yml

fix test
  test/adaptor/onnxrt_adaptor/test_onnxrt_operators.py
Due: none

add ut
  test/adaptor/onnxrt_adaptor/test_adaptor_onnxrt.py
Due: none

fix long lines, re-arrange auto slim examples, update enhanced ut, update README.
  examples/pytorch/nlp/huggingface_models/question-answering/model_slim/README.md
  examples/pytorch/nlp/huggingface_models/question-answering/model_slim/feed_forward_network_slim/requirements.txt
  examples/pytorch/nlp/huggingface_models/question-answering/model_slim/feed_forward_network_slim/run_ffn_slim.sh
  examples/pytorch/nlp/huggingface_models/question-answering/model_slim/feed_forward_network_slim/run_ffn_slim_pipeline.py
  examples/pytorch/nlp/huggingface_models/question-answering/model_slim/multi_heads_attention_slim/README.md
  examples/pytorch/nlp/huggingface_models/question-answering/model_slim/multi_heads_attention_slim/requirements.txt
  examples/pytorch/nlp/huggingface_models/question-answering/model_slim/multi_heads_attention_slim/run_mha_slim.sh
  examples/pytorch/nlp/huggingface_models/question-answering/model_slim/multi_heads_attention_slim/run_mha_slim_pipeline.py
  examples/pytorch/nlp/huggingface_models/question-answering/model_slim/multi_heads_attention_slim/timers.py
  examples/pytorch/nlp/huggingface_models/question-answering/model_slim/multi_heads_attention_slim/utils_qa.py
  examples/pytorch/nlp/huggingface_models/question-answering/model_slim/run_qa_auto_slim.sh
  examples/pytorch/nlp/huggingface_models/question-answering/model_slim/run_qa_no_trainer_auto_slim.py
  examples/pytorch/nlp/huggingface_models/question-answering/model_slim/timers.py
  examples/pytorch/nlp/huggingface_models/question-answering/model_slim/utils_qa.py
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/timers.py
  neural_compressor/compression/pruner/README.md
  neural_compressor/compression/pruner/model_slim/pattern_analyzer.py
  neural_compressor/compression/pruner/model_slim/weight_slim.py
  neural_compressor/compression/pruner/pruners.py
  test/pruning_2.x/test_auto_slim.py
Due: .azure-pipelines/ut-basic.yml

fix typos.
  neural_compressor/compression/pruner/README.md
Due: .azure-pipelines/ut-basic.yml

fix ut
  test/adaptor/onnxrt_adaptor/test_onnxrt_operators.py
Due: none

update sampler
  neural_compressor/strategy/basic.py
  neural_compressor/strategy/utils/constant.py
  neural_compressor/strategy/utils/tuning_sampler.py
  test/strategy/test_quant_lower_quant.py
Due: .azure-pipelines/ut-basic.yml

replace ns with neural_soultion
  neural_solution/README.md
  neural_solution/bin/neural_solution
  neural_solution/bin/ns
  neural_solution/examples/hf_models/README.md
  setup.py
Due: none

Refine PT2ONNX export (#901)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  docs/source/export.md
  docs/source/imgs/export.png
  examples/pytorch/image_recognition/torchvision_models/export/fx/main.py
  examples/pytorch/nlp/huggingface_models/text-classification/export/fx/run_glue.py
  neural_compressor/adaptor/pytorch.py
  neural_compressor/config.py
  neural_compressor/experimental/export/torch2onnx.py
  neural_compressor/experimental/export/utils.py
  neural_compressor/model/torch_model.py
  neural_compressor/training.py
  test/export/test_torch2onnx.py
Due: .azure-pipelines/ut-basic.yml

deploy: 877adbd80d5b2e217c69ba4d5a791981aeabd8a0
  latest/_sources/autoapi/neural_compressor/config/index.rst.txt
  latest/_sources/autoapi/neural_compressor/experimental/export/index.rst.txt
  latest/_sources/autoapi/neural_compressor/experimental/export/torch2onnx/index.rst.txt
  latest/_sources/docs/source/export.md.txt
  latest/autoapi/neural_compressor/config/index.html
  latest/autoapi/neural_compressor/experimental/export/index.html
  latest/autoapi/neural_compressor/experimental/export/torch2onnx/index.html
  latest/autoapi/neural_compressor/experimental/index.html
  latest/autoapi/neural_compressor/index.html
  latest/docs/source/export.html
  latest/docs/source/imgs/export.png
  latest/genindex.html
  latest/objects.inv
  latest/py-modindex.html
  latest/searchindex.js
Due: none

Fix TF2ONNX ssd_mobilenet_v1 failed to export int8 issue (#912)
  neural_compressor/adaptor/tf_utils/graph_rewriter/onnx/onnx_graph.py
Due: .azure-pipelines/ut-basic.yml

Fix TF2ONNX vgg16 failed due to Metric change (#910)
  examples/tensorflow/image_recognition/tensorflow_models/vgg16/export/main.py
Due: none

add docstr
  neural_compressor/strategy/basic.py
  test/strategy/test_lower_bit_sampler.py
Due: .azure-pipelines/ut-basic.yml

Adapt Neural Coder for Neural Solution
  neural_coder/backends/keras_inc.yaml
  neural_coder/backends/onnx_inc_dynamic_quant.yaml
  neural_coder/backends/onnx_inc_static_quant_qdq.yaml
  neural_coder/backends/onnx_inc_static_quant_qlinear.yaml
  neural_coder/backends/pytorch_inc_dynamic_quant.yaml
  neural_coder/backends/pytorch_inc_dynamic_quant_fp8.yaml
  neural_coder/backends/pytorch_inc_huggingface_optimum_dynamic.yaml
  neural_coder/backends/pytorch_inc_huggingface_optimum_static.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx_fp8.yaml
  neural_coder/backends/pytorch_inc_static_quant_ipex.yaml
  neural_coder/coders/tensorflow/inc.py
Due: .azure-pipelines/ut-ncoder.yml

update function name
  neural_compressor/strategy/utils/tuning_sampler.py
Due: .azure-pipelines/ut-basic.yml

add details of sparsegpt
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/run_clm_no_trainer.py
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/run_clm_no_trainer_sparsegpt.py
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/scripts/run_opt_sparsegpt_pruning.sh
  neural_compressor/compression/pruner/criteria.py
  neural_compressor/compression/pruner/pruners.py
Due: .azure-pipelines/ut-basic.yml

add PT 3dunet model (#811)
  examples/.config/model_params_pytorch.json
  examples/README.md
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/.dockerignore
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/.gitignore
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/Makefile
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/README.md
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/Task043_BraTS_2019.py
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/accuracy-brats.py
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/brats_QSL.py
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/brats_cal_images_list.txt
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/folds/fold0_validation.txt
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/folds/fold1_validation.txt
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/folds/fold2_validation.txt
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/folds/fold3_validation.txt
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/folds/fold4_validation.txt
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/mlperf.conf
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/onnxruntime_SUT.py
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/ov_SUT.py
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/preprocess.py
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/pytorch_SUT.py
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/requirements.txt
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/run.py
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/run_benchmark.sh
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/run_tuning.sh
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/tf_SUT.py
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/unet_onnx_to_tf.py
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/unet_pytorch_to_onnx.py
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/user.conf
Due: none

Enhance MatMul and Gather quantization (#899)
  neural_compressor/adaptor/ox_utils/operators/gather.py
  neural_compressor/adaptor/ox_utils/operators/matmul.py
  test/adaptor/onnxrt_adaptor/test_adaptor_onnxrt.py
  test/adaptor/onnxrt_adaptor/test_onnxrt_operators.py
  test/config/test_pythonic_config.py
Due: .azure-pipelines/ut-basic.yml

Rename to Neural Insights
  neural_insights/README.md
  neural_insights/gui/public/index.html
  neural_insights/gui/src/components/Workloads/Workloads.js
  neural_insights/main.py
  neural_insights/version.py
  neural_insights/web/configuration.py
Due: none

fix
  neural_compressor/utils/crawler.py
Due: .azure-pipelines/ut-basic.yml

update docs
  neural_solution/README.md
  neural_solution/docs/imgs/NS-OaaS-Intro.png
  neural_solution/docs/imgs/OaaS-Intro.png
  neural_solution/docs/management_api.md
  neural_solution/docs/optimization_api.md
Due: none

restore codes which should not be removed.
  neural_compressor/compression/pruner/patterns.py
Due: .azure-pipelines/ut-basic.yml

Adapt Neural Coder for Neural Solution (#917)
  neural_coder/backends/keras_inc.yaml
  neural_coder/backends/onnx_inc_dynamic_quant.yaml
  neural_coder/backends/onnx_inc_static_quant_qdq.yaml
  neural_coder/backends/onnx_inc_static_quant_qlinear.yaml
  neural_coder/backends/pytorch_inc_dynamic_quant.yaml
  neural_coder/backends/pytorch_inc_dynamic_quant_fp8.yaml
  neural_coder/backends/pytorch_inc_huggingface_optimum_dynamic.yaml
  neural_coder/backends/pytorch_inc_huggingface_optimum_static.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx_fp8.yaml
  neural_coder/backends/pytorch_inc_static_quant_ipex.yaml
  neural_coder/coders/tensorflow/inc.py
Due: .azure-pipelines/ut-ncoder.yml

correct typo
  neural_solution/Launcher.sh
  neural_solution/bin/neural_solution
  neural_solution/bin/ns
Due: none

Add weight attribute to SQLinearWrapper class (#900)
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/model_wrapper.py
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic.yml

Enhance the tuning process (#916)
  neural_compressor/strategy/basic.py
  neural_compressor/strategy/utils/constant.py
  neural_compressor/strategy/utils/tuning_sampler.py
  neural_compressor/strategy/utils/tuning_space.py
  test/strategy/test_lower_bit_sampler.py
  test/strategy/test_tuning_space_v2.py
Due: .azure-pipelines/ut-basic.yml

deploy: ab2037625a3efb10c46028464c5bc196d6df226d
  latest/_sources/autoapi/neural_compressor/strategy/utils/tuning_sampler/index.rst.txt
  latest/autoapi/neural_compressor/strategy/utils/tuning_sampler/index.html
  latest/genindex.html
  latest/objects.inv
  latest/searchindex.js
Due: none

Support sq auto tune for ort (#847)
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/ox_utils/calibration.py
  neural_compressor/adaptor/ox_utils/smooth_quant.py
  neural_compressor/adaptor/ox_utils/util.py
  neural_compressor/model/onnx_model.py
  neural_compressor/strategy/strategy.py
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic.yml

deploy: 1e1d706a2ab3518a260d814d6bef11ca599d4f6a
  latest/_sources/autoapi/neural_compressor/adaptor/ox_utils/index.rst.txt
  latest/_sources/autoapi/neural_compressor/adaptor/ox_utils/smooth_quant/index.rst.txt
  latest/_sources/autoapi/neural_compressor/adaptor/ox_utils/util/index.rst.txt
  latest/autoapi/neural_compressor/adaptor/index.html
  latest/autoapi/neural_compressor/adaptor/ox_utils/index.html
  latest/autoapi/neural_compressor/adaptor/ox_utils/smooth_quant/index.html
  latest/autoapi/neural_compressor/adaptor/ox_utils/util/index.html
  latest/genindex.html
  latest/objects.inv
  latest/py-modindex.html
  latest/searchindex.js
Due: none
