Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      steps:
      - template: template/ut-basic-template.yml
        parameters:
          dockerTemplate: commonDockerTemplate
          dockerTemplateRepoName: neural-compressor
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

fix1 np.bool_
  neural_compressor/experimental/data/datasets/dummy_dataset_v2.py
Due: .azure-pipelines/ut-basic.yml

update readme
  examples/tensorflow/object_detection/tensorflow_models/README.md
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_inception_resnet_v2/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_inception_resnet_v2/quantization/ptq/prepare_model.py
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet101/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet101/quantization/ptq/prepare_dataset.sh
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet101/quantization/ptq/prepare_model.py
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet101/quantization/ptq/requirements.txt
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet50/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet50/quantization/ptq/prepare_dataset.sh
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet50/quantization/ptq/prepare_model.py
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet50/quantization/ptq/requirements.txt
  examples/tensorflow/object_detection/tensorflow_models/mask_rcnn_inception_v2/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/mask_rcnn_inception_v2/quantization/ptq/prepare_dataset.sh
  examples/tensorflow/object_detection/tensorflow_models/mask_rcnn_inception_v2/quantization/ptq/prepare_model.py
  examples/tensorflow/object_detection/tensorflow_models/mask_rcnn_inception_v2/quantization/ptq/requirements.txt
  examples/tensorflow/object_detection/tensorflow_models/prepare_dataset.sh
  examples/tensorflow/object_detection/tensorflow_models/requirements.txt
  examples/tensorflow/object_detection/tensorflow_models/ssd_mobilenet_v1/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/ssd_mobilenet_v1/quantization/ptq/prepare_dataset.sh
  examples/tensorflow/object_detection/tensorflow_models/ssd_mobilenet_v1/quantization/ptq/requirements.txt
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet34/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet34/quantization/ptq/prepare_dataset.sh
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet34/quantization/ptq/prepare_model.py
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet34/quantization/ptq/requirements.txt
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet50_v1/quantization/ptq/prepare_dataset.sh
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet50_v1/quantization/ptq/requirements.txt
  examples/tensorflow/object_detection/yolo_v3/quantization/ptq/README.md
  examples/tensorflow/object_detection/yolo_v3/quantization/ptq/run_benchmark.sh
  examples/tensorflow/object_detection/yolo_v3/quantization/ptq/run_tuning.sh
Due: none

update code
  examples/pytorch/nlp/huggingface_models/text-classification/optimization_pipeline/distillation_for_quantization/fx/run_glue_no_trainer.py
  examples/pytorch/nlp/huggingface_models/text-classification/optimization_pipeline/prune_once_for_all/fx/run_glue_no_trainer_pruneOFA.py
  neural_compressor/__init__.py
  neural_compressor/experimental/common/criterion.py
  neural_compressor/experimental/common/torch_utils.py
  neural_compressor/experimental/distillation.py
  neural_compressor/utils/utility.py
Due: .azure-pipelines/ut-basic.yml

Update inc.py
  neural_coder/coders/tensorflow/inc.py
Due: .azure-pipelines/ut-ncoder.yml

Update interface.py
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

Update device.py
  neural_coder/utils/device.py
Due: .azure-pipelines/ut-ncoder.yml

Update handle_user_input.py
  neural_coder/utils/handle_user_input.py
Due: .azure-pipelines/ut-ncoder.yml

add shells
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/run_glue_no_trainer.py
  neural_compressor/pruner/README.md
Due: .azure-pipelines/ut-basic.yml

Neural Coder fix tensorflow_inc loading error (#450)
  neural_coder/coders/tensorflow/inc.py
  neural_coder/interface.py
  neural_coder/utils/device.py
  neural_coder/utils/handle_user_input.py
Due: .azure-pipelines/ut-ncoder.yml

Fixed distillation error with teacher_outputs
  examples/pytorch/nlp/huggingface_models/text-classification/optimization_pipeline/prune_once_for_all/fx/run_glue_no_trainer_pruneOFA.py
  neural_compressor/training.py
Due: .azure-pipelines/ut-basic.yml

fixed device issue
  neural_compressor/model/torch_model.py
Due: .azure-pipelines/ut-basic.yml

fixtypos
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/README.md
Due: none

add shells2
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/README.md
Due: none

Fix UT of TF QAT Model
  neural_compressor/model/tensorflow_model.py
  test/model/test_model.py
Due: .azure-pipelines/ut-basic.yml

Update README.md
  README.md
Due: none

Update custom.css
  docs/build_docs/source/_static/custom.css
Due: none

Update conf.py
  docs/build_docs/source/conf.py
Due: none

add scripts of glue examples
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_mrpc_2in4.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_mrpc_4x1.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_mrpc_dense_fintune.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_mrpc_mixed.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_mrpc_perchannel.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_sst2_2in4.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_sst2_4x1.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_sst2_dense_fintune.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_sst2_perchannel.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/distilbert_mrpc_2in4.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/distilbert_mrpc_4x1.sh
Due: none

use python built-in bool
  neural_compressor/data/datasets/dummy_dataset_v2.py
  neural_compressor/experimental/data/datasets/dummy_dataset_v2.py
Due: .azure-pipelines/ut-basic.yml

update anno path
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet34/quantization/ptq/run_benchmark.sh
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet34/quantization/ptq/run_tuning.sh
  examples/tensorflow/object_detection/yolo_v3/quantization/ptq/infer_detections.py
Due: none

Update examples code
  examples/pytorch/nlp/huggingface_models/question-answering/optimization_pipeline/prune_once_for_all/fx/run_qa_no_trainer_pruneOFA.py
Due: none

improve fx static quantization (#449)
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

Update the documents for tuning strategy (#410)
  docs/source/sigopt_strategy.md
  docs/source/tuning_strategies.md
Due: none

deploy: e9798e130f0f7d6b1339e26660b257401baf90d6
  latest/_sources/docs/source/sigopt_strategy.md.txt
  latest/_sources/docs/source/tuning_strategies.md.txt
  latest/docs/source/sigopt_strategy.html
  latest/docs/source/tuning_strategies.html
  latest/searchindex.js
Due: none

Fixed bugs in get_pattern_lock_masks functions, run pofa examples.
  neural_compressor/pruner/patterns.py
Due: .azure-pipelines/ut-basic.yml

Deleted comments.
  neural_compressor/pruner/patterns.py
Due: .azure-pipelines/ut-basic.yml

Replace the np.bool with python built-in bool (#436)
  neural_compressor/data/datasets/dummy_dataset_v2.py
  neural_compressor/experimental/data/datasets/dummy_dataset_v2.py
Due: .azure-pipelines/ut-basic.yml

update config
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq/main.py
Due: none

Fixed import error
  neural_compressor/experimental/common/criterion.py
Due: .azure-pipelines/ut-basic.yml

Fix UT of TF QAT Model (#452)
  neural_compressor/model/tensorflow_model.py
  test/model/test_model.py
Due: .azure-pipelines/ut-basic.yml

Update code
  neural_compressor/experimental/common/criterion.py
  neural_compressor/experimental/common/torch_utils.py
Due: .azure-pipelines/ut-basic.yml

add scripts of qa examples
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/README.md
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/scripts/bertbase_squad_4x1.sh
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/scripts/bertlarge_squad_4x1.sh
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/scripts/bertmini_dense_fintune.sh
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/scripts/bertmini_squad_2in4.sh
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/scripts/bertmini_squad_4x1.sh
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/scripts/distilbert_squad_4x1.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/README.md
Due: none

update yolov3
  examples/tensorflow/object_detection/yolo_v3/quantization/ptq/README.md
  examples/tensorflow/object_detection/yolo_v3/quantization/ptq/infer_detections.py
  examples/tensorflow/object_detection/yolo_v3/quantization/ptq/run_benchmark.sh
  examples/tensorflow/object_detection/yolo_v3/quantization/ptq/run_tuning.sh
Due: none

Fixed scheduler framework error with old API
  neural_compressor/experimental/common/model.py
  neural_compressor/experimental/component.py
Due: .azure-pipelines/ut-basic.yml

add yolo scripts
  examples/pytorch/object_detection/yolo_v5/pruning/eager/README.md
  examples/pytorch/object_detection/yolo_v5/pruning/eager/scripts/yolov5s6_dense_fintune.sh
  examples/pytorch/object_detection/yolo_v5/pruning/eager/scripts/yolov5s_coco_1x1.sh
  examples/pytorch/object_detection/yolo_v5/pruning/eager/scripts/yolov5s_coco_4x1.sh
Due: none

fix opset version
  test/export/test_onnx_qlieanr_to_qdq.py
Due: none

refine pruning docs, add example scripts (#448)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  docs/source/imgs/pruning/Pruning_patterns.JPG
  docs/source/imgs/pruning/pruning_patterns.JPG
  docs/source/imgs/pruning/pruning_patterns.png
  docs/source/imgs/pruning/pruning_schedule.PNG
  docs/source/imgs/pruning/sparsity_decay_type.png
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/README.md
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/scripts/bertbase_squad_4x1.sh
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/scripts/bertlarge_squad_4x1.sh
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/scripts/bertmini_dense_fintune.sh
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/scripts/bertmini_squad_2in4.sh
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/scripts/bertmini_squad_4x1.sh
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/scripts/distilbert_squad_4x1.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/run_glue_no_trainer.py
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_mrpc_2in4.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_mrpc_4x1.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_mrpc_dense_fintune.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_mrpc_mixed.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_mrpc_perchannel.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_sst2_2in4.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_sst2_4x1.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_sst2_dense_fintune.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/bertmini_sst2_perchannel.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/distilbert_mrpc_2in4.sh
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/scripts/distilbert_mrpc_4x1.sh
  examples/pytorch/object_detection/yolo_v5/pruning/eager/README.md
  examples/pytorch/object_detection/yolo_v5/pruning/eager/scripts/yolov5s6_dense_fintune.sh
  examples/pytorch/object_detection/yolo_v5/pruning/eager/scripts/yolov5s_coco_1x1.sh
  examples/pytorch/object_detection/yolo_v5/pruning/eager/scripts/yolov5s_coco_4x1.sh
  neural_compressor/pruner/README.md
Due: .azure-pipelines/ut-basic.yml

deploy: c54d5bd184aefb0460ce85a12ebcf7034b1181f1
  latest/docs/source/imgs/pruning/pruning_patterns.JPG
  latest/docs/source/imgs/pruning/sparsity_decay_type.png
Due: none

Update code
  neural_compressor/experimental/common/model.py
Due: .azure-pipelines/ut-basic.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
