Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      steps:
      - template: template/ut-basic-template.yml
        parameters:
          dockerTemplate: commonDockerTemplate
          dockerTemplateRepoName: neural-compressor
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

remove some useless lines
  neural_compressor/strategy/hawq.py
Due: .azure-pipelines/ut-basic.yml

add words to pyspelling white list
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
Due: none

Refine eval_func for iteration
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/main.py
Due: none

Support 'Square', 'Sum', 'SparseSegmentSqrtN' BF16
  neural_compressor/adaptor/tensorflow.yaml
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_matmul.py
Due: .azure-pipelines/ut-basic.yml

support custom accuracy batch_size
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/main.py
Due: none

Update license headers in transformer t supernet code
  neural_compressor/experimental/nas/dynast/supernetwork/machine_translation/LICENSE
  neural_compressor/experimental/nas/dynast/supernetwork/machine_translation/modules_supernetwork.py
  neural_compressor/experimental/nas/dynast/supernetwork/machine_translation/transformer_interface.py
  neural_compressor/experimental/nas/dynast/supernetwork/machine_translation/transformer_supernetwork.py
Due: .azure-pipelines/ut-basic.yml

New Export with API 2.0 (#195)
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/config.py
  neural_compressor/experimental/__init__.py
  neural_compressor/experimental/export/__init__.py
  neural_compressor/experimental/export/torch2onnx.py
  neural_compressor/experimental/export/utils.py
  neural_compressor/model/torch_model.py
  test/export/test_torch2onnx.py
Due: .azure-pipelines/ut-basic.yml

fixed some uts
  test/strategy/test_basic.py
  test/strategy/test_sigopt.py
Due: none

add optimization_level in BaseQuantizationConfig
  neural_compressor/config.py
Due: .azure-pipelines/ut-basic.yml

add optimization_level to conf and pythonic_conf
  neural_compressor/conf/config.py
  neural_compressor/conf/pythonic_config.py
Due: .azure-pipelines/ut-basic.yml

Create BigDLNanoSupport.md
  neural_coder/docs/BigDLNanoSupport.md
Due: .azure-pipelines/ut-ncoder.yml

Update SupportMatrix.md
  neural_coder/docs/SupportMatrix.md
Due: .azure-pipelines/ut-ncoder.yml

Update BigDLNanoSupport.md
  neural_coder/docs/BigDLNanoSupport.md
Due: .azure-pipelines/ut-ncoder.yml

Fix Time_series_LSTM tuning issue (#163)
  neural_compressor/adaptor/tf_utils/graph_rewriter/int8/fuse_matmul_requantize.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/qdq/insert_qdq_pattern.py
Due: .azure-pipelines/ut-basic.yml

support pydocstyle check (#151)
  .azure-pipelines/code-scan.yml
  .azure-pipelines/docker/DockerfileCodeScan.devel
  .azure-pipelines/scripts/codeScan/bandit/bandit.sh
  .azure-pipelines/scripts/codeScan/pydocstyle/pydocstyle.sh
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
  neural_compressor/experimental/common/__init__.py
  neural_compressor/experimental/pruning.py
Due: .azure-pipelines/ut-basic.yml

Enable QDQ-adapted _QuantizedFusedBatchNorm+LeakyRelu fusion (#160)
  .azure-pipelines/scripts/ut/env_setup.sh
  neural_compressor/adaptor/tensorflow.yaml
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_bn.py
  neural_compressor/adaptor/tf_utils/quantize_graph/quantize_graph_bn.py
  test/tfnewapi/test_tensorflow_graph_qdq_bn_fusion.py
Due: .azure-pipelines/ut-basic.yml

fix ipex quantization (#168)
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

Enable dilated contraction fusion for ITEX (#146)
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/pre_optimize.py
Due: .azure-pipelines/ut-basic.yml

Improved new API (#142)
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/run_glue_tune.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/run_glue.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/run_glue_tune.py
  neural_compressor/__init__.py
  neural_compressor/adaptor/pytorch.py
  neural_compressor/benchmark.py
  neural_compressor/conf/pythonic_config.py
  neural_compressor/config.py
  neural_compressor/experimental/benchmark.py
  neural_compressor/experimental/component.py
  neural_compressor/experimental/distillation.py
  neural_compressor/experimental/quantization.py
  neural_compressor/mix_precision.py
  neural_compressor/model/base_model.py
  neural_compressor/model/model.py
  neural_compressor/model/torch_model.py
  neural_compressor/quantization.py
  neural_compressor/training.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch_1.x.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch_2.x.py
  test/adaptor/pytorch_adaptor/test_torch2onnx.py
  test/benchmark/test_benchmark_2.x.py
  test/distillation/test_distillation.py
  test/distillation/test_self_distillation.py
  test/mixed_precision/test_mixed_precision.py
  test/pruning/test_pruning.py
Due: .azure-pipelines/ut-basic.yml

fix pylint issue (#169)
  neural_compressor/experimental/common/criterion.py
Due: .azure-pipelines/ut-basic.yml

Fix Model-Test pipeline status (#167)
  .azure-pipelines/scripts/models/generate_report.sh
  .azure-pipelines/template/model-template.yml
Due: none

feat(st): update compare logic
  neural_compressor/objective.py
  neural_compressor/strategy/conservative.py
  test/strategy/test_optimization_level.py
Due: .azure-pipelines/ut-basic.yml

feat(strategy): add optimization level 0
  neural_compressor/strategy/conservative.py
  neural_compressor/strategy/st_utils/tuning_space.py
  test/strategy/test_optimization_level.py
Due: .azure-pipelines/ut-basic.yml

feat(st): update best model based on perf and acc
  neural_compressor/objective.py
  neural_compressor/strategy/conservative.py
  neural_compressor/strategy/strategy.py
  test/strategy/test_optimization_level.py
Due: .azure-pipelines/ut-basic.yml

modify IO style (#170)
  docs/Makefile
  docs/source/_static/custom.css
  docs/source/api-documentation/component.rst
  docs/source/api-documentation/strategy.rst
  docs/source/quantization.md
  neural_compressor/experimental/model_conversion.py
Due: .azure-pipelines/ut-basic.yml

feat(st): add optimization_level
  neural_compressor/conf/config.py
  neural_compressor/experimental/quantization.py
  test/strategy/test_optimization_level.py
Due: .azure-pipelines/ut-basic.yml

Enable _MklFusedBatchMatMulV2 BF16 conversion (#147)
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/adaptor/tensorflow.yaml
  neural_compressor/adaptor/tf_utils/graph_converter.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/bf16/bf16_convert.py
Due: .azure-pipelines/ut-basic.yml

add one by one conversion
  neural_compressor/strategy/conservative.py
  test/strategy/test_optimization_level.py
Due: .azure-pipelines/ut-basic.yml

add optype-wise conversion
  neural_compressor/strategy/conservative.py
  test/strategy/test_optimization_level.py
Due: .azure-pipelines/ut-basic.yml

fixed some bugs
  neural_compressor/strategy/conservative.py
  neural_compressor/strategy/st_utils/tuning_space.py
  test/strategy/test_optimization_level.py
Due: .azure-pipelines/ut-basic.yml

WA for save q model
  neural_compressor/strategy/conservative.py
Due: .azure-pipelines/ut-basic.yml

modify IO document (#181)
  .azure-pipelines/scripts/codeScan/pyspelling/lpot_dict.txt
  README.md
  docs/Makefile
  docs/source/README.md
  docs/source/_static/index.html
  docs/source/api-documentation/api-introduction.md
  docs/source/doclist.rst
  docs/source/getting_started.md
  docs/source/index.rst
  docs/source/legal_information.md
  docs/source/quantization.md
  docs/source/releases_info.md
Due: none

remove some comments
  neural_compressor/strategy/conservative.py
Due: .azure-pipelines/ut-basic.yml

fix some bugs
  neural_compressor/strategy/conservative.py
Due: .azure-pipelines/ut-basic.yml

update the op queue
  neural_compressor/strategy/conservative.py
Due: .azure-pipelines/ut-basic.yml

update the model with best performance
  neural_compressor/strategy/conservative.py
  test/strategy/test_optimization_level.py
Due: .azure-pipelines/ut-basic.yml

Disable multi instance for ITEX GPU benchmark (#204)
  neural_compressor/adaptor/tf_utils/graph_converter.py
  neural_compressor/experimental/benchmark.py
  test/itex/test_tensorflow_itex_basic.py
Due: .azure-pipelines/ut-basic.yml

Adjust the hyperopt and sigopt as extras requirements (#173)
  neural_compressor/contrib/strategy/sigopt.py
  neural_compressor/contrib/strategy/tpe.py
  requirements.txt
  setup.py
  test/requirements.txt
Due: .azure-pipelines/ut-basic.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
