Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      steps:
      - template: template/ut-basic-template.yml
        parameters:
          dockerTemplate: commonDockerTemplate
          dockerTemplateRepoName: neural-compressor
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

Update code_line.py
  neural_coder/graphers/code_line.py
Due: .azure-pipelines/ut-ncoder.yml

update pruning doc_details (#348)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  docs/source/pruning_details.md
  docs/source/validated_model_list.md
  examples/README.md
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/README.md
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/run_qa_no_trainer.py
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/run_glue_no_trainer.py
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/run_glue_no_trainer_mixed.py
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/legacy/pruning_while_distillation/group_lasso/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/legacy/pruning_while_distillation/group_lasso/eager/bert-mini/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/legacy/pruning_while_distillation/group_lasso/eager/distillation_config.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/legacy/pruning_while_distillation/group_lasso/eager/pruning_config.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/legacy/pruning_while_distillation/group_lasso/eager/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/legacy/pruning_while_distillation/group_lasso/eager/run_glue_no_trainer_sparse.py
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/legacy/pruning_while_distillation/group_lasso/eager/run_glue_prune_distillation.sh
  neural_compressor/pruner/README.md
Due: .azure-pipelines/ut-basic.yml

fix pytorch example bugs (#371)
  examples/pytorch/nlp/huggingface_models/question-answering/quantization/ptq_static/fx/requirements.txt
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/fx/python/main.py
  examples/pytorch/object_detection/ssd_resnet34/quantization/qat/fx/run_benchmark.sh
  examples/pytorch/object_detection/ssd_resnet34/quantization/qat/fx/ssd/main.py
Due: none

update config
  examples/.config/model_params_onnxrt.json
Due: none

Neural Coder fix bugs (#394)
  neural_coder/graphers/code_line.py
  neural_coder/graphers/function.py
  neural_coder/utils/handle_user_input.py
Due: .azure-pipelines/ut-ncoder.yml

remove three models with bad accuracy
  examples/tensorflow/image_recognition/keras_models/densenet169/quantization/qat/README.md
  examples/tensorflow/image_recognition/keras_models/densenet169/quantization/qat/main.py
  examples/tensorflow/image_recognition/keras_models/densenet169/quantization/qat/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/densenet169/quantization/qat/requirements.txt
  examples/tensorflow/image_recognition/keras_models/densenet169/quantization/qat/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/densenet169/quantization/qat/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/qat/README.md
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/qat/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/qat/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/qat/requirements.txt
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/qat/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/qat/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/qat/README.md
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/qat/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/qat/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/qat/requirements.txt
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/qat/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/qat/run_tuning.sh
Due: none

update config
  examples/.config/model_params_tensorflow.json
Due: none

fix spell
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/qat/README.md
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/qat/main.py
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/qat/README.md
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/qat/main.py
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/README.md
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/main.py
  neural_compressor/model/tensorflow_model.py
Due: .azure-pipelines/ut-basic.yml

update docstring
  neural_compressor/model/tensorflow_model.py
Due: .azure-pipelines/ut-basic.yml

fix fp32 benchmark issue
  examples/tensorflow/oob_models/quantization/ptq/tf_benchmark.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/qdq/insert_qdq_pattern.py
Due: .azure-pipelines/ut-basic.yml

fix gradient based criterion bug (#351)
  neural_compressor/experimental/pruning_v2.py
  neural_compressor/pruner/criteria.py
  neural_compressor/pruner/pruners.py
Due: .azure-pipelines/ut-basic.yml

Update DyNAS tests (#388)
  test/nas/test_nas.py
Due: none

fix docstring issue
  neural_compressor/adaptor/tf_utils/graph_rewriter/qdq/insert_qdq_pattern.py
Due: .azure-pipelines/ut-basic.yml

use set to avoid deduplication
  neural_compressor/adaptor/tf_utils/graph_rewriter/qdq/insert_qdq_pattern.py
Due: .azure-pipelines/ut-basic.yml

update readme page
  README.md
  docs/source/benchmark.md
Due: none

update fwk version
  README.md
Due: none

update supported HW
  README.md
Due: none

update publications
  README.md
Due: none

update dict
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
Due: none

update api search
  docs/source/api-documentation/apis.rst
  docs/source/api-documentation/newAPI.rst
  docs/source/api-documentation/newAPI/benchmark.rst
  docs/source/api-documentation/newAPI/objective.rst
  docs/source/api-documentation/newAPI/quantization.rst
  docs/source/api-documentation/newAPI/training.rst
  docs/source/api-documentation/new_api.rst
  docs/source/api-documentation/new_api/benchmark.rst
  docs/source/api-documentation/new_api/config.rst
  docs/source/api-documentation/new_api/mix_precision.rst
  docs/source/api-documentation/new_api/objective.rst
  docs/source/api-documentation/new_api/quantization.rst
  docs/source/api-documentation/new_api/training.rst
Due: none

update main page (#396)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  README.md
  docs/source/api-documentation/apis.rst
  docs/source/api-documentation/newAPI.rst
  docs/source/api-documentation/newAPI/benchmark.rst
  docs/source/api-documentation/newAPI/objective.rst
  docs/source/api-documentation/newAPI/quantization.rst
  docs/source/api-documentation/newAPI/training.rst
  docs/source/api-documentation/new_api.rst
  docs/source/api-documentation/new_api/benchmark.rst
  docs/source/api-documentation/new_api/config.rst
  docs/source/api-documentation/new_api/mix_precision.rst
  docs/source/api-documentation/new_api/objective.rst
  docs/source/api-documentation/new_api/quantization.rst
  docs/source/api-documentation/new_api/training.rst
  docs/source/benchmark.md
Due: none

bump release version into v2.0
  conda_meta/basic/meta.yaml
  conda_meta/full/meta.yaml
  neural_compressor/version.py
Due: .azure-pipelines/ut-basic.yml

clean onnx examples
  examples/README.md
  examples/onnxrt/README.md
  examples/onnxrt/body_analysis/onnx_model_zoo/arcface/quantization/ptq/README.md
  examples/onnxrt/body_analysis/onnx_model_zoo/emotion_ferplus/quantization/ptq/README.md
  examples/onnxrt/body_analysis/onnx_model_zoo/ultraface/quantization/ptq/README.md
  examples/onnxrt/image_recognition/onnx_model_zoo/fcn/quantization/ptq/README.md
  examples/onnxrt/image_recognition/onnx_model_zoo/squeezenet/quantization/ptq/README.md
  examples/onnxrt/image_recognition/unet/quantization/ptq/readme.md
  examples/onnxrt/nlp/onnx_model_zoo/BiDAF/quantization/ptq/README.md
  examples/onnxrt/nlp/onnx_model_zoo/bert-squad/quantization/ptq/readme.md
  examples/onnxrt/nlp/onnx_model_zoo/gpt2/quantization/ptq/readme.md
  examples/onnxrt/nlp/onnx_model_zoo/mobilebert/quantization/ptq/readme.md
  examples/onnxrt/object_detection/onnx_model_zoo/DUC/quantization/ptq/README.md
Due: none

fix typo
  examples/onnxrt/nlp/onnx_model_zoo/BiDAF/quantization/ptq/README.md
Due: none

update link
  examples/README.md
Due: none

fix api link
  docs/source/api-documentation/adaptor/onnxrt.rst
  docs/source/api-documentation/apis.rst
  docs/source/api-documentation/basic_api.rst
  docs/source/api-documentation/basic_api/benchmark.rst
  docs/source/api-documentation/basic_api/config.rst
  docs/source/api-documentation/basic_api/mix_precision.rst
  docs/source/api-documentation/basic_api/objective.rst
  docs/source/api-documentation/basic_api/quantization.rst
  docs/source/api-documentation/basic_api/training.rst
  docs/source/api-documentation/new_api.rst
Due: none

clean new API example readme (#395)
  docs/source/api-documentation/adaptor/onnxrt.rst
  docs/source/api-documentation/apis.rst
  docs/source/api-documentation/basic_api.rst
  docs/source/api-documentation/basic_api/benchmark.rst
  docs/source/api-documentation/basic_api/config.rst
  docs/source/api-documentation/basic_api/mix_precision.rst
  docs/source/api-documentation/basic_api/objective.rst
  docs/source/api-documentation/basic_api/quantization.rst
  docs/source/api-documentation/basic_api/training.rst
  docs/source/api-documentation/new_api.rst
  examples/README.md
  examples/onnxrt/README.md
  examples/onnxrt/body_analysis/onnx_model_zoo/arcface/quantization/ptq/README.md
  examples/onnxrt/body_analysis/onnx_model_zoo/emotion_ferplus/quantization/ptq/README.md
  examples/onnxrt/body_analysis/onnx_model_zoo/ultraface/quantization/ptq/README.md
  examples/onnxrt/image_recognition/onnx_model_zoo/fcn/quantization/ptq/README.md
  examples/onnxrt/image_recognition/onnx_model_zoo/squeezenet/quantization/ptq/README.md
  examples/onnxrt/image_recognition/unet/quantization/ptq/readme.md
  examples/onnxrt/nlp/onnx_model_zoo/BiDAF/quantization/ptq/README.md
  examples/onnxrt/nlp/onnx_model_zoo/bert-squad/quantization/ptq/readme.md
  examples/onnxrt/nlp/onnx_model_zoo/gpt2/quantization/ptq/readme.md
  examples/onnxrt/nlp/onnx_model_zoo/mobilebert/quantization/ptq/readme.md
  examples/onnxrt/object_detection/onnx_model_zoo/DUC/quantization/ptq/README.md
Due: none

fix ut issue
  test/config/test_config.py
Due: none

bump release version into v2.0 (#397)
  conda_meta/basic/meta.yaml
  conda_meta/full/meta.yaml
  neural_compressor/version.py
  test/config/test_config.py
Due: .azure-pipelines/ut-basic.yml

add more ops with observer
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

Update README.md
  README.md
Due: none

Update inc_dict.txt
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
Due: none

Update README.md (#398)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  README.md
Due: none

add more training epochs for resnet50&resnet101
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/qat/main.py
Due: none

add more training epochs for resnet50&resnet101
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/main.py
Due: none

Fix OOB centernet_hg104 benchmark issue (#369)
  examples/tensorflow/oob_models/quantization/ptq/model_detail.py
  examples/tensorflow/oob_models/quantization/ptq/tf_benchmark.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/qdq/insert_qdq_pattern.py
Due: .azure-pipelines/ut-basic.yml

mv build_docs, support only update latest
  .github/workflows/publish.yml
  docs/build_docs/build.sh
Due: none

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
