Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      steps:
      - template: template/ut-basic-template.yml
        parameters:
          dockerTemplate: commonDockerTemplate
          dockerTemplateRepoName: neural-compressor
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

minor fix
  neural_compressor/config.py
Due: .azure-pipelines/ut-basic.yml

Support name match and hook attributes strategy.
  neural_compressor/compression/pruner/model_slim/weight_slim.py
Due: .azure-pipelines/ut-basic.yml

Fix onnx Clip node bug (#870)
  neural_compressor/adaptor/ox_utils/calibration.py
Due: .azure-pipelines/ut-basic.yml

Fix example inputs issue for IPEX smoothquant (#864)
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/smooth_quant.py
Due: .azure-pipelines/ut-basic.yml

verify gpt2 and optimize scaler
  examples/tensorflow/large_language_model/README.md
  examples/tensorflow/large_language_model/main.py
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/adaptor/tf_utils/smooth_quant_scaler.py
Due: .azure-pipelines/ut-basic.yml

fix clip min value
  neural_compressor/adaptor/tf_utils/smooth_quant_scaler.py
Due: .azure-pipelines/ut-basic.yml

deploy: c8b753387d26fc2778c1ae9c10dfe5d49329217e
  latest/_sources/autoapi/neural_compressor/adaptor/torch_utils/smooth_quant/index.rst.txt
  latest/autoapi/neural_compressor/adaptor/torch_utils/smooth_quant/index.html
  latest/searchindex.js
Due: none

fix clm readme (#866)
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/README.md
Due: none

bump version into v2.1.1
  conda_meta/basic/meta.yaml
  conda_meta/full/meta.yaml
  neural_compressor/version.py
Due: .azure-pipelines/ut-basic.yml

freeze horovod version for TF spr-base
  .azure-pipelines/scripts/ut/env_setup.sh
Due: none

add UTs
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/block_detector.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch_2.x.py
  test/strategy/test_basic.py
Due: .azure-pipelines/ut-basic.yml

Remove redundant codes.
  neural_compressor/compression/pruner/model_slim/auto_slim.py
  neural_compressor/compression/pruner/model_slim/weight_slim.py
Due: .azure-pipelines/ut-basic.yml

CI FWs version update (#871)
  .azure-pipelines/scripts/models/env_setup.sh
  .azure-pipelines/scripts/models/run_onnxrt_models_trigger.sh
  .azure-pipelines/scripts/models/run_pytorch_models_trigger.sh
  .azure-pipelines/scripts/models/run_tensorflow_models_trigger.sh
  .azure-pipelines/scripts/ut/env_setup.sh
  .azure-pipelines/scripts/ut/ut_fwk_version.sh
Due: none

Enable progressive pruning in N:M pattern (#852)
  neural_compressor/compression/pruner/patterns.py
  neural_compressor/compression/pruner/pruners.py
  test/pruning_2.x/test_pruning_progressive.py
Due: .azure-pipelines/ut-basic.yml

Fix fold scale bug
  neural_compressor/adaptor/ox_utils/util.py
Due: .azure-pipelines/ut-basic.yml

Update util.py
  neural_compressor/adaptor/ox_utils/util.py
Due: .azure-pipelines/ut-basic.yml

fix pytorch adaptor issue (#872)
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

Enable more Ops for Keras PTQ and Support Mix-precision (#835)
  neural_compressor/adaptor/keras.py
  neural_compressor/adaptor/keras.yaml
  neural_compressor/adaptor/keras_utils/pool2d.py
  test/mixed_precision/test_mixed_precision_keras_model.py
Due: .azure-pipelines/ut-basic.yml

fix ut
  test/config/test_config_2.x.py
Due: none

update devcloud env setup file for INC TensorFlow sample (#803)
  examples/notebook/tensorflow/alexnet_mnist/devcloud_setup_env.sh
  examples/notebook/tensorflow/alexnet_mnist/inc_quantize_model.py
  examples/notebook/tensorflow/alexnet_mnist/requirements.txt
  examples/notebook/tensorflow/alexnet_mnist/run_in_intel_devcloud.sh
Due: none

Adapt Neural Coder to INC New API Pytorch part (#859)
  neural_coder/backends/pytorch_inc_bf16.yaml
  neural_coder/backends/pytorch_inc_dynamic_quant.yaml
  neural_coder/backends/pytorch_inc_dynamic_quant_fp8.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx_fp8.yaml
  neural_coder/backends/pytorch_inc_static_quant_ipex.yaml
  neural_coder/extensions/neural_compressor_ext_lab/lib/test.js
Due: .azure-pipelines/ut-ncoder.yml

Adapt Neural Coder to INC New API (#858)
  neural_coder/backends/keras_inc.yaml
  neural_coder/backends/onnx_inc_dynamic_quant.yaml
  neural_coder/backends/onnx_inc_static_quant_qdq.yaml
  neural_coder/backends/onnx_inc_static_quant_qlinear.yaml
  neural_coder/coders/tensorflow/inc.py
Due: .azure-pipelines/ut-ncoder.yml

Fix Regression of Helloworld Example tf_example7 (#868)
  examples/helloworld/tf_example7/README.md
  examples/helloworld/tf_example7/test.py
Due: none

align with ort
  neural_compressor/adaptor/pytorch.py
  neural_compressor/strategy/basic.py
Due: .azure-pipelines/ut-basic.yml

Support new spr-base version 2.11.0202317
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/adaptor/tensorflow.yaml
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/convert_add_to_biasadd.py
  neural_compressor/adaptor/tf_utils/util.py
  test/tfnewapi/test_tensorflow_graph_conv_fusion.py
Due: .azure-pipelines/ut-basic.yml

wa for transformers version issue
  examples/pytorch/nlp/huggingface_models/question-answering/quantization/ptq_static/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/summarization/quantization/ptq_dynamic/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/export/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/requirements.txt
Due: none

Clean Keras examples incorrect usage of fit
  examples/keras/image_recognition/inception_resnet_v2/quantization/ptq/main.py
  examples/keras/image_recognition/inception_v3/quantization/ptq/main.py
  examples/keras/image_recognition/mobilenet_v2/quantization/ptq/main.py
  examples/keras/image_recognition/resnet101/quantization/ptq/main.py
  examples/keras/image_recognition/resnetv2_101/quantization/ptq/main.py
  examples/keras/image_recognition/resnetv2_50/quantization/ptq/main.py
  examples/keras/image_recognition/xception/quantization/ptq/main.py
  examples/tensorflow/semantic_image_segmentation/3dunet-mlperf/quantization/ptq/run_accuracy.py
Due: none

Update tensorflow examples
  examples/tensorflow/image_recognition/tensorflow_models/densenet121/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/densenet161/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/densenet169/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/efficientnet-b0/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/inception_resnet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/inception_v1/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/inception_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/inception_v3/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/inception_v4/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/mobilenet_v1/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/mobilenet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/mobilenet_v3/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/resnet101/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/resnet50_v1/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/resnet50_v1_5/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/resnet_v2_101/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/resnet_v2_152/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/resnet_v2_50/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/vgg16/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/vgg19/quantization/ptq/main.py
Due: none

fix ipex adaptor remaining issue
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

remove invalid log
  neural_compressor/adaptor/torch_utils/util.py
Due: .azure-pipelines/ut-basic.yml

revert transformers version change
  examples/pytorch/nlp/huggingface_models/question-answering/quantization/ptq_static/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/summarization/quantization/ptq_dynamic/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/export/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/requirements.txt
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

Support new spr-base version 2.11.0202317 (#874)
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/adaptor/tensorflow.yaml
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/convert_add_to_biasadd.py
  neural_compressor/adaptor/tf_utils/util.py
  test/tfnewapi/test_tensorflow_graph_conv_fusion.py
Due: .azure-pipelines/ut-basic.yml

revert transformers version change
  examples/pytorch/nlp/huggingface_models/question-answering/quantization/ptq_static/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/summarization/quantization/ptq_dynamic/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/export/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/requirements.txt
Due: none

Clean Keras examples incorrect usage of fit (#876)
  examples/keras/image_recognition/inception_resnet_v2/quantization/ptq/main.py
  examples/keras/image_recognition/inception_v3/quantization/ptq/main.py
  examples/keras/image_recognition/mobilenet_v2/quantization/ptq/main.py
  examples/keras/image_recognition/resnet101/quantization/ptq/main.py
  examples/keras/image_recognition/resnetv2_101/quantization/ptq/main.py
  examples/keras/image_recognition/resnetv2_50/quantization/ptq/main.py
  examples/keras/image_recognition/xception/quantization/ptq/main.py
  examples/tensorflow/semantic_image_segmentation/3dunet-mlperf/quantization/ptq/run_accuracy.py
Due: none

Fix bugs when automatically exclude classifier heads in pruning. (#867)
  neural_compressor/compression/pruner/model_slim/pattern_analyzer.py
  test/pruning_2.x/test_auto_excluding_classifier.py
Due: .azure-pipelines/ut-basic.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
