Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

Coder makes optimum-intel API the default (instead of INC API) for HuggingFace Transformers codes (#1472)
  neural_coder/coders/autoinc/autoinc_harness.py
  neural_coder/coders/autoinc/calib_dataloader.py
  neural_coder/coders/autoinc/domain.py
  neural_coder/coders/autoinc/eval_func.py
  neural_coder/globals.py
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

Update docstring for mixed_precision.py (#1477)
  docs/orchestration.md
  neural_compressor/experimental/mixed_precision.py
Due: .azure-pipelines/ut-basic.yml

Update docstring for dataset, optimizer, postprocess (#1470)
  neural_compressor/experimental/common/optimizer.py
  neural_compressor/experimental/common/postprocess.py
  neural_compressor/experimental/data/datasets/dummy_dataset.py
  neural_compressor/experimental/data/datasets/dummy_dataset_v2.py
  neural_compressor/experimental/data/datasets/imagenet_dataset.py
  neural_compressor/experimental/data/datasets/style_transfer_dataset.py
Due: .azure-pipelines/ut-basic.yml

update README.md (#1475)
  README.md
  docs/publication_list.md
Due: none

Refine docs of distillation and orchestration (#1444)
  docs/distillation.md
  docs/orchestration.md
  docs/validated_model_list.md
  examples/README.md
Due: none

Fix attention op and add ut (#1456)
  neural_compressor/adaptor/ox_utils/operators/attention.py
  test/adaptor/onnxrt_adaptor/test_onnxrt_operators.py
Due: .azure-pipelines/ut-basic.yml

enhanced API of intermediate layers knowledge distillation to simplify the layer mapping config setting for scenario of distillation for quantization. (#1469)
  examples/pytorch/nlp/huggingface_models/text-classification/optimization_pipeline/distillation_for_quantization/fx/distillation.yaml
  neural_compressor/conf/config.py
  neural_compressor/experimental/common/criterion.py
  test/distillation/test_distillation.py
Due: .azure-pipelines/ut-basic.yml

support broader HW on multi-instance (#1468)
  neural_compressor/experimental/benchmark.py
Due: .azure-pipelines/ut-basic.yml

update Stock PT scripts (#1478)
  examples/pytorch/diffusion_model/diffusers/textual_inversion/README.md
Due: none

Fix ITEX oneDnnGraph HugeCTR tuning issue (#1482)
  neural_compressor/adaptor/tf_utils/graph_rewriter/qdq/merge_duplicated_qdq.py
Due: .azure-pipelines/ut-basic.yml

Support new 3DUnet LZ model (#1414)
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/fuse_pad_with_conv.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/fuse_pad_with_fp32_conv.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/insert_print_node.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/int8/fuse_conv_requantize.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/qdq/insert_qdq_pattern.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_concatv2.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_conv.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_deconv.py
  test/tfnewapi/test_tensorflow_graph_fuse_pad_conv_fp32.py
Due: .azure-pipelines/ut-basic.yml

update metric.md docs (#1463)
  docs/metric.md
Due: none

Update pruning.md (#1485)
  docs/pruning.md
Due: none

Document Enhancement of F1 and COCO metric (#1460)
  neural_compressor/experimental/metric/coco_label_map.py
  neural_compressor/experimental/metric/coco_tools.py
  neural_compressor/experimental/metric/f1.py
Due: .azure-pipelines/ut-basic.yml

Documentation refinement for pruning & sparsity (#1448)
  README.md
  docs/imgs/pruning/2in4_sparsity_demo.png
  docs/imgs/pruning/pruning_intro.png
  docs/imgs/pruning/pruning_patterns.png
  docs/imgs/pruning/sparse_dim.png
  docs/imgs/pruning/train_for_sparsity.png
  docs/pruning.md
  docs/pruning_api.md
  docs/sparsity.md
  docs/validated_model_list.md
  neural_compressor/experimental/pruning.py
  neural_compressor/experimental/pruning_recipes/__init__.py
  neural_compressor/experimental/pruning_recipes/patterns/__init__.py
  neural_compressor/experimental/pruning_recipes/patterns/pattern.py
  neural_compressor/experimental/pruning_recipes/patterns/tile_pattern.py
  neural_compressor/experimental/pytorch_pruner/__init__.py
  neural_compressor/experimental/pytorch_pruner/logger.py
  neural_compressor/experimental/pytorch_pruner/patterns.py
  neural_compressor/experimental/pytorch_pruner/prune_utils.py
  neural_compressor/experimental/pytorch_pruner/pruner.py
  neural_compressor/experimental/pytorch_pruner/pruning.py
  neural_compressor/experimental/pytorch_pruner/scheduler.py
Due: .azure-pipelines/ut-basic.yml

Update the metric API helper(#1450)
  neural_compressor/experimental/metric/__init__.py
  neural_compressor/experimental/metric/bleu.py
  neural_compressor/experimental/metric/bleu_util.py
  neural_compressor/experimental/metric/evaluate_squad.py
  neural_compressor/experimental/metric/metric.py
Due: .azure-pipelines/ut-basic.yml

update full name of Intel® Extension for PyTorch* (#1486)
  README.md
  docs/validated_model_list.md
Due: none

Fix pylint lingline issue (#1490)
  neural_compressor/experimental/pytorch_pruner/patterns.py
Due: .azure-pipelines/ut-basic.yml

fix ipex ut timeout issue (#1483)
  test/ipex/test_adaptor_ipex.py
Due: none

Tuning process statistics adjustment (#1474)
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

Refine objective doc (#1449)
  docs/objective.md
Due: none

Docs refine for quantization and transformer (#1441)
  neural_compressor/experimental/data/transforms/__init__.py
  neural_compressor/experimental/data/transforms/imagenet_transform.py
  neural_compressor/experimental/data/transforms/tokenization.py
  neural_compressor/experimental/data/transforms/transform.py
  neural_compressor/experimental/quantization.py
Due: .azure-pipelines/ut-basic.yml

Fix Neural Coder CVE (#1492)
  neural_coder/extensions/neural_compressor_ext_lab/neural_compressor_ext_lab/labextension/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab/neural_compressor_ext_lab/labextension/package.json
  neural_coder/extensions/neural_compressor_ext_lab/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab/package.json
  neural_coder/extensions/neural_compressor_ext_lab_alibaba/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab_alibaba/package.json
Due: .azure-pipelines/ut-ncoder.yml

Perf stable check (#129)
  .azure-pipelines/model-test.yml
  .azure-pipelines/scripts/install_nc.sh
  .azure-pipelines/scripts/install_nc_full.sh
  .azure-pipelines/scripts/models/collect_log_all.py
  .azure-pipelines/scripts/models/collect_log_model.py
  .azure-pipelines/scripts/models/env_setup.sh
  .azure-pipelines/scripts/models/generate_report.sh
  .azure-pipelines/scripts/models/run_benchmark_common.sh
  .azure-pipelines/scripts/models/run_model_trigger_common.sh
  .azure-pipelines/scripts/models/run_mxnet_models_trigger.sh
  .azure-pipelines/scripts/models/run_onnxrt_models_trigger.sh
  .azure-pipelines/scripts/models/run_pytorch_models_trigger.sh
  .azure-pipelines/scripts/models/run_tensorflow_models_trigger.sh
  .azure-pipelines/scripts/models/run_tuning_common.sh
  .azure-pipelines/scripts/models/update_yaml_config.py
  .azure-pipelines/template/model-template.yml
Due: none

add wenhuach test env
  neural_compressor/strategy/hawq.py
  test/strategy/test_hawq_wenhuach.py
Due: .azure-pipelines/ut-basic.yml

try to test mes strategy, have bug now
  test/strategy/test_hawq_wenhuach.py
Due: none

change name
  neural_compressor/strategy/hawq_wenhuach.py
Due: .azure-pipelines/ut-basic.yml

comment test
  test/strategy/test_hawq_wenhuach.py
Due: none

add ssd_resnet50_v1_ckpt
  .azure-pipelines/model-test.yml
  .azure-pipelines/scripts/models/run_tensorflow_models_trigger.sh
Due: none

add activation quantized loss eval
  neural_compressor/strategy/hawq_metric.py
Due: .azure-pipelines/ut-basic.yml

fixed seed for dummy datasets
  test/strategy/test_hessian_trace_inc.py
Due: none

for independence hawq tuning strategic
  neural_compressor/strategy/hawq.py
Due: .azure-pipelines/ut-basic.yml

add a fallback ut
  neural_compressor/strategy/basic.py
  neural_compressor/strategy/st_utils/hawq_metric.py
  neural_compressor/strategy/st_utils/hawq_wenhuach.py
  test/strategy/test_basic_fallback.py
Due: .azure-pipelines/ut-basic.yml

add continue on error
  .azure-pipelines/model-test.yml
  .azure-pipelines/scripts/models/collect_log_model.py
Due: none

continue on error
  .azure-pipelines/model-test.yml
Due: none

continue on error
  .azure-pipelines/model-test.yml
  .azure-pipelines/template/model-template.yml
Due: none

add succeededOrFailed()
  .azure-pipelines/model-test.yml
  .azure-pipelines/scripts/models/collect_log_model.py
  .azure-pipelines/template/code-scan-template.yml
  .azure-pipelines/template/model-template.yml
Due: none

fix bug
  .azure-pipelines/scripts/models/new_benchmark.py
Due: none

test external benchmark
  .azure-pipelines/scripts/models/collect_log_model.py
  .azure-pipelines/scripts/models/new_benchmark.py
  .azure-pipelines/scripts/models/run_benchmark_common.sh
Due: none

fix path
  .azure-pipelines/scripts/models/run_benchmark_common.sh
Due: none
