Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

fix some typos.
  examples/pytorch/image_recognition/ResNet50/pruning/eager/train.py
Due: none

Enhancement quantization documents
  docs/source/imgs/accuracy_aware_tuning_flow.png
  docs/source/quantization.md
Due: none

remove some useless code
  examples/pytorch/image_recognition/torchvision_models/export/fx/main.py
  examples/pytorch/image_recognition/torchvision_models/export/fx/requirements.txt
Due: none

Update quantization doc
  docs/source/quantization.md
Due: none

remove prune models from readme
  examples/README.md
Due: none

remove tqdm
  requirements.txt
Due: none

update requirement
  requirements.txt
Due: none

update percentile & kl calibration method
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/ox_utils/calibration.py
  neural_compressor/adaptor/ox_utils/calibrator.py
Due: .azure-pipelines/ut-basic.yml

add no cuda options
  examples/pytorch/image_recognition/ResNet50/pruning/eager/README.md
  examples/pytorch/image_recognition/ResNet50/pruning/eager/train.py
Due: none

INC2.0 updates
  examples/notebook/tensorflow/vgg19_ibean/inc_quantize_vgg19.ipynb
Due: none

update example
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/fx/main.py
Due: none

refactor the structure, fix example format
  docs/source/api-doc/apis.rst
  docs/source/api-doc/benchmark.rst
  docs/source/api-doc/compression.rst
  docs/source/api-doc/config.rst
  docs/source/api-doc/mix_precision.rst
  docs/source/api-doc/model.rst
  docs/source/api-doc/objective.rst
  docs/source/api-doc/quantization.rst
  docs/source/api-doc/strategy.rst
  docs/source/api-doc/training.rst
  neural_compressor/adaptor/torch_utils/hawq_metric.py
  neural_compressor/api_doc_example.py
  neural_compressor/benchmark.py
  neural_compressor/config.py
  neural_compressor/data/datasets/bert_dataset.py
  neural_compressor/experimental/data/datasets/bert_dataset.py
  neural_compressor/mix_precision.py
  neural_compressor/objective.py
  neural_compressor/quantization.py
  neural_compressor/training.py
  neural_compressor/ux/utils/proc.py
Due: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ux.yml

Removing alexnet.yaml file
  examples/notebook/tensorflow/alexnet_mnist/alexnet.yaml
Due: none

Update inc_quantize_model.py
  examples/notebook/tensorflow/alexnet_mnist/inc_quantize_model.py
Due: none

add ut for tensorflow_model.py
  neural_compressor/model/keras_model.py
  neural_compressor/model/tensorflow_model.py
  test/model/test_model.py
Due: .azure-pipelines/ut-basic.yml

update scripts.
  examples/pytorch/image_recognition/ResNet50/pruning/eager/run_resnet50_prune.sh
Due: none

add api doc example
  docs/source/api-doc/api_doc_example.rst
  docs/source/api-doc/apis.rst
  docs/source/api-doc/basic_api.rst
  docs/source/api-doc/config.rst
  neural_compressor/template/__init__.py
  neural_compressor/template/api_doc_example.py
Due: .azure-pipelines/ut-basic.yml

Add orchestration UT case with distillation, pruning and qat (#701)
  test/scheduler/test_orchestration.py
Due: none

Improve UT coverage and fix bug
  neural_compressor/adaptor/ox_utils/operators/concat.py
  neural_compressor/adaptor/ox_utils/operators/ops.py
  neural_compressor/adaptor/ox_utils/operators/split.py
  neural_compressor/conf/pythonic_config.py
  test/adaptor/onnxrt_adaptor/test_onnxrt_operators.py
  test/config/test_pythonic_config.py
Due: .azure-pipelines/ut-basic.yml

Update keras_tf_train_mnist.py
  examples/notebook/tensorflow/alexnet_mnist/keras_tf_train_mnist.py
Due: none

Update devcloud_setup_env.sh
  examples/notebook/tensorflow/alexnet_mnist/devcloud_setup_env.sh
Due: none

Update run_in_intel_devcloud.sh
  examples/notebook/tensorflow/alexnet_mnist/run_in_intel_devcloud.sh
Due: none

Update conda_set_env.sh
  examples/notebook/tensorflow/alexnet_mnist/conda_set_env.sh
Due: none

remove unnecessary no cover
  neural_compressor/adaptor/tf_utils/util.py
  neural_compressor/model/tensorflow_model.py
Due: .azure-pipelines/ut-basic.yml

remove unnecessary no cover2
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/dilated_contraction.py
Due: .azure-pipelines/ut-basic.yml

add ut
  test/data/test_exp_dataloader.py
Due: none

Update the configuration of examples using mse_v2 (#706)
  examples/pytorch/image_recognition/torchvision_models/export/fx/main.py
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/fx/main.py
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/export/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/export/fx/run_glue.py
Due: none

Remove TF pruning examples (#680)
  examples/README.md
  examples/tensorflow/image_recognition/ViT/pruning/magnitude/README.md
  examples/tensorflow/image_recognition/ViT/pruning/magnitude/main.py
  examples/tensorflow/image_recognition/ViT/pruning/magnitude/prepare_model.py
  examples/tensorflow/image_recognition/ViT/pruning/magnitude/requirements.txt
  examples/tensorflow/image_recognition/resnet_v2/pruning/magnitude/README.md
  examples/tensorflow/image_recognition/resnet_v2/pruning/magnitude/main.py
Due: none

fix typo
  docs/source/quantization.md
Due: none

Update inc_dict.txt
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
Due: none

rollback some no covers
  neural_compressor/adaptor/tf_utils/graph_converter.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/int8/post_quantized_op_cse.py
  neural_compressor/utils/kl_divergence.py
Due: .azure-pipelines/ut-basic.yml

test to train for calibration
  examples/notebook/tensorflow/vgg19_ibean/inc_quantize_vgg19.ipynb
Due: none

remove test of model_conversion
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/adaptor/tf_utils/graph_converter.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/int8/freeze_fake_quant.py
  neural_compressor/experimental/model_conversion.py
  test/model/test_model_conversion.py
Due: .azure-pipelines/ut-basic.yml

update graph layout
  docs/source/quantization.md
Due: none

Enhancement quantization documents (#655)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  docs/source/imgs/accuracy_aware_tuning_flow.png
  docs/source/quantization.md
Due: none

deploy: fe546fad5ba60a60857d98bc805525ad839b516a
  latest/_sources/docs/source/quantization.md.txt
  latest/docs/source/imgs/accuracy_aware_tuning_flow.png
  latest/docs/source/quantization.html
  latest/searchindex.js
Due: none

roll back the no cover
  neural_compressor/adaptor/tf_utils/graph_converter.py
  neural_compressor/adaptor/tf_utils/graph_converter_without_calib.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/int8/fuse_matmul_redundant_dequantize.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/qdq/insert_qdq_pattern.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_matmul.py
  neural_compressor/adaptor/tf_utils/transform_graph/graph_transform_base.py
Due: .azure-pipelines/ut-basic.yml

revert graph_converter_without_calib.py
  neural_compressor/adaptor/tf_utils/graph_converter_without_calib.py
Due: .azure-pipelines/ut-basic.yml
