Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

add document
  docs/source/fp8.md
Due: none

add related packge
  docs/source/fp8.md
Due: none

enhance document
  docs/source/fp8.md
  test/adaptor/pytorch_adaptor/test_fp8_emulation.py
Due: none

update vgg16
  examples/tensorflow/tf2onnx/vgg16/fp32_export/README.md
  examples/tensorflow/tf2onnx/vgg16/fp32_export/main.py
  examples/tensorflow/tf2onnx/vgg16/fp32_export/requirements.txt
  examples/tensorflow/tf2onnx/vgg16/fp32_export/run_benchmark.sh
  examples/tensorflow/tf2onnx/vgg16/fp32_export/run_export.sh
  examples/tensorflow/tf2onnx/vgg16/imagenet_prepare/build_imagenet_data.py
  examples/tensorflow/tf2onnx/vgg16/imagenet_prepare/download_and_convert_imagenet.sh
  examples/tensorflow/tf2onnx/vgg16/imagenet_prepare/download_imagenet.sh
  examples/tensorflow/tf2onnx/vgg16/imagenet_prepare/imagenet_lsvrc_2015_synsets.txt
  examples/tensorflow/tf2onnx/vgg16/imagenet_prepare/imagenet_metadata.txt
  examples/tensorflow/tf2onnx/vgg16/int8_export/README.md
  examples/tensorflow/tf2onnx/vgg16/int8_export/main.py
  examples/tensorflow/tf2onnx/vgg16/int8_export/requirements.txt
  examples/tensorflow/tf2onnx/vgg16/int8_export/run_benchmark.sh
  examples/tensorflow/tf2onnx/vgg16/int8_export/run_export.sh
  examples/tensorflow/tf2onnx/vgg16/int8_export/run_tuning.sh
  examples/tensorflow/tf2onnx/vgg16/prepare_dataset.sh
Due: none

enable resnet50v1.0 example
  examples/tensorflow/tf2onnx/README.md
  examples/tensorflow/tf2onnx/resnet50v1.0/fp32_export/README.md
  examples/tensorflow/tf2onnx/resnet50v1.0/fp32_export/main.py
  examples/tensorflow/tf2onnx/resnet50v1.0/fp32_export/requirements.txt
  examples/tensorflow/tf2onnx/resnet50v1.0/fp32_export/run_benchmark.sh
  examples/tensorflow/tf2onnx/resnet50v1.0/fp32_export/run_export.sh
  examples/tensorflow/tf2onnx/resnet50v1.0/int8_export/README.md
  examples/tensorflow/tf2onnx/resnet50v1.0/int8_export/main.py
  examples/tensorflow/tf2onnx/resnet50v1.0/int8_export/requirements.txt
  examples/tensorflow/tf2onnx/resnet50v1.0/int8_export/run_benchmark.sh
  examples/tensorflow/tf2onnx/resnet50v1.0/int8_export/run_export.sh
  examples/tensorflow/tf2onnx/resnet50v1.0/int8_export/run_tuning.sh
  examples/tensorflow/tf2onnx/vgg16/fp32_export/README.md
  examples/tensorflow/tf2onnx/vgg16/int8_export/README.md
  examples/tensorflow/tf2onnx/vgg16/int8_export/requirements.txt
Due: none

fix intel tensorflow
  docs/source/validated_model_list.md
Due: none

refine imagenet dataset for 4 examples
  examples/tensorflow/tf2onnx/imagenet_prepare/build_imagenet_data.py
  examples/tensorflow/tf2onnx/imagenet_prepare/download_and_convert_imagenet.sh
  examples/tensorflow/tf2onnx/imagenet_prepare/download_imagenet.sh
  examples/tensorflow/tf2onnx/imagenet_prepare/imagenet_lsvrc_2015_synsets.txt
  examples/tensorflow/tf2onnx/imagenet_prepare/imagenet_metadata.txt
  examples/tensorflow/tf2onnx/mobilenet_v2/fp32_export/README.md
  examples/tensorflow/tf2onnx/mobilenet_v2/fp32_export/main.py
  examples/tensorflow/tf2onnx/mobilenet_v2/int8_export/README.md
  examples/tensorflow/tf2onnx/mobilenet_v2/int8_export/main.py
  examples/tensorflow/tf2onnx/prepare_imagenet_dataset.sh
  examples/tensorflow/tf2onnx/resnet50v1.0/fp32_export/README.md
  examples/tensorflow/tf2onnx/resnet50v1.0/int8_export/README.md
  examples/tensorflow/tf2onnx/resnet50v1.0/int8_export/main.py
  examples/tensorflow/tf2onnx/resnet50v1.5/fp32_export/README.md
  examples/tensorflow/tf2onnx/resnet50v1.5/fp32_export/main.py
  examples/tensorflow/tf2onnx/resnet50v1.5/int8_export/README.md
  examples/tensorflow/tf2onnx/resnet50v1.5/int8_export/main.py
  examples/tensorflow/tf2onnx/vgg16/fp32_export/README.md
  examples/tensorflow/tf2onnx/vgg16/int8_export/README.md
  examples/tensorflow/tf2onnx/vgg16/int8_export/main.py
Due: none

update coco dataset for ssd_mobilenet_v1
  examples/tensorflow/tf2onnx/prepare_coco_dataset.sh
  examples/tensorflow/tf2onnx/ssd_mobilenet_v1/fp32_export/README.md
  examples/tensorflow/tf2onnx/ssd_mobilenet_v1/fp32_export/main.py
  examples/tensorflow/tf2onnx/ssd_mobilenet_v1/int8_export/README.md
  examples/tensorflow/tf2onnx/ssd_mobilenet_v1/int8_export/main.py
Due: none

remove stars
  examples/README.md
Due: none

Enable ORT hf stage1 static quantization example (#431)
  examples/.config/model_params_onnxrt.json
  examples/README.md
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq/main.py
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq/trainer_qa.py
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_dynamic/README.md
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_dynamic/export.py
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_dynamic/main.py
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_dynamic/requirements.txt
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_dynamic/run_benchmark.sh
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_dynamic/run_tuning.sh
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_dynamic/trainer_qa.py
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_dynamic/utils_model.py
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_dynamic/utils_qa.py
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_static/README.md
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_static/export.py
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_static/main.py
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_static/requirements.txt
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_static/run_benchmark.sh
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_static/run_tuning.sh
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_static/trainer_qa.py
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_static/utils_model.py
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_static/utils_qa.py
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_dynamic/README.md
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_dynamic/export.py
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_dynamic/main.py
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_dynamic/prepare_data.sh
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_dynamic/requirements.txt
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_dynamic/run_benchmark.sh
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_dynamic/run_tuning.sh
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_static/README.md
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_static/export.py
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_static/main.py
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_static/prepare_data.sh
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_static/requirements.txt
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_static/run_benchmark.sh
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_static/run_tuning.sh
Due: none

remove redundant eval_dataloader in vgg16
  examples/tensorflow/tf2onnx/vgg16/int8_export/main.py
Due: none

fix spell issue
  docs/source/validated_model_list.md
Due: none

refine faster_rcnn_resnet50 example
  examples/tensorflow/tf2onnx/faster_rcnn_resnet50/fp32_export/README.md
  examples/tensorflow/tf2onnx/faster_rcnn_resnet50/fp32_export/main.py
  examples/tensorflow/tf2onnx/faster_rcnn_resnet50/int8_export/README.md
  examples/tensorflow/tf2onnx/faster_rcnn_resnet50/int8_export/main.py
  examples/tensorflow/tf2onnx/ssd_mobilenet_v1/int8_export/README.md
Due: none

update V2.0 release data (#493)
  docs/source/validated_model_list.md
Due: none

deploy: 633cb7d80613b39dda4f4abf9ec571f8d630b699
  latest/_sources/docs/source/validated_model_list.md.txt
  latest/docs/source/validated_model_list.html
  latest/searchindex.js
Due: none

add ipex version limit
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

minor fix
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

fix bug (#497)
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch_1.x.py
Due: none

add reduce range for export
  neural_compressor/adaptor/pytorch.py
  neural_compressor/experimental/export/torch2onnx.py
  neural_compressor/model/torch_model.py
Due: .azure-pipelines/ut-basic.yml

fix args error
  examples/pytorch/image_recognition/torchvision_models/optimization_pipeline/prune_and_ptq/fx/main.py
  examples/pytorch/image_recognition/torchvision_models/optimization_pipeline/qat_during_prune/eager/main.py
Due: none

minor fix
  README.md
Due: none

simplify the main readme page
  README.md
  docs/source/examples_readme.md
  docs/source/get_started.md
Due: none

update tensorflow support version link in example readme
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/README.md
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/README.md
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/README.md
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/README.md
  examples/tensorflow/nlp/transformer_lt_mlperf/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_inception_resnet_v2/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet101/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet50/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/mask_rcnn_inception_v2/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/ssd_mobilenet_v1/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet34/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet50_v1/quantization/ptq/README.md
  examples/tensorflow/oob_models/quantization/ptq/README.md
  examples/tensorflow/recommendation/wide_deep_large_ds/quantization/ptq/README.md
  examples/tensorflow/semantic_image_segmentation/3dunet-mlperf/quantization/ptq/README.md
Due: none

for test
  README.md
  docs/source/installation_guide.md
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/README.md
Due: none

fix format
  README.md
Due: none

windows add api models
  examples/.config/model_params_onnxrt_win.json
  examples/.config/model_params_pytorch_win.json
  examples/.config/model_params_tensorflow_win.json
Due: none

fix fake eval in UT
  test/strategy/test_distributed_tuning.py
Due: none

cve
  neural_coder/extensions/neural_compressor_ext_lab/neural_compressor_ext_lab/labextension/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab_alibaba/package-lock.json
Due: .azure-pipelines/ut-ncoder.yml

fix bug in tuning config gap on single-node and multi-node
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/run_glue.py
  neural_compressor/strategy/basic.py
Due: .azure-pipelines/ut-basic.yml

Doc revision for the newapi example (#432)
  examples/pytorch/nlp/huggingface_models/text-classification/distillation/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/optimization_pipeline/distillation_for_quantization/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/optimization_pipeline/prune_once_for_all/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/README.md
Due: none

set tune_cfg_lst as a class attribute & delete debug info
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

Update fp8.md
  docs/source/fp8.md
Due: none

Update fp8.md (#513)
  docs/source/fp8.md
Due: none

adapt to the latest dynamic qconfig
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

fix pylint issue
  neural_compressor/adaptor/tf_utils/graph_rewriter/onnx/onnx_graph.py
  neural_compressor/adaptor/tf_utils/tf2onnx_converter.py
  neural_compressor/experimental/export/tf2onnx.py
Due: .azure-pipelines/ut-basic.yml

fix spelling check issue
  examples/tensorflow/tf2onnx/README.md
  examples/tensorflow/tf2onnx/resnet50v1.0/fp32_export/README.md
  examples/tensorflow/tf2onnx/resnet50v1.5/fp32_export/README.md
Due: none

fix pylint issues
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  examples/tensorflow/tf2onnx/vgg16/int8_export/README.md
  neural_compressor/adaptor/tf_utils/graph_rewriter/onnx/onnx_graph.py
  neural_compressor/adaptor/tf_utils/tf2onnx_converter.py
  requirements.txt
Due: .azure-pipelines/ut-basic.yml

bump neural coder deps version (#511)
  neural_coder/extensions/neural_compressor_ext_lab/neural_compressor_ext_lab/labextension/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab_alibaba/package-lock.json
Due: .azure-pipelines/ut-ncoder.yml
