Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

Update logging and TODos
  neural_compressor/experimental/nas/dynas.py
  neural_compressor/experimental/nas/dynast/dynas_utils.py
  neural_compressor/experimental/nas/dynast/supernetwork/machine_translation/transformer_interface.py
Due: .azure-pipelines/ut-basic.yml

Log warning when measuring MACs for transformer LT (not supported)
  neural_compressor/experimental/nas/dynast/dynas_utils.py
Due: .azure-pipelines/ut-basic.yml

Update LINAS loop
  neural_compressor/experimental/nas/dynas.py
Due: .azure-pipelines/ut-basic.yml

Fix error when CSV file does not exist
  neural_compressor/experimental/nas/dynas.py
Due: .azure-pipelines/ut-basic.yml

Change column names in CSV file for Transformer LT
  neural_compressor/experimental/nas/dynast/dynas_utils.py
Due: .azure-pipelines/ut-basic.yml

add macs computation for transformers
  neural_compressor/experimental/nas/dynast/dynas_utils.py
  neural_compressor/experimental/nas/dynast/supernetwork/machine_translation/modules_supernetwork.py
  neural_compressor/experimental/nas/dynast/supernetwork/machine_translation/transformer_interface.py
  neural_compressor/experimental/nas/dynast/supernetwork/machine_translation/transformer_supernetwork.py
Due: .azure-pipelines/ut-basic.yml

Azure pipeline bug fix (#50)
  .azure-pipelines/code-scan.yml
  .azure-pipelines/model-test.yml
  .azure-pipelines/scripts/ut/env_setup.sh
  .azure-pipelines/scripts/ut/run_basic_adaptor_tfnewapi.sh
  .azure-pipelines/scripts/ut/run_basic_others.sh
  .azure-pipelines/scripts/ut/run_ux.sh
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/ut-basic.yml
  .azure-pipelines/ut-ncoder.yml
  .azure-pipelines/ut-ux.yml
  neural_coder/__init__.py
  neural_compressor/ux/__init__.py
  neural_compressor/version.py
Due: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

update torch version to cover some pylint issue
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
  .azure-pipelines/scripts/codeScan/pyspelling/pyspelling.sh
Due: none

Fix bert_large_squad_model_zoo regression issue (#1488)
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/fuse_gelu.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_graph_fuse_gelu.py
Due: .azure-pipelines/ut-basic.yml

Fix pytorch adaptor calibration (#1406)
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

Convert placeholder to const to strip training nodes (#1476)
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/convert_placeholder_to_const.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/grappler_pass.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/pre_optimize.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/remove_training_nodes.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/switch_optimizer.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_graph_switch_optimizer.py
Due: .azure-pipelines/ut-basic.yml

Support Fused LayerNorm and unify use_bf16 for TF (#1501)
  examples/tensorflow/object_detection/yolo_v3/quantization/ptq/README.md
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/adaptor/tensorflow.yaml
  neural_compressor/adaptor/tf_utils/graph_converter.py
  neural_compressor/adaptor/tf_utils/graph_converter_without_calib.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/fuse_layer_norm.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/pre_optimize.py
  neural_compressor/conf/config.py
  neural_compressor/experimental/graph_optimization.py
  neural_compressor/experimental/mixed_precision.py
  neural_compressor/strategy/strategy.py
  test/adaptor/tensorflow_adaptor/test_bf16_convert.py
  test/tfnewapi/test_tensorflow_graph_qdq_new_conv_fusion.py
Due: .azure-pipelines/ut-basic.yml

when reset the required grad, something goes wrong
  neural_compressor/strategy/hawq.py
Due: .azure-pipelines/ut-basic.yml

refactor(mse): adjust the structure of generating output tensors.
  neural_compressor/adaptor/tensorflow.py
Due: .azure-pipelines/ut-basic.yml

refactor(mse): move storing output op name from adaptor to strategy.
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/strategy/mse.py
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

Revert "adjust configs for test."
  examples/tensorflow/image_recognition/tensorflow_models/quantization/ptq/mobilenet_v3.yaml
Due: none

enable non-cursive search method.
  neural_compressor/adaptor/tensorflow.py
Due: .azure-pipelines/ut-basic.yml

feat(mse): new strategy of calculating op sensitivity of last quantizable ops.
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/strategy/mse.py
Due: .azure-pipelines/ut-basic.yml

Revert "adjust config for test and validation."
  examples/tensorflow/image_recognition/tensorflow_models/quantization/ptq/densenet161.yaml
Due: none

feat(mse): add non-cursive search method.
  neural_compressor/adaptor/tensorflow.py
Due: .azure-pipelines/ut-basic.yml

fix(mse): align interfaces with torch.
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/tensorflow.py
Due: .azure-pipelines/ut-basic.yml

add trick imagenet dataset fix one issue
  neural_compressor/experimental/quantization.py
  neural_compressor/strategy/hawq.py
Due: .azure-pipelines/ut-basic.yml

fix fuese issue
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

refactor(mse): set get output op names empty.
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

change to eval model, remove bias
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/fx/conf.yaml
  neural_compressor/experimental/quantization.py
  neural_compressor/strategy/auto_mixed_precision.py
  neural_compressor/strategy/hawq.py
  neural_compressor/strategy/st_utils/hawq_wenhuach.py
  neural_compressor/strategy/strategy.py
  test/strategy/test_hawq_wenhuach.py
Due: .azure-pipelines/ut-basic.yml

fixed weight to op bug
  neural_compressor/strategy/hawq.py
  test/strategy/test_hawq_wenhuach.py
Due: .azure-pipelines/ut-basic.yml

still have issues
  neural_compressor/strategy/hawq.py
  neural_compressor/strategy/st_utils/tuning_sampler.py
Due: .azure-pipelines/ut-basic.yml

Code adaption for stock TF2.11.0 SavedModel format changed (#1516)
  neural_compressor/adaptor/tf_utils/util.py
Due: .azure-pipelines/ut-basic.yml

Support stock tensorflow official release 2.11.0 (#1517)
  neural_compressor/adaptor/tf_utils/graph_converter.py
  neural_compressor/adaptor/tf_utils/graph_converter_without_calib.py
Due: .azure-pipelines/ut-basic.yml

Add `batch size` to compute latency for TransformerLT
  neural_compressor/experimental/nas/dynast/dynas_utils.py
  neural_compressor/experimental/nas/dynast/supernetwork/machine_translation/transformer_interface.py
Due: .azure-pipelines/ut-basic.yml

Remove old cuda calls
  neural_compressor/experimental/nas/dynast/supernetwork/machine_translation/transformer_interface.py
Due: .azure-pipelines/ut-basic.yml

update publications (#1515)
  .azure-pipelines/scripts/codeScan/pyspelling/lpot_dict.txt
  README.md
  docs/publication_list.md
Due: none

WA for align the op name
  neural_compressor/strategy/hawq.py
Due: .azure-pipelines/ut-basic.yml

fix model test performance gap (#1525)
  .azure-pipelines/model-test.yml
  .azure-pipelines/scripts/models/collect_log_model.py
  .azure-pipelines/scripts/models/generate_report.sh
  .azure-pipelines/scripts/models/run_benchmark_common.sh
Due: none

Update README.md
  README.md
Due: none

Update __init__.py
  neural_compressor/__init__.py
Due: .azure-pipelines/ut-basic.yml

change entry point to main function fx model before entering into quantization
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/fx/conf.yaml
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/fx/main.py
  neural_compressor/experimental/quantization.py
  neural_compressor/strategy/hawq.py
  neural_compressor/strategy/st_utils/tuning_sampler.py
  test/strategy/test_hawq_wenhuach.py
Due: .azure-pipelines/ut-basic.yml

remove op-wise cfgs for testing. (#1521)
  examples/tensorflow/image_recognition/tensorflow_models/quantization/ptq/densenet121.yaml
  examples/tensorflow/image_recognition/tensorflow_models/quantization/ptq/densenet161.yaml
  examples/tensorflow/image_recognition/tensorflow_models/quantization/ptq/densenet169.yaml
  examples/tensorflow/image_recognition/tensorflow_models/quantization/ptq/mobilenet_v2.yaml
Due: none
