Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

Fix Quickstart Example on Readme (#1082)
  README.md
  docs/source/get_started.md
  examples/helloworld/tf_example7/README.md
  examples/helloworld/tf_example7/test.py
Due: none

delete package-lock.json (#1098)
  neural_coder/extensions/neural_compressor_ext_vscode/package-lock.json
Due: .azure-pipelines/ut-ncoder.yml

bugfix of block pattern, refine UTs and examples
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/run_clm_no_trainer.py
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/run_clm_sparsegpt.py
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/scripts/run_bloom_pruning.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/scripts/run_gptj_pruning.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/scripts/run_llama_pruning.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/scripts/run_llm_sparsegpt.py
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/scripts/run_opt_pruning.sh
  neural_compressor/compression/pruner/pruners/block_mask.py
  neural_compressor/compression/pruner/pruners/retrain_free.py
  neural_compressor/compression/pruner/pruning.py
  neural_compressor/compression/pruner/utils.py
  test/pruning_2_plus.x/test_pruning.py
  test/pruning_2_plus.x/test_pruning_block.py
  test/pruning_2_plus.x/test_pruning_retrain_free.py
  test/pruning_2_plus.x/test_pruning_sparsegpt.py
Due: .azure-pipelines/ut-basic.yml

add sparseGPT pruner, refactor pruning class
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/run_clm_sparsegpt.py
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/scripts/run_bloom_pruning.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/scripts/run_gptj_pruning.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/scripts/run_llama_pruning.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/scripts/run_llm_sparsegpt.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/scripts/run_opt_pruning.sh
  neural_compressor/compression/pruner/__init__.py
  neural_compressor/compression/pruner/patterns/base.py
  neural_compressor/compression/pruner/patterns/mha.py
  neural_compressor/compression/pruner/patterns/ninm.py
  neural_compressor/compression/pruner/patterns/nxm.py
  neural_compressor/compression/pruner/pruners/base.py
  neural_compressor/compression/pruner/pruners/block_mask.py
  neural_compressor/compression/pruner/pruners/progressive.py
  neural_compressor/compression/pruner/pruners/retrain_free.py
  neural_compressor/compression/pruner/pruners/sparse_gpt.py
  neural_compressor/compression/pruner/pruning.py
  neural_compressor/compression/pruner/utils.py
  test/pruning_2_plus.x/test_pruning.py
  test/pruning_2_plus.x/test_pruning_block.py
  test/pruning_2_plus.x/test_pruning_retrain_free.py
  test/pruning_2_plus.x/test_pruning_sparsegpt.py
Due: .azure-pipelines/ut-basic.yml

fixtypos
  neural_compressor/compression/pruner/criteria.py
  neural_compressor/compression/pruner/utils.py
Due: .azure-pipelines/ut-basic.yml

fix config issue
  neural_compressor/compression/pruner/utils.py
Due: .azure-pipelines/ut-basic.yml

add v2 to example list
  examples/README.md
Due: none

add calibration algorithm doc
  docs/source/calibration.md
Due: none

update inc_dict.txt
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
Due: none

refine calibration.md
  docs/source/calibration.md
Due: none

update calibration.md
  docs/source/calibration.md
Due: none

update Advanced Topics
  docs/source/user_guide.md
Due: none

log name update
  .azure-pipelines/ut-basic-no-cover.yml
  .azure-pipelines/ut-basic.yml
Due: none

CI UT adjust to reduce overall time consume (#1107)
  .azure-pipelines/scripts/ut/collect_log.sh
  .azure-pipelines/scripts/ut/run_basic_ipex.sh
  .azure-pipelines/scripts/ut/run_basic_others.sh
  .azure-pipelines/scripts/ut/run_basic_pruning.sh
  .azure-pipelines/ut-basic-no-cover.yml
  .azure-pipelines/ut-basic.yml
Due: none

add more UTs
  neural_compressor/strategy/basic.py
  neural_compressor/strategy/strategy.py
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic.yml

Support tf.Tensor as Labels for TopK Metric
  neural_compressor/metric/metric.py
Due: .azure-pipelines/ut-basic.yml

enhance sq tuning
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  neural_compressor/algorithm/smooth_quant.py
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic.yml

Support the tuning of smooth quant' alpha in strategy layer (#1112)
  neural_compressor/config.py
  neural_compressor/strategy/basic.py
  neural_compressor/strategy/strategy.py
  neural_compressor/strategy/utils/tuning_sampler.py
  neural_compressor/strategy/utils/utility.py
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic.yml

fix UTs
  neural_compressor/compression/pruner/utils.py
  test/pruning_2_plus.x/test_pruning_retrain_free.py
  test/pruning_2_plus.x/test_pruning_sparsegpt.py
Due: .azure-pipelines/ut-basic.yml

added more UTs
  neural_compressor/config.py
  neural_compressor/strategy/basic.py
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic.yml

fixed ut
  test/algorithm/test_smooth_quant.py
Due: none

Update Conditions to Set backend=itex for temp_model in graph_converter
  neural_compressor/adaptor/tf_utils/graph_converter.py
Due: .azure-pipelines/ut-basic.yml

import TensorflowSavedModelModel
  neural_compressor/adaptor/tf_utils/graph_converter.py
Due: .azure-pipelines/ut-basic.yml

revert some special cases for old api ci test
  .azure-pipelines/scripts/models/run_mxnet_models_trigger.sh
  .azure-pipelines/scripts/models/run_pytorch_models_trigger.sh
  .azure-pipelines/scripts/models/run_tensorflow_models_trigger.sh
Due: none

fix scipy cve by update version
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/requirements.txt
Due: none

update publication_list.md
  README.md
  docs/source/publication_list.md
Due: none

enable sq tuning for both quant_level is auto or 1
  neural_compressor/strategy/auto.py
  neural_compressor/strategy/basic.py
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

fix accuracy issue
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/model_wrapper.py
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/algorithm/smooth_quant.py
Due: .azure-pipelines/ut-basic.yml

fix UT
  test/algorithm/test_smooth_quant.py
Due: none

fix alpha=auto
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic.yml

Update publications (#1116)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  README.md
  docs/source/publication_list.md
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/fx/requirements.txt
Due: none

deploy: 4886cced55a16355b45578b3f3aa5438ecf1519a
  latest/_sources/docs/source/Welcome.md.txt
  latest/_sources/docs/source/publication_list.md.txt
  latest/docs/source/Welcome.html
  latest/docs/source/publication_list.html
  latest/objects.inv
  latest/searchindex.js
Due: none

add hpo api&config
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/hpo/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/hpo/bert_mini_mrpc.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/hpo/run_glue_no_trainer.py
  neural_compressor/compression/hpo/__init__.py
  neural_compressor/compression/hpo/search_algorithms.py
  neural_compressor/config.py
  test/hpo/test_hpo.py
Due: .azure-pipelines/ut-basic.yml
