Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

add optimization_level in BaseQuantizationConfig
  neural_compressor/config.py
Due: .azure-pipelines/ut-basic.yml

add strategy kwargs for new api
  neural_compressor/conf/config.py
  neural_compressor/config.py
Due: .azure-pipelines/ut-basic.yml

Revert "remove op-wise cfgs for testing. (#1521)" (#202)
  examples/tensorflow/image_recognition/tensorflow_models/quantization/ptq/densenet121.yaml
  examples/tensorflow/image_recognition/tensorflow_models/quantization/ptq/densenet161.yaml
  examples/tensorflow/image_recognition/tensorflow_models/quantization/ptq/densenet169.yaml
Due: none

Added distributed training support for distillation of MobileNetV2. (#166)
  examples/pytorch/image_recognition/MobileNetV2-0.35/distillation/eager/README.md
  examples/pytorch/image_recognition/MobileNetV2-0.35/distillation/eager/main.py
  examples/pytorch/image_recognition/MobileNetV2-0.35/distillation/eager/requirements.txt
Due: none

update installation dependency (#185)
  .azure-pipelines/code-scan.yml
  .azure-pipelines/model-test.yml
  .azure-pipelines/ut-basic.yml
  .azure-pipelines/ut-ncoder.yml
  .azure-pipelines/ut-ux.yml
  conda_meta/basic/meta.yaml
  conda_meta/full/meta.yaml
  requirements.txt
  setup.py
Due: none

Neural Coder adding support of ONNX RT dynamic quant and static quant QDQ (#184)
  neural_coder/backends/onnx_inc_dynamic_quant.yaml
  neural_coder/backends/onnx_inc_static_quant_qdq.yaml
Due: .azure-pipelines/ut-ncoder.yml

Neural Coder mod launcher arg: "strategy" to "approach" (#201)
  neural_coder/__main__.py
  neural_coder/docs/PythonLauncher.md
Due: .azure-pipelines/ut-ncoder.yml

Added distributed training support for distillation of CNN-2. (#208)
  examples/pytorch/image_recognition/CNN-2/distillation/eager/README.md
  examples/pytorch/image_recognition/CNN-2/distillation/eager/main.py
  examples/pytorch/image_recognition/CNN-2/distillation/eager/requirements.txt
Due: none

Turn off ITEX optimization pass (#196)
  neural_compressor/adaptor/tf_utils/graph_converter.py
Due: .azure-pipelines/ut-basic.yml

remove useless file in doc source (#182)
  docs/source/README.md
Due: none

IO docs bug fix (#188)
  docs/Makefile
  docs/source/SECURITY.md
  docs/source/Welcome.md
  docs/source/_static/index.html
  docs/source/_templates/layout.html
  docs/source/api-introduction.md
  docs/source/index.rst
  docs/source/legal_information.md
  docs/source/reference_examples.md
  docs/source/welcome.md
  examples/README.md
Due: none

add uts
  neural_compressor/conf/config.py
  neural_compressor/config.py
  test/strategy/test_basic.py
  test/strategy/test_sigopt.py
Due: .azure-pipelines/ut-basic.yml

Corrected pruning.md links, updated per channel examples. (#175)
  docs/source/pruning.md
  docs/source/validated_model_list.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/pytorch_pruner/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/pytorch_pruner/eager/bert_mini_mrpc_1xchannel.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/pytorch_pruner/eager/bert_mini_sst2_1xchannel.yaml
Due: none

add UTs based on new API
  test/strategy/test_optimization_level_2.x.py
Due: none

remove the UTs based on old API(yaml)
  test/strategy/test_optimization_level.py
Due: none

Fixed UT error for bf16 op list for QAT mode (#200)
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

update publication_list.md (#212)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  .azure-pipelines/scripts/codeScan/pyspelling/pyspelling_conf.yaml
  README.md
  docs/source/publication_list.md
Due: none

add examples for GPTJ (#162)
  .azure-pipelines/scripts/codeScan/pyspelling/lpot_dict.txt
  examples/.config/model_params_pytorch.json
  examples/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/conf.yaml
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/run_benchmark.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/run_clm.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/run_tuning.sh
Due: none

Add export() PyTorch backend implementation for new API (#180)
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/onnx.py
  neural_compressor/config.py
  neural_compressor/model/torch_model.py
  test/export/test_torch2onnx.py
Due: .azure-pipelines/ut-basic.yml

Fix TextRNN and centernet_hg104 tuning issue (#171)
  examples/tensorflow/oob_models/quantization/ptq/model_detail.py
  examples/tensorflow/oob_models/quantization/ptq/run_benchmark.sh
  examples/tensorflow/oob_models/quantization/ptq/run_tuning.sh
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/fuse_pad_with_conv.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/fuse_pad_with_fp32_conv.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/qdq/insert_qdq_pattern.py
  neural_compressor/adaptor/tf_utils/graph_util.py
Due: .azure-pipelines/ut-basic.yml

fixed some uts
  test/strategy/test_basic.py
  test/strategy/test_sigopt.py
Due: none

fix load issue (#194)
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/ipex/main.py
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/ipex/ssd_r34.py
Due: none

Fixed benchmark error for tensorflow model (#177)
  neural_compressor/experimental/benchmark.py
  test/benchmark/test_benchmark.py
Due: .azure-pipelines/ut-basic.yml

remove the line for debug
  neural_compressor/conf/config.py
Due: .azure-pipelines/ut-basic.yml

add optimization_level to conf and pythonic_conf
  neural_compressor/conf/config.py
  neural_compressor/conf/pythonic_config.py
Due: .azure-pipelines/ut-basic.yml

Fix NTM-One-Shot failed with KeyError (#210)
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/pre_optimize.py
Due: .azure-pipelines/ut-basic.yml

Set default value for use_bf16 and fixed random seed setting error (#186)
  neural_compressor/conf/config.py
  neural_compressor/conf/pythonic_config.py
  neural_compressor/config.py
Due: .azure-pipelines/ut-basic.yml

draft for qlinear to qdq
  neural_compressor/adaptor/ox_utils/operators/activation.py
  neural_compressor/adaptor/ox_utils/operators/binary_op.py
  neural_compressor/adaptor/ox_utils/operators/concat.py
  neural_compressor/adaptor/ox_utils/operators/conv.py
  neural_compressor/adaptor/ox_utils/operators/gather.py
  neural_compressor/adaptor/ox_utils/operators/gavgpool.py
  neural_compressor/adaptor/ox_utils/operators/gemm.py
  neural_compressor/adaptor/ox_utils/operators/matmul.py
  neural_compressor/adaptor/ox_utils/operators/ops.py
  neural_compressor/adaptor/ox_utils/operators/pooling.py
  neural_compressor/adaptor/ox_utils/util.py
Due: .azure-pipelines/ut-basic.yml

feat(strategy): add optimization level 0
  neural_compressor/strategy/conservative.py
  neural_compressor/strategy/st_utils/tuning_space.py
  test/strategy/test_optimization_level.py
Due: .azure-pipelines/ut-basic.yml

update the op queue
  neural_compressor/strategy/conservative.py
Due: .azure-pipelines/ut-basic.yml

feat(st): update compare logic
  neural_compressor/objective.py
  neural_compressor/strategy/conservative.py
  test/strategy/test_optimization_level.py
Due: .azure-pipelines/ut-basic.yml

update the model with best performance
  neural_compressor/strategy/conservative.py
  test/strategy/test_optimization_level.py
Due: .azure-pipelines/ut-basic.yml

add optype-wise conversion
  neural_compressor/strategy/conservative.py
  test/strategy/test_optimization_level.py
Due: .azure-pipelines/ut-basic.yml

fixed some bugs
  neural_compressor/strategy/conservative.py
  neural_compressor/strategy/st_utils/tuning_space.py
  test/strategy/test_optimization_level.py
Due: .azure-pipelines/ut-basic.yml

add one by one conversion
  neural_compressor/strategy/conservative.py
  test/strategy/test_optimization_level.py
Due: .azure-pipelines/ut-basic.yml

feat(st): add optimization_level
  neural_compressor/conf/config.py
  neural_compressor/experimental/quantization.py
  test/strategy/test_optimization_level.py
Due: .azure-pipelines/ut-basic.yml

remove some comments
  neural_compressor/strategy/conservative.py
Due: .azure-pipelines/ut-basic.yml

fix some bugs
  neural_compressor/strategy/conservative.py
Due: .azure-pipelines/ut-basic.yml

feat(st): update best model based on perf and acc
  neural_compressor/objective.py
  neural_compressor/strategy/conservative.py
  neural_compressor/strategy/strategy.py
  test/strategy/test_optimization_level.py
Due: .azure-pipelines/ut-basic.yml

WA for save q model
  neural_compressor/strategy/conservative.py
Due: .azure-pipelines/ut-basic.yml
