Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

hide remove patch in overwrite=True
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

update topology to scripts
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/run_benchmark.sh
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/run_tuning.sh
  examples/tensorflow/nlp/distilbert_base/quantization/ptq/run_benchmark.sh
  examples/tensorflow/nlp/distilbert_base/quantization/ptq/run_inference.py
  examples/tensorflow/nlp/distilbert_base/quantization/ptq/run_tuning.sh
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/run_benchmark.sh
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/run_tuning.sh
Due: none

remove eval -1 hardcode
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/fx/main.py
Due: none

refined NAS document.
  docs/source/NAS.md
Due: none

Create resnet18.py
  neural_coder/examples/nano/resnet18.py
Due: .azure-pipelines/ut-ncoder.yml

Update BigDLNanoSupport.md
  neural_coder/docs/BigDLNanoSupport.md
Due: .azure-pipelines/ut-ncoder.yml

Update resnet18.py
  neural_coder/examples/nano/resnet18.py
Due: .azure-pipelines/ut-ncoder.yml

new api for benchmark, add README
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/fx/README.md
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/fx/python/main.py
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/ipex/infer.py
  examples/pytorch/object_detection/ssd_resnet34/quantization/qat/fx/README.md
  examples/pytorch/object_detection/ssd_resnet34/quantization/qat/fx/ssd/main.py
Due: none

Add recipe for TRT EP (#278)
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/onnxrt_qdq.yaml
  neural_compressor/adaptor/ox_utils/calibration.py
Due: .azure-pipelines/ut-basic.yml

Fix ITEX resnetv2_50 tuning accuracy issue
  neural_compressor/adaptor/tf_utils/graph_converter.py
Due: .azure-pipelines/ut-basic.yml

Refine Keras Examples for INC New API (#219)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  examples/.config/model_params_tensorflow.json
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/inception_v3.yaml
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/inception_v3_itex.yaml
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/mobilenet_v2.yaml
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/mobilenet_v2_itex.yaml
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/resnet101.yaml
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/resnet101_itex.yaml
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/resnetv2_101.yaml
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/resnetv2_101_itex.yaml
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/run_tuning.sh
Due: none

remove topology and args check
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/run_benchmark.sh
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/run_tuning.sh
  examples/tensorflow/nlp/distilbert_base/quantization/ptq/run_benchmark.sh
  examples/tensorflow/nlp/distilbert_base/quantization/ptq/run_tuning.sh
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/run_benchmark.sh
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/run_tuning.sh
  examples/tensorflow/nlp/transformer_lt_mlperf/quantization/ptq/run_benchmark.sh
  examples/tensorflow/nlp/transformer_lt_mlperf/quantization/ptq/run_tuning.sh
Due: none

update example json
  examples/.config/model_params_pytorch.json
  examples/pytorch/speech_recognition/rnnt/quantization/ptq_dynamic/eager/run_tune.py
  examples/pytorch/speech_recognition/torchaudio_models/quantization/ptq_dynamic/eager/requirements.txt
  examples/pytorch/speech_recognition/torchaudio_models/quantization/ptq_dynamic/eager/run_asr.py
Due: none

update quantization api
  examples/.config/model_params_pytorch.json
  examples/pytorch/recommendation/dlrm/quantization/ptq/eager/conf.yaml
  examples/pytorch/recommendation/dlrm/quantization/ptq/eager/dlrm_s_pytorch_tune.py
  examples/pytorch/recommendation/dlrm/quantization/ptq/fx/conf.yaml
  examples/pytorch/recommendation/dlrm/quantization/ptq/fx/dlrm_s_pytorch_tune.py
  examples/pytorch/recommendation/dlrm/quantization/ptq/ipex/conf_ipex.yaml
  examples/pytorch/recommendation/dlrm/quantization/ptq/ipex/dlrm_s_pytorch.py
  examples/pytorch/speech_recognition/rnnt/quantization/ptq_dynamic/eager/conf.yaml
  examples/pytorch/speech_recognition/rnnt/quantization/ptq_dynamic/eager/run_tune.py
  examples/pytorch/speech_recognition/torchaudio_models/quantization/ptq_dynamic/eager/conf.yaml
  examples/pytorch/speech_recognition/torchaudio_models/quantization/ptq_dynamic/eager/run_asr.py
Due: none

Reconstructed pruning API derived from component.
  neural_compressor/experimental/component.py
  neural_compressor/experimental/pruning_exp.py
  test/pruning/test_pruning_config_new.py
Due: .azure-pipelines/ut-basic.yml

Fixed bf16 error in QAT for torch version < 1.11 (#279)
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

Azure pipeline use Microsoft hosted agent (#277)
  .azure-pipelines/code-scan.yml
  .azure-pipelines/docker/DockerfileCodeScan.devel
  .azure-pipelines/scripts/codeScan/bandit/bandit.sh
  .azure-pipelines/scripts/codeScan/pydocstyle/pydocstyle.sh
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
  .azure-pipelines/scripts/codeScan/pyspelling/pyspelling.sh
  .azure-pipelines/scripts/codeScan/pyspelling/pyspelling_conf.yaml
  .azure-pipelines/spell-check.yml
  .azure-pipelines/ut-basic.yml
Due: none

Fix ITEX resnetv2_50 tuning accuracy issue (#283)
  neural_compressor/adaptor/tf_utils/graph_converter.py
Due: .azure-pipelines/ut-basic.yml

fix typo
  examples/helloworld/tf_example3/README.md
Due: none

Refinements
  neural_compressor/experimental/pruning_v2.py
  test/pruning/test_pruning_config_new.py
Due: .azure-pipelines/ut-basic.yml

Refinements
  neural_compressor/experimental/pruning_exp.py
Due: .azure-pipelines/ut-basic.yml

update description for example5
  examples/helloworld/tf_example5/README.md
Due: none

Fixed bugs.
  neural_compressor/experimental/pruning_v2.py
Due: .azure-pipelines/ut-basic.yml

add version in IO (#271)
  docs/source/_static/custom.css
  docs/source/_templates/layout.html
Due: none

update partial NVidia A100 CUDA EP ONNX QDQ accuracy data (#276)
  docs/source/validated_model_list.md
Due: none

Modify DATASETS => Datasets to match NEW API naming
  examples/tensorflow/style_transfer/arbitrary_style_transfer/quantization/ptq/style_tune.py
Due: none

add fp8 adaptor
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/pytorch_cpu.yaml
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/conf/config.py
  neural_compressor/config.py
  neural_compressor/experimental/quantization.py
  neural_compressor/experimental/utils/export.py
  neural_compressor/strategy/basic.py
  neural_compressor/strategy/strategy.py
  neural_compressor/strategy/utils/tuning_space.py
  neural_compressor/strategy/utils/tuning_structs.py
  test/adaptor/pytorch_adaptor/test_fp8_emulation.py
Due: .azure-pipelines/ut-basic.yml

Modify DATASETS => Datasets to match NEW API naming (#286)
  examples/tensorflow/style_transfer/arbitrary_style_transfer/quantization/ptq/style_tune.py
Due: none

modified pruning iterface in training.py
  neural_compressor/experimental/pruning_v2.py
  neural_compressor/training.py
  test/scheduler/test_oneshot.py
Due: .azure-pipelines/ut-basic.yml

remove hardcode baseline
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

Neural Coder enable support of Keras script-based model (#280)
  neural_coder/__main__.py
  neural_coder/backends/keras_inc.yaml
  neural_coder/coders/autoinc/domain.py
  neural_coder/docs/PythonLauncher.md
  neural_coder/docs/SupportMatrix.md
  neural_coder/examples/keras/mnist.py
  neural_coder/graphers/model.py
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

Neural Coder update BigDL Nano readme and add example code (#282)
  neural_coder/docs/BigDLNanoSupport.md
  neural_coder/examples/nano/resnet18.py
Due: .azure-pipelines/ut-ncoder.yml

add yaml support
  neural_compressor/conf/config.py
  neural_compressor/pruner/patterns.py
  neural_compressor/pruner/utils.py
  test/pruning/test_pruning_yaml.py
  test/pruning/test_pruning_yaml_config.py
Due: .azure-pipelines/ut-basic.yml

refinemnts.
  docs/source/validated_model_list.md
Due: none

update onnxrt example batch size
  examples/.config/model_params_onnxrt.json
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq/README.md
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq/main.py
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq/run_benchmark.sh
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq/main.py
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq/run_benchmark.sh
  examples/onnxrt/nlp/onnx_model_zoo/BiDAF/quantization/ptq/main.py
  examples/onnxrt/nlp/onnx_model_zoo/bert-squad/quantization/ptq/main.py
  examples/onnxrt/nlp/onnx_model_zoo/bert-squad/quantization/ptq/readme.md
  examples/onnxrt/nlp/onnx_model_zoo/bert-squad/quantization/ptq/run_benchmark.sh
  examples/onnxrt/nlp/onnx_model_zoo/gpt2/quantization/ptq/readme.md
  examples/onnxrt/nlp/onnx_model_zoo/gpt2/quantization/ptq/run_benchmark.sh
  examples/onnxrt/nlp/onnx_model_zoo/mobilebert/quantization/ptq/main.py
  examples/onnxrt/nlp/onnx_model_zoo/mobilebert/quantization/ptq/readme.md
  examples/onnxrt/nlp/onnx_model_zoo/mobilebert/quantization/ptq/run_benchmark.sh
  examples/onnxrt/object_detection/onnx_model_zoo/tiny_yolov3/quantization/ptq/README.md
  examples/onnxrt/object_detection/onnx_model_zoo/tiny_yolov3/quantization/ptq/main.py
  examples/onnxrt/object_detection/onnx_model_zoo/tiny_yolov3/quantization/ptq/run_benchmark.sh
  examples/onnxrt/object_detection/onnx_model_zoo/yolov3/quantization/ptq/README.md
  examples/onnxrt/object_detection/onnx_model_zoo/yolov3/quantization/ptq/main.py
  examples/onnxrt/object_detection/onnx_model_zoo/yolov3/quantization/ptq/run_benchmark.sh
  examples/onnxrt/object_detection/onnx_model_zoo/yolov4/quantization/ptq/README.md
  examples/onnxrt/object_detection/onnx_model_zoo/yolov4/quantization/ptq/main.py
  examples/onnxrt/object_detection/onnx_model_zoo/yolov4/quantization/ptq/run_benchmark.sh
Due: none

update inc_dict.txt
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
Due: none
