Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      steps:
      - template: template/ut-basic-template.yml
        parameters:
          dockerTemplate: commonDockerTemplate
          dockerTemplateRepoName: neural-compressor
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

fix bug
  neural_compressor/adaptor/pytorch.py
  neural_compressor/strategy/conservative.py
Due: .azure-pipelines/ut-basic.yml

doc(tuning_strategies): tiny expressional fixes.
  docs/source/tuning_strategies.md
Due: none

fix benchmark
  examples/pytorch/recommendation/dlrm/quantization/ptq/ipex/dlrm_s_pytorch.py
  examples/pytorch/speech_recognition/torchaudio_models/quantization/ptq_static/fx/run_asr.py
Due: none

titles uppercase
  docs/source/bench.md
Due: none

modify footer style in IO (#328)
  docs/source/_static/custom.css
Due: none

Add pruning config's key validity check and warnings. (#326)
  neural_compressor/conf/config.py
  neural_compressor/pruner/utils.py
  test/pruning/test_pruning.py
  test/pruning/test_pruning_yaml.py
Due: .azure-pipelines/ut-basic.yml

fix yolo_v3 registry bug (#323)
  examples/tensorflow/object_detection/yolo_v3/quantization/ptq/infer_detections.py
Due: none

fix typo
  docs/source/tuning_strategies.md
Due: none

documentation update
  docs/source/_static/imgs/bench/pruning-details.png
  docs/source/_static/imgs/bench/pruning-wizard.png
  docs/source/bench.md
Due: none

fix typos
  docs/source/bench.md
Due: none

add docString test path
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
Due: none

update benchmark.md
  docs/source/benchmark.md
  examples/helloworld/README.md
  examples/helloworld/tf_example7/README.md
  neural_compressor/benchmark.py
  neural_compressor/experimental/benchmark.py
Due: .azure-pipelines/ut-basic.yml

update validated_model_list.md
  docs/source/platform_configuration.md
  docs/source/validated_model_list.md
Due: none

updated
  docs/source/benchmark.md
  docs/source/validated_model_list.md
Due: none

update dict
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
Due: none

update ort example & fix typo
  examples/.config/model_params_onnxrt.json
  examples/onnxrt/nlp/onnx_model_zoo/mobilebert/quantization/ptq/main.py
Due: none

fix bug
  neural_compressor/adaptor/pytorch.py
  neural_compressor/conf/config.py
  neural_compressor/config.py
  neural_compressor/strategy/basic.py
  neural_compressor/strategy/conservative.py
  neural_compressor/strategy/strategy.py
  test/adaptor/pytorch_adaptor/test_fp8_emulation.py
Due: .azure-pipelines/ut-basic.yml

delete kl_divergence
  neural_compressor/utils/__init__.py
Due: .azure-pipelines/ut-basic.yml

update model config and link
  examples/.config/model_params_onnxrt.json
  examples/README.md
Due: none

remove tiny_yolov3, yolov3, yolov4
  examples/onnxrt/object_detection/onnx_model_zoo/tiny_yolov3/quantization/ptq/README.md
  examples/onnxrt/object_detection/onnx_model_zoo/tiny_yolov3/quantization/ptq/coco_label_map.py
  examples/onnxrt/object_detection/onnx_model_zoo/tiny_yolov3/quantization/ptq/coco_tools.py
  examples/onnxrt/object_detection/onnx_model_zoo/tiny_yolov3/quantization/ptq/label_map.yaml
  examples/onnxrt/object_detection/onnx_model_zoo/tiny_yolov3/quantization/ptq/main.py
  examples/onnxrt/object_detection/onnx_model_zoo/tiny_yolov3/quantization/ptq/requirements.txt
  examples/onnxrt/object_detection/onnx_model_zoo/tiny_yolov3/quantization/ptq/run_benchmark.sh
  examples/onnxrt/object_detection/onnx_model_zoo/tiny_yolov3/quantization/ptq/run_tuning.sh
  examples/onnxrt/object_detection/onnx_model_zoo/yolov3/quantization/ptq/README.md
  examples/onnxrt/object_detection/onnx_model_zoo/yolov3/quantization/ptq/coco_label_map.py
  examples/onnxrt/object_detection/onnx_model_zoo/yolov3/quantization/ptq/coco_tools.py
  examples/onnxrt/object_detection/onnx_model_zoo/yolov3/quantization/ptq/label_map.yaml
  examples/onnxrt/object_detection/onnx_model_zoo/yolov3/quantization/ptq/main.py
  examples/onnxrt/object_detection/onnx_model_zoo/yolov3/quantization/ptq/requirements.txt
  examples/onnxrt/object_detection/onnx_model_zoo/yolov3/quantization/ptq/run_benchmark.sh
  examples/onnxrt/object_detection/onnx_model_zoo/yolov3/quantization/ptq/run_tuning.sh
  examples/onnxrt/object_detection/onnx_model_zoo/yolov4/quantization/ptq/README.md
  examples/onnxrt/object_detection/onnx_model_zoo/yolov4/quantization/ptq/coco_label_map.py
  examples/onnxrt/object_detection/onnx_model_zoo/yolov4/quantization/ptq/coco_tools.py
  examples/onnxrt/object_detection/onnx_model_zoo/yolov4/quantization/ptq/label_map.yaml
  examples/onnxrt/object_detection/onnx_model_zoo/yolov4/quantization/ptq/main.py
  examples/onnxrt/object_detection/onnx_model_zoo/yolov4/quantization/ptq/requirements.txt
  examples/onnxrt/object_detection/onnx_model_zoo/yolov4/quantization/ptq/run_benchmark.sh
  examples/onnxrt/object_detection/onnx_model_zoo/yolov4/quantization/ptq/run_tuning.sh
  examples/onnxrt/object_detection/onnx_model_zoo/yolov4/quantization/ptq/yolov4_anchors.txt
Due: none

add rst structure
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
  docs/source/api-documentation/apis.rst
Due: none

add untracked rst file
  docs/source/api-documentation/utils.rst
Due: none

docstring V1 complete
  neural_compressor/pruner/patterns.py
  neural_compressor/pruner/pruners.py
  neural_compressor/pruner/pruning.py
  neural_compressor/pruner/regs.py
  neural_compressor/pruner/schedulers.py
  neural_compressor/pruner/utils.py
Due: .azure-pipelines/ut-basic.yml

add examples
  examples/.config/model_params_pytorch.json
  examples/pytorch/nlp/huggingface_models/text-classification/optimization_pipeline/distillation_for_quantization/fx/distillation.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/pytorch_pruner/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/run_benchmark.sh
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/run_glue_tune.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/run_glue_tune_with_shap.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/run_tuning.sh
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/fx/conf.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/fx/run_glue.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/conf.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/run_glue.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/run_tuning.sh
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/conf_qat.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/run_benchmark.sh
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/run_glue_tune.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/run_tuning.sh
Due: none

fix some lines
  neural_compressor/pruner/patterns.py
Due: .azure-pipelines/ut-basic.yml

Create pytorch_inc_static_quant_fx_fp8.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx_fp8.yaml
Due: .azure-pipelines/ut-ncoder.yml

Create pytorch_inc_dynamic_quant_fp8.yaml
  neural_coder/backends/pytorch_inc_dynamic_quant_fp8.yaml
Due: .azure-pipelines/ut-ncoder.yml

Update pytorch_inc_dynamic_quant_fp8.yaml
  neural_coder/backends/pytorch_inc_dynamic_quant_fp8.yaml
Due: .azure-pipelines/ut-ncoder.yml

reformat tensorboard.md to meet new doc requirement
  docs/source/tensorboard.md
Due: none

format
  neural_coder/backends/pytorch_inc_static_quant_fx_fp8.yaml
Due: .azure-pipelines/ut-ncoder.yml

format
  neural_coder/backends/pytorch_inc_dynamic_quant_fp8.yaml
Due: .azure-pipelines/ut-ncoder.yml

enable interface for fp8
  neural_coder/coders/autoinc/autoinc_harness.py
  neural_coder/globals.py
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

fix bug
  neural_compressor/adaptor/pytorch.py
  neural_compressor/conf/config.py
  neural_compressor/config.py
  test/adaptor/pytorch_adaptor/test_fp8_emulation.py
Due: .azure-pipelines/ut-basic.yml

fix default bn calib size
  neural_compressor/conf/config.py
Due: .azure-pipelines/ut-basic.yml

refine the docstring
  neural_compressor/strategy/__init__.py
  neural_compressor/strategy/auto_mixed_precision.py
  neural_compressor/strategy/basic.py
  neural_compressor/strategy/bayesian.py
  neural_compressor/strategy/conservative.py
  neural_compressor/strategy/exhaustive.py
  neural_compressor/strategy/hawq_v2.py
  neural_compressor/strategy/mse.py
  neural_compressor/strategy/mse_v2.py
  neural_compressor/strategy/random.py
  neural_compressor/strategy/strategy.py
  neural_compressor/strategy/utils/__init__.py
  neural_compressor/strategy/utils/tuning_sampler.py
  neural_compressor/strategy/utils/tuning_space.py
  neural_compressor/strategy/utils/tuning_structs.py
Due: .azure-pipelines/ut-basic.yml

fix bug
  neural_compressor/strategy/utils/tuning_sampler.py
Due: .azure-pipelines/ut-basic.yml

fix some problem in self distillation example in HPO after transition to newAPI
  examples/pytorch/image_recognition/torchvision_models/self_distillation/eager/main.py
  examples/pytorch/image_recognition/torchvision_models/self_distillation/eager/run_distillation.sh
Due: none

Update README
  examples/README.md
  examples/pytorch/nlp/blendcnn/distillation/eager/README.md
  examples/pytorch/nlp/huggingface_models/question-answering/quantization/ptq_static/ipex/README.md
Due: none

fixed broken links and added links to subtitles
  docs/source/NAS.md
Due: none

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
