Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      steps:
      - template: template/ut-basic-template.yml
        parameters:
          dockerTemplate: commonDockerTemplate
          dockerTemplateRepoName: neural-compressor
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

Update build.sh
  docs/build_docs/build.sh
Due: none

Update update_html.py
  docs/build_docs/update_html.py
Due: none

enable ort hf static quantization example
  examples/.config/model_params_onnxrt.json
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq/main.py
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq/run_tuning.sh
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq/main.py
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq/run_tuning.sh
Due: none

mod torchvision default calib dataloader
  neural_coder/coders/autoinc/calib_dataloader.py
Due: .azure-pipelines/ut-ncoder.yml

update tensorflow_models
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_inception_resnet_v2/quantization/ptq/main.py
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet101/quantization/ptq/main.py
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet50/quantization/ptq/main.py
  examples/tensorflow/object_detection/tensorflow_models/mask_rcnn_inception_v2/quantization/ptq/label_map.yaml
  examples/tensorflow/object_detection/tensorflow_models/mask_rcnn_inception_v2/quantization/ptq/main.py
  examples/tensorflow/object_detection/tensorflow_models/mask_rcnn_inception_v2/quantization/ptq/mask_rcnn_inception_v2.yaml
  examples/tensorflow/object_detection/tensorflow_models/mask_rcnn_inception_v2/quantization/ptq/mask_rcnn_inception_v2_itex.yaml
  examples/tensorflow/object_detection/tensorflow_models/ssd_mobilenet_v1/quantization/ptq/label_map.yaml
  examples/tensorflow/object_detection/tensorflow_models/ssd_mobilenet_v1/quantization/ptq/main.py
  examples/tensorflow/object_detection/tensorflow_models/ssd_mobilenet_v1/quantization/ptq/ssd_mobilenet_v1.yaml
  examples/tensorflow/object_detection/tensorflow_models/ssd_mobilenet_v1/quantization/ptq/ssd_mobilenet_v1_itex.yaml
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet34/quantization/ptq/main.py
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet34/quantization/ptq/run_benchmark.sh
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet34/quantization/ptq/run_tuning.sh
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet34/quantization/ptq/ssd_resnet34.yaml
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet34/quantization/ptq/ssd_resnet34_itex.yaml
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet50_v1/quantization/ptq/label_map.yaml
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet50_v1/quantization/ptq/main.py
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet50_v1/quantization/ptq/ssd_resnet50_v1.yaml
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet50_v1/quantization/ptq/ssd_resnet50_v1_itex.yaml
  neural_compressor/data/__init__.py
  neural_compressor/data/datasets/__init__.py
  neural_compressor/data/transforms/__init__.py
Due: .azure-pipelines/ut-basic.yml

update basic strategy
  neural_compressor/strategy/basic.py
  test/adaptor/pytorch_adaptor/test_fp8_emulation.py
Due: .azure-pipelines/ut-basic.yml

refactor folder
  .github/workflows/publish.yml
  docs/build_docs/build.sh
Due: none

Update README.md
  README.md
Due: none

Fixed GPU and CPU device mixed issue for PyTorch quantization
  examples/pytorch/nlp/huggingface_models/text-classification/optimization_pipeline/distillation_for_quantization/fx/run_glue_no_trainer.py
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/experimental/common/criterion.py
Due: .azure-pipelines/ut-basic.yml

fixed bug of sparsity equals 0 after optimizer step in gradient sensitivity pruner.
  neural_compressor/pruner/pruner_legacy/gradient_sensitivity.py
Due: .azure-pipelines/ut-basic.yml

Fixed GPU and CPU device mixed issue and some typos in the newapi example (#418)
  examples/pytorch/nlp/huggingface_models/text-classification/distillation/eager/run_glue_no_trainer_distillation.py
  examples/pytorch/nlp/huggingface_models/text-classification/optimization_pipeline/distillation_for_quantization/fx/run_glue_no_trainer.py
  examples/pytorch/nlp/huggingface_models/text-classification/optimization_pipeline/prune_once_for_all/fx/run_glue_no_trainer_pruneOFA.py
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/experimental/common/criterion.py
Due: .azure-pipelines/ut-basic.yml

fix bug
  neural_compressor/strategy/basic.py
  test/adaptor/pytorch_adaptor/test_fp8_emulation.py
Due: .azure-pipelines/ut-basic.yml

Fix online document build issue (#425)
  .github/workflows/publish.yml
  docs/build_docs/build.sh
  docs/build_docs/update_html.py
Due: none

revision for lightning
  neural_compressor/adaptor/torch_utils/util.py
Due: .azure-pipelines/ut-basic.yml

Update pytorch_inc_static_quant_fx.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx.yaml
Due: .azure-pipelines/ut-ncoder.yml

Update pytorch_inc_dynamic_quant.yaml
  neural_coder/backends/pytorch_inc_dynamic_quant.yaml
Due: .azure-pipelines/ut-ncoder.yml

update dataset
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq/main.py
Due: none

Fixed bug when regularization is applied and zero elements overflows.
  neural_compressor/pruner/patterns.py
  test/pruning/test_pruning_regs.py
Due: .azure-pipelines/ut-basic.yml

docrefine
  examples/pytorch/nlp/huggingface_models/text-classification/distillation/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/optimization_pipeline/distillation_for_quantization/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/optimization_pipeline/prune_once_for_all/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/README.md
Due: none

support both int8 and fp8 strategy
  neural_compressor/strategy/basic.py
Due: .azure-pipelines/ut-basic.yml

show INT8 log
  neural_compressor/strategy/basic.py
Due: .azure-pipelines/ut-basic.yml

fix bug
  neural_compressor/strategy/basic.py
Due: .azure-pipelines/ut-basic.yml

fix recommendation and speech_recognition README
  examples/pytorch/recommendation/dlrm/quantization/ptq/fx/README.md
  examples/pytorch/recommendation/dlrm/quantization/ptq/ipex/README.md
  examples/pytorch/recommendation/dlrm/quantization/ptq/ipex/dlrm_s_pytorch.py
  examples/pytorch/speech_recognition/torchaudio_models/quantization/ptq_static/fx/README.md
Due: none

Update README.md
  examples/pytorch/nlp/huggingface_models/text-classification/distillation/eager/README.md
Due: none

revision
  examples/pytorch/nlp/huggingface_models/text-classification/optimization_pipeline/distillation_for_quantization/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/optimization_pipeline/prune_once_for_all/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/README.md
Due: none

fix bug
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

add calib_func
  examples/pytorch/speech_recognition/torchaudio_models/quantization/ptq_dynamic/eager/run_asr.py
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

Enable Tensorflow image recognition saved model examples
  examples/tensorflow/image_recognition/SavedModel/efficientnet_v2_b0/quantization/ptq/README.md
  examples/tensorflow/image_recognition/SavedModel/efficientnet_v2_b0/quantization/ptq/main.py
  examples/tensorflow/image_recognition/SavedModel/efficientnet_v2_b0/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/SavedModel/efficientnet_v2_b0/quantization/ptq/run_tuning.sh
  examples/tensorflow/image_recognition/SavedModel/mobilenet_v1/quantization/ptq/README.md
  examples/tensorflow/image_recognition/SavedModel/mobilenet_v1/quantization/ptq/main.py
  examples/tensorflow/image_recognition/SavedModel/mobilenet_v1/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/SavedModel/mobilenet_v1/quantization/ptq/run_tuning.sh
  examples/tensorflow/image_recognition/SavedModel/mobilenet_v2/quantization/ptq/README.md
  examples/tensorflow/image_recognition/SavedModel/mobilenet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/SavedModel/mobilenet_v2/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/SavedModel/mobilenet_v2/quantization/ptq/run_tuning.sh
Due: none

solve OOM issue
  examples/pytorch/recommendation/dlrm/quantization/ptq/eager/dlrm_s_pytorch_tune.py
  examples/pytorch/recommendation/dlrm/quantization/ptq/fx/dlrm_s_pytorch_tune.py
  examples/pytorch/recommendation/dlrm/quantization/ptq/ipex/dlrm_s_pytorch.py
  neural_compressor/adaptor/pytorch.py
  neural_compressor/model/torch_model.py
Due: .azure-pipelines/ut-basic.yml

resolve dlrm
  neural_compressor/adaptor/torch_utils/util.py
Due: .azure-pipelines/ut-basic.yml

fix numpy bool
  neural_compressor/data/datasets/dummy_dataset_v2.py
Due: .azure-pipelines/ut-basic.yml

fix
  examples/onnxrt/image_recognition/unet/quantization/ptq/unet.yaml
Due: none

fix
  neural_compressor/data/datasets/dummy_dataset_v2.py
Due: .azure-pipelines/ut-basic.yml

Update util.py
  neural_compressor/adaptor/torch_utils/util.py
Due: .azure-pipelines/ut-basic.yml

Update README.md
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/fx/README.md
Due: none

Update README.md
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/ipex/README.md
Due: none

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
