Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      steps:
      - template: template/ut-basic-template.yml
        parameters:
          dockerTemplate: commonDockerTemplate
          dockerTemplateRepoName: neural-compressor
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

fix onnx ut failure
  neural_compressor/model/model.py
Due: .azure-pipelines/ut-basic.yml

fix mixed_precision ut issue
  neural_compressor/experimental/mixed_precision.py
Due: .azure-pipelines/ut-basic.yml

fix for TRT EP
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/ox_utils/calibration.py
Due: .azure-pipelines/ut-basic.yml

fixed benchmark error with b_func
  neural_compressor/experimental/benchmark.py
Due: .azure-pipelines/ut-basic.yml

ut update for model change
  neural_compressor/experimental/common/model.py
Due: .azure-pipelines/ut-basic.yml

fix itex ut issue
  test/itex/test_tensorflow_itex_new_api.py
Due: none

Fixed export UT error
  test/export/test_torch2onnx.py
Due: none

Change the export API for compression_manager
  neural_compressor/training.py
Due: .azure-pipelines/ut-basic.yml

update ut for code change
  test/itex/test_tensorflow_itex_new_api.py
Due: none

Fixed examples error and UT error
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/benchmark.py
  neural_compressor/experimental/benchmark.py
  neural_compressor/experimental/component.py
  neural_compressor/experimental/graph_optimization.py
  neural_compressor/strategy/strategy.py
  test/mixed_precision/test_mixed_precision.py
Due: .azure-pipelines/ut-basic.yml

fix latency issue
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/main.py
Due: none

mv sparsity_decay_type to global config, fix missing prune_layer_type issue
  neural_compressor/conf/config.py
  neural_compressor/config.py
  neural_compressor/pruner/patterns.py
  neural_compressor/pruner/prune_utils.py
Due: .azure-pipelines/ut-basic.yml

rebase master branch and changed code style
  neural_compressor/config.py
Due: .azure-pipelines/ut-basic.yml

update onnx example json
  examples/.config/model_params_onnxrt_win.json
Due: none

for debug
  neural_compressor/experimental/benchmark.py
Due: .azure-pipelines/ut-basic.yml

Update nlp text-classification examples with new API
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/run_benchmark.sh
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/run_glue.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/run_glue_with_shap.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/run_tuning.sh
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/fx/conf.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/fx/run_glue.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/conf.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/run_glue.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/conf_qat.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/run_benchmark.sh
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/run_glue.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/run_glue_tune.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/run_tuning.sh
Due: none

Neural Coder update documentation for INC2.0 (#232)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  neural_coder/README.md
  neural_coder/docs/AWSSageMakerSupport.md
  neural_coder/docs/BigDLNanoSupport.md
  neural_coder/docs/SupportMatrix.md
Due: .azure-pipelines/ut-ncoder.yml

fix onnx windows model path
  examples/.config/model_params_onnxrt_win.json
Due: none

Revert "Add DyNAS Transformer LT example"
  examples/notebook/dynas/MobileNetV3_Supernet_NAS.ipynb
Due: none

refactor(strategy): rename strategy.st_utils to strategy.utils
  neural_compressor/contrib/strategy/sigopt.py
  neural_compressor/contrib/strategy/tpe.py
  neural_compressor/strategy/auto_mixed_precision.py
  neural_compressor/strategy/basic.py
  neural_compressor/strategy/bayesian.py
  neural_compressor/strategy/conservative.py
  neural_compressor/strategy/exhaustive.py
  neural_compressor/strategy/mse.py
  neural_compressor/strategy/mse_v2.py
  neural_compressor/strategy/random.py
  neural_compressor/strategy/strategy.py
  neural_compressor/strategy/utils/__init__.py
  neural_compressor/strategy/utils/helper.py
  neural_compressor/strategy/utils/tuning_sampler.py
  neural_compressor/strategy/utils/tuning_space.py
  neural_compressor/strategy/utils/tuning_structs.py
  test/quantization/test_quantization.py
  test/strategy/test_tuning_sampler.py
  test/strategy/test_tuning_space.py
Due: .azure-pipelines/ut-basic.yml

support for adding hawq_v2 loss by new API
  neural_compressor/conf/config.py
  neural_compressor/strategy/hawq_v2.py
  test/strategy/test_hawq_v2_2.x.py
Due: .azure-pipelines/ut-basic.yml

remove some WA
  neural_compressor/strategy/hawq_v2.py
Due: .azure-pipelines/ut-basic.yml

Add files via upload
  neural_coder/backends/nano_bf16.yaml
  neural_coder/backends/nano_bf16_channels_last.yaml
  neural_coder/backends/nano_bf16_ipex.yaml
  neural_coder/backends/nano_bf16_ipex_channels_last.yaml
  neural_coder/backends/nano_fp32_channels_last.yaml
  neural_coder/backends/nano_fp32_ipex.yaml
  neural_coder/backends/nano_fp32_ipex_channels_last.yaml
  neural_coder/backends/nano_gpu_to_cpu.yaml
  neural_coder/backends/nano_int8.yaml
  neural_coder/backends/nano_jit_bf16.yaml
  neural_coder/backends/nano_jit_bf16_channels_last.yaml
  neural_coder/backends/nano_jit_bf16_ipex.yaml
  neural_coder/backends/nano_jit_bf16_ipex_channels_last.yaml
  neural_coder/backends/nano_jit_fp32.yaml
  neural_coder/backends/nano_jit_fp32_channels_last.yaml
  neural_coder/backends/nano_jit_fp32_ipex.yaml
  neural_coder/backends/nano_jit_fp32_ipex_channels_last.yaml
  neural_coder/backends/nano_onnxruntime_fp32.yaml
  neural_coder/backends/nano_onnxruntime_int8_qlinear.yaml
  neural_coder/backends/nano_openvino_fp32.yaml
  neural_coder/backends/nano_openvino_int8.yaml
Due: .azure-pipelines/ut-ncoder.yml

add config of efficientnet_bx series for test
  examples/.config/model_params_pytorch.json
Due: none

Create v0.4.md
  neural_coder/docs/release_notes/v0.4.md
Due: .azure-pipelines/ut-ncoder.yml

Support Conv2D + BiasAdd + Relu + Sum fusion (#221)
  neural_compressor/adaptor/tensorflow.yaml
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_conv.py
  test/tfnewapi/test_tensorflow_graph_conv_fusion.py
  test/tfnewapi/test_tensorflow_graph_qdq_conv_fusion.py
Due: .azure-pipelines/ut-basic.yml

update azure pipeline (#229)
  .azure-pipelines/model-test.yml
  .azure-pipelines/scripts/ut/run_basic_adaptor.sh
  .azure-pipelines/scripts/ut/run_basic_adaptor_tfnewapi.sh
  .azure-pipelines/scripts/ut/run_basic_ipex.sh
  .azure-pipelines/scripts/ut/run_basic_itex.sh
  .azure-pipelines/scripts/ut/run_basic_others.sh
  .azure-pipelines/scripts/ut/run_ncoder.sh
  .azure-pipelines/scripts/ut/run_ux.sh
Due: none

Add export examples for new API (#225)
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/run_glue_tune.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/run_tuning.sh
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/run_glue.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/run_tuning.sh
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/run_glue_tune.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/run_tuning.sh
Due: none

Support 'Square', 'Sum', 'SparseSegmentSqrtN' BF16 ops in TensorFlow backend (#223)
  neural_compressor/adaptor/tensorflow.yaml
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_matmul.py
Due: .azure-pipelines/ut-basic.yml

pruner README v1
  neural_compressor/pruner/README.md
Due: .azure-pipelines/ut-basic.yml

pruner README V1
  neural_compressor/pruner/README.md
Due: .azure-pipelines/ut-basic.yml

Update README.md
  neural_compressor/pruner/README.md
Due: .azure-pipelines/ut-basic.yml

pruner README V_1
  neural_compressor/pruner/README.md
Due: .azure-pipelines/ut-basic.yml

pruner README V1_
  neural_compressor/pruner/README.md
Due: .azure-pipelines/ut-basic.yml

fix **
  examples/pytorch/object_detection/maskrcnn/quantization/ptq/fx/pytorch/tools/test_net.py
Due: none

refine 4 nlp models
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/README.md
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/modeling.py
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/mrpc.yaml
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/mrpc_itex.yaml
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/optimization.py
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/prepare_dataset.py
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/run_benchmark.sh
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/run_classifier.py
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/run_tuning.sh
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/tokenization.py
  examples/tensorflow/nlp/distilbert_base/quantization/ptq/README.md
  examples/tensorflow/nlp/distilbert_base/quantization/ptq/distilbert_base.yaml
  examples/tensorflow/nlp/distilbert_base/quantization/ptq/distilbert_base_itex.yaml
  examples/tensorflow/nlp/distilbert_base/quantization/ptq/run_benchmark.sh
  examples/tensorflow/nlp/distilbert_base/quantization/ptq/run_inference.py
  examples/tensorflow/nlp/distilbert_base/quantization/ptq/run_tuning.sh
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/README.md
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/main.py
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/run_benchmark.sh
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/run_tuning.sh
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/transformer_lt.yaml
  examples/tensorflow/nlp/transformer_lt_mlperf/quantization/ptq/README.md
  examples/tensorflow/nlp/transformer_lt_mlperf/quantization/ptq/run_benchmark.sh
  examples/tensorflow/nlp/transformer_lt_mlperf/quantization/ptq/run_inference.py
  examples/tensorflow/nlp/transformer_lt_mlperf/quantization/ptq/run_tuning.sh
  neural_compressor/adaptor/tensorflow.py
Due: .azure-pipelines/ut-basic.yml

rename update_frequency to prune_frequncy, disable some unit test of pruning
  docs/source/pythonic_style.md
  examples/pytorch/image_recognition/torchvision_models/optimization_pipeline/prune_and_ptq/eager/prune_conf.yaml
  examples/pytorch/image_recognition/torchvision_models/optimization_pipeline/qat_during_prune/eager/prune_conf.yaml
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/README.md
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/bert_mini_2in4.yaml
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/bert_mini_4x1.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/bert_mini_mrpc_1xchannel.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/bert_mini_mrpc_2in4.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/bert_mini_mrpc_4x1.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/bert_mini_mrpc_mixed.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/bert_mini_sst2_1xchannel.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/bert_mini_sst2_2in4.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/bert_mini_sst2_4x1.yaml
  examples/pytorch/object_detection/yolo_v5/pruning/eager/README.md
  examples/pytorch/object_detection/yolo_v5/pruning/eager/data/yolov5s6_prune.yaml
  neural_compressor/conf/config.py
  neural_compressor/config.py
  neural_compressor/pruner/prune_utils.py
  neural_compressor/pruner/pruners.py
  neural_compressor/template/pruning.yaml
  test/distributed/test_distributed_pt_train.py
  test/pruning/test_pytorch_pruning.py
  test/pruning/test_pytorch_pruning_cyy.py
  test/pruning/test_pytorch_pruning_progressive.py
  test/pruning/test_pytorch_pruning_progressive_cyy.py
  test/scheduler/test_oneshot.py
  test/scheduler/test_scheduler.py
Due: .azure-pipelines/ut-basic.yml

Update v0.4.md
  neural_coder/docs/release_notes/v0.4.md
Due: .azure-pipelines/ut-ncoder.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
