Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      steps:
      - template: template/ut-basic-template.yml
        parameters:
          dockerTemplate: commonDockerTemplate
          dockerTemplateRepoName: neural-compressor
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

remove extra files
  examples/pytorch/speech_recognition/rnnt/quantization/ptq_dynamic/fx/README.md
  examples/pytorch/speech_recognition/rnnt/quantization/ptq_dynamic/fx/dev-clean-wav.json
  examples/pytorch/speech_recognition/rnnt/quantization/ptq_dynamic/fx/run.py
Due: none

minor fix
  examples/pytorch/speech_recognition/rnnt/quantization/ptq_dynamic/fx/requirements.txt
Due: none

fix coda scan & ut
  neural_compressor/compression/pruner/patterns/base.py
  neural_compressor/compression/pruner/patterns/nxm.py
  neural_compressor/compression/pruner/pruners/__init__.py
Due: .azure-pipelines/ut-basic.yml

Enhance WeightOnlyLinear capability (#1095)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  docs/source/quantization_weight_only.md
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/model_wrapper.py
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/adaptor/torch_utils/weight_only.py
  neural_compressor/model/torch_model.py
  neural_compressor/utils/pytorch.py
  test/adaptor/pytorch_adaptor/test_weight_only_adaptor.py
  test/model/test_model_pytorch.py
Due: .azure-pipelines/ut-basic.yml

remove nsample args to avoid vague meaning.
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_weight_only/run_gptj_mlperf_int4.py
Due: none

deploy: 59172ad17f0d6703a72854ee5515995cb3030b8c
  latest/_sources/autoapi/neural_compressor/adaptor/torch_utils/util/index.rst.txt
  latest/_sources/autoapi/neural_compressor/adaptor/torch_utils/weight_only/index.rst.txt
  latest/_sources/docs/source/quantization_weight_only.md.txt
  latest/autoapi/neural_compressor/adaptor/torch_utils/util/index.html
  latest/autoapi/neural_compressor/adaptor/torch_utils/weight_only/index.html
  latest/docs/source/quantization_weight_only.html
  latest/searchindex.js
Due: none

added sketch
  neural_compressor/config.py
  neural_compressor/strategy/basic.py
Due: .azure-pipelines/ut-basic.yml

add sampler for sq alpha
  neural_compressor/config.py
  neural_compressor/experimental/strategy/utils/tuning_sampler.py
  neural_compressor/strategy/basic.py
  neural_compressor/strategy/strategy.py
  neural_compressor/strategy/utils/tuning_sampler.py
  neural_compressor/strategy/utils/utility.py
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic.yml

--amend
  neural_compressor/strategy/basic.py
  neural_compressor/strategy/strategy.py
  neural_compressor/strategy/utils/tuning_sampler.py
Due: .azure-pipelines/ut-basic.yml

update user-facing API
  neural_compressor/config.py
  neural_compressor/strategy/basic.py
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic.yml

add ut
  test/algorithm/test_smooth_quant.py
Due: none

reverted the change under exp
  neural_compressor/experimental/strategy/utils/tuning_sampler.py
Due: .azure-pipelines/ut-basic.yml

add import.
  test/quantization/test_weight_only_quantization.py
Due: none

clean code
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv2/quantization/ptq_dynamic/README.md
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv2/quantization/ptq_dynamic/export.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv2/quantization/ptq_dynamic/funsd.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv2/quantization/ptq_dynamic/image_utils.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv2/quantization/ptq_dynamic/model.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv2/quantization/ptq_static/README.md
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv2/quantization/ptq_static/export.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv2/quantization/ptq_static/funsd.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv2/quantization/ptq_static/image_utils.py
Due: none

fix ut fail
  neural_compressor/compression/pruner/patterns/nxm.py
  neural_compressor/compression/pruner/pruners/progressive.py
Due: .azure-pipelines/ut-basic.yml

delete package-lock.json
  neural_coder/extensions/neural_compressor_ext_vscode/package-lock.json
Due: .azure-pipelines/ut-ncoder.yml

add some # pragma: no cover.
  neural_compressor/adaptor/torch_utils/weight_only.py
Due: .azure-pipelines/ut-basic.yml

fix ut
  neural_compressor/compression/pruner/criteria.py
  neural_compressor/compression/pruner/patterns/ninm.py
  neural_compressor/compression/pruner/patterns/nxm.py
Due: .azure-pipelines/ut-basic.yml

fix ninm
  neural_compressor/compression/pruner/patterns/ninm.py
Due: .azure-pipelines/ut-basic.yml

fix
  neural_compressor/compression/pruner/criteria.py
  neural_compressor/compression/pruner/pruners/__init__.py
Due: .azure-pipelines/ut-basic.yml

clean code
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/ipex/smooth_quant/run_tuning.sh
  neural_compressor/strategy/conservative.py
Due: .azure-pipelines/ut-basic.yml

step by step debug example
  docs/source/debug_accuracy.md
  docs/source/imgs/accuracy_descrease.png
  docs/source/imgs/activations_summary.png
  docs/source/imgs/ops_weights.png
  docs/source/imgs/tune_result.png
  docs/source/imgs/tune_result2.png
  docs/source/imgs/weights_histogram.png
  docs/source/imgs/weights_histograms.png
Due: none

add pre tuning algo scheduler
  neural_compressor/strategy/strategy.py
  neural_compressor/strategy/utils/tuning_sampler.py
Due: .azure-pipelines/ut-basic.yml

add some # pragma: no cover.
  neural_compressor/adaptor/torch_utils/teq.py
Due: .azure-pipelines/ut-basic.yml

fix typo
  docs/source/debug_accuracy.md
  docs/source/imgs/accuracy_decrease.png
Due: none

Optimize block-related memory footprint, add retrain_free_pruning
  neural_compressor/compression/pruner/__init__.py
  neural_compressor/compression/pruner/criteria.py
  neural_compressor/compression/pruner/patterns/base.py
  neural_compressor/compression/pruner/patterns/nxm.py
  neural_compressor/compression/pruner/pruners/base.py
  neural_compressor/compression/pruner/pruners/block_mask.py
  neural_compressor/compression/pruner/pruners/retrain_free.py
  neural_compressor/compression/pruner/pruners/sparse_gpt.py
  neural_compressor/compression/pruner/pruning.py
  neural_compressor/compression/pruner/utils.py
  neural_compressor/experimental/compression/__init__.py
Due: .azure-pipelines/ut-basic.yml

fixed line too long
  neural_compressor/strategy/conservative.py
Due: .azure-pipelines/ut-basic.yml

support TEQ quantization method (#1093)
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/model_wrapper.py
  neural_compressor/adaptor/torch_utils/teq.py
  neural_compressor/adaptor/torch_utils/weight_only.py
  neural_compressor/config.py
  test/adaptor/pytorch_adaptor/test_weight_only_adaptor.py
  test/quantization/test_weight_only_quantization.py
Due: .azure-pipelines/ut-basic.yml

deploy: d2f995bf00bf808eb318887e8bbbea6e0529740e
  latest/_sources/autoapi/neural_compressor/adaptor/torch_utils/model_wrapper/index.rst.txt
  latest/_sources/autoapi/neural_compressor/adaptor/torch_utils/teq/index.rst.txt
  latest/_sources/autoapi/neural_compressor/adaptor/torch_utils/weight_only/index.rst.txt
  latest/autoapi/neural_compressor/adaptor/torch_utils/model_wrapper/index.html
  latest/autoapi/neural_compressor/adaptor/torch_utils/teq/index.html
  latest/autoapi/neural_compressor/adaptor/torch_utils/weight_only/index.html
  latest/genindex.html
  latest/objects.inv
  latest/py-modindex.html
  latest/searchindex.js
Due: none

init commit
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/gptq.py
  neural_compressor/adaptor/torch_utils/weight_only.py
  neural_compressor/strategy/strategy.py
  test/adaptor/pytorch_adaptor/test_weight_only_adaptor.py
Due: .azure-pipelines/ut-basic.yml

fixed the batch_size if None
  neural_compressor/experimental/strategy/strategy.py
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

update the auto stop policy
  neural_compressor/strategy/auto.py
  neural_compressor/strategy/strategy.py
  test/strategy/test_quant_level.py
Due: .azure-pipelines/ut-basic.yml

revert some comments
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

Included `add` to O0's quant op type list (#1090)
  neural_compressor/strategy/conservative.py
  test/ipex/test_adaptor_ipex.py
Due: .azure-pipelines/ut-basic.yml

remove tf backup
  neural_compressor/compression/pruner/patterns/base.py
  neural_compressor/compression/pruner/tf/criteria.py
  neural_compressor/compression/pruner/tf/patterns.py
  neural_compressor/compression/pruner/tf/pruners.py
Due: .azure-pipelines/ut-basic.yml

pylint
  neural_compressor/compression/pruner/patterns/base.py
Due: .azure-pipelines/ut-basic.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
