Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      steps:
      - template: template/ut-basic-template.yml
        parameters:
          dockerTemplate: commonDockerTemplate
          dockerTemplateRepoName: neural-compressor
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

modify IO style (#170)
  docs/Makefile
  docs/source/_static/custom.css
  docs/source/api-documentation/component.rst
  docs/source/api-documentation/strategy.rst
  docs/source/quantization.md
  neural_compressor/experimental/model_conversion.py
Due: .azure-pipelines/ut-basic.yml

modify IO document (#181)
  .azure-pipelines/scripts/codeScan/pyspelling/lpot_dict.txt
  README.md
  docs/Makefile
  docs/source/README.md
  docs/source/_static/index.html
  docs/source/api-documentation/api-introduction.md
  docs/source/doclist.rst
  docs/source/getting_started.md
  docs/source/index.rst
  docs/source/legal_information.md
  docs/source/quantization.md
  docs/source/releases_info.md
Due: none

add examples for GPTJ (#162)
  .azure-pipelines/scripts/codeScan/pyspelling/lpot_dict.txt
  examples/.config/model_params_pytorch.json
  examples/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/conf.yaml
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/run_benchmark.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/run_clm.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/run_tuning.sh
Due: none

Fixed UT error for bf16 op list for QAT mode (#200)
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

update readme and benchmark mode
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/main.py
Due: none

Set default value for use_bf16 and fixed random seed setting error (#186)
  neural_compressor/conf/config.py
  neural_compressor/conf/pythonic_config.py
  neural_compressor/config.py
Due: .azure-pipelines/ut-basic.yml

Update model_params_tensorflow.json
  examples/.config/model_params_tensorflow.json
Due: none

Neural Coder adding support of ONNX RT dynamic quant and static quant QDQ (#184)
  neural_coder/backends/onnx_inc_dynamic_quant.yaml
  neural_coder/backends/onnx_inc_static_quant_qdq.yaml
Due: .azure-pipelines/ut-ncoder.yml

Add export() PyTorch backend implementation for new API (#180)
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/onnx.py
  neural_compressor/config.py
  neural_compressor/model/torch_model.py
  test/export/test_torch2onnx.py
Due: .azure-pipelines/ut-basic.yml

Neural Coder mod launcher arg: "strategy" to "approach" (#201)
  neural_coder/__main__.py
  neural_coder/docs/PythonLauncher.md
Due: .azure-pipelines/ut-ncoder.yml

update examples based on comments
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/inception_resnet_v2.yaml
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/inception_resnet_v2_itex.yaml
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/resnetv2_50.yaml
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/resnetv2_50_itex.yaml
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/xception.yaml
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/xception_itex.yaml
Due: none

IO docs bug fix (#188)
  docs/Makefile
  docs/source/SECURITY.md
  docs/source/Welcome.md
  docs/source/_static/index.html
  docs/source/_templates/layout.html
  docs/source/api-introduction.md
  docs/source/index.rst
  docs/source/legal_information.md
  docs/source/reference_examples.md
  docs/source/welcome.md
  examples/README.md
Due: none

Remove yaml config setting
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/run_tuning.sh
  examples/tensorflow/image_recognition/resnet_v2/quantization/qat/resnet_v2.py
Due: none

Disable multi instance for ITEX GPU benchmark (#204)
  neural_compressor/adaptor/tf_utils/graph_converter.py
  neural_compressor/experimental/benchmark.py
  test/itex/test_tensorflow_itex_basic.py
Due: .azure-pipelines/ut-basic.yml

remove useless file in doc source (#182)
  docs/source/README.md
Due: none

INC new API tensorflow examples update
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/main.py
  examples/tensorflow/image_recognition/resnet_v2/quantization/qat/resnet_v2.py
  neural_compressor/adaptor/tensorflow.py
Due: .azure-pipelines/ut-basic.yml

add PythonLauncher to pass spelling check CI
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
Due: none

Fix NTM-One-Shot failed with KeyError (#210)
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/pre_optimize.py
Due: .azure-pipelines/ut-basic.yml

Fix TextRNN and centernet_hg104 tuning issue (#171)
  examples/tensorflow/oob_models/quantization/ptq/model_detail.py
  examples/tensorflow/oob_models/quantization/ptq/run_benchmark.sh
  examples/tensorflow/oob_models/quantization/ptq/run_tuning.sh
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/fuse_pad_with_conv.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/fuse_pad_with_fp32_conv.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/qdq/insert_qdq_pattern.py
  neural_compressor/adaptor/tf_utils/graph_util.py
Due: .azure-pipelines/ut-basic.yml

Added distributed training support for distillation of MobileNetV2. (#166)
  examples/pytorch/image_recognition/MobileNetV2-0.35/distillation/eager/README.md
  examples/pytorch/image_recognition/MobileNetV2-0.35/distillation/eager/main.py
  examples/pytorch/image_recognition/MobileNetV2-0.35/distillation/eager/requirements.txt
Due: none

Added distributed training support for distillation of CNN-2. (#208)
  examples/pytorch/image_recognition/CNN-2/distillation/eager/README.md
  examples/pytorch/image_recognition/CNN-2/distillation/eager/main.py
  examples/pytorch/image_recognition/CNN-2/distillation/eager/requirements.txt
Due: none

update publication_list.md (#212)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  .azure-pipelines/scripts/codeScan/pyspelling/pyspelling_conf.yaml
  README.md
  docs/source/publication_list.md
Due: none

fix load issue (#194)
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/ipex/main.py
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/ipex/ssd_r34.py
Due: none

update launcher to fit multi-item input
  neural_coder/__main__.py
Due: .azure-pipelines/ut-ncoder.yml

Update __main__.py
  neural_coder/__main__.py
Due: .azure-pipelines/ut-ncoder.yml

Fix windows multi-instance subprocess bug
  neural_compressor/experimental/benchmark.py
Due: .azure-pipelines/ut-basic.yml

Create tf_inc_static_quant.yaml
  neural_coder/backends/tf_inc_static_quant.yaml
Due: .azure-pipelines/ut-ncoder.yml

Create inc.py
  neural_coder/coders/tensorflow/inc.py
Due: .azure-pipelines/ut-ncoder.yml

Delete tf_inc_static_quant.yaml
  neural_coder/backends/tf_inc_static_quant.yaml
Due: .azure-pipelines/ut-ncoder.yml

Update interface.py
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

Update inc.py
  neural_coder/coders/tensorflow/inc.py
Due: .azure-pipelines/ut-ncoder.yml

Neural Coder enable backend support for intel_extension_for_transformers (#214)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  neural_coder/README.md
  neural_coder/__main__.py
  neural_coder/backends/intel_extension_for_transformers.yaml
  neural_coder/coders/autoinc/autoinc_harness.py
  neural_coder/coders/pytorch/change_trainer_to_nlptrainer.py
  neural_coder/docs/PythonLauncher.md
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

test(mse): add unit tests for tensorflow support of mse.
  test/adaptor/tensorflow_adaptor/test_tensorflow_get_output_tensor.py
  test/strategy/test_mse_tensorflow.py
Due: none

fix(mse): fix the bug of creating partial dummy dataset.
  neural_compressor/adaptor/tensorflow.py
Due: .azure-pipelines/ut-basic.yml

Neural Coder launcher debug (#215)
  neural_coder/__main__.py
Due: .azure-pipelines/ut-ncoder.yml

Neural Coder enable support of TensorFlow/Keras models to quantize (preliminary) (#217)
  neural_coder/coders/tensorflow/inc.py
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

fix ut issue
  neural_compressor/adaptor/tf_utils/graph_converter.py
  test/tfnewapi/test_tensorflow_graph_qdq_bn_fusion.py
Due: .azure-pipelines/ut-basic.yml

add batch_size for benchmark
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/run_benchmark.sh
Due: none

Fix Seq2seqAttn model tuning issue (#172)
  neural_compressor/adaptor/tf_utils/graph_rewriter/int8/fuse_matmul_redundant_dequantize.py
Due: .azure-pipelines/ut-basic.yml

fix
  neural_compressor/experimental/benchmark.py
Due: .azure-pipelines/ut-basic.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
