Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      steps:
      - template: template/ut-basic-template.yml
        parameters:
          dockerTemplate: commonDockerTemplate
          dockerTemplateRepoName: neural-compressor
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

test
  .azure-pipelines/ut-basic.yml
Due: none

update dependsOn
  .azure-pipelines/docker/DockerfileCodeScan.devel
  .azure-pipelines/ut-basic.yml
Due: none

Refine tf_examples with INC User NewAPI
  examples/helloworld/README.md
  examples/helloworld/tf_example1/README.md
  examples/helloworld/tf_example1/conf.yaml
  examples/helloworld/tf_example1/requirements.txt
  examples/helloworld/tf_example1/test.py
  examples/helloworld/tf_example2/README.md
  examples/helloworld/tf_example2/conf.yaml
  examples/helloworld/tf_example2/requirements.txt
  examples/helloworld/tf_example2/test.py
  examples/helloworld/tf_example3/README.md
  examples/helloworld/tf_example3/conf.yaml
  examples/helloworld/tf_example3/requirements.txt
  examples/helloworld/tf_example3/test.py
  examples/helloworld/tf_example4/README.md
  examples/helloworld/tf_example4/conf.yaml
  examples/helloworld/tf_example4/requirements.txt
  examples/helloworld/tf_example4/test.py
  examples/helloworld/tf_example5/README.md
  examples/helloworld/tf_example5/conf.yaml
  examples/helloworld/tf_example5/requirements.txt
  examples/helloworld/tf_example5/test.py
  examples/helloworld/tf_example6/README.md
  examples/helloworld/tf_example6/conf.yaml
  examples/helloworld/tf_example6/requirements.txt
  examples/helloworld/tf_example6/test.py
  examples/helloworld/tf_example7/README.md
  examples/helloworld/tf_example7/requirements.txt
  examples/helloworld/tf_example7/test.py
  examples/helloworld/tf_example8/README.md
  examples/helloworld/tf_example8/requirements.txt
  examples/helloworld/tf_example8/test.py
Due: none

fix shell
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/run_benchmark.sh
Due: none

enable nccf feature to validate
  neural_compressor/adaptor/torch_utils/hawq_metric.py
Due: .azure-pipelines/ut-basic.yml

fix pyspelling issue
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
Due: none

add MixedPrecisionConfig spell check
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
Due: none

add enable nccf feature to compare
  neural_compressor/adaptor/torch_utils/hawq_metric.py
Due: .azure-pipelines/ut-basic.yml

Update conf.yaml
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/fx/conf.yaml
Due: none

remove hardcore path
  neural_compressor/experimental/quantization.py
Due: .azure-pipelines/ut-basic.yml

fix transformer_lt benchmark config args
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/main.py
Due: none

fix(): fix typos.
  docs/source/tuning_strategies.md
  neural_compressor/objective.py
  neural_compressor/ux/web/README.md
Due: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ux.yml

fix(mse_v2): fix a bug.
  neural_compressor/strategy/utils/__init__.py
Due: .azure-pipelines/ut-basic.yml

limit in model requirement
  examples/pytorch/nlp/huggingface_models/common/setup.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/eager/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/eager/requirements.txt
Due: none

fix(mse_v2): tiny fix.
  neural_compressor/strategy/mse_v2.py
Due: .azure-pipelines/ut-basic.yml

add version in IO
  docs/source/_static/custom.css
  docs/source/_templates/layout.html
Due: none

add inters and dump result for debug
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/run_benchmark.sh
Due: none

Update run_benchmark.sh
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/run_benchmark.sh
Due: none

Resolve mobilenet_v3 quant fails by excluding more layers
  examples/tensorflow/image_recognition/tensorflow_models/quantization/ptq/mobilenet_v3.yaml
Due: none

doc(example): adjust notes format.
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/fx/README.md
Due: none

fix(examples): tiny adjustment.
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/fx/README.md
Due: none

Create keras_inc.yaml
  neural_coder/backends/keras_inc.yaml
Due: .azure-pipelines/ut-ncoder.yml

Update model.py
  neural_coder/graphers/model.py
Due: .azure-pipelines/ut-ncoder.yml

update partial NVidia A100 CUDA EP ONNX QDQ accuracy data
  docs/source/validated_model_list.md
Due: none

Fix TF QAT UT issues (#266)
  neural_compressor/adaptor/tensorflow.py
  test/quantization/test_tensorflow_qat.py
Due: .azure-pipelines/ut-basic.yml

add yolov5 example
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/run_glue_no_trainer.py
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/run_glue_no_trainer_mixed.py
  examples/pytorch/object_detection/yolo_v5/pruning/eager/README.md
  examples/pytorch/object_detection/yolo_v5/pruning/eager/coco.yaml
  examples/pytorch/object_detection/yolo_v5/pruning/eager/hyp.scratch-low.yaml
  examples/pytorch/object_detection/yolo_v5/pruning/eager/requirements.txt
  examples/pytorch/object_detection/yolo_v5/pruning/eager/train.py
Due: none

Add recipe for TRT EP
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/onnxrt_qdq.yaml
  neural_compressor/adaptor/ox_utils/calibration.py
Due: .azure-pipelines/ut-basic.yml

remove codes
  neural_compressor/adaptor/onnxrt.py
Due: .azure-pipelines/ut-basic.yml

Create mnist.py
  neural_coder/examples/keras/mnist.py
Due: .azure-pipelines/ut-ncoder.yml

Update keras_inc.yaml
  neural_coder/backends/keras_inc.yaml
Due: .azure-pipelines/ut-ncoder.yml

Fixed bf16 error in QAT for torch version < 1.11
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

Update interface.py
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

Update __main__.py
  neural_coder/__main__.py
Due: .azure-pipelines/ut-ncoder.yml

Update SupportMatrix.md
  neural_coder/docs/SupportMatrix.md
Due: .azure-pipelines/ut-ncoder.yml

Update PythonLauncher.md
  neural_coder/docs/PythonLauncher.md
Due: .azure-pipelines/ut-ncoder.yml

enable inc_auto feature
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

Update domain.py
  neural_coder/coders/autoinc/domain.py
Due: .azure-pipelines/ut-ncoder.yml

enable "enable_only" in launcher
  neural_coder/__main__.py
Due: .azure-pipelines/ut-ncoder.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
