Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

fix for TRT EP
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/ox_utils/calibration.py
Due: .azure-pipelines/ut-basic.yml

fixed benchmark error with b_func
  neural_compressor/experimental/benchmark.py
Due: .azure-pipelines/ut-basic.yml

fix itex ut issue
  test/itex/test_tensorflow_itex_new_api.py
Due: none

Fixed export UT error
  test/export/test_torch2onnx.py
Due: none

test
  neural_compressor/experimental/pytorch_pruner/pruners.py
Due: .azure-pipelines/ut-basic.yml

adjust pruning location
  neural_compressor/experimental/pruning.py
  neural_compressor/lagacy/__init__.py
  neural_compressor/lagacy/gradient_sensitivity.py
  neural_compressor/lagacy/group_lasso.py
  neural_compressor/lagacy/magnitude.py
  neural_compressor/lagacy/pattern_lock.py
  neural_compressor/lagacy/pruner.py
  neural_compressor/lagacy/util/block_mask.py
  neural_compressor/pruning/README.md
  neural_compressor/pruning/__init__.py
  neural_compressor/pruning/pytorch_pruner/__init__.py
  neural_compressor/pruning/pytorch_pruner/criteria.py
  neural_compressor/pruning/pytorch_pruner/logger.py
  neural_compressor/pruning/pytorch_pruner/patterns.py
  neural_compressor/pruning/pytorch_pruner/prune_utils.py
  neural_compressor/pruning/pytorch_pruner/pruners.py
  neural_compressor/pruning/pytorch_pruner/pruning.py
  neural_compressor/pruning/pytorch_pruner/regs.py
  neural_compressor/pruning/pytorch_pruner/schedulers.py
Due: .azure-pipelines/ut-basic.yml

Update BigDLNanoSupport.md
  neural_coder/docs/BigDLNanoSupport.md
Due: .azure-pipelines/ut-ncoder.yml

adjust pruning location
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/pytorch_pruner/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/pytorch_pruner/eager/README.md
  examples/pytorch/object_detection/yolo_v5/pruning/pytorch_pruner/eager/README.md
  neural_compressor/experimental/__init__.py
  neural_compressor/experimental/scheduler.py
  neural_compressor/lagacy/pruner.py
  neural_compressor/lagacy/pruning_recipes/__init__.py
  neural_compressor/lagacy/pruning_recipes/patterns/__init__.py
  neural_compressor/lagacy/pruning_recipes/patterns/pattern.py
  neural_compressor/lagacy/pruning_recipes/patterns/tile_pattern.py
  neural_compressor/pruning/pruning.py
  neural_compressor/training.py
  test/pruning/test_pruning_pattern.py
  test/pruning/test_pytorch_pruning.py
  test/pruning/test_pytorch_pruning_progressive.py
  test/pruning/test_tensorflow_pruning.py
Due: .azure-pipelines/ut-basic.yml

doc(mse_v2): fix a wrong expression in document of mse_v2.
  docs/source/tuning_strategies.md
Due: none

remove the line for debug
  neural_compressor/conf/config.py
Due: .azure-pipelines/ut-basic.yml

add optimization_level to conf and pythonic_conf
  neural_compressor/conf/config.py
  neural_compressor/conf/pythonic_config.py
Due: .azure-pipelines/ut-basic.yml

add strategy kwargs for new api
  neural_compressor/conf/config.py
  neural_compressor/config.py
Due: .azure-pipelines/ut-basic.yml

add uts
  neural_compressor/conf/config.py
  neural_compressor/config.py
  test/strategy/test_basic.py
  test/strategy/test_sigopt.py
Due: .azure-pipelines/ut-basic.yml

add optimization_level in BaseQuantizationConfig
  neural_compressor/config.py
Due: .azure-pipelines/ut-basic.yml

fixed some uts
  test/strategy/test_basic.py
  test/strategy/test_sigopt.py
Due: none

add confidence_batches for pythonic conf
  neural_compressor/conf/config.py
Due: .azure-pipelines/ut-basic.yml

fix typo
  neural_compressor/legacy/__init__.py
  neural_compressor/legacy/gradient_sensitivity.py
  neural_compressor/legacy/group_lasso.py
  neural_compressor/legacy/magnitude.py
  neural_compressor/legacy/pattern_lock.py
  neural_compressor/legacy/pruner.py
  neural_compressor/legacy/pruning_recipes/__init__.py
  neural_compressor/legacy/pruning_recipes/patterns/__init__.py
  neural_compressor/legacy/pruning_recipes/patterns/pattern.py
  neural_compressor/legacy/pruning_recipes/patterns/tile_pattern.py
  neural_compressor/legacy/util/block_mask.py
Due: .azure-pipelines/ut-basic.yml

update onnx example
  examples/.config/model_params_onnxrt.json
Due: none

update onnxrt example link
  examples/README.md
Due: none

fix(mse_v2): tiny fixes for pylint check.
  neural_compressor/adaptor/torch_utils/util.py
Due: .azure-pipelines/ut-basic.yml

rename test filename
  test/strategy/test_hawq_v2.py
Due: none

ut update for model change
  neural_compressor/experimental/common/model.py
Due: .azure-pipelines/ut-basic.yml

fix(pytorch): use lazy import for tqdm
  neural_compressor/adaptor/torch_utils/util.py
Due: .azure-pipelines/ut-basic.yml

Support 'Square', 'Sum', 'SparseSegmentSqrtN' BF16 ops in TensorFlow backend (#223)
  neural_compressor/adaptor/tensorflow.yaml
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_matmul.py
Due: .azure-pipelines/ut-basic.yml

Support Conv2D + BiasAdd + Relu + Sum fusion (#221)
  neural_compressor/adaptor/tensorflow.yaml
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_conv.py
  test/tfnewapi/test_tensorflow_graph_conv_fusion.py
  test/tfnewapi/test_tensorflow_graph_qdq_conv_fusion.py
Due: .azure-pipelines/ut-basic.yml

remove some incorrect comments
  neural_compressor/config.py
  neural_compressor/strategy/hawq_v2.py
  test/strategy/test_hawq_v2_2.x.py
Due: .azure-pipelines/ut-basic.yml

test(mse): rename test_get_output_tensor to test_calculate_op_sensivity.
  test/adaptor/tensorflow_adaptor/test_tensorflow_calculate_op_sensitivity.py
Due: none

remove UTs based on old API(YAML)
  test/strategy/test_hawq_v2.py
Due: none

Modify n_worker as a variable
  neural_compressor/experimental/nas/dynas.py
  neural_compressor/experimental/nas/dynast/dynas_utils.py
Due: .azure-pipelines/ut-basic.yml

remove some unused code
  neural_compressor/strategy/hawq_v2.py
Due: .azure-pipelines/ut-basic.yml

add some comments
  neural_compressor/strategy/hawq_v2.py
Due: .azure-pipelines/ut-basic.yml

1 change name due to name conflict, 2 change locations
  neural_compressor/pruner/README.md
  neural_compressor/pruner/__init__.py
  neural_compressor/pruner/pytorch_pruner/__init__.py
  neural_compressor/pruner/pytorch_pruner/criteria.py
  neural_compressor/pruner/pytorch_pruner/logger.py
  neural_compressor/pruner/pytorch_pruner/patterns.py
  neural_compressor/pruner/pytorch_pruner/prune_utils.py
  neural_compressor/pruner/pytorch_pruner/pruners.py
  neural_compressor/pruner/pytorch_pruner/pruning.py
  neural_compressor/pruner/pytorch_pruner/regs.py
  neural_compressor/pruner/pytorch_pruner/schedulers.py
  neural_compressor/pruning/pruning.py
Due: .azure-pipelines/ut-basic.yml

recover
  neural_compressor/experimental/benchmark.py
Due: .azure-pipelines/ut-basic.yml

mod opt name
  neural_coder/docs/BigDLNanoSupport.md
Due: .azure-pipelines/ut-ncoder.yml

reset example params to master
  examples/.config/model_params_pytorch.json
Due: none

1 change name 2 change location
  neural_compressor/conf/config.py
  neural_compressor/experimental/__init__.py
  neural_compressor/experimental/scheduler.py
  neural_compressor/legacy/pruner.py
  neural_compressor/pruner/__init__.py
  neural_compressor/pruner/pytorch_pruner/pruning.py
  neural_compressor/pruner/pytorch_pruner/schedulers.py
  neural_compressor/pruning.py
  test/pruning/test_pruning_pattern.py
  test/pruning/test_pytorch_pruning.py
Due: .azure-pipelines/ut-basic.yml

modfiy benchmark
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/main.py
  neural_compressor/experimental/benchmark.py
Due: .azure-pipelines/ut-basic.yml

feat(mse): add mse_v2 to config.
  neural_compressor/config.py
Due: .azure-pipelines/ut-basic.yml
