Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

update
  .azure-pipelines/scripts/models/run_model_trigger_common.sh
  .azure-pipelines/scripts/models/run_tuning_common.sh
Due: none

fix(tensorflow): minor fixes.
  neural_compressor/adaptor/tensorflow.py
Due: .azure-pipelines/ut-basic.yml

fix(tensorflow): minor fixes
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/strategy/mse.py
Due: .azure-pipelines/ut-basic.yml

refactor(tensorflow): minor adjustments.
  neural_compressor/adaptor/tensorflow.py
Due: .azure-pipelines/ut-basic.yml

Pytorch-Pruner-bugfix-patternlock-channelpruning (#1355)
  neural_compressor/experimental/pytorch_pruner/patterns.py
  neural_compressor/experimental/pytorch_pruner/prune_utils.py
  neural_compressor/experimental/pytorch_pruner/pruner.py
  neural_compressor/experimental/pytorch_pruner/pruning.py
  test/pruning/test_pytorch_pruning.py
Due: .azure-pipelines/ut-basic.yml

diffusion model demo (#1432)
  examples/pytorch/diffusion_model/diffusers/textual_inversion/README.md
  examples/pytorch/diffusion_model/diffusers/textual_inversion/generated_images/graffiti.png
  examples/pytorch/diffusion_model/diffusers/textual_inversion/nezha/1.jpg
  examples/pytorch/diffusion_model/diffusers/textual_inversion/youtooz_candy/1.jpeg
Due: none

fix typos
  neural_compressor/adaptor/pytorch.py
  neural_compressor/strategy/mse.py
Due: .azure-pipelines/ut-basic.yml

update NV A100 ONNX QDQ accuracy data (#1433)
  README.md
  docs/validated_model_list.md
Due: none

add tqdm and skip LN
  neural_compressor/adaptor/torch_utils/util.py
Due: .azure-pipelines/ut-basic.yml

add 10 CV models
  examples/.config/model_params_pytorch.json
Due: none

add mobilenet_v2
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/eager/run_tuning.sh
Due: none

use python3.8
  .azure-pipelines/model-test.yml
Due: none

fix(mse): fix a bug caused by shallow copy
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/strategy/mse.py
Due: .azure-pipelines/ut-basic.yml

refactor(mse): remove partial dataloader.
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/strategy/mse.py
Due: .azure-pipelines/ut-basic.yml

adjust config for test and validation.
  examples/tensorflow/image_recognition/tensorflow_models/quantization/ptq/densenet161.yaml
Due: none

Update normalization in predictors
  neural_compressor/experimental/nas/dynast/dynas_predictor.py
Due: .azure-pipelines/ut-basic.yml

Add notebook's checkpoint to gitignore
  .gitignore
Due: none

Add TODO note.
  neural_compressor/experimental/nas/dynas.py
Due: .azure-pipelines/ut-basic.yml

Add Runners dictionary
  neural_compressor/experimental/nas/dynas.py
Due: .azure-pipelines/ut-basic.yml

Neural Coder enable support of Optimum-Intel (HuggingFace) (#1436)
  neural_coder/backends/pytorch_inc_huggingface_optimum_dynamic.yaml
  neural_coder/backends/pytorch_inc_huggingface_optimum_static.yaml
  neural_coder/coders/autoinc/autoinc_harness.py
  neural_coder/globals.py
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

update NV model quantize config (#1439)
  docs/validated_model_list.md
Due: none

Fuse 'Enter+Transpose+Reshape' to make more matmuls quantize (#1367)
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/fuse_reshape_transpose.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_conv.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_deconv.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_matmul.py
  test/tfnewapi/test_tensorflow_fuse_reshape_transpose.py
Due: .azure-pipelines/ut-basic.yml

Support 'Conv2D+BiasAdd+Reshape+activation' fusion pattern (#1375)
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/move_squeeze_after_relu.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_conv.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_move_squeeze_after_relu.py
Due: .azure-pipelines/ut-basic.yml

Fix TF deeplab example tuning issues (#1422)
  neural_compressor/adaptor/tf_utils/quantize_graph/quantize_graph_base.py
  neural_compressor/utils/utility.py
Due: .azure-pipelines/ut-basic.yml

Support _QuantizedMatMul output quantization mode MIN_FIRST (#1437)
  examples/tensorflow/oob_models/quantization/ptq/dataloaders.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_matmul.py
  neural_compressor/experimental/data/dataloaders/default_dataloader.py
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

adjust configs for test.
  examples/tensorflow/image_recognition/tensorflow_models/quantization/ptq/mobilenet_v3.yaml
Due: none

support > 2GB onnx model and update graph sort (#1359)
  examples/.config/model_params_onnxrt.json
  examples/onnxrt/image_recognition/unet/quantization/ptq/main.py
  examples/onnxrt/image_recognition/unet/quantization/ptq/readme.md
  examples/onnxrt/image_recognition/unet/quantization/ptq/requirements.txt
  examples/onnxrt/image_recognition/unet/quantization/ptq/run_benchmark.sh
  examples/onnxrt/image_recognition/unet/quantization/ptq/run_tuning.sh
  examples/onnxrt/image_recognition/unet/quantization/ptq/unet.yaml
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/ox_utils/calibration.py
  neural_compressor/adaptor/ox_utils/operators/direct_q8.py
  neural_compressor/adaptor/ox_utils/quantizer.py
  neural_compressor/model/model.py
  neural_compressor/model/onnx_model.py
Due: .azure-pipelines/ut-basic.yml

add report sparsity for INC IPEX backend (#1408)
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/ipex/main.py
  examples/pytorch/nlp/huggingface_models/question-answering/quantization/ptq_static/ipex/run_qa.py
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/ipex/infer.py
  examples/pytorch/recommendation/dlrm/quantization/ptq/ipex/dlrm_s_pytorch.py
  neural_compressor/adaptor/pytorch.py
  neural_compressor/model/torch_model.py
  neural_compressor/utils/pytorch.py
  test/ipex/test_adaptor_ipex.py
Due: .azure-pipelines/ut-basic.yml

add transformer example
  neural_compressor/conf/config.py
  neural_compressor/experimental/nas/dynas.py
  neural_compressor/experimental/nas/dynast/dynas_manager.py
  neural_compressor/experimental/nas/dynast/dynas_utils.py
  neural_compressor/experimental/nas/supernetwork/machine_translation/modules_supernetwork.py
  neural_compressor/experimental/nas/supernetwork/machine_translation/transformer_interface.py
  neural_compressor/experimental/nas/supernetwork/machine_translation/transformer_supernetwork.py
Due: .azure-pipelines/ut-basic.yml

feat: track the model with the highest acc
  neural_compressor/strategy/mse.py
  neural_compressor/strategy/strategy.py
  test/strategy/test_mse.py
Due: .azure-pipelines/ut-basic.yml

Update distributed training and inference for TF 2.10.0 or above (#1417)
  examples/tensorflow/image_recognition/ViT/pruning/magnitude/requirements.txt
  examples/tensorflow/image_recognition/resnet_v2/pruning/magnitude/README.md
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/model/model.py
  test/pruning/test_tensorflow_distributed_pruning.py
  test/tfnewapi/test_tf_spr_base_distributed_metrics.py
  test/tfnewapi/test_tf_spr_base_distributed_pruning.py
  test/tfnewapi/test_tf_spr_base_distributed_tf_dataloader.py
Due: .azure-pipelines/ut-basic.yml

fix torch 1.13 ut (#1434)
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch.py
Due: none

Neural Coder enable Python Launcher usage (#1443)
  neural_coder/__main__.py
  neural_coder/docs/PythonAPI.md
  neural_coder/docs/PythonLauncher.md
Due: .azure-pipelines/ut-ncoder.yml

Fix TypeError 'Dataloader' has no len() (#1428)
  examples/tensorflow/recommendation/wide_deep_large_ds/quantization/ptq/inference.py
  neural_compressor/experimental/data/dataloaders/default_dataloader.py
  neural_compressor/experimental/data/dataloaders/tensorflow_dataloader.py
Due: .azure-pipelines/ut-basic.yml

Feat(ST): add a interface for hawq(stage1)
  neural_compressor/adaptor/pytorch.py
  neural_compressor/strategy/basic.py
Due: .azure-pipelines/ut-basic.yml

Neural Coder enable device detection and device compatibility anlaysis (#1461)
  neural_coder/backends/pytorch_mixed_precision_intel_gpu.yaml
  neural_coder/globals.py
  neural_coder/interface.py
  neural_coder/utils/device.py
Due: .azure-pipelines/ut-ncoder.yml

docstring for init and benchmark (#1442)
  neural_compressor/experimental/__init__.py
  neural_compressor/experimental/benchmark.py
Due: .azure-pipelines/ut-basic.yml
