Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      steps:
      - template: template/ut-basic-template.yml
        parameters:
          dockerTemplate: commonDockerTemplate
          dockerTemplateRepoName: neural-compressor
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

modify textual_inversion_ipex.py
  examples/pytorch/diffusion_model/diffusers/textual_inversion/textual_inversion_ipex.py
Due: none

fixed the merge with user cfg
  neural_compressor/strategy/utils/tuning_space.py
  test/strategy/test_tuning_space_v2.py
Due: .azure-pipelines/ut-basic.yml

modify security
  neural_coder/extensions/neural_compressor_ext_lab/neural_compressor_ext_lab/labextension/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab_alibaba/package-lock.json
Due: .azure-pipelines/ut-ncoder.yml

modify security
  neural_coder/extensions/neural_compressor_ext_lab_alibaba/package.json
Due: .azure-pipelines/ut-ncoder.yml

neural coder security fix (#539)
  neural_coder/extensions/neural_compressor_ext_lab/neural_compressor_ext_lab/labextension/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab_alibaba/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab_alibaba/package.json
Due: .azure-pipelines/ut-ncoder.yml

removed the fake eval
  neural_compressor/contrib/strategy/sigopt.py
  neural_compressor/experimental/quantization.py
  neural_compressor/strategy/auto_mixed_precision.py
  neural_compressor/strategy/conservative.py
  neural_compressor/strategy/strategy.py
  test/config/test_pythonic_config.py
Due: .azure-pipelines/ut-basic.yml

beautify list and tuple
  neural_compressor/utils/logger.py
  test/utils/test_logger.py
Due: .azure-pipelines/ut-basic.yml

add resnet50_v1
  examples/.config/model_params_tensorflow_win.json
Due: none

add minifix
  examples/.config/model_params_tensorflow_win.json
Due: none

only beautify lists/tuples of dict that are included in a dict
  neural_compressor/utils/logger.py
  test/utils/test_logger.py
Due: .azure-pipelines/ut-basic.yml

save the tune cfg to history
  neural_compressor/contrib/strategy/sigopt.py
  neural_compressor/strategy/auto_mixed_precision.py
  neural_compressor/strategy/conservative.py
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

add nlp evaluation examples
  examples/pytorch/nlp/huggingface_models/text-classification/export/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/export/fx/onnx_evaluation.py
  examples/pytorch/nlp/huggingface_models/text-classification/export/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/export/fx/run_benchmark.sh
  examples/pytorch/nlp/huggingface_models/text-classification/export/fx/run_export.sh
  examples/pytorch/nlp/huggingface_models/text-classification/export/fx/run_glue.py
  neural_compressor/experimental/export/torch2onnx.py
Due: .azure-pipelines/ut-basic.yml

fixed the bug
  neural_compressor/contrib/strategy/sigopt.py
  neural_compressor/contrib/strategy/tpe.py
  neural_compressor/strategy/auto_mixed_precision.py
  neural_compressor/strategy/conservative.py
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

parse tuning space
  neural_compressor/strategy/utils/tuning_space.py
Due: .azure-pipelines/ut-basic.yml

fixed the resume qmodel from tune cfg
  neural_compressor/strategy/strategy.py
  test/quantization/test_quantization.py
Due: .azure-pipelines/ut-basic.yml

fix
  examples/.config/model_params_onnxrt_win.json
  examples/.config/model_params_pytorch_win.json
  examples/onnxrt/object_detection/onnx_model_zoo/DUC/quantization/ptq/main.py
Due: none

Release calibration model memory to fix OOM for tensorflow
  neural_compressor/adaptor/tf_utils/graph_converter.py
  neural_compressor/utils/utility.py
Due: .azure-pipelines/ut-basic.yml

add more tf2onnx models
  examples/.config/model_params_tf2onnx.json
Due: none

readme update
  README.md
Due: none

updated
  README.md
Due: none

add new models in windows (#536)
  examples/.config/model_params_onnxrt_win.json
  examples/.config/model_params_pytorch_win.json
  examples/.config/model_params_tensorflow_win.json
  examples/onnxrt/object_detection/onnx_model_zoo/DUC/quantization/ptq/main.py
Due: none

update links
  README.md
  docs/source/publication_list.md
Due: none

minor update
  README.md
Due: none

fix bug
  examples/pytorch/nlp/huggingface_models/text-classification/export/fx/run_export.sh
  examples/pytorch/nlp/huggingface_models/text-classification/export/fx/run_glue.py
  neural_compressor/experimental/export/torch2onnx.py
Due: .azure-pipelines/ut-basic.yml

fix path
  examples/.config/model_params_tf2onnx.json
Due: none

add results to README
  examples/pytorch/image_recognition/torchvision_models/distillation/eager/README.md
Due: none

add comments
  neural_compressor/config.py
Due: .azure-pipelines/ut-basic.yml

add new agent pool
  .azure-pipelines/model-test.yml
Due: none

Enable tensorflow NLP examples using 2.0 API (#469)
  examples/.config/model_params_tensorflow.json
  examples/README.md
  examples/tensorflow/nlp/bert_large_squad/quantization/ptq/README.md
  examples/tensorflow/nlp/bert_large_squad/quantization/ptq/create_pretraining_data.py
  examples/tensorflow/nlp/bert_large_squad/quantization/ptq/create_tf_record.py
  examples/tensorflow/nlp/bert_large_squad/quantization/ptq/evaluate_squad.py
  examples/tensorflow/nlp/bert_large_squad/quantization/ptq/export_classifier.py
  examples/tensorflow/nlp/bert_large_squad/quantization/ptq/freeze_estimator_to_pb.py
  examples/tensorflow/nlp/bert_large_squad/quantization/ptq/generic_ops.py
  examples/tensorflow/nlp/bert_large_squad/quantization/ptq/modeling.py
  examples/tensorflow/nlp/bert_large_squad/quantization/ptq/optimization.py
  examples/tensorflow/nlp/bert_large_squad/quantization/ptq/prepare_dataset.sh
  examples/tensorflow/nlp/bert_large_squad/quantization/ptq/prepare_model.sh
  examples/tensorflow/nlp/bert_large_squad/quantization/ptq/run_benchmark.sh
  examples/tensorflow/nlp/bert_large_squad/quantization/ptq/run_tuning.sh
  examples/tensorflow/nlp/bert_large_squad/quantization/ptq/tokenization.py
  examples/tensorflow/nlp/bert_large_squad/quantization/ptq/tune_squad.py
  examples/tensorflow/nlp/bert_large_squad_model_zoo/quantization/ptq/README.md
  examples/tensorflow/nlp/bert_large_squad_model_zoo/quantization/ptq/create_pretraining_data.py
  examples/tensorflow/nlp/bert_large_squad_model_zoo/quantization/ptq/create_tf_record.py
  examples/tensorflow/nlp/bert_large_squad_model_zoo/quantization/ptq/evaluate_squad.py
  examples/tensorflow/nlp/bert_large_squad_model_zoo/quantization/ptq/export_classifier.py
  examples/tensorflow/nlp/bert_large_squad_model_zoo/quantization/ptq/freeze_estimator_to_pb.py
  examples/tensorflow/nlp/bert_large_squad_model_zoo/quantization/ptq/generic_ops.py
  examples/tensorflow/nlp/bert_large_squad_model_zoo/quantization/ptq/modeling.py
  examples/tensorflow/nlp/bert_large_squad_model_zoo/quantization/ptq/optimization.py
  examples/tensorflow/nlp/bert_large_squad_model_zoo/quantization/ptq/prepare_dataset.sh
  examples/tensorflow/nlp/bert_large_squad_model_zoo/quantization/ptq/prepare_model.sh
  examples/tensorflow/nlp/bert_large_squad_model_zoo/quantization/ptq/run_benchmark.sh
  examples/tensorflow/nlp/bert_large_squad_model_zoo/quantization/ptq/run_tuning.sh
  examples/tensorflow/nlp/bert_large_squad_model_zoo/quantization/ptq/tokenization.py
  examples/tensorflow/nlp/bert_large_squad_model_zoo/quantization/ptq/tune_squad.py
  neural_compressor/data/__init__.py
  neural_compressor/data/transforms/__init__.py
  neural_compressor/metric/__init__.py
Due: .azure-pipelines/ut-basic.yml

Enable style_transfer model using 2.0 API (#477)
  examples/.config/model_params_tensorflow.json
  examples/README.md
  examples/tensorflow/oob_models/quantization/ptq/README.md
  examples/tensorflow/recommendation/wide_deep_large_ds/quantization/ptq/README.md
  examples/tensorflow/recommendation/wide_deep_large_ds/quantization/ptq/inference.py
  examples/tensorflow/semantic_image_segmentation/3dunet-mlperf/quantization/ptq/README.md
  examples/tensorflow/style_transfer/arbitrary_style_transfer/quantization/ptq/README.md
  examples/tensorflow/style_transfer/arbitrary_style_transfer/quantization/ptq/content_images/colva_beach_sq.jpg
  examples/tensorflow/style_transfer/arbitrary_style_transfer/quantization/ptq/content_images/golden_gate_sq.jpg
  examples/tensorflow/style_transfer/arbitrary_style_transfer/quantization/ptq/prepare_model.py
  examples/tensorflow/style_transfer/arbitrary_style_transfer/quantization/ptq/requirements.txt
  examples/tensorflow/style_transfer/arbitrary_style_transfer/quantization/ptq/run_benchmark.sh
  examples/tensorflow/style_transfer/arbitrary_style_transfer/quantization/ptq/run_tuning.sh
  examples/tensorflow/style_transfer/arbitrary_style_transfer/quantization/ptq/style_images/kanagawa_great_wave.jpg
  examples/tensorflow/style_transfer/arbitrary_style_transfer/quantization/ptq/style_images/zigzag_colorful.jpg
  examples/tensorflow/style_transfer/arbitrary_style_transfer/quantization/ptq/style_tune.py
Due: none

Added distributed training support for distillation of Resnet50. (#544)
  examples/pytorch/image_recognition/torchvision_models/distillation/eager/README.md
  examples/pytorch/image_recognition/torchvision_models/distillation/eager/main.py
  examples/pytorch/image_recognition/torchvision_models/distillation/eager/requirements.txt
Due: none

deploy: ba6e7678fb46062bab0bd0ca38b665a4a6a18dde
  latest/_sources/autoapi/neural_compressor/data/index.rst.txt
  latest/_sources/autoapi/neural_compressor/data/transforms/index.rst.txt
  latest/_sources/autoapi/neural_compressor/metric/index.rst.txt
  latest/autoapi/neural_compressor/data/index.html
  latest/autoapi/neural_compressor/data/transforms/index.html
  latest/autoapi/neural_compressor/metric/index.html
  latest/genindex.html
  latest/objects.inv
  latest/searchindex.js
Due: none

Release calibration model memory to fix OOM for tensorflow (#542)
  neural_compressor/adaptor/tf_utils/graph_converter.py
  neural_compressor/utils/utility.py
Due: .azure-pipelines/ut-basic.yml

enhance UT for logger (#533)
  test/utils/test_logger.py
Due: none

deploy: ad0f1e06bce0c7bec47e829c6cd44b28982cc6ab
  latest/_sources/autoapi/neural_compressor/utils/utility/index.rst.txt
  latest/autoapi/neural_compressor/utils/utility/index.html
  latest/genindex.html
  latest/objects.inv
  latest/searchindex.js
Due: none

fix onnx path
  examples/.config/model_params_tf2onnx.json
Due: none

fix a broken link in pruning.md (#527)
  docs/source/pruning.md
Due: none

update readme link
  examples/README.md
Due: none

deploy: b68a709c3da2a04308b9bcfc817c1987d5e33fd5
  latest/_sources/docs/source/pruning.md.txt
  latest/docs/source/pruning.html
Due: none

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
