Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

fix numpy usage
  examples/pytorch/object_detection/maskrcnn/quantization/ptq/fx/pytorch/maskrcnn_benchmark/modeling/rpn/anchor_generator.py
Due: none

fix bug
  examples/onnxrt/image_recognition/onnx_model_zoo/fcn/quantization/ptq/main.py
Due: none

edit doc-link
  examples/README.md
  neural_compressor/pruner/README.md
Due: .azure-pipelines/ut-basic.yml

debug path
  neural_coder/__main__.py
Due: .azure-pipelines/ut-ncoder.yml

Add quantization example of stable diffusion model
  examples/.config/model_params_pytorch.json
  examples/pytorch/nlp/huggingface_models/text-to-image/quantization/README.md
  examples/pytorch/nlp/huggingface_models/text-to-image/quantization/ptq_dynamic/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-to-image/quantization/ptq_dynamic/fx/run_benchmark.sh
  examples/pytorch/nlp/huggingface_models/text-to-image/quantization/ptq_dynamic/fx/run_tuning.sh
  examples/pytorch/nlp/huggingface_models/text-to-image/quantization/ptq_static/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-to-image/quantization/ptq_static/fx/run_benchmark.sh
  examples/pytorch/nlp/huggingface_models/text-to-image/quantization/ptq_static/fx/run_tuning.sh
  examples/pytorch/nlp/huggingface_models/text-to-image/quantization/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-to-image/quantization/run_diffusion.py
Due: none

Add docstring in public packages
  neural_compressor/adaptor/tf_utils/__init__.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/__init__.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/bf16/__init__.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/__init__.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/int8/__init__.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/qdq/__init__.py
  neural_compressor/adaptor/tf_utils/quantize_graph/__init__.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/__init__.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/quantize_layers/__init__.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/__init__.py
  neural_compressor/adaptor/tf_utils/transform_graph/__init__.py
Due: .azure-pipelines/ut-basic.yml

fixtypo
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/README.md
Due: none

Add ground truth image
  examples/pytorch/nlp/huggingface_models/text-to-image/quantization/README.md
  examples/pytorch/nlp/huggingface_models/text-to-image/quantization/base_images/image.jpg
Due: none

Fix mobilenetv2_keras tuning failed issue
  neural_compressor/adaptor/tf_utils/graph_rewriter/int8/fuse_conv_requantize.py
Due: .azure-pipelines/ut-basic.yml

bugfix of examples
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/README.md
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/run_qa_no_trainer.py
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/run_glue_no_trainer.py
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/run_glue_no_trainer_mixed.py
Due: none

Docs refine with release info, legal info, installation guide (#330)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  README.md
  docs/source/installation_guide.md
  docs/source/legal_information.md
  docs/source/releases_info.md
  third-party-programs.txt
Due: none

refined docstring for API of pruners. (#307)
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
  neural_compressor/pruner/pruner_legacy/__init__.py
  neural_compressor/pruner/pruner_legacy/gradient_sensitivity.py
  neural_compressor/pruner/pruner_legacy/group_lasso.py
  neural_compressor/pruner/pruner_legacy/magnitude.py
  neural_compressor/pruner/pruner_legacy/pattern_lock.py
  neural_compressor/pruner/pruner_legacy/pruner.py
  neural_compressor/pruner/pruner_legacy/util/block_mask.py
Due: .azure-pipelines/ut-basic.yml

delete optimization_level
  neural_coder/backends/pytorch_inc_static_quant_fx.yaml
Due: .azure-pipelines/ut-ncoder.yml

delete optimization_level
  neural_coder/backends/pytorch_inc_static_quant_fx_fp8.yaml
Due: .azure-pipelines/ut-ncoder.yml

delete optimization_level
  neural_coder/backends/pytorch_inc_dynamic_quant.yaml
Due: .azure-pipelines/ut-ncoder.yml

delete optimization_level
  neural_coder/backends/pytorch_inc_dynamic_quant_fp8.yaml
Due: .azure-pipelines/ut-ncoder.yml

clean the code
  examples/README.md
  examples/pytorch/nlp/huggingface_models/text-to-image/quantization/ptq_dynamic/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-to-image/quantization/ptq_dynamic/fx/run_benchmark.sh
  examples/pytorch/nlp/huggingface_models/text-to-image/quantization/ptq_dynamic/fx/run_tuning.sh
Due: none

fix ort old API example
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq/qa_dynamic.yaml
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq/glue_dynamic.yaml
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq/main.py
Due: none

Fix OOB wide_deep tuning failed issue
  examples/tensorflow/oob_models/quantization/ptq/README.md
  examples/tensorflow/oob_models/quantization/ptq/tf_benchmark.py
Due: none

fix bug
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/experimental/quantization.py
  neural_compressor/strategy/basic.py
Due: .azure-pipelines/ut-basic.yml

update ort old API example
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq/main.py
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq/main.py
Due: none

fix bug
  examples/pytorch/object_detection/yolo_v3/quantization/ptq/eager/test.py
Due: none

fix asr benchmark
  examples/pytorch/recommendation/dlrm/quantization/ptq/ipex/dlrm_s_pytorch.py
  examples/pytorch/speech_recognition/torchaudio_models/quantization/ptq_static/fx/run_asr.py
Due: none

Fix OOB centernet_hg104 benchmark issue
  examples/tensorflow/oob_models/quantization/ptq/model_detail.py
Due: none

remove paramter
  examples/onnxrt/image_recognition/onnx_model_zoo/fcn/quantization/ptq/README.md
  examples/onnxrt/image_recognition/onnx_model_zoo/fcn/quantization/ptq/run_benchmark.sh
Due: none

Neural Coder modular design (#368)
  neural_coder/__main__.py
  neural_coder/coders/autoinc/autoinc_harness.py
  neural_coder/globals.py
  neural_coder/interface.py
  neural_coder/launcher.py
Due: .azure-pipelines/ut-ncoder.yml

Docs refine with benchmark and validate data (#336)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  docs/source/benchmark.md
  docs/source/platform_configuration.md
  docs/source/validated_model_list.md
  examples/helloworld/README.md
  examples/helloworld/tf_example7/README.md
  neural_compressor/benchmark.py
  neural_compressor/experimental/benchmark.py
Due: .azure-pipelines/ut-basic.yml

Merge backend_quant.md content to quantization.md (#360)
  docs/source/PTQ.md
  docs/source/QAT.md
  docs/source/backend_quant.md
  docs/source/dynamic_quantization.md
  docs/source/quantization.md
Due: none

fix nlp release bugs
  examples/pytorch/nlp/huggingface_models/question-answering/quantization/ptq_static/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/fx/run_glue.py
Due: none

Fix TF mobilenet v3 quant (#274)
  examples/tensorflow/image_recognition/tensorflow_models/quantization/ptq/mobilenet_v3.yaml
Due: none

fix
  build_docs/source/_templates/layout.html
  build_docs/source/conf.py
Due: none

debug
  neural_coder/backends/pytorch_inc_dynamic_quant.yaml
  neural_coder/backends/pytorch_inc_dynamic_quant_fp8.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx_fp8.yaml
  neural_coder/coders/autoinc/autoinc_harness.py
  neural_coder/interface.py
  neural_coder/utils/handle_user_input.py
Due: .azure-pipelines/ut-ncoder.yml

Add Auto API for utils (#333)
  .azure-pipelines/scripts/codeScan/pydocstyle/scan_path.txt
  docs/source/api-documentation/apis.rst
  docs/source/api-documentation/utils.rst
  neural_compressor/utils/__init__.py
  neural_compressor/utils/collect_layer_histogram.py
  neural_compressor/utils/constant.py
  neural_compressor/utils/create_obj_from_config.py
  neural_compressor/utils/kl_divergence.py
  neural_compressor/utils/load_huggingface.py
  neural_compressor/utils/logger.py
  neural_compressor/utils/options.py
  neural_compressor/utils/pytorch.py
  neural_compressor/utils/utility.py
Due: .azure-pipelines/ut-basic.yml

debug (#370)
  neural_coder/backends/pytorch_inc_dynamic_quant.yaml
  neural_coder/backends/pytorch_inc_dynamic_quant_fp8.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx_fp8.yaml
  neural_coder/coders/autoinc/autoinc_harness.py
  neural_coder/interface.py
  neural_coder/utils/handle_user_input.py
Due: .azure-pipelines/ut-ncoder.yml

fix ssd_rs34
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/fx/python/main.py
  examples/pytorch/object_detection/ssd_resnet34/quantization/qat/fx/ssd/main.py
Due: none

add static
  build_docs/source/conf.py
Due: none

fix numpy version
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/eager/nnUnet/requirements.txt
  examples/pytorch/object_detection/maskrcnn/quantization/ptq/fx/requirements.txt
Due: none

fix version
  examples/pytorch/image_recognition/3d-unet/quantization/ptq/eager/nnUnet/requirements.txt
  examples/pytorch/object_detection/maskrcnn/quantization/ptq/fx/requirements.txt
Due: none
