Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

Enable Transformer LT search space for Dynamic Neural Architecture Search Toolkit (#197)
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
  .gitignore
  docs/source/NAS.md
  examples/notebook/dynas/MobileNetV3_Supernet_NAS.ipynb
  examples/notebook/dynas/Transformer_LT_Supernet_NAS.ipynb
  examples/notebook/dynas/results_transformerlt_macs.csv
  neural_compressor/conf/config.py
  neural_compressor/experimental/nas/dynas.py
  neural_compressor/experimental/nas/dynast/dynas_manager.py
  neural_compressor/experimental/nas/dynast/dynas_predictor.py
  neural_compressor/experimental/nas/dynast/dynas_search.py
  neural_compressor/experimental/nas/dynast/dynas_utils.py
  neural_compressor/experimental/nas/dynast/supernetwork/__init__.py
  neural_compressor/experimental/nas/dynast/supernetwork/machine_translation/__init__.py
  neural_compressor/experimental/nas/dynast/supernetwork/machine_translation/modules_supernetwork.py
  neural_compressor/experimental/nas/dynast/supernetwork/machine_translation/transformer_interface.py
  neural_compressor/experimental/nas/dynast/supernetwork/machine_translation/transformer_supernetwork.py
  neural_compressor/experimental/nas/nas.py
  neural_compressor/experimental/nas/nas_utils.py
  neural_compressor/experimental/nas/search_algorithms.py
  test/nas/test_nas.py
Due: .azure-pipelines/ut-basic.yml

Export Qlinear to QDQ (#224)
  neural_compressor/adaptor/ox_utils/operators/__init__.py
  neural_compressor/adaptor/ox_utils/operators/activation.py
  neural_compressor/adaptor/ox_utils/operators/argmax.py
  neural_compressor/adaptor/ox_utils/operators/attention.py
  neural_compressor/adaptor/ox_utils/operators/binary_op.py
  neural_compressor/adaptor/ox_utils/operators/concat.py
  neural_compressor/adaptor/ox_utils/operators/conv.py
  neural_compressor/adaptor/ox_utils/operators/direct_q8.py
  neural_compressor/adaptor/ox_utils/operators/embed_layernorm.py
  neural_compressor/adaptor/ox_utils/operators/gather.py
  neural_compressor/adaptor/ox_utils/operators/gavgpool.py
  neural_compressor/adaptor/ox_utils/operators/gemm.py
  neural_compressor/adaptor/ox_utils/operators/matmul.py
  neural_compressor/adaptor/ox_utils/operators/maxpool.py
  neural_compressor/adaptor/ox_utils/operators/ops.py
  neural_compressor/adaptor/ox_utils/operators/pad.py
  neural_compressor/adaptor/ox_utils/operators/pooling.py
  neural_compressor/adaptor/ox_utils/operators/resize.py
  neural_compressor/adaptor/ox_utils/operators/split.py
  neural_compressor/config.py
  neural_compressor/experimental/export/__init__.py
  neural_compressor/experimental/export/qlinear2qdq.py
  neural_compressor/model/onnx_model.py
  test/export/test_onnx_qlieanr_to_qdq.py
Due: .azure-pipelines/ut-basic.yml

Update code for PR 244
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/main.py
Due: none

Update run_tensorflow_models_trigger.sh
  .azure-pipelines/scripts/models/run_tensorflow_models_trigger.sh
Due: none

fix space issue
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/main.py
Due: none

fix Model import
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/main.py
Due: none

fix pre-ci issue
  neural_compressor/adaptor/tensorflow.py
Due: .azure-pipelines/ut-basic.yml

fix(mse_v2): fix a bug to support ITEX.
  neural_compressor/adaptor/tensorflow.py
Due: .azure-pipelines/ut-basic.yml

update qa example
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/pytorch_pruner/eager/run_qa_no_trainer.py
Due: none

pruning doc modify
  docs/source/_static/imgs/pruning/Pruning_patterns.JPG
  docs/source/_static/imgs/pruning/Pruning_patterns.PNG
  docs/source/_static/imgs/pruning/Pruning_schedule.JPG
  docs/source/pruning_details.md
  neural_compressor/pruner/README.md
Due: .azure-pipelines/ut-basic.yml

fix(mse_v2): switch to basic for not supported framework.
  neural_compressor/experimental/quantization.py
Due: .azure-pipelines/ut-basic.yml

pruning doc modify
  neural_compressor/pruner/README.md
Due: .azure-pipelines/ut-basic.yml

Fixed pruning and distillation bug and remove invalid code (#251)
  docs/source/dataloader.md
  docs/source/dataset.md
  neural_compressor/__init__.py
  neural_compressor/experimental/common/criterion.py
  neural_compressor/experimental/distillation.py
  neural_compressor/quantization.py
  neural_compressor/training.py
  test/distillation/test_distillation.py
  test/metric/test_register_metric_transform.py
  test/quantization/test_quantization.py
Due: .azure-pipelines/ut-basic.yml

add keras-in/keras-out to INC (#243)
  .azure-pipelines/scripts/ut/env_setup.sh
  .azure-pipelines/scripts/ut/run_basic_itex.sh
  examples/keras/mnist/README.md
  examples/keras/mnist/mnist.py
  examples/keras/mnist/requirements.txt
  neural_compressor/adaptor/keras.py
  neural_compressor/adaptor/keras.yaml
  neural_compressor/adaptor/keras_utils/__init__.py
  neural_compressor/adaptor/keras_utils/quantizer.py
  neural_compressor/conf/config.py
  neural_compressor/conf/pythonic_config.py
  neural_compressor/experimental/benchmark.py
  neural_compressor/experimental/common/model.py
  neural_compressor/experimental/component.py
  neural_compressor/experimental/data/dataloaders/dataloader.py
  neural_compressor/experimental/metric/metric.py
  neural_compressor/model/keras_model.py
  neural_compressor/model/model.py
  neural_compressor/strategy/strategy.py
  test/itex/test_keras_in_keras_out.py
Due: .azure-pipelines/ut-basic.yml

add warning when meets unsupported config (#236)
  neural_compressor/strategy/utils/tuning_space.py
  test/strategy/test_tuning_space.py
Due: .azure-pipelines/ut-basic.yml

CI UT enhance (#258)
  .azure-pipelines/scripts/ut/run_basic_others.sh
  .azure-pipelines/ut-basic.yml
  .azure-pipelines/ut-ncoder.yml
  .azure-pipelines/ut-ux.yml
  test/itex/test_tensorflow_itex_basic.py
Due: none

Neural Coder enable launcher bench (#260)
  neural_coder/__main__.py
Due: .azure-pipelines/ut-ncoder.yml

pruning doc modify
  docs/source/_static/imgs/pruning/Regularization.JPG
  neural_compressor/pruner/README.md
Due: .azure-pipelines/ut-basic.yml

fix(mse_v2): add more info for unsupported framework.
  neural_compressor/experimental/quantization.py
Due: .azure-pipelines/ut-basic.yml

moving ./pruning to ./pruner/pruning setting the default pruning in training.py to pruning new API
  neural_compressor/__init__.py
  neural_compressor/pruner/README.md
  neural_compressor/pruner/pruning.py
  neural_compressor/training.py
  test/pruning/test_pruning.py
  test/pruning/test_pruning_config.py
  test/pruning/test_pruning_criteria.py
  test/pruning/test_pruning_patterns.py
  test/pruning/test_pruning_regs.py
  test/pruning/test_pruning_schedulers.py
  test/pruning/test_pruning_types.py
Due: .azure-pipelines/ut-basic.yml

remove experimental import
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/README.md
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/run_classifier.py
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/README.md
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/main.py
  examples/tensorflow/nlp/transformer_lt_mlperf/quantization/ptq/README.md
  examples/tensorflow/nlp/transformer_lt_mlperf/quantization/ptq/run_inference.py
Due: none

fix typo
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq/run_benchmark.sh
Due: none

recover readme
  neural_compressor/pruner/README.md
Due: .azure-pipelines/ut-basic.yml

Update spr-base version number (#259)
  .azure-pipelines/scripts/ut/env_setup.sh
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/adaptor/tensorflow.yaml
  neural_compressor/adaptor/tf_utils/graph_converter.py
  neural_compressor/adaptor/tf_utils/graph_converter_without_calib.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/fuse_gelu.py
  neural_compressor/adaptor/tf_utils/util.py
  test/itex/test_tensorflow_itex_basic.py
Due: .azure-pipelines/ut-basic.yml

Fixed calibration sampling size error
  neural_compressor/config.py
Due: .azure-pipelines/ut-basic.yml

fix bugs
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/run_classifier.py
  examples/tensorflow/nlp/distilbert_base/quantization/ptq/run_benchmark.sh
  examples/tensorflow/nlp/distilbert_base/quantization/ptq/run_tuning.sh
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/README.md
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/main.py
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/run_benchmark.sh
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/run_tuning.sh
  examples/tensorflow/nlp/transformer_lt_mlperf/quantization/ptq/run_tuning.sh
Due: none

update, not finished
  neural_compressor/pruner/pruning.py
  neural_compressor/training.py
  test/pruning/test_pruning_manager_entry.py
Due: .azure-pipelines/ut-basic.yml

add unit test
  test/pruning/test_pruning_manager_entry.py
Due: none

Update training fit API docstring
  neural_compressor/training.py
Due: .azure-pipelines/ut-basic.yml

fixed some bugs
  neural_compressor/adaptor/torch_utils/util.py
Due: .azure-pipelines/ut-basic.yml

add pruning examples and docs (#262)
  docs/source/_static/imgs/pruning/Pruning_patterns.JPG
  docs/source/_static/imgs/pruning/Pruning_patterns.PNG
  docs/source/_static/imgs/pruning/Pruning_schedule.JPG
  docs/source/_static/imgs/pruning/Regularization.JPG
  docs/source/pruning_details.md
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/pytorch_pruner/eager/run_qa_no_trainer.py
  neural_compressor/pruner/README.md
Due: .azure-pipelines/ut-basic.yml

fix(example): remove duplicate configs for efficientnet models.
  examples/.config/model_params_pytorch.json
Due: none

doc(mse_v2): add example docs for efficientnet_bx with mse_v2.
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/fx/README.md
Due: none

fix(example): add links to mse_v2.
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/fx/README.md
Due: none
