Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

update example links (#853)
  examples/README.md
Due: none

enhance distributed log
  neural_compressor/strategy/strategy.py
  test/strategy/test_distributed_tuning.py
Due: .azure-pipelines/ut-basic.yml

update example
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/run_glue.py
Due: none

remove baseline evaluatn called by quantization
  neural_compressor/experimental/quantization.py
Due: .azure-pipelines/ut-basic.yml

Fixed UT error and update docs
  docs/source/benchmark.md
  docs/source/mixed_precision.md
  examples/helloworld/tf_example5/README.md
  examples/keras/image_recognition/inception_resnet_v2/quantization/ptq/main.py
  examples/keras/image_recognition/inception_v3/quantization/ptq/main.py
  examples/keras/image_recognition/mobilenet_v2/quantization/ptq/main.py
  examples/keras/image_recognition/resnet101/quantization/ptq/main.py
  examples/keras/image_recognition/resnet50/quantization/ptq/main.py
  examples/keras/image_recognition/resnet50_fashion/quantization/ptq/main.py
  examples/keras/image_recognition/resnetv2_101/quantization/ptq/main.py
  examples/keras/image_recognition/resnetv2_50/quantization/ptq/main.py
  examples/keras/image_recognition/vgg16/quantization/ptq/main.py
  examples/keras/image_recognition/vgg19/quantization/ptq/main.py
  examples/keras/image_recognition/xception/quantization/ptq/main.py
  examples/onnxrt/nlp/mobilebert/quantization/ptq_static/main.py
  examples/onnxrt/nlp/onnx_model_zoo/gpt2/quantization/ptq_dynamic/gpt2.py
  examples/pytorch/nlp/huggingface_models/text-to-image/quantization/run_diffusion.py
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/fx/python/main.py
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/ipex/infer.py
  examples/pytorch/object_detection/ssd_resnet34/quantization/qat/fx/ssd/main.py
  examples/tensorflow/image_recognition/SavedModel/efficientnet_v2_b0/quantization/ptq/main.py
  examples/tensorflow/image_recognition/SavedModel/mobilenet_v1/quantization/ptq/main.py
  examples/tensorflow/image_recognition/SavedModel/mobilenet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/resnet_v2/quantization/qat/main.py
  neural_compressor/adaptor/tf_utils/graph_converter.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/pre_optimize.py
  neural_compressor/benchmark.py
  neural_compressor/config.py
  neural_compressor/mix_precision.py
  neural_compressor/model/model.py
  neural_compressor/training.py
  test/benchmark/test_benchmark_2.x.py
  test/mixed_precision/test_mixed_precision_keras_model.py
Due: .azure-pipelines/ut-basic.yml

Fixed docstring check error
  neural_compressor/benchmark.py
Due: .azure-pipelines/ut-basic.yml

Fix TRT EP
  neural_compressor/adaptor/onnxrt.py
Due: .azure-pipelines/ut-basic.yml

fix bug
  neural_compressor/adaptor/onnxrt.py
Due: .azure-pipelines/ut-basic.yml

add device assert
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

fix bug
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

fix calib backend
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/ox_utils/calibration.py
Due: .azure-pipelines/ut-basic.yml

Fixed UT error
  neural_compressor/adaptor/tf_utils/graph_converter.py
Due: .azure-pipelines/ut-basic.yml

fix trt bug
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/ox_utils/operators/binary_op.py
  neural_compressor/adaptor/ox_utils/quantizer.py
  neural_compressor/utils/options.py
  test/adaptor/onnxrt_adaptor/test_adaptor_onnxrt.py
Due: .azure-pipelines/ut-basic.yml

Fixed pylink error
  neural_compressor/adaptor/tf_utils/graph_converter.py
Due: .azure-pipelines/ut-basic.yml

Fix onnxrt backend issue (#856)
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/ox_utils/calibration.py
  neural_compressor/adaptor/ox_utils/operators/binary_op.py
  neural_compressor/adaptor/ox_utils/quantizer.py
  neural_compressor/strategy/strategy.py
  neural_compressor/utils/options.py
  test/adaptor/onnxrt_adaptor/test_adaptor_onnxrt.py
Due: .azure-pipelines/ut-basic.yml

fix for CI issue
  .azure-pipelines/scripts/ut/env_setup.sh
Due: none

deploy: c66e2e37eff500eda3e6e5fd8a50a086446bddd9
  latest/_sources/autoapi/neural_compressor/adaptor/ox_utils/quantizer/index.rst.txt
  latest/autoapi/neural_compressor/adaptor/ox_utils/quantizer/index.html
  latest/searchindex.js
Due: none

fix error
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_dynamic/instll_layoutlmft.sh
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_dynamic/main.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_dynamic/model.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_static/main.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_dynamic/main.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_static/main.py
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

update the initialization method
  neural_compressor/strategy/auto.py
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

fix CI issue (#857)
  .azure-pipelines/scripts/ut/env_setup.sh
Due: none

Adapt Neural Coder to INC New API
  neural_coder/backends/keras_inc.yaml
  neural_coder/backends/onnx_inc_dynamic_quant.yaml
  neural_coder/backends/onnx_inc_static_quant_qdq.yaml
  neural_coder/backends/onnx_inc_static_quant_qlinear.yaml
  neural_coder/coders/tensorflow/inc.py
Due: .azure-pipelines/ut-ncoder.yml

fit long lines.
  neural_compressor/compression/pruner/patterns.py
Due: .azure-pipelines/ut-basic.yml

Fix slim & pruning torch import issue. (#820)
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/run_clm_no_trainer.py
  examples/pytorch/nlp/huggingface_models/question-answering/model_slim/feed_forward_network_slim/run_ffn_slim_pipeline.py
  examples/pytorch/nlp/huggingface_models/question-answering/model_slim/multi_heads_attention_slim/run_mha_slim_pipeline.py
  neural_compressor/compression/__init__.py
  neural_compressor/compression/callbacks.py
  neural_compressor/compression/pruner/model_slim/README.md
  neural_compressor/compression/pruner/model_slim/__init__.py
  neural_compressor/compression/pruner/model_slim/auto_slim.py
  neural_compressor/compression/pruner/model_slim/pattern_analyzer.py
  neural_compressor/compression/pruner/model_slim/weight_slim.py
  neural_compressor/experimental/compression/pruning.py
  neural_compressor/training.py
  test/pruning_2.x/test_auto_slim.py
Due: .azure-pipelines/ut-basic.yml

Adapt Neural Coder to INC New API Pytorch part
  neural_coder/backends/pytorch_inc_bf16.yaml
  neural_coder/backends/pytorch_inc_dynamic_quant.yaml
  neural_coder/backends/pytorch_inc_dynamic_quant_fp8.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx_fp8.yaml
  neural_coder/backends/pytorch_inc_static_quant_ipex.yaml
  neural_coder/extensions/neural_compressor_ext_lab/lib/test.js
Due: .azure-pipelines/ut-ncoder.yml

add opt-125m sq example
  examples/tensorflow/large_language_model/README.md
  examples/tensorflow/large_language_model/main.py
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/adaptor/tf_utils/graph_util.py
  neural_compressor/adaptor/tf_utils/quantize_graph_common.py
  neural_compressor/adaptor/tf_utils/smooth_quant_calibration.py
  neural_compressor/adaptor/tf_utils/smooth_quant_scaler.py
Due: .azure-pipelines/ut-basic.yml

deploy: 552459f37ae5b7a5e17eeac347b6f6ba3aebc9e8
  latest/_sources/autoapi/neural_compressor/compression/pruner/model_slim/auto_slim/index.rst.txt
  latest/_sources/autoapi/neural_compressor/compression/pruner/model_slim/pattern_analyzer/index.rst.txt
  latest/_sources/autoapi/neural_compressor/experimental/compression/pruning/index.rst.txt
  latest/autoapi/neural_compressor/compression/pruner/model_slim/auto_slim/index.html
  latest/autoapi/neural_compressor/compression/pruner/model_slim/pattern_analyzer/index.html
  latest/autoapi/neural_compressor/experimental/compression/pruning/index.html
  latest/searchindex.js
Due: none

change a lot
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/ipex/smooth_quant/eval_lambada.py
  neural_compressor/adaptor/torch_utils/smooth_quant.py
Due: .azure-pipelines/ut-basic.yml

fix round issue
  neural_compressor/adaptor/torch_utils/smooth_quant.py
Due: .azure-pipelines/ut-basic.yml

remove distributed execute & return fakemr odel on slave
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/run_glue.py
  neural_compressor/experimental/quantization.py
  neural_compressor/strategy/strategy.py
  neural_compressor/strategy/utils/utility.py
Due: .azure-pipelines/ut-basic.yml

Update code style
  neural_compressor/benchmark.py
  neural_compressor/data/__init__.py
  neural_compressor/metric/__init__.py
  neural_compressor/mix_precision.py
  neural_compressor/quantization.py
  neural_compressor/training.py
Due: .azure-pipelines/ut-basic.yml

Update docs
  docs/source/mixed_precision.md
  neural_compressor/quantization.py
Due: .azure-pipelines/ut-basic.yml

Enable ONNXRT layoutlmft & layoutlmv3 examples (#837)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  examples/.config/model_params_onnxrt.json
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_dynamic/README.md
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_dynamic/install_layoutlmft.sh
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_dynamic/main.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_dynamic/model.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_dynamic/requirements.txt
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_dynamic/run_benchmark.sh
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_dynamic/run_tuning.sh
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_static/README.md
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_static/install_layoutlmft.sh
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_static/main.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_static/model.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_static/requirements.txt
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_static/run_benchmark.sh
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmft/quantization/ptq_static/run_tuning.sh
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_dynamic/README.md
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_dynamic/install_layoutlmft.sh
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_dynamic/main.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_dynamic/model.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_dynamic/requirements.txt
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_dynamic/run_benchmark.sh
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_dynamic/run_tuning.sh
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_static/README.md
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_static/install_layoutlmft.sh
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_static/main.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_static/model.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_static/requirements.txt
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_static/run_benchmark.sh
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_static/run_tuning.sh
  neural_compressor/adaptor/ox_utils/calibrator.py
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

modify neural coder cve
  neural_coder/extensions/neural_compressor_ext_lab/neural_compressor_ext_lab/labextension/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab/neural_compressor_ext_lab/labextension/package.json
  neural_coder/extensions/neural_compressor_ext_lab/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab/package.json
  neural_coder/extensions/neural_compressor_ext_lab_alibaba/package-lock.json
  neural_coder/extensions/neural_compressor_ext_lab_alibaba/package.json
Due: .azure-pipelines/ut-ncoder.yml

Update strategy.py
  neural_compressor/experimental/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

add ut
  neural_compressor/compression/pruner/pruners.py
  test/pruning_2.x/test_pruning.py
  test/pruning_2.x/test_pruning_patterns.py
Due: .azure-pipelines/ut-basic.yml

Fixed import error
  docs/source/pruning.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/run_glue_no_trainer.py
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/run_glue_no_trainer_mixed.py
  neural_compressor/__init__.py
  neural_compressor/compression/__init__.py
  neural_compressor/compression/pruner/README.md
  test/pruning_2_plus.x/test_pruning.py
  test/pruning_2_plus.x/test_pruning_block.py
Due: .azure-pipelines/ut-basic.yml

fix example inputs issue for IPEX smoothquant
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/smooth_quant.py
Due: .azure-pipelines/ut-basic.yml

fix pylint
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml
