Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

Update interface.py
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

Update eval_func.py
  neural_coder/coders/autoinc/eval_func.py
Due: .azure-pipelines/ut-ncoder.yml

set default batch_size to 32
  examples/.config/model_params_tensorflow.json
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/main.py
Due: none

[Strategy] Adjust the hints for import hyperopt and sigopt (#213)
  neural_compressor/contrib/strategy/sigopt.py
  neural_compressor/contrib/strategy/tpe.py
  test/requirements.txt
Due: .azure-pipelines/ut-basic.yml

Refine Keras Examples for INC New API
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/inception_v3.yaml
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/inception_v3_itex.yaml
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/mobilenet_v2.yaml
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/mobilenet_v2_itex.yaml
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/resnet101.yaml
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/resnet101_itex.yaml
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/resnetv2_101.yaml
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/resnetv2_101_itex.yaml
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/run_tuning.sh
Due: none

remove unnecessary args
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/main.py
Due: none

Update __main__.py
  neural_coder/__main__.py
Due: .azure-pipelines/ut-ncoder.yml

Support QuantizedConv + BiasAdd + Activation + Dequantize fusion (#207)
  .azure-pipelines/scripts/ut/env_setup.sh
  neural_compressor/adaptor/tf_utils/graph_converter.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/int8/fuse_conv_redundant_dequantize.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/int8/fuse_conv_requantize.py
  test/tfnewapi/test_tensorflow_graph_conv_requantize_fusion.py
  test/tfnewapi/test_tensorflow_graph_qdq_bn_fusion.py
  test/tfnewapi/test_tensorflow_graph_qdq_conv3d_fusion.py
Due: .azure-pipelines/ut-basic.yml

fix typos about criterion
  examples/pytorch/object_detection/yolo_v5/pruning/pytorch_pruner/eager/README.md
  neural_compressor/experimental/pytorch_pruner/criteria.py
  neural_compressor/experimental/pytorch_pruner/patterns.py
  neural_compressor/experimental/pytorch_pruner/pruner.py
Due: .azure-pipelines/ut-basic.yml

update code according to comments
  examples/.config/model_params_tensorflow.json
  examples/tensorflow/oob_models/quantization/ptq/README.md
  examples/tensorflow/oob_models/quantization/ptq/run_benchmark.sh
  examples/tensorflow/oob_models/quantization/ptq/tf_benchmark.py
  examples/tensorflow/recommendation/wide_deep_large_ds/quantization/ptq/README.md
  examples/tensorflow/recommendation/wide_deep_large_ds/quantization/ptq/inference.py
  examples/tensorflow/recommendation/wide_deep_large_ds/quantization/ptq/run_benchmark.sh
  examples/tensorflow/semantic_image_segmentation/3dunet-mlperf/quantization/ptq/README.md
  examples/tensorflow/semantic_image_segmentation/3dunet-mlperf/quantization/ptq/run_accuracy.py
  examples/tensorflow/semantic_image_segmentation/3dunet-mlperf/quantization/ptq/run_benchmark.sh
Due: none

Update README.md
  examples/notebook/tensorflow/vgg19_ibean/README.md
Due: none

aligned the interface between adaptor and strategy
  neural_compressor/adaptor/pytorch.py
  neural_compressor/strategy/hawq.py
Due: .azure-pipelines/ut-basic.yml

Neural Coder debug for HuggingFace run_qa.py (#220)
  neural_coder/coders/autoinc/eval_func.py
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

Update lpot_dict.txt
  .azure-pipelines/scripts/codeScan/pyspelling/lpot_dict.txt
Due: none

modify config
  examples/.config/model_params_tensorflow.json
Due: none

auto install neural_compressor
  neural_coder/extensions/neural_compressor_ext_vscode/src/NcProcessScript.py
  neural_coder/extensions/neural_compressor_ext_vscode/src/extension.ts
  neural_coder/extensions/neural_compressor_ext_vscode/src/neuralcoder.ts
Due: .azure-pipelines/ut-ncoder.yml

debug
  neural_compressor/experimental/benchmark.py
Due: .azure-pipelines/ut-basic.yml

modify model test condition (#209)
  .azure-pipelines/model-test.yml
  .azure-pipelines/scripts/models/collect_log_all.py
  .azure-pipelines/scripts/models/collect_log_model.py
  .azure-pipelines/scripts/models/generate_report.sh
Due: none

enhance export API and add 3 recipes
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/experimental/__init__.py
  neural_compressor/experimental/export/__init__.py
  neural_compressor/experimental/export/torch2onnx.py
  neural_compressor/experimental/export/utils.py
  neural_compressor/model/torch_model.py
  test/export/test_torch2onnx.py
Due: .azure-pipelines/ut-basic.yml

add(mse_v2): move new mse out to mse_v2.
  neural_compressor/adaptor/pytorch.py
  neural_compressor/strategy/mse_v2.py
  test/adaptor/tensorflow_adaptor/test_tensorflow_get_output_tensor.py
  test/strategy/test_mse_v2_pytorch.py
  test/strategy/test_mse_v2_tensorflow.py
Due: .azure-pipelines/ut-basic.yml

modify pruning config, add progressive test-case
  neural_compressor/conf/config.py
  neural_compressor/experimental/pytorch_pruner/__init__.py
  neural_compressor/experimental/pytorch_pruner/prune_utils.py
  test/pruning/test_pytorch_pruning_progressive.py
Due: .azure-pipelines/ut-basic.yml

fps fix
  neural_coder/extensions/neural_compressor_ext_vscode/src/NcProcessScript.py
  neural_coder/extensions/neural_compressor_ext_vscode/src/neuralcoder.ts
Due: .azure-pipelines/ut-ncoder.yml

add code for transformer_lt and transformer_lt_mlperf
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/README.md
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/main.py
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/run_benchmark.sh
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/run_tuning.sh
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/transformer_lt_itex.yaml
  examples/tensorflow/nlp/transformer_lt_mlperf/quantization/ptq/run_inference.py
  examples/tensorflow/nlp/transformer_lt_mlperf/quantization/ptq/run_tuning.sh
  examples/tensorflow/nlp/transformer_lt_mlperf/quantization/ptq/transformer_lt_mlperf.yaml
  examples/tensorflow/nlp/transformer_lt_mlperf/quantization/ptq/transformer_lt_mlperf_itex.yaml
Due: none

add hawq metric logical
  neural_compressor/adaptor/torch_utils/hawq_metric.py
Due: .azure-pipelines/ut-basic.yml

add call hawq function
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

enable hawq interface
  neural_compressor/strategy/hawq.py
Due: .azure-pipelines/ut-basic.yml

Jianyuzh add vgg19 tfhub example (#183)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  examples/README.md
  examples/notebook/tensorflow/vgg19_ibean/README.md
  examples/notebook/tensorflow/vgg19_ibean/compare_perf.py
  examples/notebook/tensorflow/vgg19_ibean/conda_set_env.sh
  examples/notebook/tensorflow/vgg19_ibean/devcloud_setup_env.sh
  examples/notebook/tensorflow/vgg19_ibean/inc_quantize_model.py
  examples/notebook/tensorflow/vgg19_ibean/inc_quantize_vgg19.ipynb
  examples/notebook/tensorflow/vgg19_ibean/pip_set_env.sh
  examples/notebook/tensorflow/vgg19_ibean/profiling_inc.py
  examples/notebook/tensorflow/vgg19_ibean/run_in_intel_devcloud.sh
  examples/notebook/tensorflow/vgg19_ibean/run_jupyter.sh
  examples/notebook/tensorflow/vgg19_ibean/run_sample.sh
  examples/notebook/tensorflow/vgg19_ibean/train_model.py
  examples/notebook/tensorflow/vgg19_ibean/vgg19.yaml
Due: none

add strategy kwargs for new api
  neural_compressor/conf/config.py
  neural_compressor/config.py
Due: .azure-pipelines/ut-basic.yml

fixed some bugs
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

update torch2onnx recipe
  neural_compressor/config.py
  neural_compressor/experimental/export/torch2onnx.py
  neural_compressor/model/torch_model.py
  test/export/test_torch2onnx.py
Due: .azure-pipelines/ut-basic.yml

Support Conv2D + BiasAdd + Relu + Sum fusion
  neural_compressor/adaptor/tensorflow.yaml
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_conv.py
Due: .azure-pipelines/ut-basic.yml

add uts
  neural_compressor/conf/config.py
  neural_compressor/config.py
  test/strategy/test_basic.py
  test/strategy/test_sigopt.py
Due: .azure-pipelines/ut-basic.yml

modify details
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/run_tuning.sh
Due: none

remove the line for debug
  neural_compressor/conf/config.py
Due: .azure-pipelines/ut-basic.yml

update ut case
  test/tfnewapi/test_tensorflow_graph_conv_fusion.py
  test/tfnewapi/test_tensorflow_graph_qdq_conv_fusion.py
Due: none

delete some unused code
  neural_compressor/strategy/hawq.py
Due: .azure-pipelines/ut-basic.yml

enable model.eval() first
  neural_compressor/adaptor/torch_utils/hawq_metric.py
Due: .azure-pipelines/ut-basic.yml

fix tuning and benchmark gap compared with old api
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/main.py
Due: none
