Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      steps:
      - template: template/ut-basic-template.yml
        parameters:
          dockerTemplate: commonDockerTemplate
          dockerTemplateRepoName: neural-compressor
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

fix resnet50_v1_5 fp32 benchmark issue
  examples/tensorflow/image_recognition/tensorflow_models/resnet50_v1_5/quantization/ptq/main.py
Due: none

fix benchmark issue
  examples/tensorflow/image_recognition/tensorflow_models/efficientnet-b0/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/inception_resnet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/inception_v1/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/inception_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/inception_v3/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/inception_v4/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/mobilenet_v1/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/mobilenet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/mobilenet_v3/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/resnet101/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/resnet50_v1/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/resnet50_v1_5/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/resnet_v2_101/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/resnet_v2_152/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/resnet_v2_50/quantization/ptq/main.py
Due: none

fix performance gap
  examples/tensorflow/image_recognition/tensorflow_models/densenet121/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/densenet161/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/densenet169/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/efficientnet-b0/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/resnet50_v1_5/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/resnet_v2_152/quantization/ptq/main.py
Due: none

fix performance gap
  examples/tensorflow/image_recognition/SavedModel/efficientnet_v2_b0/quantization/ptq/README.md
  examples/tensorflow/image_recognition/SavedModel/mobilenet_v1/quantization/ptq/README.md
  examples/tensorflow/image_recognition/SavedModel/mobilenet_v1/quantization/ptq/main.py
  examples/tensorflow/image_recognition/SavedModel/mobilenet_v2/quantization/ptq/README.md
  examples/tensorflow/image_recognition/SavedModel/mobilenet_v2/quantization/ptq/main.py
Due: none

add reduce range for export (#508)
  examples/pytorch/image_recognition/torchvision_models/optimization_pipeline/prune_and_ptq/fx/main.py
  examples/pytorch/image_recognition/torchvision_models/optimization_pipeline/qat_during_prune/eager/main.py
  neural_compressor/adaptor/pytorch.py
  neural_compressor/experimental/export/torch2onnx.py
  neural_compressor/model/torch_model.py
Due: .azure-pipelines/ut-basic.yml

No need to be logged in for SD model download (#481)
  examples/pytorch/diffusion_model/diffusers/textual_inversion/README.md
Due: none

Update quantization with mixed precision document
  docs/source/quantization_mixed_precision.md
Due: none

Update inc_dict.txt
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
Due: none

Update quantization with mixed precision document (#516)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  docs/source/quantization_mixed_precision.md
Due: none

deploy: 9dfef444ce24d05b17b1d3f5af521268d34807a2
  latest/_sources/docs/source/quantization_mixed_precision.md.txt
  latest/docs/source/quantization_mixed_precision.html
  latest/searchindex.js
Due: none

Supported multi-nodes for QAT on ResNet.
  examples/pytorch/image_recognition/torchvision_models/quantization/qat/fx/README.md
  examples/pytorch/image_recognition/torchvision_models/quantization/qat/fx/main.py
  examples/pytorch/image_recognition/torchvision_models/quantization/qat/fx/requirements.txt
Due: none

bypass onnx exporting on slave ndoes
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/run_glue.py
Due: none

default use inc API in neural coder
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

enable use_inc parameter in launcher
  neural_coder/launcher.py
Due: .azure-pipelines/ut-ncoder.yml

add run_glue pre-requisites for launcher example
  neural_coder/docs/PythonLauncher.md
Due: .azure-pipelines/ut-ncoder.yml

modify indent level for adapting to optimum api
  neural_coder/coders/autoinc/eval_func.py
Due: .azure-pipelines/ut-ncoder.yml

remove unnecessary judgements
  neural_coder/backends/pytorch_inc_dynamic_quant.yaml
  neural_coder/backends/pytorch_inc_dynamic_quant_fp8.yaml
  neural_coder/backends/pytorch_inc_huggingface_optimum_dynamic.yaml
  neural_coder/backends/pytorch_inc_huggingface_optimum_static.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx_fp8.yaml
  neural_coder/backends/pytorch_inc_static_quant_ipex.yaml
Due: .azure-pipelines/ut-ncoder.yml

typo
  docs/source/fp8.md
Due: none

update tensorflow requirements
  examples/helloworld/README.md
  examples/helloworld/tf_example1/README.md
  examples/helloworld/tf_example1/requirements.txt
  examples/helloworld/tf_example2/README.md
  examples/helloworld/tf_example2/requirements.txt
  examples/helloworld/tf_example3/README.md
  examples/helloworld/tf_example3/requirements.txt
  examples/helloworld/tf_example4/README.md
  examples/helloworld/tf_example4/requirements.txt
  examples/helloworld/tf_example5/README.md
  examples/helloworld/tf_example5/requirements.txt
  examples/helloworld/tf_example6/README.md
  examples/helloworld/tf_example6/requirements.txt
  examples/helloworld/tf_example7/README.md
  examples/helloworld/tf_example7/requirements.txt
  examples/keras/mnist/README.md
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/inception_v3/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/README.md
  examples/tensorflow/image_recognition/keras_models/mobilenet_v2/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/resnet101/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/README.md
  examples/tensorflow/image_recognition/keras_models/resnetv2_101/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/README.md
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/README.md
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/README.md
  examples/tensorflow/nlp/transformer_lt/quantization/ptq/README.md
  examples/tensorflow/nlp/transformer_lt_mlperf/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_inception_resnet_v2/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet101/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_resnet50/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/mask_rcnn_inception_v2/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/ssd_mobilenet_v1/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet34/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/ssd_resnet50_v1/quantization/ptq/README.md
  examples/tensorflow/object_detection/yolo_v3/quantization/ptq/README.md
  examples/tensorflow/oob_models/quantization/ptq/README.md
  examples/tensorflow/recommendation/wide_deep_large_ds/quantization/ptq/README.md
  examples/tensorflow/semantic_image_segmentation/3dunet-mlperf/quantization/ptq/README.md
Due: none

update pytorch requirements
  examples/pytorch/image_recognition/CNN-2/distillation/eager/README.md
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/fx/README.md
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/ipex/README.md
  examples/pytorch/image_recognition/torchvision_models/quantization/qat/fx/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_static/fx/README.md
  examples/pytorch/nlp/huggingface_models/question-answering/quantization/ptq_static/fx/README.md
  examples/pytorch/nlp/huggingface_models/question-answering/quantization/ptq_static/ipex/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-to-image/quantization/README.md
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/fx/README.md
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/ipex/README.md
  examples/pytorch/object_detection/ssd_resnet34/quantization/qat/fx/README.md
  examples/pytorch/recommendation/dlrm/quantization/ptq/fx/README.md
  examples/pytorch/recommendation/dlrm/quantization/ptq/ipex/README.md
  examples/pytorch/speech_recognition/torchaudio_models/quantization/ptq_static/fx/README.md
Due: none

migrate PT yolo_v3 into 2.0 API (#475)
  examples/.config/model_params_pytorch.json
  examples/README.md
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/LICENSE
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/README.md
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/YOLOV3_README.md
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/config/coco.data
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/config/create_custom_model.sh
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/config/custom.data
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/config/yolov3-tiny.cfg
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/config/yolov3.cfg
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/data/coco.names
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/data/custom/classes.names
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/data/custom/images/train.jpg
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/data/custom/labels/train.txt
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/data/custom/train.txt
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/data/custom/valid.txt
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/data/get_coco_dataset.sh
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/data/samples/dog.jpg
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/data/samples/eagle.jpg
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/data/samples/field.jpg
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/data/samples/giraffe.jpg
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/data/samples/herd_of_horses.jpg
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/data/samples/messi.jpg
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/data/samples/person.jpg
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/data/samples/room.jpg
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/data/samples/street.jpg
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/detect.py
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/models.py
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/requirements.txt
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/run_benchmark.sh
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/run_tuning.sh
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/test.py
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/train.py
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/utils/__init__.py
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/utils/augmentations.py
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/utils/datasets.py
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/utils/logger.py
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/utils/parse_config.py
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/utils/utils.py
  examples/pytorch/object_detection/yolo_v3/quantization/ptq_static/fx/weights/download_weights.sh
Due: none

update onnx requirements
  examples/onnxrt/body_analysis/onnx_model_zoo/arcface/quantization/ptq/README.md
  examples/onnxrt/body_analysis/onnx_model_zoo/arcface/quantization/ptq/requirements.txt
  examples/onnxrt/body_analysis/onnx_model_zoo/emotion_ferplus/quantization/ptq/README.md
  examples/onnxrt/body_analysis/onnx_model_zoo/emotion_ferplus/quantization/ptq/requirements.txt
  examples/onnxrt/body_analysis/onnx_model_zoo/ultraface/quantization/ptq/README.md
  examples/onnxrt/body_analysis/onnx_model_zoo/ultraface/quantization/ptq/requirements.txt
  examples/onnxrt/image_recognition/onnx_model_zoo/fcn/quantization/ptq/README.md
  examples/onnxrt/image_recognition/onnx_model_zoo/fcn/quantization/ptq/requirements.txt
  examples/onnxrt/image_recognition/onnx_model_zoo/squeezenet/quantization/ptq/README.md
  examples/onnxrt/image_recognition/onnx_model_zoo/squeezenet/quantization/ptq/requirements.txt
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_dynamic/README.md
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_dynamic/requirements.txt
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_static/README.md
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_static/requirements.txt
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_dynamic/README.md
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_static/README.md
  examples/onnxrt/nlp/onnx_model_zoo/BiDAF/quantization/ptq/README.md
  examples/onnxrt/nlp/onnx_model_zoo/BiDAF/quantization/ptq/requirements.txt
  examples/onnxrt/nlp/onnx_model_zoo/bert-squad/quantization/ptq/README.md
  examples/onnxrt/nlp/onnx_model_zoo/bert-squad/quantization/ptq/requirements.txt
  examples/onnxrt/nlp/onnx_model_zoo/gpt2/quantization/ptq/README.md
  examples/onnxrt/nlp/onnx_model_zoo/gpt2/quantization/ptq/requirements.txt
  examples/onnxrt/nlp/onnx_model_zoo/mobilebert/quantization/ptq/README.md
  examples/onnxrt/nlp/onnx_model_zoo/mobilebert/quantization/ptq/requirements.txt
  examples/onnxrt/object_detection/onnx_model_zoo/DUC/quantization/ptq/README.md
  examples/onnxrt/object_detection/onnx_model_zoo/DUC/quantization/ptq/requirements.txt
Due: none

modify link
  neural_coder/docs/SupportMatrix.md
Due: .azure-pipelines/ut-ncoder.yml

fix spell
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  docs/source/installation_guide.md
Due: none

update docs hyper link (#519)
  neural_coder/docs/SupportMatrix.md
Due: .azure-pipelines/ut-ncoder.yml

deploy: 1c2c81c284e1c405b88fa37f1c0544c1ab139248
  latest/_sources/docs/source/neural_coder/docs/SupportMatrix.md.txt
  latest/docs/source/neural_coder/docs/SupportMatrix.html
Due: none

update build script to adapt new chapters, fix link issues
  .gitignore
  docs/build_docs/build.sh
  docs/build_docs/source/index.rst
  docs/source/examples_readme.md
  docs/source/get_started.md
  docs/source/installation_guide.md
  docs/source/legal_information.md
  docs/source/releases_info.md
  docs/source/user_guide.md
Due: none

enable example on multi nodes
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/run_distributed_tuning.sh
Due: none

fix mobilenet_v1 benchmark issue
  examples/tensorflow/image_recognition/SavedModel/mobilenet_v1/quantization/ptq/main.py
Due: none

fixed pattern field missing for diagnosis
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic.yml

fix prepare issue
  examples/pytorch/image_recognition/torchvision_models/distillation/eager/main.py
Due: none

Neural Coder use INC API by default instead of Optimum (#518)
  neural_coder/backends/pytorch_inc_dynamic_quant.yaml
  neural_coder/backends/pytorch_inc_dynamic_quant_fp8.yaml
  neural_coder/backends/pytorch_inc_huggingface_optimum_dynamic.yaml
  neural_coder/backends/pytorch_inc_huggingface_optimum_static.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx_fp8.yaml
  neural_coder/backends/pytorch_inc_static_quant_ipex.yaml
  neural_coder/coders/autoinc/eval_func.py
  neural_coder/docs/PythonLauncher.md
  neural_coder/interface.py
  neural_coder/launcher.py
Due: .azure-pipelines/ut-ncoder.yml

deploy: 3851227c599c56f1aded677f05622ef549594a8b
  latest/_sources/docs/source/neural_coder/docs/PythonLauncher.md.txt
  latest/docs/source/neural_coder/docs/PythonLauncher.html
  latest/searchindex.js
Due: none

update readme for TF image recognition models
  examples/.config/model_params_tensorflow.json
  examples/README.md
  examples/tensorflow/image_recognition/tensorflow_models/densenet121/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/densenet161/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/densenet169/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/efficientnet-b0/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/inception_resnet_v2/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/inception_v1/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/inception_v2/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/inception_v3/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/inception_v4/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/mobilenet_v1/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/mobilenet_v2/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/mobilenet_v3/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/resnet101/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/resnet50_v1/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/resnet50_v1_5/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/resnet_v2_101/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/resnet_v2_152/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/resnet_v2_50/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/vgg16/quantization/ptq/README.md
  examples/tensorflow/image_recognition/tensorflow_models/vgg19/quantization/ptq/README.md
Due: none

add introduction about code migration
  docs/source/migration.md
Due: none

Fix Readme Link Issue of TF Object Detection Examples (#501)
  examples/README.md
Due: none

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
