Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

Neural Coder mod launcher arg: "strategy" to "approach" (#201)
  neural_coder/__main__.py
  neural_coder/docs/PythonLauncher.md
Due: .azure-pipelines/ut-ncoder.yml

Disable multi instance for ITEX GPU benchmark (#204)
  neural_compressor/adaptor/tf_utils/graph_converter.py
  neural_compressor/experimental/benchmark.py
  test/itex/test_tensorflow_itex_basic.py
Due: .azure-pipelines/ut-basic.yml

Neural Coder debug for HuggingFace run_qa.py (#220)
  neural_coder/coders/autoinc/eval_func.py
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

fix load issue (#194)
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/ipex/main.py
  examples/pytorch/object_detection/ssd_resnet34/quantization/ptq/ipex/ssd_r34.py
Due: none

Neural Coder enable support of TensorFlow/Keras models to quantize (preliminary) (#217)
  neural_coder/coders/tensorflow/inc.py
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

Neural Coder enable backend support for intel_extension_for_transformers (#214)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  neural_coder/README.md
  neural_coder/__main__.py
  neural_coder/backends/intel_extension_for_transformers.yaml
  neural_coder/coders/autoinc/autoinc_harness.py
  neural_coder/coders/pytorch/change_trainer_to_nlptrainer.py
  neural_coder/docs/PythonLauncher.md
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

Fix NTM-One-Shot failed with KeyError (#210)
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/pre_optimize.py
Due: .azure-pipelines/ut-basic.yml

Fix Seq2seqAttn model tuning issue (#172)
  neural_compressor/adaptor/tf_utils/graph_rewriter/int8/fuse_matmul_redundant_dequantize.py
Due: .azure-pipelines/ut-basic.yml

Added distributed training support for distillation of MobileNetV2. (#166)
  examples/pytorch/image_recognition/MobileNetV2-0.35/distillation/eager/README.md
  examples/pytorch/image_recognition/MobileNetV2-0.35/distillation/eager/main.py
  examples/pytorch/image_recognition/MobileNetV2-0.35/distillation/eager/requirements.txt
Due: none

Neural Coder launcher debug (#215)
  neural_coder/__main__.py
Due: .azure-pipelines/ut-ncoder.yml

Support QuantizedConv + BiasAdd + Activation + Dequantize fusion (#207)
  .azure-pipelines/scripts/ut/env_setup.sh
  neural_compressor/adaptor/tf_utils/graph_converter.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/int8/fuse_conv_redundant_dequantize.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/int8/fuse_conv_requantize.py
  test/tfnewapi/test_tensorflow_graph_conv_requantize_fusion.py
  test/tfnewapi/test_tensorflow_graph_qdq_bn_fusion.py
  test/tfnewapi/test_tensorflow_graph_qdq_conv3d_fusion.py
Due: .azure-pipelines/ut-basic.yml

[Strategy] Adjust the hints for import hyperopt and sigopt (#213)
  neural_compressor/contrib/strategy/sigopt.py
  neural_compressor/contrib/strategy/tpe.py
  test/requirements.txt
Due: .azure-pipelines/ut-basic.yml

Added distributed training support for distillation of CNN-2. (#208)
  examples/pytorch/image_recognition/CNN-2/distillation/eager/README.md
  examples/pytorch/image_recognition/CNN-2/distillation/eager/main.py
  examples/pytorch/image_recognition/CNN-2/distillation/eager/requirements.txt
Due: none

Fix TextRNN and centernet_hg104 tuning issue (#171)
  examples/tensorflow/oob_models/quantization/ptq/model_detail.py
  examples/tensorflow/oob_models/quantization/ptq/run_benchmark.sh
  examples/tensorflow/oob_models/quantization/ptq/run_tuning.sh
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/fuse_pad_with_conv.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/generic/fuse_pad_with_fp32_conv.py
  neural_compressor/adaptor/tf_utils/graph_rewriter/qdq/insert_qdq_pattern.py
  neural_compressor/adaptor/tf_utils/graph_util.py
Due: .azure-pipelines/ut-basic.yml

Support Conv2D + BiasAdd + Relu + Sum fusion (#221)
  neural_compressor/adaptor/tensorflow.yaml
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_conv.py
  test/tfnewapi/test_tensorflow_graph_conv_fusion.py
  test/tfnewapi/test_tensorflow_graph_qdq_conv_fusion.py
Due: .azure-pipelines/ut-basic.yml

Jianyuzh add vgg19 tfhub example (#183)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  examples/README.md
  examples/notebook/tensorflow/vgg19_ibean/README.md
  examples/notebook/tensorflow/vgg19_ibean/compare_perf.py
  examples/notebook/tensorflow/vgg19_ibean/conda_set_env.sh
  examples/notebook/tensorflow/vgg19_ibean/devcloud_setup_env.sh
  examples/notebook/tensorflow/vgg19_ibean/inc_quantize_model.py
  examples/notebook/tensorflow/vgg19_ibean/inc_quantize_vgg19.ipynb
  examples/notebook/tensorflow/vgg19_ibean/pip_set_env.sh
  examples/notebook/tensorflow/vgg19_ibean/profiling_inc.py
  examples/notebook/tensorflow/vgg19_ibean/run_in_intel_devcloud.sh
  examples/notebook/tensorflow/vgg19_ibean/run_jupyter.sh
  examples/notebook/tensorflow/vgg19_ibean/run_sample.sh
  examples/notebook/tensorflow/vgg19_ibean/train_model.py
  examples/notebook/tensorflow/vgg19_ibean/vgg19.yaml
Due: none

modify model test condition (#209)
  .azure-pipelines/model-test.yml
  .azure-pipelines/scripts/models/collect_log_all.py
  .azure-pipelines/scripts/models/collect_log_model.py
  .azure-pipelines/scripts/models/generate_report.sh
Due: none

New Export with API 2.0 (#195)
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/config.py
  neural_compressor/experimental/__init__.py
  neural_compressor/experimental/export/__init__.py
  neural_compressor/experimental/export/torch2onnx.py
  neural_compressor/experimental/export/utils.py
  neural_compressor/model/torch_model.py
  test/export/test_torch2onnx.py
Due: .azure-pipelines/ut-basic.yml

Support 'Square', 'Sum', 'SparseSegmentSqrtN' BF16 ops in TensorFlow backend (#223)
  neural_compressor/adaptor/tensorflow.yaml
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_matmul.py
Due: .azure-pipelines/ut-basic.yml

fix model conversion
  neural_compressor/experimental/model_conversion.py
Due: .azure-pipelines/ut-basic.yml

Add export examples for new API (#225)
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/run_glue_tune.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_dynamic/eager/run_tuning.sh
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/run_glue.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/ptq_static/fx/run_tuning.sh
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/requirements.txt
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/run_glue_tune.py
  examples/pytorch/nlp/huggingface_models/text-classification/quantization/qat/fx/run_tuning.sh
Due: none

Add optimization level(conservative tuning) for tuning strategy (#227)
  neural_compressor/conf/config.py
  neural_compressor/experimental/quantization.py
  neural_compressor/objective.py
  neural_compressor/strategy/conservative.py
  neural_compressor/strategy/st_utils/tuning_space.py
  neural_compressor/strategy/strategy.py
  test/strategy/test_optimization_level_2.x.py
Due: .azure-pipelines/ut-basic.yml

Neural Coder release note for INC 2.0 (#240)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  neural_coder/docs/release_notes/v0.4.md
Due: .azure-pipelines/ut-ncoder.yml

fix some typos in rls note readme (#241)
  neural_coder/docs/release_notes/v0.4.md
Due: .azure-pipelines/ut-ncoder.yml

Neural Coder update documentation for INC2.0 (#232)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  neural_coder/README.md
  neural_coder/docs/AWSSageMakerSupport.md
  neural_coder/docs/BigDLNanoSupport.md
  neural_coder/docs/SupportMatrix.md
Due: .azure-pipelines/ut-ncoder.yml

update azure pipeline (#229)
  .azure-pipelines/model-test.yml
  .azure-pipelines/scripts/ut/run_basic_adaptor.sh
  .azure-pipelines/scripts/ut/run_basic_adaptor_tfnewapi.sh
  .azure-pipelines/scripts/ut/run_basic_ipex.sh
  .azure-pipelines/scripts/ut/run_basic_itex.sh
  .azure-pipelines/scripts/ut/run_basic_others.sh
  .azure-pipelines/scripts/ut/run_ncoder.sh
  .azure-pipelines/scripts/ut/run_ux.sh
Due: none

Added optimization level for new API & support sub-parameter setting for strategy (#222)
  neural_compressor/conf/config.py
  neural_compressor/conf/pythonic_config.py
  neural_compressor/config.py
  test/strategy/test_basic.py
  test/strategy/test_sigopt.py
Due: .azure-pipelines/ut-basic.yml

Enable BigDL Nano API in Neural Coder (#238)
  neural_coder/backends/nano_bf16.yaml
  neural_coder/backends/nano_bf16_channels_last.yaml
  neural_coder/backends/nano_bf16_ipex.yaml
  neural_coder/backends/nano_bf16_ipex_channels_last.yaml
  neural_coder/backends/nano_fp32_channels_last.yaml
  neural_coder/backends/nano_fp32_ipex.yaml
  neural_coder/backends/nano_fp32_ipex_channels_last.yaml
  neural_coder/backends/nano_gpu_to_cpu.yaml
  neural_coder/backends/nano_int8.yaml
  neural_coder/backends/nano_jit_bf16.yaml
  neural_coder/backends/nano_jit_bf16_channels_last.yaml
  neural_coder/backends/nano_jit_bf16_ipex.yaml
  neural_coder/backends/nano_jit_bf16_ipex_channels_last.yaml
  neural_coder/backends/nano_jit_fp32.yaml
  neural_coder/backends/nano_jit_fp32_channels_last.yaml
  neural_coder/backends/nano_jit_fp32_ipex.yaml
  neural_coder/backends/nano_jit_fp32_ipex_channels_last.yaml
  neural_coder/backends/nano_onnxruntime_fp32.yaml
  neural_coder/backends/nano_onnxruntime_int8_qlinear.yaml
  neural_coder/backends/nano_openvino_fp32.yaml
  neural_coder/backends/nano_openvino_int8.yaml
Due: .azure-pipelines/ut-ncoder.yml

use newapi
  docs/source/model_conversion.md
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/README.md
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/benchmark.py
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/main.py
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/mnist.yaml
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/mnist_itex.yaml
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/README
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/main.py
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/resnet50.yaml
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/run_tuning.sh
  examples/tensorflow/image_recognition/resnet_v2/quantization/qat/resnet_v2.py
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/experimental/model_conversion.py
  test/model/test_model_conversion.py
  test/quantization/test_tensorflow_qat.py
Due: .azure-pipelines/ut-basic.yml

update example config
  examples/.config/model_params_tensorflow.json
  neural_compressor/adaptor/tensorflow.py
  test/quantization/test_tensorflow_qat.py
Due: .azure-pipelines/ut-basic.yml

remove resnetv2 qat example
  examples/tensorflow/image_recognition/resnet_v2/quantization/qat/README.md
  examples/tensorflow/image_recognition/resnet_v2/quantization/qat/resnet_v2.py
Due: none

fix adaptor
  neural_compressor/adaptor/tensorflow.py
Due: .azure-pipelines/ut-basic.yml

rebase master
  examples/keras/mnist/mnist.py
  test/itex/test_keras_in_keras_out.py
Due: none

resolved the conflicts
  test/strategy/test_mse_v2_2.x.py
Due: none

Refactor Quantization Aware Training of TF backend
  examples/.config/model_params_tensorflow.json
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/README.md
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/benchmark.py
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/convert.py
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/main.py
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/mnist.yaml
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/mnist_itex.yaml
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/qat.py
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/run_tuning.sh
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/train.py
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/README
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/main.py
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/prepare_model.py
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/run_benchmark.sh
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/run_tuning.sh
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/__init__.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/fake_quantize.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/quantize_config.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/quantize_helper.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/quantize_layers/optimize_layer.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/quantize_layers/quantize_layer_add.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/quantize_layers/quantize_layer_base.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/quantize_layers/quantize_layer_bn.py
  neural_compressor/adaptor/tf_utils/quantize_graph/qat/quantize_wrapper.py
  neural_compressor/experimental/quantization.py
  neural_compressor/model/model.py
  test/model/test_model.py
  test/quantization/test_tensorflow_qat.py
Due: .azure-pipelines/ut-basic.yml

fix pylint
  neural_compressor/strategy/st_utils/tuning_space.py
Due: .azure-pipelines/ut-basic.yml

fix set_random_seed
  examples/tensorflow/image_recognition/keras_models/inception_resnet_v2/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/resnetv2_50/quantization/ptq/main.py
  examples/tensorflow/image_recognition/keras_models/xception/quantization/ptq/main.py
Due: none

update example requirements.txt
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/README.md
  examples/tensorflow/image_recognition/keras_models/mnist/quantization/qat/requirements.txt
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/README
  examples/tensorflow/image_recognition/keras_models/resnet50/quantization/qat/requirements.txt
Due: none

change configs, not finished
  docs/source/pythonic_style.md
  docs/source/user_yaml.md
  examples/pytorch/image_recognition/torchvision_models/optimization_pipeline/prune_and_ptq/eager/prune_conf.yaml
  examples/pytorch/image_recognition/torchvision_models/optimization_pipeline/qat_during_prune/eager/prune_conf.yaml
  examples/pytorch/nlp/huggingface_models/question-answering/optimization_pipeline/prune_once_for_all/fx/prune.yaml
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/README.md
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/bert_mini_2in4.yaml
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/bert_mini_4x1.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/optimization_pipeline/prune_once_for_all/fx/prune.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/README.md
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/bert_mini_mrpc_1xchannel.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/bert_mini_mrpc_2in4.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/bert_mini_mrpc_4x1.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/bert_mini_mrpc_mixed.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/bert_mini_sst2_1xchannel.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/bert_mini_sst2_2in4.yaml
  examples/pytorch/nlp/huggingface_models/text-classification/pruning/eager/bert_mini_sst2_4x1.yaml
  examples/pytorch/object_detection/yolo_v5/pruning/eager/README.md
  examples/pytorch/object_detection/yolo_v5/pruning/eager/yolov5s6_prune_1x1.yaml
  examples/pytorch/object_detection/yolo_v5/pruning/eager/yolov5s6_prune_4x1.yaml
  neural_compressor/conf/config.py
  neural_compressor/config.py
  neural_compressor/prune/patterns.py
  neural_compressor/prune/prune_utils.py
  neural_compressor/prune/pruners.py
  neural_compressor/prune/schedulers.py
  neural_compressor/template/pruning.yaml
  neural_compressor/ux/utils/yaml_utils.py
  test/pruning/test_pruning.py
  test/pruning/test_pruning_config.py
  test/pruning/test_pruning_criteria.py
  test/pruning/test_pruning_patterns.py
  test/pruning/test_pruning_regs.py
  test/pruning/test_pruning_schedulers.py
  test/pruning/test_pruning_types.py
  test/scheduler/test_oneshot.py
  test/ux/utils/workload/test_config.py
  test/ux/utils/workload/test_pruning.py
Due: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ux.yml
