Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, but not: neural_compressor/ux
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

test
  .azure-pipelines/model-test.yml
Due: none

simplify model
  .azure-pipelines/model-test.yml
Due: none

simplify modelList
  .azure-pipelines/model-test.yml
Due: none

add line
  .azure-pipelines/model-test.yml
Due: none

remove useless example setting(#1397)
  README.md
  examples/helloworld/tf_example1/test.py
  examples/helloworld/tf_example3/test.py
  examples/helloworld/tf_example4/test.py
  examples/helloworld/tf_example5/test.py
  examples/helloworld/tf_example6/test.py
  examples/helloworld/tf_example7/test.py
  examples/helloworld/tf_example8/test.py
  examples/tensorflow/recommendation/wide_deep_large_ds/quantization/ptq/inference.py
Due: none

modify parameters
  .azure-pipelines/model-test.yml
Due: none

modify displayName
  .azure-pipelines/model-test.yml
Due: none

modify name
  .azure-pipelines/model-test.yml
Due: none

Update bench.md (#1395)
  docs/bench.md
Due: none

Support calibration function for PyTorch quantization (#1399)
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/experimental/quantization.py
  neural_compressor/strategy/strategy.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch.py
  test/ipex/test_adaptor_ipex.py
Due: .azure-pipelines/ut-basic.yml

modify readme for Neural Coder (#1387)
  README.md
  neural_coder/README.md
  neural_coder/docs/Quantization.md
  neural_coder/extensions/screenshots/extmanager.png
Due: .azure-pipelines/ut-ncoder.yml

modify generate final report script
  .azure-pipelines/model-test.yml
Due: none

Optimize model template (#123)
  .azure-pipelines/model-test.yml
  .azure-pipelines/template/model-template.yml
Due: none

fix bug to support t5 static quantization (#1402)
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic.yml

feat(tensorflow): implemented calculate_op_sensitive, with several subroutine not finished.
  neural_compressor/adaptor/tensorflow.py
Due: .azure-pipelines/ut-basic.yml

update broad HWs verify data (#1403)
  README.md
  docs/publication_list.md
  docs/validated_model_list.md
Due: none

fix maskrcnn readme for pytorch<=1.11 (#1409)
  examples/pytorch/object_detection/maskrcnn/quantization/ptq/fx/README.md
Due: none

Neural Coder enables accuracy delta recording for INC features (#1410)
  neural_coder/backends/pytorch_inc_bf16.yaml
  neural_coder/backends/pytorch_inc_dynamic_quant.yaml
  neural_coder/backends/pytorch_inc_static_quant_fx.yaml
  neural_coder/coders/autoinc/autoinc_harness.py
  neural_coder/coders/pytorch/harness.py
  neural_coder/globals.py
  neural_coder/interface.py
Due: .azure-pipelines/ut-ncoder.yml

Mod readme of Neural Coder (#1405)
  README.md
  neural_coder/README.md
  neural_coder/docs/PythonAPI.md
  neural_coder/docs/SupportMatrix.md
Due: .azure-pipelines/ut-ncoder.yml

diffusion model example (#1404)
  examples/pytorch/diffusion_model/diffusers/textual_inversion/README.md
  examples/pytorch/diffusion_model/diffusers/textual_inversion/generated_images/graffiti.png
  examples/pytorch/diffusion_model/diffusers/textual_inversion/nezha/1.jpg
  examples/pytorch/diffusion_model/diffusers/textual_inversion/requirements.txt
  examples/pytorch/diffusion_model/diffusers/textual_inversion/textual_inversion.py
  examples/pytorch/diffusion_model/diffusers/textual_inversion/textual_inversion_ipex.py
Due: none

update version (#1412)
  conda_meta/basic/meta.yaml
  conda_meta/full/meta.yaml
  neural_compressor/version.py
Due: .azure-pipelines/ut-basic.yml

Disable quantization of concatv2 with (#1401)
  neural_compressor/adaptor/tf_utils/quantize_graph/qdq/fuse_qdq_concatv2.py
Due: .azure-pipelines/ut-basic.yml

feat(tensorflow): inspect the output
  neural_compressor/adaptor/tensorflow.py
Due: .azure-pipelines/ut-basic.yml

optimize model code (#42)
  .azure-pipelines/model-test.yml
  .azure-pipelines/template/model-template.yml
Due: none

feat(tensorflow): inspect the model to get the output.
  neural_compressor/adaptor/tensorflow.py
Due: .azure-pipelines/ut-basic.yml

Update README.md
  examples/pytorch/diffusion_model/diffusers/textual_inversion/README.md
Due: none

delete examples from exclude_patterns (#1415)
  conf.py
Due: none

perf check template
  .azure-pipelines/model-test.yml
  .azure-pipelines/scripts/models/generate_report.sh
  .azure-pipelines/scripts/models/run_benchmark_common.sh
  .azure-pipelines/scripts/models/run_model_trigger_common.sh
  .azure-pipelines/scripts/models/run_mxnet_models_trigger.sh
  .azure-pipelines/scripts/models/run_onnxrt_models_trigger.sh
  .azure-pipelines/scripts/models/run_pytorch_models_trigger.sh
  .azure-pipelines/scripts/models/run_tensorflow_models_trigger.sh
  .azure-pipelines/template/model-template.yml
Due: none

Make CPU inference as default (#1418)
  examples/pytorch/diffusion_model/diffusers/textual_inversion/README.md
Due: none
